.document-list
  .row
    .col-xs-12(ng-if="loadingDocuments")
      .rotate-container
        .rotate
    .col-xs-12(ng-if="(noDocumentsFound || !documentEnts.length) && !loadingDocuments")
      | {{ 'docEntity.NODOCSFOUND' | translate }}
    .col-xs-12(ng-if="!noDocumentsFound && !loadingDocuments && documentEnts.length")
      //.row.archive(ng-repeat="doc in documentEnts | orderBy :'-dateCreated'" ng-click="selectDe(doc.documentId)" ng-if="!doc.flgLogicalDelete && doc.owner ==me.account")
      .row.archive(ng-repeat="doc in documentEnts | orderBy :'-dateCreated'" ng-click="selectDe(doc.documentId)" ng-if="!doc.flgLogicalDelete")
        .col-xs-12
          .row
            .col-xs-12
              span.entity-title
                img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-03.png")
          .row.single-doc-result
            .col-xs-6
              .row
                .col-xs-4
                  label
                    | Title
                    //- | - {{doc.dateCreated}}
                  .data
                    | {{doc.deTitle}}
                  br
                  label(ng-if="doc.date.docMonth || doc.date.docDay || doc.date.docYear")
                    | Date
                  .data(ng-if="doc.date.docMonth || doc.date.docDay || doc.date.docYear")
                    span(ng-if="doc.date.docMonth")
                      | {{doc.date.docMonth}}/
                    span(ng-if="doc.date.docDay")
                      | {{doc.date.docDay}}/
                    span(ng-if="doc.date.docYear")
                      | {{doc.date.docModernYear || doc.date.docYear || '--'}}
                  br
                  label
                    | Category
                  .data
                    | {{doc.category}}
                  br
                  label
                    | Typology
                  .data
                    | {{doc.typology}}
                .col-xs-4
                  label(ng-if="doc.collections[0]")
                    | Collection
                  .data
                    | {{doc.collections[0]}}
                  br
                  label(ng-if="doc.uploadFiles[0].seriesName")
                    | Serie
                  .data
                    | {{doc.uploadFiles[0].seriesName}}
                  br
                  label(ng-if="doc.uploadFiles[0].volumeName")
                    | Volume
                  .data
                    | {{doc.uploadFiles[0].volumeName}}
                  br
                  label(ng-if="doc.uploadFiles[0].inserName")
                    | Insert
                  .data
                    | {{doc.uploadFiles[0].inserName}}
                .col-xs-4
                  label(ng-if="doc.producers[0].mapNameLf")
                    | Producer
                  .data
                    | {{doc.producers[0].mapNameLf}}
                  br
                  label(ng-if="doc.recipient[0].mapNameLf")
                    | Recipient
                  .data
                    | {{doc.recipient[0].mapNameLf}}
                  br
                  label(ng-if="doc.placeOfOrigin[0].placeName")
                    | Producer Place
                  .data
                    | {{doc.placeOfOrigin[0].placeName}}
                  br
                  label(ng-if="doc.recipientPlace[0].placeName")
                    | Recipient Place
                  .data
                    | {{doc.recipientPlace[0].placeName}}
                  br 
                  label(ng-if="doc.topics[0].topicName")
                    | First Topic
                  .data
                    | {{doc.topics[0].topicName}}
                  br 
                  label(ng-if="doc.topics[0].topicPlaceName")
                    | Topic Place
                  .data
                    | {{doc.topics[0].topicPlaceName}}                     
            .col-xs-4
              label
                | Synopsis
              .data
                | {{doc.generalNoteSynopsis | replaceTagsSynMyDocs}}
              br
              label
                | Transcription
              .data
                | {{doc.transcriptions[0].transcription | replaceTagsTransMyDocs}}
            .col-xs-2(align="center")
              img.manuscript-thumb(ng-src="{{doc.uploadFiles[0].filePath}}" style="{height:110px;width:110px;}")
              label(ng-if="doc.uploadFiles[0].folios[0].folioNumber" style="align:center")
                | {{doc.uploadFiles[0].folios[0].folioNumber}} {{doc.uploadFiles[0].folios[0].rectoverso}}
              br
              label(ng-if="!doc.uploadFiles[0].folios[0].folioNumber")
                | Not Numbered

    .col-xs-12(ng-if="!noDocumentsFound && !loadingDocuments && documentEnts.length")
      pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")
