div(ng-controller="delGeoController")
  .modal-header
    h3.modal-title {{ 'places.WARNINGDEL' | translate }}
  .modal-body
    .row(ng-if="documentsToDel.length")
        .col-xs-12
          table.table.table-hover
            thead
              tr
                th
                  | {{ 'places.PLACEDOC' | translate}}
            tbody
              tr.clickable(
              ng-repeat="docEntity in documentsToDel"
              ng-click="openDoc(docEntity.documentId)")
                th
                  | Document {{docEntity.documentId}}
    .row(ng-if="peopleToDel.length")
        .col-xs-12
          table.table.table-hover
            thead
              tr
                th
                  | {{ 'places.PLACEBIO' | translate}}
            tbody
              tr.clickable(
              ng-repeat="peopleEntity in peopleToDel"
              ng-click="openPeople(peopleEntity.peopleId)")
                th
                  |  {{ peopleEntity.mapNameLf }}
  .modal-footer(style="display: flex")
    button.btn.btn-xs.btn-primary(ng-click='cancel()')
      | Cancel