.row
  .col-xs-12
    a.fullscreen-link(ng-click="openTranscriptor()")
      | Show Fullscreen / Live Transcription &nbsp;
      i.ion-arrow-expand
    .clear
    iframe.js-viewer(ng-src="{{viewerAddr}}")
.row.document-scroller.flex-row
  .col-xs-1.flex-center
    i.ion-android-arrow-back.text-icon.cursor-pointer(ng-if="de.uploadFiles.length > 6 && limit > 0" ng-click="changeLimit(-1)")
  .col-xs-10
    .row.flex-row.flex-center
      .col-xs-2.col-centered(ng-repeat="thumb in de.uploadFiles | orderBy: 'imageOrder'" ng-if="$index>=limit && $index<=limit+5")
        .view.view-first.de-image.cursor-pointer(ng-click="updateViewer(thumb)")
          img.m-0(ng-src="{{thumb.filePath}}", ng-class="{viewing: thumb.highlighted}")
        folio-numb-dir(thumb="thumb")
  .col-xs-1.flex-center
    i.ion-android-arrow-forward.text-icon.cursor-pointer(ng-if="de.uploadFiles.length > 6 && de.uploadFiles.length != lastShownImageIndex" ng-click="changeLimit(1)")