accordion.doc-details-accordion.accordion-full-with-click
  accordion-group(is-open='placesfield.openPanel')
    accordion-heading
      | {{placesfield.name}} &nbsp;
      span(ng-repeat="places in selectedPlaces")
        | {{places.placeName}} {{$last ? '' : ' - '}}
      i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': placesfield.openPanel, 'glyphicon-chevron-right': !placesfield.openPanel}")
    .content(ng-repeat="places in selectedPlaces")
      fieldset.form-group
        .col-xs-10
          input.form-control(type='text', placeholder="{{placesfield.name}}" ng-model='tempName[$index].name' ng-change="getPlaces(tempName[$index].name, $index)" ng-class="{loading:loading}")
        .col-xs-2
          button.btn.btn.btn-success(ng-disabled="!tempName[$index].name.length" ng-model="places.unsure" btn-checkbox ng-click="setUnsure(places.unsure, $index)")
            span.glyphicon.mr-5(ng-class="{'glyphicon-check': places.unsure, 'glyphicon-unchecked': !places.unsure}")
            | {{ 'deMeta.UNSURE' | translate }}
      fieldset.form-group(ng-if="searchTableOpen[$index]" click-outside="closeTable($index)")
        .col-xs-12.table-results
          table.table.table-hover
            thead.table-header
              td
                | {{ 'deMeta.NAME' | translate }}
              td
                | {{ 'deMeta.PLTYPE' | translate }}
              td
                | {{ 'deMeta.PREFLAG' | translate }}
            tbody
              tr(ng-repeat="location in possiblePlaces" ng-click="selectLocation(location, $parent.$index)")
                td
                  | {{location.placeName}}
                td
                  | {{location.plType}}
                td
                  | {{location.prefFlag}}
              tr(ng-if="!possiblePlaces.length")
                td(colspan="6")
                  | {{ 'places.NOPLACE' | translate }}
          .btn.btn-success.btn-add-new(ng-click="addANewPlace($index)" ng-if="!possiblePlaces.length") {{ 'places.ADDPLACE' | translate }} {{field.name}}                  
    fieldset.btn-group
      label.btn.btn-success(ng-click="addALocation()") {{ 'places.ADDNEW' | translate }} {{field.name}}
      label.btn.btn-success(ng-click="placesfield.openPanel=false") {{ 'deMeta.CLOSEPANEL' | translate }}
