div(ng-controller="addFileCsController")
  .modal-header
    h3.modal-title Add a new file to Project
  .modal-body
    .search-form
      form.form-horizontal(name="fileCsForm")
        .row
          .col-xs-12
            .form-group
              label.control-label.col-sm-3
                | Title
                span.required-error(ng-if="fileCsForm.title.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}
                span.required-error(ng-if="fileCsForm.title.$error.maxlength")
                  br
                  | Max. 100 characters
              .col-sm-9
                input.form-control(type="text" ng-model="newFileCs.title" name="title" required ng-maxlength="100" ng-class="{'has-error': fileCsForm.title.$error.required}")

            .form-group
              label.control-label.col-sm-3
                | Link
                span.required-error(ng-if="fileCsForm.file.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}
                span.required-error(ng-if="fileCsForm.file.$error.maxSize")
                  br
                  | This file is too big ({{errorFile.size / 10000000|number:1}}MB). Max allowed size is 100MB
                span.required-error(ng-if="fileCsForm.file.$error.pattern")
                  br
                  | Remember that only JPG, JPEG, PNG, PDF, TIF and TIFF formats is allowed
                span.required-error(ng-if="errorFile.$error === 'validateFn'")
                  br
                  | {{errorFile.$errorParam}}
              .col-sm-9
                input.form-control(
                  type='file',
                  ngf-select='',
                  ng-model='newFileCs.file',
                  name='file',
                  accept='.jpg,.jpeg,.png,.pdf,.tif,.tiff',
                  ngf-pattern="'.jpg,.jpeg,.png,.pdf,.tif,.tiff'",
                  ngf-max-size='100MB',
                  required='',
                  ngf-model-invalid='errorFile',
                  ngf-validate-fn="validateSelectedFile($file)",
                  style='height: 30px; padding: 5px;'
                )

    .text-center.mt-15
      .btn-group
        button.btn.btn-primary.btn-xs(ng-disabled="fileCsForm.$invalid" ng-click="addNewFile()")
          | {{ 'general.SAVE' | translate }}
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}
