.summary(style="margin-bottom: 5px;" ng-if="summary.canView")
  .row
    .col-xs-6
      .row
        .col-xs-4
          .label-doc-ent
            | Cat./Type
        .col-xs-8
          span.fields
            | {{feCategory}}
            span.label-doc-ent
                | &nbsp; -- &nbsp;
          span.doc-summary-typology
            | {{summary.typology}}
      br
      .row(ng-if="!basic.docUndated && (basic.docYear || basic.docMonth || basic.docDay)")
        .col-xs-4
          br
          .label-doc-ent
            | Document Date
        .col-xs-8
          br
          span.fields
            span {{ basic.docModernYear || basic.docYear || '--'}} / 
            span(ng-repeat="month in months" ng-if="month.id===basic.docMonth") {{month.name || '--'}} / 
            span {{basic.docDay || '--'}}
      br      
      //- .row(ng-if="!basic.docUndated")
      //-   .col-xs-4
      //-     .label-doc-ent
      //-       | Date as written
      //-   .col-xs-8
      //-     span.fields
      //-       span {{ basic.docYear || '--'}} / 
      //-       span(ng-repeat="month in months" ng-if="month.id===basic.docMonth") {{month.name || '--'}} / 
      //-       span {{basic.docDay || '--'}}
      br      
      .row(ng-if="basic.docDateUncertain")
        .col-xs-4
          .label-doc-ent
            | Date Uncertain
        .col-xs-8
          span.fields              
            | Uncertain
      .row(ng-if="basic.docUndated")
        .col-xs-4
          .label-doc-ent
            | Document Date
        .col-xs-8
          span.fields
            | Document Undated
      .row(ng-if="documentData.insert.insertname")
        .col-xs-4
          .label-doc-ent
            | Insert
        .col-xs-8
          span.fields
            | {{documentData.insert.insertname}}
    .col-xs-6
      .row(ng-repeat="role in people" ng-if="role.peoples[0].id")
        .col-xs-4
          .label-doc-ent
            | {{role.type}}
        .col-xs-8
          span.fields(ng-repeat="person in role.peoples")
            | {{person.feData.mapNameLf}}{{$last ? '' : ', '}}
    .col-xs-6
      .row(ng-show="getShowTopicsLimit(deTopics) > 0")
        .col-xs-4
          br
          .label-doc-ent
            | Topic - topic place
        .col-xs-8
          br
          //- button.btn.btn-default(ng-click = "showTopicsLimit = 1" ng-hide="showTopicsLimit != getShowTopicsLimit(deTopics) || getShowTopicsLimit(deTopics) == 1" )
          //-   | Show less topics...
          span(ng-click = "showTopicsLimit = 1" ng-hide="showTopicsLimit != getShowTopicsLimit(deTopics) || getShowTopicsLimit(deTopics) == 1" )
            //- br
            //- br
          span.fields(ng-repeat="topic in deTopics | filter:topic.placeId != null | limitTo : showTopicsLimit")
            span
              | {{findTopicTitle(topic.topicListId)}} 
              span.label-doc-ent
                | &nbsp; -- &nbsp;
            span.doc-summary-place-name
              | {{topic.fePlaceName}}
            br
            br
          button.btn.btn-default(ng-click = "showTopicsLimit = getShowTopicsLimit(deTopics)" ng-hide="showTopicsLimit == getShowTopicsLimit(deTopics) || getShowTopicsLimit(deTopics) == 0")
            | Show more topics... +{{getShowTopicsLimit(deTopics) - 1 }}
          button.btn.btn-default(ng-click = "showTopicsLimit = 1" ng-hide="showTopicsLimit != getShowTopicsLimit(deTopics) || getShowTopicsLimit(deTopics) == 1" )
            | Show less topics...

style(type='text/css').
    .isPrivate {color: red;
                text-decoration: underline;}