form(name="formGender")
.row
  .col-xs-12.col-md-6
    label Gender:
  .col-xs-12.col-md-4
    select.form-control(name="genderSelect" required ng-model="genderPersonVitalStatisticSection.gender")
      option( value="M" selected ) M
      option( value="F" selected ) F
      option( value="X" selected ) X
  //- .col-xs-12.col-md-2(ng-if="genderPersonVitalStatisticSection.gender != 'X'")
  .col-xs-12.col-md-2
    button.btn.btn-success(ng-click="checkFormGender(formGender.$valid)"  ng-disabled="!genderPersonVitalStatisticSection.gender || !genderPersonVitalStatisticSection.gender.length") ADD
form(name="formHeadquarters")
.row(ng-if="genderPersonVitalStatisticSection.gender == 'X'")
  .col-xs-12.col-md-2
    label Headquarters: 
  .col-xs-12.col-md-8
    input.form-control(type="text" ng-model="genderPlaceTemp.title" ng-model-options='{ debounce: 300 }' ng-class="{loading:loading}" ng-change="getPlaceFromString(genderPlaceTemp.title)" placeholder="Type at least 3 char" class="pull-left" required)
    div.peopleTable.table-results(ng-if="searchGenderPlaceTableOpen==true && placeGenderList.length && genderPlaceTemp.title.length")
      table.table.table-hover
        thead.table-header
          td
            | Name
          td
            | Pref/var
          td
            | PlaceType
          tbody
            tr(ng-repeat="place in placeGenderList | filter:title.titleOcc as filtered" ng-click="selectHeadquartersGender(place)")
              td
                | {{place.placeName}}
              td
                | {{place.prefFlag}}
              td
                | {{place.plType}}
              div(ng-if="!filtered.length")
                .col-xs-12
                  | No place found
  .col-xs-12.col-md-2
    button.btn.btn-success(ng-click="checkFormHeadquarters(formHeadquarters.$valid)"  ng-disabled="!genderPlaceTemp.id || !genderPlaceTemp.title") ADD
form(name="formBirthDeath")
.row
  .col-xs-12.col-md-4
    select.form-control(name="selectType" ng-model="personBirthDeathPlaceSection.searchType" required)
      option( value="birthAndDeathPlace" ) Birth/Death Place: 
      option( value="birthPlace" ) Birth Place:
      option( value="deathPlace" ) Death Place: 
  .col-xs-12.col-md-6
    input.form-control(type="text" ng-model="birthDeathPlaceTemp.title" ng-model-options='{ debounce: 300 }' ng-class="{loading:loading}" ng-change="getBirthDeathPlaceFromString(birthDeathPlaceTemp.title)" placeholder="Type at least 3 char" class="pull-left" required)
  div.peopleTable.table-results(ng-if="searchBirthDeathPlaceTableOpen==true && placeBirthDeathPlaceList.length && birthDeathPlaceTemp.title.length")
    table.table.table-hover
      thead.table-header
        td
          | Name
        td
          | Pref/var
        td
          | PlaceType
        tbody
          tr(ng-repeat="place in placeBirthDeathPlaceList | filter:title.titleOcc as filtered" ng-click="selectBirthDeathPlace(place)")
            td
              | {{place.placeName}}
            td
              | {{place.prefFlag}}
            td
              | {{place.plType}}
            div(ng-if="!filtered.length")
              .col-xs-12
                | No place found
  .col-xs-12.col-md-2
    button.btn.btn-success(ng-click="checkFormBirthDeathPlace(formBirthDeath.$valid)"  ng-disabled="!birthDeathPlaceTemp.id || !birthDeathPlaceTemp.title") ADD
form(name="formVitalStatisticSearch")
.row
  .col-xs-12.col-md-4
    select.form-control(name="personVitalStatisticSearchType" ng-model="personVitalStatistic.searchType" ng-change="changePersonVitalStatisticSearchType(personVitalStatistic.searchType)" required)
      option(value="bornAfter") Born After: 
      option(value="deadBy") Dead By:
      option(value="livedBetween") Lived between:
      option(value="bornDiedOn") Born/Died on:
  
  .col-xs-12.col-md-2
    input.form-control(name="personVitalStatisticDay" required type="number" min="0" max="{{today.getFullYear()}}" ng-model="dateA.year" placeholder="yyyy")
  
  .col-xs-12.col-md-2
    select.form-control(name="personVitalStatisticMonth" ng-model="dateA.month" ng-options="option.num as option.name for option in months" )
      option( value="" selected disabled hidden) Select a month

  .col-xs-12.col-md-2
    input.form-control(name="personVitalStatisticYear"  required type="number" min="0" max="{{numOfDayOfThismonthA}}" ng-model="dateA.day" placeholder="dd")
  
  .col-xs-12.col-md-2
    button.btn.btn-success(ng-click="checkFormVitalStatisticSearch(formPlaces.$valid)" ng-disabled="!dateARangeChecker() || !personVitalStatistic.searchType" ng-if="personVitalStatistic.searchType != 'livedBetween'" ) ADD
  
  div(ng-if="personVitalStatistic.searchType == 'livedBetween'")
    .col-xs-12.col-md-4(style="text-align:right")
      span AND

    .col-xs-12.col-md-2
      input.form-control(name="livedBetweenPersonVitalStatisticDay" required type="number" min="0" max="{{today.getFullYear()}}" ng-model="dateB.year" placeholder="yyyy")
    .col-xs-12.col-md-2

      select.form-control(name="personVitalStatisticMonth" ng-model="dateB.month" ng-options="option.num as option.name for option in months" )
        option( value="" selected disabled hidden) Select a month
    .col-xs-12.col-md-2

      input.form-control(name="livedBetweenPersonVitalStatisticYear"  required type="number" min="0" max="{{numOfDayOfThismonthB}}" ng-model="dateB.day" placeholder="dd")
    .col-xs-12.col-md-2

      button.btn.btn-success(ng-click="checkFormVitalStatisticSearch(formPlaces.$valid)"  ng-disabled="!dateABRangeChecker() || !personVitalStatistic.searchType") ADD