form(name="formOccupation1")
.row
  .col-xs-12.col-md-4
    label Select a Role Category:
  .col-xs-12.col-md-6
    select.form-control(name="occupationSelect"  ng-model="roleTitleOccupationSection.role" required)
      option(ng-repeat="occupation in occupations" value="{{occupation}}") {{occupation.roleCatMajor}} - {{occupation.roleCatMinor}}
  .col-xs-12.col-md-2
    button.btn.btn-success(ng-click="checkFormRoleTitleOccupation(formOccupation1.$valid)"  ng-disabled="!roleTitleOccupationSection.role") ADD
form(name="formOccupation2")
.row
  .col-xs-12.col-md-4
    label Word search in Title/Occupation:  
  .col-xs-12.col-md-6
    input.form-control(type="text" ng-model="wordTitleOccupationSection.role.roleCatMinor" class="pull-left" required)
  .col-xs-12.col-md-2
    button.btn.btn-success(ng-click="checkFormWordTitleOccupation(formOccupation2.$valid)"  ng-disabled="!wordTitleOccupationSection.role.roleCatMinor") ADD
form(name="formOccupation3")
.row
  .col-xs-12.col-md-4
    label Match the exact Title/Occupation:  
  .col-xs-12.col-md-6
    input.form-control(type="text" ng-model="initializeMatchTitleOccupationTitleOcTemp.title" ng-model-options='{ debounce: 300 }' ng-class="{loading:loading}" ng-change="getMatchTitleOccupation(initializeMatchTitleOccupationTitleOcTemp.title)" placeholder="Type at least 3 char" class="pull-left" required)
  div.peopleTable.table-results(ng-if="searchTableOpen==true && matchTitleOccupations.length && initializeMatchTitleOccupationTitleOcTemp.title.length")
    table.table.table-hover
      thead.table-header
        td
          | Name
        td
          | Category
        td
          | Category
        tbody
          tr(ng-repeat="role in matchTitleOccupations | filter:title.titleOcc as filtered" ng-click="selectRoleInMatchTitleOccupationList(role)")
            td
              | {{role.titleOcc}}
            td
              | {{role.roleCatMajor}}
            td
              | {{role.roleCatMinor}}
            div(ng-if="!filtered.length")
              .col-xs-12
                | No role or title found
  .col-xs-12.col-md-2
    button.btn.btn-success(ng-click="checkFormMatchTitleOccupation(formOccupation3.$valid)"  ng-disabled="!initializeMatchTitleOccupationTitleOcTemp.title || !initializeMatchTitleOccupationTitleOcTemp.title.length") ADD

style(type='text/css').
    .personRow.isSelected, .placeRow.isSelected {background-color: lightblue;}
    .markedRed {color: red !important;}
    .peopleTable, .placesTable {max-height: 200px; overflow: auto;}
    .form-control-input {max-width: 200px; margin-right: 30px;}
    .noPeopleFound { padding: 5px; background: lightgrey; color: #000}
    .width40 { width: 40% }
    .table-results tbody td { padding: 3px 8px !important; }
    .zIndex1 {z-index: 1}