.row
form(name="formWord")
  .col-xs-12.col-md-2
    label Word:  
  .col-xs-12.col-md-3
    input.form-control(type="text" ng-model="namePartSection.searchString" class="pull-left")
  .col-xs-12.col-md-1
    label in
  .col-xs-12.col-md-3
    select.form-control(name="topicSelect" ng-model="namePartSection.nameType" required)
        option( value="ALL_NAME_TYPES" selected ) All
        option( value="APPELLATIVE") Appellative
        option( value="FAMILY") Family
        option( value="GIVEN") Given
        option( value="MAIDEN") Maiden
        option( value="MARRIED") Married
        option( value="PATRONYMIC") Patronymic
  .col-xs-12.col-md-3
    button.btn.btn-success(ng-click="checkFormWord(formPlaces.$valid)"  ng-disabled="!namePartSection.searchString || !namePartSection.searchString.length") ADD