.welcome-page
  .row
    .col-xs-12.col-sm-12.col-md-6
      h2.page-title
        |  Welcome to MIA
      .text-center.pt-30(ng-if="loadingLastRec")
        img(ng-src="img/loader.gif")
      basic-controls-dir(ng-if="!lastRecord && !loadingLastRec")
      .news-area(ng-if="lastRecord && !loadingLastRec")
        home-last-record-dir
    .col-xs-12.col-sm-12.col-md-6
      .news-area
        //.no-ae(ng-if="noAe")
        //  | {{ 'welcome.MESSAGE_FIRST_LOGIN' | translate }}  &nbsp;
        //  img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-01.png" popover="{{ 'sidebar.UPLOAD' | translate }}" popover-trigger="mouseenter" popover-placement="right")

        h2
          | {{ 'news.TITLE' | translate }}
        news-dir
    