div(ng-controller="addInsertController")
  .modal-header
    h3.modal-title(ng-show="!addNew && volumeId") {{ 'sidebar.addInsert.TITLE' | translate }}
    h3.modal-title(ng-show="addNew || !volumeId") {{ 'sidebar.addInsert.ADDTITLE' | translate }}
  .modal-body
    //
    // SEARCH
    //
    .search-form(ng-show="!addNew && volumeId")
      form.form-horizontal
        .row.form-group
          .col-xs-3.col-xs-offset-1
            label.control-label {{ 'sidebar.upload.INSERT' | translate }}
          .col-xs-6
            .input-group
              input.form-control(
              type="text"
              placeholder="{{ 'sidebar.addInsert.INSTRUCT' | translate }}"
              ng-model="newInsert.insertName"
              ng-class="{inputLoading: insLoading}"
              ng-change="getInsert(newInsert.insertName)")
        .row
          .col-xs-12

            .row(ng-show='showTable && (insNotFound || !possibleInsert.length)')
              .col-xs-10.col-xs-offset-2
                i.glyphicon.glyphicon-remove
                span(ng-if="insNotFound && possibleInsert.length && newInsert.insertName" ng-bind-html="missingInsertText(newInsert.insertName)")
                span(ng-if="!fromSearch && !possibleInsert.length && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")  {{ 'sidebar.addInsert.NOTFOUND' | translate }}
                span(ng-if="!fromSearch && !possibleInsert.length && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])") {{ 'sidebar.addInsert.NOTFOUNDUNAUTH' | translate }}
                span(ng-if="fromSearch  && !possibleInsert.length && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")  {{ 'sidebar.addInsert.NOTFOUND' | translate }}
                span(ng-if="fromSearch  && !possibleInsert.length && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])") {{ 'sidebar.addInsert.NOTFOUNDUNAUTH' | translate }}

            table.table.table-hover(ng-if="showTable && possibleInsert.length")
              thead
                tr
                  th
                    | {{ 'sidebar.addInsert.INSERTNO' | translate }}
              tbody
                tr.clickable(
                ng-repeat="insert in possibleInsert | orderBy:'insertName'"
                ng-click="saveInsert(insert)")
                  th
                    | {{insert.insertName}}
            //.row(ng-show="showTable && !possibleInsert.length && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
            //  .col-xs-10.col-xs-offset-2
            //    i.glyphicon.glyphicon-remove
            //    |  {{ 'sidebar.addInsert.NOTFOUND' | translate }}
            //.row(ng-show="showTable && !possibleInsert.length && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
            //  .col-xs-10.col-xs-offset-2
            //    i.glyphicon.glyphicon-remove
            //    |  {{ 'sidebar.addInsert.NOTFOUNDUNAUTH' | translate }}
    //
    // ADD
    //
    .search-form(ng-show="addNew || !volumeId")
      form.form-horizontal(name="insertForm")
          .row
            .col-xs-6
              .form-group
                label.control-label.col-sm-5
                  | {{ 'sidebar.addInsert.NAME' | translate }}
                  span.required-error(ng-if="insertForm.insertName.$error.required")
                    br
                    | {{ 'general.REQUIRED' | translate }}                   
                .col-sm-7
                  input.form-control(type="text" name="newInsert.insertName" required ng-model="newInsert.insertName" ng-class="{'has-error':insertForm.insertName.$error.required}")

    .search-form
      form.form-horizontal
        .form-group
          .col-sm-8.col-sm-offset-4.btn-group
            button.btn.btn-default.btn-xs(
            ng-click='switchNew()'
            ng-if="!addNew && volumeId && insNotFound && (secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']) || collection.studyCollection)")
              | {{ 'sidebar.addInsert.ADDNEW' | translate }}
            //button.btn.btn-default.btn-xs(
              ng-click='switchNew()'
              ng-if="addNew && volumeId")
                | {{ 'sidebar.addInsert.CHOSEOLD' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-disabled="insertForm.$invalid"
            ng-click="addNewInsert(newInsert)"
            ng-if="(!fromSearch || switched) && addNew && (secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']) || collection.studyCollection)")
              | {{ 'general.SAVE' | translate }}
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            

