.activity(ng-controller="newsfeedController")
  .act-desc
    a#newsfeed
    div(style="height: 2.5rem;")
      button.btn.btn-xs.btn-xxs.btn-success.customize-filters(ng-click="customizeFilters()")
        | CUSTOMIZE YOUR NEWSFEED FILTERS
    div.repeated-item(ng-repeat="newsFeedItem in newsFeed track by $index" ng-style="bgColor(recentNews)" \
      popover-template="'modules/right-sidebar/popover-newsfeed.html'" popover-trigger="mouseenter" popover-placement="left")
      div.news-block.recent-news
        .row.newsfeedItem
          .col-md-6
            div.title
              | {{ newsFeedItem.title }}
          .col-md-3
            a(ng-click="getResults($index)" style="color: #47323c;") {{ newsFeedItem.matchingDocuments }}
          .col-md-3
            div.glyphicon.glyphicon-trash(ng-click="deleteMyNewsfeedItem($index)" )

style(type="text/css").
  .newsfeedItem { 
    height: 2rem; 
    max-height: 2rem;
    color: #47323c;
  }
  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 2rem; 
    max-height: 2rem;
  }
  .customize-filters {
    float: right; 
    margin-right: 3rem;
  }