div
  fieldset.form-group
    .col-xs-8
      input.form-control(type='text', ng-model='tempName' ng-change="getPeople(tempName)" placeholder="Insert the name first 3 letters to search" ng-class="{loading:loading}")      
    .col-xs-4
      button.btn.btn-xs.btn-success(ng-model="person.unsure" btn-checkbox ng-click="setUnsure(person.unsure)" ng-if="role")
        span.glyphicon.mr-5(ng-class="{'glyphicon-check': person.unsure, 'glyphicon-unchecked': !person.unsure}")
        | {{ 'deMeta.UNSURE' | translate }}
      | &nbsp;
      .btn-group
        button.btn.btn-xs.btn-success(ng-click="cancel()") {{ 'general.CANCEL' | translate }}
        button.btn.btn-xs.btn-success(ng-disabled="!selected" ng-click="savePerson()") {{ 'general.SAVE' | translate }}
      
  fieldset.form-group(ng-if="searchTableOpen")
    .col-xs-12.table-results(ng-if="!loading")
      table.table.table-hover
        thead.table-header
          td
            | {{ 'deMeta.NAME' | translate }}
          td
            | {{ 'deMeta.BYEAR' | translate }}
          td
            | {{ 'deMeta.DYEAR' | translate }}
          td
            | {{ 'deMeta.GENDER' | translate }}
          td
            | {{ 'deMeta.ACTSTART' | translate }}
          td
            | {{ 'deMeta.ACTEND' | translate }}
        tbody
          tr(ng-repeat="item in possiblePeople | filter:filterGender | filter:tempName as filtered " ng-click="selectPerson(item)")
            td
              | {{item.mapNameLf}}
            td
              | {{item.bornYear}}
            td
              | {{item.deathYear}}
            td
              | {{item.gender}}
            td
              | {{item.activeStart}}
            td
              | {{item.activeEnd}}
          tr(ng-if="!filtered.length")
            td(colspan="6")
              | {{ 'people.NOPEOPLE' | translate }}
      .btn.btn-success.btn-xs.btn-add-new(ng-click="addANewPerson()" ng-if="!filtered.length") {{ 'people.ADDPERSON' | translate }} {{field.name}}
