.activity
  .act-desc
    div(ng-if="status === 'ok' && !rec" class="text-center")
      |  {{ 'news.NO_RECENT_ACTIVITIES' | translate }}
    div(ng-if="rec")
      div.repeated-item(ng-repeat="recentNews in rec | filter: recentNewsFilter")
        div.news-block.recent-news(ng-if="recentNews.type === 'ae' && recentNews.action != 'DELETED'" ng-style="bgColor(recentNews)")
          a(ng-click="showObjInPreview(recentNews)")
            div
              |  IMAGES
            div(ng-if="recentNews.action == 'CREATED'")
              |  mapAEid# {{recentNews.id}} - Created By: {{recentNews.createdBy }} on: {{recentNews.activityDate}}
            div(ng-if="recentNews.action == 'MODIFIED'")
              |  mapAEid# {{recentNews.id}} - Modified By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}
            div
              span(ng-if="recentNews.repositoryAbbreviation")
                |  {{recentNews.repositoryAbbreviation}}&nbsp;
              span(ng-if="recentNews.collectionName") -
                |  {{recentNews.collectionName}}&nbsp;
              span(ng-if="recentNews.volumeName") -
                |  {{recentNews.volumeName}}&nbsp;
              span(ng-if="recentNews.insertName") -
                |  {{recentNews.insertName}}&nbsp;
            div
              span(ng-if="recentNews.aeName")
                |  {{ recentNews.aeName | limitTo: 10}} {{recentNews.aeName.length < 10 ? '' : '...'}}
            div
              span(ng-if="recentNews.aeDescription")
                |  {{ recentNews.aeDescription | limitTo: 10}} {{recentNews.aeDescription.length < 10 ? '' : '...'}}
            div.new-thumbs(ng-if="recentNews.thumbPaths")
              div.img-block(ng-repeat="imgPath in recentNews.thumbPaths | limitTo: 7")
                img.act-thumb(ng-src="{{imgPath}}" alt="")

        div.news-block.recent-news(ng-if="recentNews.type === 'ae' && recentNews.action == 'DELETED' && authorize(['ADMINISTRATORS'])" popover="{{ 'news.DELETED_RECORD' | translate }}" popover-trigger="mouseenter" popover-placement="left")
          div
            |  IMAGES
          div
            |  mapAEid# {{recentNews.id}} - Deleted By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}
          div
            span(ng-if="recentNews.repositoryAbbreviation")
              |  {{recentNews.repositoryAbbreviation}}&nbsp;
            span(ng-if="recentNews.collectionName") -
              |  {{recentNews.collectionName}}&nbsp;
            span(ng-if="recentNews.volumeName") -
              |  {{recentNews.volumeName}}&nbsp;
            span(ng-if="recentNews.insertName") -
              |  {{recentNews.insertName}}&nbsp;

        div.news-block.recent-news(ng-if="recentNews.type == 'document' && recentNews.action != 'DELETED'" ng-style="bgColor(recentNews)")
          a(ng-click="showObjInPreview(recentNews)")
            div
              |  DOCUMENT
            div(ng-if="recentNews.action == 'CREATED'")
              |  mapDEid# {{recentNews.id}} - Created By: {{recentNews.createdBy }} on: {{recentNews.activityDate}}
            div(ng-if="recentNews.action == 'MODIFIED'")
              |  mapDEid# {{recentNews.id}} - Modified By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}
            div
              span(ng-if="recentNews.privacy == 1")
                |  Privacy: PRIVATE
            div
              span(ng-if="recentNews.privacy == 0")
                |  Privacy: PUBLIC
            div
              span(ng-if="recentNews.typology")
                |  {{recentNews.typology}}
            div
              span(ng-if="recentNews.deTitle")
                |  {{recentNews.deTitle}}
            div
              span(ng-if="recentNews.date.docYear != 0 && recentNews.date.docMonth != 0 && recentNews.date.docDay != 0")
                |  {{recentNews.date.docYear}} - {{recentNews.date.docMonth}} - {{recentNews.date.docDay}}
            div
              span(ng-if="recentNews.producers")
                |  {{recentNews.producers[0].mapNameLf}}
            div
              span(ng-if="recentNews.placeOfOrigin")
                |  {{recentNews.placeOfOrigin[0].placeName | limitTo: 20}} {{recentNews.placeOfOrigin[0].placeName.length < 20 ? '' : '...'}}
            div.new-thumbs(ng-if="recentNews.thumbPaths")
              div.img-block(ng-repeat="imgPath in recentNews.thumbPaths | limitTo: 7")
                img.act-thumb(ng-src="{{imgPath}}" alt="")
        
        div.news-block.recent-news(ng-if="recentNews.type == 'document' && recentNews.action == 'DELETED' && authorize(['ADMINISTRATORS'])" popover="{{ 'news.DELETED_RECORD' | translate }}" popover-trigger="mouseenter" popover-placement="left")
          div
            |  DOCUMENT
          div
            |  mapAEid# {{recentNews.id}} - Deleted By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}
          div
            span(ng-if="recentNews.privacy == 1")
              |  Privacy: PRIVATE
          div
            span(ng-if="recentNews.privacy == 0")
              |  Privacy: PUBLIC
          div
            span(ng-if="recentNews.typology")
              |  {{recentNews.typology}}
          div
            span(ng-if="recentNews.deTitle")
              |  {{recentNews.deTitle}}
          div
            span(ng-if="recentNews.date.docYear != 0 && recentNews.date.docMonth != 0 && recentNews.date.docDay != 0")
              |  {{recentNews.date.docYear}} - {{recentNews.date.docMonth}} - {{recentNews.date.docDay}}
          div
            span(ng-if="recentNews.producers")
              |  {{recentNews.producers[0].mapNameLf}}
          div
            span(ng-if="recentNews.placeOfOrigin")
              |  {{recentNews.placeOfOrigin[0].placeName | limitTo: 20}} {{recentNews.placeOfOrigin[0].placeName.length < 20 ? '' : '...'}}

        div.news-block.recent-news(ng-if="recentNews.type == 'people' && recentNews.action != 'DELETED'" ng-style="bgColor(recentNews)")
          a(ng-click="showObjInPreview(recentNews)")
            div
              |  BIOGRAPHICAL RECORD
            div(ng-if="recentNews.action == 'CREATED'")
              |  mapPersonid# {{recentNews.id}} - Created By: {{recentNews.createdBy }} on: {{recentNews.activityDate}}
            div(ng-if="recentNews.action == 'MODIFIED'")
              |  mapPersonid# {{recentNews.id}} - Modified By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}            
            div
              span(ng-if="recentNews.mapNameLf")
                |  {{recentNews.mapNameLf | limitTo: 20}} {{recentNews.mapNameLf.length < 20 ? '' : '...'}}
            div
              span(ng-if="recentNews.bornYear && recentNews.bornMonth && recentNews.bornDay")
                |  Date of Birth: {{recentNews.bornYear}} - {{recentNews.bornMonth}} - {{recentNews.bornDay}}
            div
              span(ng-if="!recentNews.bornYear && !recentNews.bornMonth && !recentNews.bornDay && recentNews.activeStart")
                |  Date of Birth: {{recentNews.activeStart}}
            div
              span(ng-if="recentNews.deathYear && recentNews.deathMonth && recentNews.deathDay")
                |  Date of Death: {{recentNews.deathYear}} - {{recentNews.deathMonth}} - {{recentNews.deathDay}}
            div
              span(ng-if="!recentNews.deathYear && !recentNews.deathMonth && !recentNews.deathDay && recentNews.activeEnd")
                |  Date of Death: {{recentNews.activeEnd}}
            div.new-thumbs
              div.img-block
                img.act-thumb(ng-src="src/peoplebase/ShowPortraitPerson.do?personId={{recentNews.id}}" alt="")
        
        div.news-block.recent-news(ng-if="recentNews.type == 'people' && recentNews.action == 'DELETED' && authorize(['ADMINISTRATORS'])" popover="{{ 'news.DELETED_RECORD' | translate }}" popover-trigger="mouseenter" popover-placement="left")
          div
            |  BIOGRAPHICAL RECORD
          div
            |  mapPersonid# {{recentNews.id}} - Deleted By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}
          div
            span(ng-if="recentNews.mapNameLf")
              |  {{recentNews.mapNameLf | limitTo: 20}} {{recentNews.mapNameLf.length < 20 ? '' : '...'}}
          div
            span(ng-if="recentNews.bornYear && recentNews.bornMonth && recentNews.bornDay")
              |  Date of Birth: {{recentNews.bornYear}} - {{recentNews.bornMonth}} - {{recentNews.bornDay}}
          div
            span(ng-if="!recentNews.bornYear && !recentNews.bornMonth && !recentNews.bornDay && recentNews.activeStart")
              |  Date of Birth: {{recentNews.activeStart}}
          div
            span(ng-if="recentNews.deathYear && recentNews.deathMonth && recentNews.deathDay")
              |  Date of Death: {{recentNews.deathYear}} - {{recentNews.deathMonth}} - {{recentNews.deathDay}}
          div
            span(ng-if="!recentNews.deathYear && !recentNews.deathMonth && !recentNews.deathDay && recentNews.activeEnd")
              |  Date of Death: {{recentNews.activeEnd}}

        div.news-block.recent-news(ng-if="recentNews.type == 'place' && recentNews.action != 'DELETED'" ng-style="bgColor(recentNews)")
          a(ng-click="showObjInPreview(recentNews)")
            div
              |  GEOGRAPHICAL RECORD
            div(ng-if="recentNews.action == 'CREATED'")
              |  mapPlace# {{recentNews.id}} - Created By: {{recentNews.createdBy }} on: {{recentNews.activityDate}}
            div(ng-if="recentNews.action == 'MODIFIED'")
              |  mapPlace# {{recentNews.id}} - Modified By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}
            div
              span(ng-if="recentNews.placeNameFull")
                |  {{recentNews.placeNameFull | limitTo: 30}} {{recentNews.placeNameFull.length < 30 ? '' : '...'}}
            div
              span(ng-if="recentNews.plType")
                |  Type: {{recentNews.plType}}
            div
              span(ng-if="recentNews.prefFlag")
                |  {{recentNews.prefFlag}}
            div.new-thumbs
              div.img-block
                img.act-thumb(ng-src="img/img_place.png" alt="")
        
        div.news-block.recent-news(ng-if="recentNews.type == 'place' && recentNews.action == 'DELETED' && authorize(['ADMINISTRATORS'])" popover="{{ 'news.DELETED_RECORD' | translate }}" popover-trigger="mouseenter" popover-placement="left")
          div
            |  GEOGRAPHICAL RECORD
          div
            |  mapPlaced# {{recentNews.id}} - Deleted By: {{recentNews.modifiedBy }} - {{recentNews.activityDate}}
          div
            span(ng-if="recentNews.placeNameFull")
              |  {{recentNews.placeNameFull | limitTo: 30}} {{recentNews.placeNameFull.length < 30 ? '' : '...'}}
          div
            span(ng-if="recentNews.plType")
              |  Type: {{recentNews.plType}}
          div
            span(ng-if="recentNews.prefFlag")
              |  {{recentNews.prefFlag}}
