.diff-versions{
    max-height: 600px;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    .image {
        margin-bottom: 30px; 
        img {
            width: 100%;
        }
    }
}
