.personal-profile-new
  form.row(name="editUserForm")
    .col-xs-12.col-md-5.col-lg-4
      // User profile
      .panel.panel-default.mt-0
        //.panel-heading
        //  h4.panel-title User profile
        .panel-body.p-0
          .profile__avatar
            img(ng-src="{{user.photoPath}}")
          .profile__header
            .user-name
              |  {{user.firstName}} {{user.lastName}}
              small.ml-5 ({{user.account}})
            .user-interests-title(ng-if="user.interests") Research interests
            .user-interests {{user.interests}}
            .user-social
              .social-name
                a(ng-if="user.academiaEduLink" ng-href="{{user.academiaEduLink}}", target='_blank') Academia.edu

      .row
        .col-xs-12.col-sm-6.col-md-8
          p
            a.profile__contact-btn.btn.btn-block.btn-success(ng-if="!editing" ng-click="uploadPhoto()")
              | {{'personalprofile.UPP' | translate}}
          p
            a.profile__contact-btn.btn.btn-block.btn-success(ng-if="!editing" ng-click="editProfile()")
              | {{'personalprofile.MOD' | translate}}
          p
            a.profile__contact-btn.btn.btn-block.btn-success(ng-if="!editing" ng-click="changePassword()")
              | {{'personalprofile.CHANGE' | translate}}
          p
            a.profile__contact-btn.btn.btn-block.btn-success(ng-if="!editing" ui-sref="mia.publicProfile({account: user.account})")
              | VIEW MY PUBLIC PROFILE
          p
            a.profile__contact-btn.btn.btn-block.btn-success(ng-if="editing" ng-click="save()" ng-disabled="editUserForm.$invalid || countryError")
              | {{'general.SAVE' | translate}}
          p
            a.profile__contact-btn.btn.btn-block.btn-success(ng-if="editing" ng-click="cancel()")
              | {{'general.CANCEL' | translate}}

    .col-xs-12.col-md-7.col-lg-6
      // User info
      .panel.panel-default.gray-border.mt-0(ng-if="!editing")
        .panel-heading
          h4.panel-title User info
        .panel-body
          table.table.profile__table
            tbody
              tr
                th
                  strong {{'personalprofile.EMAIL' | translate}}
                td {{user.email}}
              tr
                th
                  strong First name
                td {{user.firstName}}
              tr
                th
                  strong Last name
                td {{user.lastName}}
              tr
                th
                  strong {{'personalprofile.ADDRESS' | translate}}
                td {{user.address}}
              tr
                th
                  strong {{'personalprofile.COUNTRY' | translate}}
                td {{user.countryName}}
              tr
                th
                  strong {{'personalprofile.GROUP' | translate}}
                td {{groupList}}
              tr
                th
                  strong {{'personalprofile.TITLE' | translate}}
                td {{user.title}}
              tr
                th
                  strong {{'personalprofile.ORG' | translate}}
                td {{user.affiliation}}
              tr
                th
                  strong {{'personalprofile.LOC' | translate}}
                td {{user.city}}
              tr
                th
                  strong academia.edu link
                td {{user.academiaEduLink}}

      //- Start form
      .single-field.edit-user-form.form-horizontal(ng-if="editing")
        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.EMAIL' | translate}}
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.email.$invalid)}")
            input.form-control(type="email" name="email" ng-model="editUser.email" required ng-pattern="/^[a-zA-Z0-9.!#$%&'*+\\\\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$/" ng-maxlength="50" autocomplete="off")
            .has-error.help-block(ng-if="editUserForm.email.$error.required")
              | required
            .has-error.help-block(ng-if="editUserForm.email.$error.pattern")
              | email is not valid
            .has-error.help-block(ng-if="editUserForm.email.$error.maxlength")
              | max 50 characters

        .form-group
          label.col-xs-12.col-sm-3.control-modify First name
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.first_name.$invalid)}")
            input.form-control(type="text" name="first_name" ng-model="editUser.firstName" required ng-maxlength="50")
            .has-error.help-block(ng-if="editUserForm.first_name.$error.required")
              | required
            .has-error.help-block(ng-if="editUserForm.first_name.$error.maxlength")
              | max 50 characters

        .form-group
          label.col-xs-12.col-sm-3.control-modify Last name
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.last_name.$invalid)}")
            input.form-control(type="text" name="last_name" ng-model="editUser.lastName" required ng-maxlength="50")
            .has-error.help-block(ng-if="editUserForm.last_name.$error.required")
              | required
            .has-error.help-block(ng-if="editUserForm.last_name.$error.maxlength")
              | max 50 characters

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.ADDRESS' | translate}}
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.adress.$invalid)}")
            input.form-control(type="text" name="adress" ng-model="editUser.address" ng-maxlength="200")
            .has-error.help-block(ng-if="editUserForm.adress.$error.maxlength")
              | max 200 characters

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.COUNTRY' | translate}}
          .col-xs-12.col-sm-9(ng-class="{'has-error':countryError}")
            input.form-control(type="text" name="country" ng-model="editUser.country" placeholder="Insert here the first 2 digits..." ng-change="getCountries()" ng-class="{loading:loading}" ng-click="resetSearch()" autocomplete="off")
          .col-xs-12.col-sm-9(ng-if="editing&&searchTableOpen")
            br
            .col-xs-12.table-results(ng-if="!loading")
              table.table.table-hover
                thead.table-header
                  td
                    | {{'personalprofile.CODE' | translate}}
                  td
                    | {{'personalprofile.COUNTRY' | translate}}
                tbody
                  tr(ng-repeat="item in results" ng-click="selectCountry(item)")
                    td
                      | {{item.code}}
                    td
                      | {{item.name}}
                  tr(ng-if="!results")
                    td(colspan="12")
                      | {{'personalprofile.NOCOUNTRY' | translate}}

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.TITLE' | translate}}
          .col-xs-12.col-sm-9
            select.form-control(ng-options="item.label as item.label for item in titles" name="title" ng-model="editUser.title")

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.ORG' | translate}}
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.organization.$invalid)}")
            input.form-control(type="text" name="organization" ng-model="editUser.affiliation" ng-maxlength="50" required)
            .has-error.help-block(ng-if="editUserForm.organization.$error.required")
              | required
            .has-error.help-block(ng-if="editUserForm.organization.$error.maxlength")
              | max 50 characters

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.LOC' | translate}}
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.location.$invalid)}")
            input.form-control(type="text" name="location" ng-model="editUser.city" ng-maxlength="50")
            .has-error.help-block(ng-if="editUserForm.location.$error.maxlength")
              | max 50 characters

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.INTEREST' | translate}}
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.interests.$invalid)}")
            input.form-control(type="text" name="interests" ng-model="editUser.interests" ng-maxlength="500")
            .has-error.help-block(ng-if="editUserForm.interests.$error.maxlength")
              | max 500 characters

        .form-group
          label.col-xs-12.col-sm-3.control-modify academia.edu link
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.academia_link.$invalid)}")
            input.form-control(type="url" name="academia_link" ng-model="editUser.academiaEduLink" placeholder="https://medici.academia.edu/userName")
            .has-error.help-block(ng-if="editUserForm.academia_link.$error.url")
              | url is not valid
        
        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.MAIL_NOTIFICATION' | translate}}
          .col-xs-12.col-sm-9(ng-class="{'has-error':(editUserForm.mailNotification.$invalid)}")
            input.form-control.checkbox(type="checkbox" ng-model="editUser.mailNotification")
            .has-error.help-block(ng-if="editUserForm.mailNotification.$error.url")
              | url is not valid

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.HIDE_ACTIVITIES' | translate}}
          .col-xs-12.col-sm-9
            input.form-control.checkbox(type="checkbox" ng-model="editUser.hideActivities")

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.HIDE_PUBLICATIONS' | translate}}
          .col-xs-12.col-sm-9
            input.form-control.checkbox(type="checkbox" ng-model="editUser.hidePublications")

        .form-group
          label.col-xs-12.col-sm-3.control-modify {{'personalprofile.HIDE_STATISTICS' | translate}}
          .col-xs-12.col-sm-9
            input.form-control.checkbox(type="checkbox" ng-model="editUser.hideStatistics")

style(type='text/css').
    .checkbox {width: auto}
    .checkbox:focus {
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }






//.personalprofile
//  .container-fluid
//    .row
//      .col-xs-12
//        label.name-content {{user.firstName}} {{user.lastName}}
//    form.row(name="editUserForm")
//      .col-xs-3
//        br
//        .row
//          .col-xs-12
//            img.personal(ng-src="{{user.photoPath}}")
//        br
//        .row
//          .col-xs-12
//            button.btn.btn-success(ng-if="!editing" ng-click="uploadPhoto()")
//              | {{'personalprofile.UPP' | translate}}
//        .row
//          .col-xs-12
//            button.btn.btn-success(ng-if="!editing" ng-click="editProfile()")
//              | {{'personalprofile.MOD' | translate}}
//          .col-xs-12
//            button.btn.btn-success(ng-if="editing" ng-click="save()" ng-disabled="editUserForm.$invalid || countryError")
//              | {{'general.SAVE' | translate}}
//        .row
//          .col-xs-12
//            button.btn.btn-success(ng-if="!editing" ng-click="changePassword()")
//              | {{'personalprofile.CHANGE' | translate}}
//          .col-xs-12
//            button.btn.btn-success(ng-if="editing" ng-click="cancel()")
//              | {{'general.CANCEL' | translate}}
//        .row
//          .col-xs-12
//          br
//          br
//          br
//      .col-xs-9
//        .row
//          .col-xs-12
//        .single-field(ng-if="!editing")
//          .row
//            .col-xs-3
//              label.control-no-modify(for="email") {{'personalprofile.EMAIL' | translate}}
//            .col-xs-9
//              .transcriptions(name="emailForm")
//                span.inner-content {{user.email}}
//          .row
//            .col-xs-3
//              label.control-no-modify(for="adress") {{'personalprofile.ADDRESS' | translate}}
//            .col-xs-9
//              .transcriptions
//                span.inner-content {{user.address}}
//          .row
//            .col-xs-3
//              label.control-no-modify(for="country") {{'personalprofile.COUNTRY' | translate}}
//            .col-xs-9
//              .transcriptions
//                span.inner-content(for="country") {{user.countryName}}
//          .row
//            .col-xs-3
//              label.control-no-modify(for="group") {{'personalprofile.GROUP' | translate}}
//            .col-xs-9
//              span.inner-content(for="group") {{groupList}}
//          .row
//            .col-xs-3
//              label.control-no-modify(for="title") {{'personalprofile.TITLE' | translate}}
//            .col-xs-9
//              .transcriptions
//                span.inner-content(for="title") {{user.title}}
//          .row
//            .col-xs-3
//              label.control-no-modify(for="organization") {{'personalprofile.ORG' | translate}}
//            .col-xs-9
//              .transcriptions
//                span.inner-content(for="organization") {{user.affiliation}}
//          .row
//            .col-xs-3
//              label.control-no-modify(for="location") {{'personalprofile.LOC' | translate}}
//            .col-xs-9
//              .transcriptions
//                span.inner-content(for="location") {{user.city}}
//          .row
//            .col-xs-3
//              label.control-no-modify(for="interests") {{'personalprofile.INTEREST' | translate}}
//            .col-xs-9
//              .transcriptions
//                span.inner-content(for="interests") {{user.interests}}
//
//        //- Start form
//        .single-field.edit-user-form.form-horizontal(ng-if="editing")
//          .form-group
//            label.col-xs-3.control-modify(for="email") {{'personalprofile.EMAIL' | translate}}
//            .col-xs-9(ng-class="{'has-error':(editUserForm.email.$invalid)}")
//              input.form-control(type="email" name="email" ng-model="user.email" required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-maxlength="50" autocomplete="off")
//              .has-error.help-block(ng-if="editUserForm.email.$error.required")
//                | required
//              .has-error.help-block(ng-if="editUserForm.email.$error.pattern")
//                | email is not valid
//              .has-error.help-block(ng-if="editUserForm.email.$error.maxlength")
//                | max 50 characters
//
//          .form-group
//            label.col-xs-3.control-modify(for="adress") {{'personalprofile.ADDRESS' | translate}}
//            .col-xs-9(ng-class="{'has-error':(editUserForm.adress.$invalid)}")
//              input.form-control(type="text" name="adress" ng-model="user.address" ng-maxlength="200")
//              .has-error.help-block(ng-if="editUserForm.adress.$error.maxlength")
//                | max 200 characters
//
//          .form-group
//            label.col-xs-3.control-modify(for="country") {{'personalprofile.COUNTRY' | translate}}
//            .col-xs-9(ng-class="{'has-error':countryError}")
//              input.form-control(type="text" name="country" ng-model="user.country" placeholder="Insert here the first 2 digits..." ng-change="getCountries()" ng-class="{loading:loading}" ng-click="resetSearch()")
//            .col-xs-9(ng-if="editing&&searchTableOpen")
//              br
//              .col-xs-12.table-results(ng-if="!loading")
//                table.table.table-hover
//                  thead.table-header
//                    td
//                      | {{'personalprofile.CODE' | translate}}
//                    td
//                      | {{'personalprofile.COUNTRY' | translate}}
//                  tbody
//                    tr(ng-repeat="item in results" ng-click="selectCountry(item)")
//                      td
//                        | {{item.code}}
//                      td
//                        | {{item.name}}
//                    tr(ng-if="!results")
//                      td(colspan="12")
//                        | {{'personalprofile.NOCOUNTRY' | translate}}
//
//          .form-group
//            label.col-xs-3.control-modify(for="title") {{'personalprofile.TITLE' | translate}}
//            .col-xs-9
//              select.form-control(ng-options="item.label as item.label for item in titles" name="title" ng-model="user.title")
//
//          .form-group
//            label.col-xs-3.control-modify(for="organization") {{'personalprofile.ORG' | translate}}
//            .col-xs-9(ng-class="{'has-error':(editUserForm.organization.$invalid)}")
//              input.form-control(type="text" name="organization" ng-model="user.affiliation" ng-maxlength="50" required)
//              .has-error.help-block(ng-if="editUserForm.organization.$error.required")
//                | required
//              .has-error.help-block(ng-if="editUserForm.organization.$error.maxlength")
//                | max 50 characters
//
//          .form-group
//            label.col-xs-3.control-modify(for="location") {{'personalprofile.LOC' | translate}}
//            .col-xs-9(ng-class="{'has-error':(editUserForm.location.$invalid)}")
//              input.form-control(type="text" name="location" ng-model="user.city" ng-maxlength="50")
//              .has-error.help-block(ng-if="editUserForm.location.$error.maxlength")
//                | max 50 characters
//
//          .form-group
//            label.col-xs-3.control-modify(for="interests") {{'personalprofile.INTEREST' | translate}}
//            .col-xs-9(ng-class="{'has-error':(editUserForm.interests.$invalid)}")
//              input.form-control(type="text" name="interests" ng-model="user.interests" ng-maxlength="500")
//              .has-error.help-block(ng-if="editUserForm.interests.$error.maxlength")
//                | max 500 characters
//
//          //- .row
//          //-   .col-xs-3
//          //-     label.control-no-modify(ng-if="!editing" for="resume") {{'personalprofile.RESUME' | translate}}
//          //-     label.control-modify(ng-if="editing" for="resume") {{'personalprofile.RESUME' | translate}}
//          //-   .col-xs-9
//          //-     .transcriptions
//          //-       .col-xs-12(ng-if="!editing")
//          //-         span.inner-content(ng-if="user.resume == 'no'" for="resume") {{user.resume}}
//          //-         a(href='{{user.resumePath}}', download='')
//          //-           span.glyphicon.glyphicon-download-alt(ng-if="user.resume == 'yes'")
//          //-             |   {{'personalprofile.DOWN' | translate}}
//          //-       button.btn.btn-success.upload(ng-if="editing" for="resume" ng-click="uploadCV()")
//          //-         | {{'personalprofile.UPCV' | translate}}
