.row
form(name="formPlaces")
    .col-xs-12.col-md-2
        label Place:
    .col-xs-12.col-md-8.zIndex1
        input.form-control(type="text" ng-model="tempPlaceName" ng-model-options='{ debounce: 300 }' ng-class="{loading:loadingCircle}" ng-change="getPlaces(tempPlaceName)" placeholder="Type at least 3 char" class="pull-left")
        div.placesTable.table-results(ng-if="places.length && placeIsClicked == false && tempPlaceName.length")
            table.table.table-hover
                thead.table-header
                    tr
                        th Name
                        th Pref/Var
                        th PlaceType
                tbody
                    tr.placeRow(ng-class="checkIfThisPlaceAreSelcted(place) != -1 ? 'isSelected' : 'notSelected' " ng-repeat="place in places" ng-click="addOrRemovePlaceToSelectedPlaces(place, singleselect)")
                        td {{place.placeName}} 
                        td {{place.prefFlag}}
                        td {{place.plType}}
        div(ng-if="!places && tempPlaceName.length" class="noPlacesFound")
            | {{ 'places.NOPLACE' | translate }}
            div(ng-if="usedPlaces()")
                br
                button.btn.btn-default(ng-click="addNewPlace()")
                    | {{'addPlace.TITLE' | translate}}
style(type='text/css').
    .personRow.isSelected, .placeRow.isSelected {background-color: lightblue;}
    .personRow .red, .placeRow .red {color: darkred;}
    .peopleTable, .placesTable {max-height: 200px; overflow: auto;}
    .form-control-input {max-width: 200px; margin-right: 30px;}
    .noPlacesFound { padding: 5px; background: lightgrey; color: #000}
    .zIndex1 {z-index: 1}