.row.archive(ng-if="!loading")
  .col-xs-12
    div.metadata.fs-16
      span(ng-if="repository && repository.repositoryName") {{repository.repositoryName}}&nbsp;
      span(ng-if="currentObj.data.collectionName") - {{currentObj.data.collectionName}}&nbsp;
      span(ng-if="currentObj.data.volumeNo") - Volume: {{currentObj.data.volumeNo}}&nbsp;
      span(ng-if="currentObj.data.insertNo") - Insert: {{currentObj.data.insertNo}}
    .text-center.pt-30(ng-if="loadingBAAL")
        img(ng-src="img/loader.gif")
    .row(ng-if="!numberedImages.length && !loadingBAAL")
      .col-xs-12(style="border-top: none;")
        | There are no numbered images in this location/ images in this location are private. Please upload new images.
    .row.thumbs-row(ng-if="numberedImages.length && !loadingBAAL")
      .col-xs-11
        .row
          .col-xs-2(ng-repeat="image in numberedImages", style="cursor:pointer;")
            .relative
              img.manuscript-thumb(ng-src="{{image.filePath}}" ng-click='gotoBrowseArcLoc()')
              .folio-number-abs
                div(ng-if="image.collationType == 'LACUNA' && image.collations && image.collations[0].isParent")
                  span RECONSTRUCTED DOCUMENT
                div(ng-if="(image.collationType !== 'LACUNA' || (image.collationType == 'LACUNA' && image.collations && !image.collations[0].isParent)) && (image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined)")
                  span(ng-if="image.folios[0].noNumb")
                    | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                  span(ng-if="image.folios[0].folioNumber")
                    | {{image.folios[0].folioNumber}}&nbsp;
                  span(ng-if="image.folios[0].folioNumber && image.folios[0].rectoverso!=''")
                    | {{image.folios[0].rectoverso}}
                  span(ng-if="image.folios[1].noNumb")
                    | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                  span(ng-if="image.folios[1].folioNumber")
                    | &nbsp;/ {{image.folios[1].folioNumber}}
                  span(ng-if="image.folios[1].folioNumber  && image.folios[1].rectoverso!=''")
                    | &nbsp; {{image.folios[1].rectoverso}}
                div(ng-if="(image.collationType !== 'LACUNA' || (image.collationType == 'LACUNA' && image.collations && !image.collations[0].isParent)) && image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                  span {{ 'docEntity.TOBENUMBERED' | translate }}
      .col-xs-1
        .more-link(ng-click='gotoBrowseArcLoc()')
          button.btn.btn-success.btn-xs
            | {{ 'archive.MORE' | translate }}
            | &nbsp;
            i.glyphicon.glyphicon-forward.small-icons


.row.archive(ng-if="!loading")
  .col-xs-12
    div.metadata.fs-16
      | Unnumbered folio images found in:&nbsp;
      span(ng-if="currentObj.data.collectionName") {{currentObj.data.collectionName}}&nbsp;
      span(ng-if="currentObj.data.volumeNo") - Volume: {{currentObj.data.volumeNo}}&nbsp;
      span(ng-if="currentObj.data.insertNo") - Insert: {{currentObj.data.insertNo}}

    .row(ng-if="!notNumberedAes.length")
      .col-xs-12(style="border-top: none;")
        | There are no unnumbered images in this location/ images in this location are private. Please upload new images.

    .row(ng-if="notNumberedAes.length" ng-repeat="ae in notNumberedAes | filter: noNumbAes")
      div.entity-title.mt-15.mb-5
        | {{ae.aeName}}
      span.metadata
        img.archive-icon.mr-5(src="img/icons-new/archive-icon-22x17.png")
        | {{ae.repository.repositoryName}} -&nbsp;
        span(ng-if="ae.collection.collectionName") {{ae.collection.collectionName}} -&nbsp;
        span(ng-if="ae.volume.volumeName") {{ae.volume.volumeName}} -&nbsp;
        span(ng-if="ae.insert.insertName") {{ae.insert.insertName}}
        br
        | {{ 'archive.DESC' | translate }} {{ae.aeDescription}}
        br
        | {{ae.privacy}} {{ 'archive.ENTITYNAME' | translate }}
      .row.thumbs-row
        .col-xs-11
          .row
            .col-xs-2(ng-repeat="image in ae.thumbsFiles | filter: noNumbImagePrivacyFilter(ae)", style="cursor:pointer;")
              .relative
                img.manuscript-thumb(ng-src="{{image.filePath}}" ng-click='gotoSingle(ae.uploadId, image.uploadFileId)')
                .folio-number-abs
                  div(ng-if="image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined")
                    span(ng-if="image.folios[0].noNumb")
                      | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                    span(ng-if="image.folios[0].folioNumber")
                      | {{image.folios[0].folioNumber}}&nbsp;
                    span(ng-if="image.folios[0].folioNumber && image.folios[0].rectoverso!=''")
                      | {{image.folios[0].rectoverso}}
                    span(ng-if="image.folios[1].noNumb")
                      | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                    span(ng-if="image.folios[1].folioNumber")
                      | &nbsp;/ {{image.folios[1].folioNumber}}
                    span(ng-if="image.folios[1].folioNumber  && image.folios[1].rectoverso!=''")
                      | &nbsp; {{image.folios[1].rectoverso}}
                  div(ng-if="(image.collationType !== 'LACUNA' || (image.collationType == 'LACUNA' && image.collations && !image.collations[0].isParent)) && image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                    span {{ 'docEntity.TOBENUMBERED' | translate }}
        .col-xs-1
          .more-link(ng-click='gotoSingle(ae.uploadId, ae.thumbsFiles[0].uploadFileId)')
            button.btn.btn-success.btn-xs
              | {{ 'archive.MORE' | translate }}
              | &nbsp;
              i.glyphicon.glyphicon-forward.small-icons
    .row(ng-if="notNumberedAes.length")
      .col-xs-12(style="border-top: none;")
        pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")


.row(ng-if="loading")
  .col-xs-12
    .rotate-container
      .rotate