.row.mod-de-container
  .col-md-12.doc-left-col-cont
    //-------------------//
    //       Summary     //
    //-------------------//
    .col-md-4.doc-left-col(style="padding-right: 0")
      .box-container
        .doc-ae-info
          ins-summary-dir(documents='insertDescription.data')
      .box-container(ng-if="insertDescription.data.collectionAbbr=='SRP' || insertDescription.data.collectionAbbr=='MM' || insertDescription.data.collectionAbbr=='SFF(FM)' || insertDescription.data.collectionAbbr=='SFF(FL)' || insertDescription.data.collectionAbbr=='SFF(UdV)'")
      .box-container
        .doc-ae-info
          ins-sys-info-dir(documents='insertDescription.data')
      actions-history-dir(record-id="insertId" record-type="'INS'" style="display: inline-block;margin-right: 5px;")
      a.btn.btn-success(ng-click="goToBAL()") Browse this Insert

    .col-md-3(style="padding: 0; margin-top: 10px")
      .box-container
        .doc-ae-info
          ae-de-related-to-dir(documents='des' archivals='aes' search='searchAeDeByVolume(type)' rec-type='insert')
      .box-container
        .doc-spine-info
          ins-guardia-upl-dir(insert-id='insertDescription.data.insertId' spine-image='spine' find-insert-guardia="findInsertGuardia(insertId)")

    .col-md-5(style="padding-left: 0;  margin-top: 2px")
      .document-details

        accordion.doc-details-accordion
          accordion-group
            accordion-heading
              .panel-title-desc
                | INSERT BASIC METADATA
              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
            .content
                ins-basic-dir(documents='insertDescription.data')

      .document-details
        accordion.doc-details-accordion
          accordion-group
            accordion-heading
              .panel-title-desc
                | INSERT ADVANCED METADATA
              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
            .content
                ins-adv-dir(documents='insertDescription.data')

    .col-xs-12.mt-15.mb-15
      comments-dir(ng-if="insertDescription" record-type="'INS'" record-id="$stateParams.insertId" owner="insertDescription.data.createdBy")
