.row.mod-de-container
  .col-md-12.doc-left-col-cont
    //-------------------//
    //       Summary     //
    //-------------------//
    .col-md-4.doc-left-col(style="padding-right: 0")
      .box-container
        .doc-ae-info
          vol-summary-dir(documents='volumeDescription.data')
      .box-container(ng-if="volumeDescription.data.collectionAbbr=='SFF' || volumeDescription.data.collectionAbbr=='SRP' || volumeDescription.data.collectionAbbr=='MM' || volumeDescription.data.collectionAbbr=='SFF(FM)' || volumeDescription.data.collectionAbbr=='SFF(FL)' || volumeDescription.data.collectionAbbr=='SFF(UdV)'")
        .doc-ae-info
          vol-additional-fields-dir(documents='volumeDescription.data')
      .box-container
        .doc-ae-info
          vol-sys-info-dir(documents='volumeDescription.data')
      actions-history-dir(record-id="volumeId" record-type="'VOL'" style="display: inline-block;margin-right: 5px;")
      a.btn.btn-success(ng-if="!volumeDescription.data.hasInserts" ng-click="goToBAL()") Browse this Volume
      //button.btn.btn-success(ng-click="goToBAL()" ng-disabled="volumeDescription.data.hasInserts" popover-enable="volumeDescription.data.hasInserts" popover="{{ 'volumeDescr.VOL_WITH_INS' | translate }}" popover-trigger="mouseenter") Browse this Volume
      button.btn.btn-success.custom-disabled(ng-if="volumeDescription.data.hasInserts" popover="{{ 'volumeDescr.VOL_WITH_INS' | translate }}" popover-trigger="mouseenter") Browse this Volume

    .col-md-3(style="padding: 0; margin-top: 10px")
      .box-container
        .doc-ae-info
          ae-de-related-to-dir(documents='des' archivals='aes' search='searchAeDeByVolume(type)' rec-type='volume')
      .box-container
        .doc-spine-info
          spine-guardia-upl-dir(volume-id='volumeDescription.data.volumeId' spine-image='spine' find-volume-spine="findVolumeSpine(volumeId)")

    .col-md-5(style="padding-left: 0; margin-top: 2px")
      .document-details

        accordion.doc-details-accordion
          accordion-group
            accordion-heading
              .panel-title-desc
                | VOLUME BASIC METADATA
              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
            .content
                vol-basic-dir(documents='volumeDescription.data')

      .document-details
        accordion.doc-details-accordion
          accordion-group
            accordion-heading
              .panel-title-desc
                | VOLUME ADVANCED METADATA
              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
            .content
                vol-adv-dir(documents='volumeDescription.data')

    .col-xs-12.mt-15.mb-15
      comments-dir(ng-if="volumeDescription" record-type="'VOL'" record-id="$stateParams.volumeId" owner="volumeDescription.data.createdBy")