//- .row(ng-if="archives.length")
//-   .col-xs-12
//-     pagination(ng-cloak ng-show="!getArchiveTracker" max-size="5" class="pagination-sm" boundary-links="true" total-items="pagination.bigTotalItems" ng-model="pagination.bigCurrentPage" ng-change="pageChanged()")
.row.archive(ng-class="{ loading : orderChangedTracker }" ng-if="!getArchiveTracker && !fixUploadTracker && !noArchiveFound" ng-repeat="archive in archives = (myArchives.aentities | filter:searchQuery)")
  .col-xs-12
    span.entity-title
      | {{archive.aeName}}
      br
      img.archive-icon(src="img/icons-new/archive-icon-22x17.png") 
      | &nbsp;
    span.metadata
      | {{archive.repository.repositoryName}} 
      span(ng-if="archive.collection.collectionName") - {{archive.collection.collectionName}} 
      span(ng-if="archive.volume.volumeName") - {{archive.volume.volumeName}} 
      span(ng-if="archive.insert.insertName") - {{archive.insert.insertName}}
      br
      | {{ 'archive.DESC' | translate }} {{archive.aeDescription}} 
      br
      | {{archive.privacy}} {{ 'archive.ENTITYNAME' | translate }}
    .row.thumbs-row
      .col-xs-11
        .row(style="cursor:pointer;")
          .col-xs-2(ng-repeat="image in archive.thumbsFiles | orderBy:'imageOrder'")
            img.error-thumb.mt-15(ng-show="image.converted==3 || image.converted==6" src="img/errorUpload.png" ng-click="fixUpload(image.uploadFileId)" )
            img.error-thumb.mt-15(ng-show="image.converted==0 || image.converted==1" src="img/newUpload.png" ng-click="reload()" )
            img.manuscript-thumb(ng-show="image.converted==2 || image.converted==4 || image.converted==5" ng-src="{{image.filePath}}" ng-click='gotoSingle(archive.uploadId, image.uploadFileId)')
      .col-xs-1
        .more-link(ng-click='gotoSingle(archive.uploadId, archive.thumbsFiles[0].uploadFileId)')
          button.btn.btn-success.btn-xs
            | {{ 'archive.MORE' | translate }}
            | &nbsp;
            i.glyphicon.glyphicon-forward.small-icons
.row(ng-if="archives.length && !noArchiveFound")
  .col-xs-12
    pagination(ng-cloak ng-show="!getArchiveTracker" max-size="5" class="pagination-sm" boundary-links="true" total-items="pagination.bigTotalItems" ng-model="pagination.bigCurrentPage" ng-change="pageChanged()")

.row(ng-if="getArchiveTracker || fixUploadTracker")
  .col-xs-12
    .rotate-container
      .rotate
.row(ng-if="noArchiveFound")
  .col-xs-12
    | {{ 'archive.NOARCHIVE' | translate }}
