div(ng-controller="replaceImgController")
  .modal-header
    h3.modal-title {{ 'archive.REPLACETTL' | translate }}
  .modal-body
    .row.content-right-panel.form-group
      .col-xs-6
        iframe.js-viewer(ng-src="{{viewerAddress}}")
      .col-xs-6
        form.form-group(name='uploadForm')
          fieldset
            .row.content-right-panel
              .col-xs-2.col-xs-offset-1
                label {{'sidebar.upload.PHOTO' | translate}}
              .col-xs-6
                label(for="file-replace" class="custom-file-upload")
                  .btn.btn-warning
                    | {{'sidebar.upload.CHOOSEIMG' | translate}}
                input#file-replace.form-control(
                  type='file',
                  ngf-select='',
                  ng-model='picFile',
                  name='file',
                  accept='.jpg, .tif, .png, .jpeg, .tiff',
                  ngf-max-total-size='100MB',
                  ngf-max-files="50",
                  ngf-fix-orientation="false",
                  required=''
                  style="display:none;")
              .col-xs-3
                .required(ng-show='uploadForm.file.$error.required')
                  | {{ 'general.REQUIRED' | translate }}
                .required(ng-show="uploadForm.file.$error.maxTotalSize")
                  | {{ 'sidebar.upload.UPLOADBIG' | translate }}
            .row
              .col-xs-9.col-xs-offset-3
                h4(ng-show='uploadForm.file.$valid && picFile.type != "image/tiff"')
                  | Replacing image shown on the left with
            .row
              .col-xs-6.col-xs-offset-3
                div(ng-if='uploadForm.file.$valid')
                  //- image src is initially loader.gif, and then changes to the thumbnail src
                  img.upload-thumb(ng-if="picFile.type != 'image/tiff'" ngf-thumbnail="picFile" ngf-size="{width: 120, height: 140, quality: 0.9}" ng-src="img/loader.gif")
                  div(
                    ng-if="picFile.type == 'image/tiff'"
                    style="margin: 25px 0; padding: 10px; background: lightgray; color: #fff; text-shadow: 2px 2px 3px rgba(0,0,0,.5);"
                  ) {{ 'archive.TIFFNOTAVAILABLE' | translate }}
              .col-xs-3
                span.progress(ng-show='picFile.progress >= 0')
                  div(style='width:{{picFile.progress}}%', ng-bind="picFile.progress + '%'")
                span(ng-show='picFile.result') {{'sidebar.upload.SUCCESS' | translate}}
                span.err(ng-show='errorMsg') {{errorMsg}}
            .row
              .col-xs-6.col-xs-offset-3
                .btn-group
                  button.btn.btn-xs.btn-warning(ng-disabled='!uploadForm.$valid', ng-click='uploadFiles(picFile)')
                    | {{'sidebar.UPLOAD' | translate}}
                  button.btn.btn-xs.btn-primary(ng-if='uploadFinished', ng-click='cancel()')
                    | Close