div(ng-controller="addCollectionController" ng-cloak)
  .modal-header
    h3.modal-title(ng-show="!addNew && repositoryId") {{ 'sidebar.addCollection.TITLE' | translate }}
    h3.modal-title(ng-show="addNew || !repositoryId") {{ 'sidebar.addCollection.ADDTITLE' | translate }}
  .modal-body
    //
    // SEARCH
    //
    .search-form(ng-show="!addNew && repositoryId")
      form.form-horizontal
        //- .row.form-group
        //-   .col-xs-3.col-xs-offset-1
        //-     label.control-label {{ 'sidebar.upload.COLLECTION' | translate }}
        //-   .col-xs-6
        //-     .input-group
        //-       input.form-control(
        //-       type="text"
        //-       placeholder="{{ 'sidebar.addCollection.INSTRUCT' | translate }}"
        //-       ng-model="queryString"
        //-       ng-change="getCollection(queryString)")
        .row
          .col-xs-12

            table.table.table-hover(ng-if="showTable && possibleCollection.length")
              thead
                //- tr
                //-   th
                //-     | {{ 'sidebar.addCollection.NAME' | translate }}
              tbody
                tr.clickable(
                ng-repeat="collection in possibleCollection | orderBy : 'collectionName'"
                ng-click="saveCollection(collection)")
                  th
                    | {{collection.collectionName}}
            .row(ng-show='showTable && !possibleCollection.length')
              .col-xs-10.col-xs-offset-2
                i.glyphicon.glyphicon-remove
                span(ng-if="!fromSearch") {{ 'sidebar.addCollection.NOTFOUND' | translate }}
                span(ng-if="fromSearch") {{ 'sidebar.addCollection.NOTFOUNDFS' | translate }}
    //
    // ADD
    //
    .search-form(ng-show="addNew || !repositoryId")
      .row
        .col-xs-12
          label {{ 'sidebar.addCollection.DISCLAIMER' | translate }}
      form.form-horizontal(name="collection")
          .row
            .col-xs-6
              .form-group
                label.control-label.col-sm-5
                  | {{ 'sidebar.addCollection.NAME' | translate }}
                  span.required-error(ng-if="collection.collectionName.$error.required")
                    br
                    | {{ 'general.REQUIRED' | translate }}
                .col-sm-7
                  input.form-control(type="text" name="collectionName" required ng-model="newCollection.collectionName" ng-class="{'has-error':collection.collectionName.$error.required}")
            .col-sm-6
              .form-group
                label.control-label.col-sm-5
                  | {{ 'sidebar.addCollection.DESCRIPTION' | translate }}
                .col-sm-7
                  textarea.form-control(ng-model="newCollection.collectionDescription" name="collectionDescription" rows="3")
    .search-form(ng-if='wrongCollection')
      .row
        .col-xs-12
          i.glyphicon.glyphicon-remove
          |  {{ 'sidebar.addCollection.WRONGNAME' | translate }}
    .search-form
      form.form-horizontal
        .form-group
          .col-sm-8.col-sm-offset-4.btn-group
            //- button.btn.btn-default.btn-xs(
            //- ng-click='switchNew()'
            //- ng-if="!addNew && repositoryId")
            //-   | {{ 'sidebar.addCollection.ADDNEW' | translate }}
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-disabled=" !newCollection.collectionName"
            ng-click="saveCollection(newCollection)"
            ng-if="!fromSearch")
              | {{ 'general.SAVE' | translate }}
