//-----------------------------
//
//---- MAIN ACTUAL SIDEBAR ----
//
//-----------------------------
.sidebar(ng-class="{'collapsed': sidebarCollapsed}")
  img.logo.cursor-pointer(src="img/logo.png" ng-hide="!sidebarCollapsed" ui-sref="mia.welcome")
  img.logo-big.cursor-pointer(src="img/logoVerticale.png" ng-hide="sidebarCollapsed" ui-sref="mia.welcome")
  i.glyphicon.glyphicon-menu-hamburger.menu-toogler.clickable(ng-click="toggleSidebar()")

  ul.nav.nav-sidebar
    li(ng-class="{active: navSidebarIsActive('archive', 'upload')}")
      a(ng-click="openUploadPanel();closeMobileSidebar()")
        i.text-icon(popover="{{ 'sidebar.UPLOAD' | translate }}" popover-trigger="mouseenter" popover-placement="right")
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-01.png")
        span.text
          |  {{ 'sidebar.UPLOAD' | translate }}
    li(ng-class="{active: navSidebarIsActive(['archive', 'archival-entity'])}" ng-click="closeMobileSidebar();closeUploadPanel()" )
      a(ui-sref='mia.archive')
        i.text-icon(popover="{{ 'sidebar.BROWSE' | translate }}" popover-trigger="mouseenter" popover-placement="right")
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-02.png")
        span.text
          |  {{ 'sidebar.BROWSE' | translate }}
    li(ng-class="{active: navSidebarIsActive(['document-entities', 'document-entity', 'create-document-entity'])}" ng-click="closeMobileSidebar();closeUploadPanel()" )
      a(ui-sref='mia.docentities')
        i.text-icon(popover="{{ 'sidebar.DOCENT' | translate }}" popover-trigger="mouseenter" popover-placement="right")
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-03.png")
        span.text
          |  {{ 'sidebar.DOCENT' | translate }}
    //- li(ng-class="{active: $state.includes('mia.search')}")
    //-   a(ui-sref='mia.search', ng-click="closeMobileSidebar()")
    //-     i.text-icon
    //-       img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-04.png")
    //-     span.text
    //-       |  {{ 'sidebar.SEARCH' | translate }}
    //- li(ng-class="{active: $state.includes('mia.browsemap')}")
    //-   a(ui-sref='mia.browsemap', ng-click="closeMobileSidebar()")
    //-     i.text-icon
    //-       img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-05.png")
    //-     span.text
    //-       |  {{ 'sidebar.BROWSEMAP' | translate }}
    li(ng-class="{active: navSidebarIsActive('document-entities', 'browse-navigator') || navSidebarIsActive(['browse-selected-location', 'browse-archival-location']) }")
      a(ng-click="openNanigationPanel();closeMobileSidebar()")
        //- i.text-icon.glyphicon.glyphicon-globe.navigate-icon.custom-margin(popover="{{ 'sidebar.BROWSE_ALL' | translate }}" popover-trigger="mouseenter" popover-placement="right")
        i.text-icon.custom-margin(popover="{{ 'sidebar.BROWSE_ALL' | translate }}" popover-trigger="mouseenter" popover-placement="right")
          img.sidebar-icon.upload(src="img/icons-new/case-study.svg")
        span.text
          | Browse
    li(ng-class="{active: navSidebarIsActive('', 'cs')}")
      a(ng-click="openCsPanel();closeMobileSidebar()")
        //i.text-icon.glyphicon.glyphicon-blackboard.navigate-icon.custom-margin(popover="{{ 'sidebar.MY_CS' | translate }}" popover-trigger="mouseenter" popover-placement="right")
        i.text-icon.fa.fa-folder-open-o.fa-3x.navigate-icon.custom-margin(popover="{{ 'sidebar.MY_CS' | translate }}" popover-trigger="mouseenter" popover-placement="right")
        span.text
          | My Projects
    li(ng-class="{active: navSidebarIsActive('messaging')}" )
      a.button-with-counter(ui-sref='mia.mailbox' ui-sref-opts="{reload: true}" ng-click="closeMobileSidebar();closeUploadPanel()")
        i.text-icon.pos-relative.custom-margin(popover="Mailbox" popover-trigger="mouseenter" popover-placement="right")
          img.sidebar-icon.upload(src="img/icons-new/mail-icon.png")
          span.newMails {{ newMailsCount }}
        span.text
          | Mailbox
    li(ng-class="{active: navSidebarIsActive('spotlightReviews')}" ng-if="isAuthorized()")
      a.button-with-counter(ng-click="showSpotlightPendingReviews();closeMobileSidebar();closeUploadPanel()")
        i.text-icon.pos-relative.custom-margin
          img.sidebar-icon.upload(src="img/icons-new/sp_icon.png" popover="Spotlight reviews" popover-trigger="mouseenter" popover-placement="right")
          span.newMails {{ spotlightReviewsCount }}
        span.text
          | Spotlight reviews 
    li(ng-class="{active: navSidebarIsActive(['personal-profile', 'public-profile'])}" )
      a(ui-sref='mia.personalprofile' ng-click="closeMobileSidebar();closeUploadPanel()")
        i.text-icon.custom-margin(popover="Personal Profile" popover-trigger="mouseenter" popover-placement="right")
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-06.png")
        span.text
          | Personal Profile
    li
      a(href="/Mia/LoginUser.do", ng-click="clearNavigatorData()")
        i.text-icon.custom-margin(popover="Logout" popover-trigger="mouseenter" popover-placement="right")
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-07.png")
        span.text
          | {{ 'sidebar.LOGOUT' | translate }}
    //- li.logout
    //-   a(ng-click="toggleSidebar()")
    //-     i.text-icon(ng-show="sidebarCollapsed")
    //-       img.expand-icon(src="img/icons-new/expand-icon-30x30.png")
    //-     i.text-icon(ng-show="!sidebarCollapsed")
    //-       img.collapse-icon(src="img/icons-new/collapse-icon-30x30.png")
    //-     span.text
    //-       |  {{ 'sidebar.COLLAPSE' | translate }}
    li(ng-class="{active: navSidebarIsActive('mia/admin')}" ng-if="secAuthorize(['ADMINISTRATORS'])")
      a(ui-sref='mia.admin' ng-click="closeMobileSidebar();closeUploadPanel()")
        i.text-icon.custom-margin
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-adm.png" popover="Admin Area" popover-trigger="mouseenter" popover-placement="right")
        span.text
          | Admin
//---------------------------------------
//
//-------- PANEL FOR METADATA -----------
//
//---------------------------------------
#upload
.sidebar-first-panel(
  ng-if="uploadPanel && !uploadFileStep",
  ng-class="{'panel-big-sidebar': !sidebarCollapsed}")
  .upload
    .panel-header
      h2
        img.sidebar-icon.upload-panel(src="img/icons-new/menu-icon-30x30-01.png")
        | {{ 'sidebar.UPLOAD' | translate }}
        i.clickable(ng-click="closeUploadPanel()")
          img.collapse-icon(src="img/icons-new/collapse-icon-30x30bis.png")
    .panel-content
      form(name="metaDataForm")
        fieldset
          .row
            .col-xs-12
              h3
                i
                  img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png")
                | {{ 'sidebar.DEFINEMETA' | translate }}
          //
          // REPOSITORY
          //
          .row.form-group
            .col-xs-3.col-xs-offset-1
              label {{ 'sidebar.upload.ARCHIVE' | translate }}
            .col-xs-5(ng-if="newUpload.metadata.repository.repositoryName")
              | {{newUpload.metadata.repository.repositoryName}}
            //- .col-xs-2(ng-if="newUpload.metadata.repository.repositoryName")
            //-   .input-group-btn
            //-     button.btn.btn-default.btn-xs(ng-click='addRepo()')
            //-       i
            //-         img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change repository" popover-trigger="mouseenter")
            //-     button.btn.btn-default.btn-xs(ng-click="delRepo()")
            //-       i
            //-         img.delete-icon(src="img/icons-new/delete-icon-13x18.png" popover="Delete repository" popover-trigger="mouseenter")
            //- .col-xs-6(ng-if="!newUpload.metadata.repository.repositoryName")
            //-   button.btn.btn-default.btn-xs(ng-click='addRepo()')
            //-     | {{ 'sidebar.upload.CHOOSEARCHIVE' | translate }}
            //- .col-xs-2(ng-if="!newUpload.metadata.repository.repositoryName")
            //-   .required
            //-     | {{ 'general.REQUIRED' | translate }}

          //
          // COLLECTION
          //
          .row.form-group(ng-if="newUpload.metadata.repository")
            .col-xs-3.col-xs-offset-1
              label {{ 'sidebar.upload.COLLECTION' | translate }}
            .col-xs-5(ng-if="newUpload.metadata.collection.collectionName")
              | {{newUpload.metadata.collection.collectionName}}
            .col-xs-2(ng-if="newUpload.metadata.collection.collectionName")
              .input-group-btn
                button.btn.btn-default.btn-xs(ng-click='addCollection()')
                  i
                    img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change collection" popover-trigger="mouseenter")
                button.btn.btn-default.btn-xs(ng-click="delCollection()")
                  i
                    img.delete-icon(src="img/icons-new/delete-icon-13x18.png" popover="Delete collection" popover-trigger="mouseenter")
            .col-xs-6(ng-if="!newUpload.metadata.collection.collectionName")
              button.btn.btn-default.btn-xs(ng-click='addCollection()')
                | {{ 'sidebar.upload.CHOOSECOLLECTION' | translate }}
            .col-xs-2(ng-if="!newUpload.metadata.collection.collectionName")
              .required
                | {{ 'general.REQUIRED' | translate }}
          //- //
          //- // SERIES
          //- //
          //- .row.form-group(ng-if="newUpload.metadata.collection && newUpload.metadata.collection.collectionId==1")
          //-   .col-xs-3.col-xs-offset-1
          //-     label {{ 'sidebar.upload.SERIES' | translate }}
          //-   .col-xs-5(ng-if="newUpload.metadata.series.seriesName")
          //-     | {{newUpload.metadata.series.seriesName}}
          //-   .col-xs-2(ng-if="newUpload.metadata.series.seriesName")
          //-     .input-group-btn
          //-       button.btn.btn-default.btn-xs(ng-click='addSeries()')
          //-         i
          //-           img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change series" popover-trigger="mouseenter")
          //-       button.btn.btn-default.btn-xs(ng-click="delSeries()")
          //-         i
          //-           img.delete-icon(src="img/icons-new/delete-icon-13x18.png" popover="Delete series" popover-trigger="mouseenter")
          //-   .col-xs-6(ng-if="!newUpload.metadata.series.seriesName")
          //-     button.btn.btn-default.btn-xs(ng-click='addSeries()')
          //-       | {{ 'sidebar.upload.CHOOSESERIES' | translate }}

          //
          // VOLUME
          //
          .row.form-group(ng-if="newUpload.metadata.collection")
            .col-xs-3.col-xs-offset-1
              label {{ 'sidebar.upload.VOLUME' | translate }}
            .col-xs-5(ng-if="newUpload.metadata.volume.volumeName")
              | {{newUpload.metadata.volume.volumeName}}
            .col-xs-2(ng-if="newUpload.metadata.volume.volumeName")
              .input-group-btn
                button.btn.btn-default.btn-xs(ng-click='addVolume()')
                  i
                    img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change volume" popover-trigger="mouseenter")
                button.btn.btn-default.btn-xs(ng-click="delVolume()")
                  i
                    img.delete-icon(src="img/icons-new/delete-icon-13x18.png" popover="Delete volume" popover-trigger="mouseenter")
            .col-xs-6(ng-if="!newUpload.metadata.volume.volumeName")
              button.btn.btn-default.btn-xs(ng-click='addVolume()')
                | {{ 'sidebar.upload.CHOOSEVOLUME' | translate }}
            .col-xs-2(ng-if="!newUpload.metadata.volume.volumeName")
              .required
                | {{ 'general.REQUIRED' | translate }} 
          //
          // INSERT
          //
          .row.form-group(ng-if="newUpload.metadata.volume && (newUpload.metadata.insert.insertName || !newUpload.metadata.insert && canChooseInsert())")
            .col-xs-3.col-xs-offset-1
              label {{ 'sidebar.upload.INSERT' | translate }}
            .col-xs-5(ng-if="newUpload.metadata.insert.insertName")
              | {{newUpload.metadata.insert.insertName}}
            .col-xs-2(ng-if="newUpload.metadata.insert.insertName")
              .input-group-btn
                button.btn.btn-default.btn-xs(ng-click='addInsert()')
                  i
                    img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change insert" popover-trigger="mouseenter")
                button.btn.btn-default.btn-xs(ng-click="delInsert()")
                  i
                    img.delete-icon(src="img/icons-new/delete-icon-13x18.png" popover="Delete insert" popover-trigger="mouseenter")
            //.col-xs-6(ng-if="!newUpload.metadata.insert.insertName")
            .col-xs-6(ng-if="!newUpload.metadata.insert && canChooseInsert()")
              button.btn.btn-default.btn-xs(ng-click='addInsert()')
                | {{ 'sidebar.upload.CHOOSEINSERT' | translate }}
          .row
            .col-xs-5.col-xs-offset-4
              .btn-group
                button.btn.btn-success.btn-xs(
                ng-click="gotoUploadStep()"
                ng-disabled="!canNext()")
                  | {{ 'general.NEXT' | translate }}
                | &nbsp;
                button.btn.btn-warning.btn-xs(ng-click="uploadDone()")
                  | {{ 'general.CLOSE' | translate }}



//---------------------------------------
//
//-------- PANEL NAVIGATION -----------
//
//---------------------------------------
#browse-navigator
.sidebar-first-panel.overflow-x-none(
  ng-if="navigationPanel",
  ng-class="{'panel-big-sidebar': !sidebarCollapsed, 'collection-width': navigatorStep == 'collections'}"
  style="overflow-x: hidden;" click-outside="closeUploadPanel()")
  .upload
    .panel-header
      h2
        span.text-icon.fa.fa-folder-open-o.fa-3x.navigate-icon.navigate-icon-title
        | Browse Collections
        i.clickable(ng-click="closeNanigationPanel()")
          img.collapse-icon(src="img/icons-new/collapse-icon-30x30bis.png")
    .panel-content
      .archive-tree(ng-class="{'collection-archive-height': navigatorStep == 'collections'}")
        .archive-tree-body.row
          //-------------------------------- For the future, Lorenzo talked about this 
          //- .repositories-body.width-30 
          //-   <input ng-show="repositories.length" ng-model="repositoryFilter" type="text", placeholder="Filter", style="width: 100%;">
          //-   p(ng-if="!repositories.length") No repositories
          //-   .folder(ng-repeat="rep in repositories | filter:{repositoryName:repositoryFilter}", ng-click="getRepositoryCollections(rep)", style="cursor: pointer;")
          //-     i(style="margin: 0;")
          //-       img(src="img/icons-new/folder-icon.png", height="15", width="15", style="margin-right: 5px;") 
          //-       span(style="font-size: 12px;") {{rep.repositoryName}}
          //-     span(ng-if="selectedRepositoryId == rep.repositoryId" class="glyphicon glyphicon-play", style="float: right;")

          .col-sm-12
            //- .col-sm-6.col-xs-12.collection-body
            .col-xs-12.collection-body(ng-class="{'col-sm-12': navigatorStep == 'collections', 'col-sm-6': navigatorStep != 'collections'}")
              .arch-tree-head.text-center 
                .title
                  |  Collection
                  //span.glyphicon.glyphicon-sort
                input.no-outline(ng-show="collections.length" ng-model="collectionFilter" type="text", placeholder="Filter")
              .arch-collection.custom-scroll(ng-class="{'collection-height': navigatorStep == 'collections'}")
                .text-center
                  p(ng-if="!collections.length && !loadingCol") No collections
                  img(ng-if="loadingCol" ng-src="img/loader.gif")
                .folder(
                  ng-repeat="col in collections | filter:{collectionName:collectionFilter} | orderBy : 'collectionName'",
                  ng-click="getCollectionVolumes(col)", 
                  ng-class="{selectedFolder: selectedCollectionId == col.collectionId}")
                  h4.panel-title
                    i.folder-icon
                      img(src="img/icons-new/folder-icon.png")
                    .folder-name
                      .name-with-icon
                        .name {{col.collectionName}}
                        .select-icon
                          .glyphicon.glyphicon-chevron-right(ng-show="selectedCollectionId == col.collectionId")

            .col-sm-3.col-xs-6.volume-body(ng-class="{'hidden': navigatorStep != 'volumes_inserts'}")
              .arch-tree-head.text-center 
                //.title(ng-click="changeVolOrder()")
                .title
                  |  Volume
                  //span.glyphicon.glyphicon-sort
                input.no-outline(ng-show="volumes.length" ng-model="volumeFilter" type="text", placeholder="Filter")
              .arch-collection.custom-scroll
                .text-center
                  p(ng-if="!volumes.length && !loadingVol") No volumes
                  img(ng-if="loadingVol" ng-src="img/loader.gif")
                .folder(
                  ng-repeat="vol in volumes | filter:{volumeName:volumeFilter}",
                  ng-click="getVolumeInserts(vol)",
                  ng-class="{selectedFolder: selectedVolumeId == vol.volumeId}")
                  h4.panel-title
                    i.folder-icon
                      img(src="img/icons-new/folder-icon.png") 
                    .folder-name
                      .name-with-icon
                        .name {{vol.volumeName}}
                        .select-icon
                          .glyphicon.glyphicon-chevron-right(ng-show="selectedVolumeId == vol.volumeId")

            .col-sm-3.col-xs-6.insert-body.custom-scroll(ng-class="{'hidden': navigatorStep != 'volumes_inserts' }")
              .arch-tree-head.text-center 
                .title
                  |  Insert
                  //span.glyphicon.glyphicon-sort
                input.no-outline(ng-show="inserts.length" ng-model="insertFilter" type="text", placeholder="Filter")
              .arch-collection.custom-scroll
                .text-center
                  p(ng-if="!inserts.length && !loadingIns") No inserts
                  img(ng-if="loadingIns" ng-src="img/loader.gif")
                .folder(
                  ng-repeat="ins in inserts | filter:{insertName:insertFilter}"
                  ng-click="browseSelectedLocation(ins)",
                  ng-class="{selectedFolder: selectedInsertId == ins.insertId}")
                  h4.panel-title
                    i.folder-icon
                      img(src="img/icons-new/folder-icon.png") 
                    .folder-name
                      .name-with-icon
                        .name {{ins.insertName}}
                        .select-icon
                          .glyphicon.glyphicon-chevron-right(ng-show="selectedInsertId == ins.insertId")
            

//---------------------------------------
//
//------- PANEL FOR CASE STUDIES --------
//
//---------------------------------------

#cs
.case-study-panel.sidebar-first-panel(ng-if="csPanel", ng-class="{'panel-big-sidebar': !sidebarCollapsed}")
  .upload
    .panel-header
      h2
        img.sidebar-icon.upload-panel(src="img/icons-new/case-study.svg")
        | My Projects
        i.clickable(ng-click="closeCsPanel()")
          img.collapse-icon(src="img/icons-new/collapse-icon-30x30bis.png")
      .cs-breadcrumbs
        span.cs-step(ng-click="getCsList()") Project list
        span(ng-if="csStep == 'csCreate' && !currentCs")
          span(style="color: #000;")
            | &nbsp;->&nbsp;
          span.cs-step Create a Project
        span(ng-if="currentCs")
          span(style="color: #000;")
            | &nbsp;->&nbsp;
          span.cs-step.cursor-default.text-dec-none {{currentCs.title}}
    .panel-content
      .cs-content

        // CS list
        div(ng-if="!currentCs")
          a.btn.btn-success.mb-15(ng-if="csStep == 'csList'" ng-click="createCs()") Create a New Project
          .cs-list(ng-if="csStep == 'csList'")
            .cs-name(ng-repeat="cs in caseStudies" ng-click="selectCs(cs)")
              h4.panel-title
                | {{cs.title}}
                a.pull-right.btn.btn-danger.btn-xs(ng-if="cs.createdBy == me.account || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click='deleteCs($event, cs)')
                  span.glyphicon.glyphicon-trash
                a.pull-right.btn.btn-default.btn-xs.mr-5(ng-if="cs.createdBy == me.account || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click='editCs($event, cs)')
                  span.glyphicon.glyphicon-pencil
                //span(ng-if="cs.createdBy != me.account" style="color: red;")
                //  | &nbsp;(owner: {{cs.createdBy}})

          // New CS form
          .cs-new.row(ng-if="csStep == 'csCreate'")
            .col-sm-9.col-xs-12
              form(name="newCsForm")
                .form-group
                  label Title
                  div(ng-class="{'has-error': newCsForm.title.$invalid}")
                    input.form-control(type="text" ng-model="newCs.title" name="title" required ng-maxlength="50")
                    .has-error.help-block(ng-if="newCsForm.title.$error.required")
                      | required
                    .has-error.help-block(ng-if="newCsForm.title.$error.maxlength")
                      | max 50 characters
                .form-group
                  label Description
                  div(ng-class="{'has-error': newCsForm.description.$invalid}")
                    textarea.form-control(ng-model="newCs.description" name="description" rows="3" required ng-maxlength="255")
                    .has-error.help-block(ng-if="newCsForm.description.$error.required")
                      | required
                    .has-error.help-block(ng-if="newCsForm.description.$error.maxlength")
                      | max 255 characters
                .form-group
                  label Notes
                  div(ng-class="{'has-error': newCsForm.notes.$invalid}")
                    textarea.form-control(ng-model="newCs.notes" name="notes" rows="3" ng-maxlength="255")
                    //.has-error.help-block(ng-if="newCsForm.notes.$error.required")
                    //  | required
                    .has-error.help-block(ng-if="newCsForm.notes.$error.maxlength")
                      | max 255 characters
              .buttons
                a.btn.btn-default.pull-left(ng-click="getCsList()")
                  span.glyphicon.glyphicon-menu-left
                  | Go Back
                a.pull-right.btn.btn-success.btn-xs(ng-disabled="newCsForm.$invalid" ng-click="createNewCs()")
                  | Create

        // Show CS
        div(ng-if="currentCs")
          h3
            | Folder list
            a.btn.btn-success.pull-right.ml-5(ng-click="chooseUsers()")
              span.fa.fa-users.mr-5
              | Group members
            a.btn.btn-success.pull-right.ml-5(ng-click="sharedNotebook()")
              span.fa.fa-bookmark-o.mr-5
              | Shared notebook
            a.btn.btn-success.pull-right.ml-5(ng-click="refreshCsFolders()")
              span.fa.fa-refresh.mr-5
              | Refresh
          a.btn.btn-success.mb-15(ng-click="addFolderCs()")
            span.glyphicon.glyphicon-plus.mr-5
            | Add folder
          div.folder-tree(ng-if="currentCs.folders.length" ui-tree='treeOptions')
            ol.folder-list(ui-tree-nodes='', ng-model='currentCs.folders' data-max-depth="1")
              li.folder(ng-repeat='folder in currentCs.folders', ui-tree-node='' data-collapsed="true")
                .tree-node.tree-node-content(ng-click='toggleFolder(folder)')
                  span.glyphicon.glyphicon-move.mr-5(ui-tree-handle='')
                  | {{folder.title}} ({{folder.items.length}})
                  a.pull-right
                    span.glyphicon(ng-class="{'glyphicon-chevron-right': !folder.isOpen, 'glyphicon-chevron-down': folder.isOpen}")

                  a.pull-right.btn.btn-danger.btn-xs.mr-5(ng-click='deleteFolderCs($event, folder)')
                    span.glyphicon.glyphicon-trash
                  a.pull-right.btn.btn-default.btn-xs.mr-5(ng-click='editFolderCs($event, folder)')
                    span.glyphicon.glyphicon-pencil

                ol.item-list(ui-tree-nodes='', ng-model='folder.items', ng-class='{hidden: !folder.isOpen}' data-max-depth="1" data-folder-id="{{folder.id}}")
                  li.item(ng-repeat='item in folder.items', ui-tree-node='')
                    .tree-node.tree-node-content(ng-class="{'current-preview-item': item.id == previewItem.id}" ng-attr-id="folder-item-{{item.id}}")
                      a(ng-if="item.entityType == 'DE'" ng-click="goToItem(item)")
                        span.glyphicon.glyphicon-move.mr-5(ui-tree-handle='')
                        | DE
                        span(ng-if="item.entity.deTitle") &nbsp;- {{item.entity.deTitle | limitTo: 20}}{{item.entity.deTitle.length < 20 ? '' : ' ...'}}
                        span(ng-if="item.entity.collection.collectionAbbreviation") &nbsp;- {{item.entity.collection.collectionAbbreviation}}
                        span(ng-if="item.entity.volume.volumeNo") &nbsp;- {{item.entity.volume.volumeNo}}
                        span(ng-if="item.entity.insert.insertNo") &nbsp;- {{item.entity.insert.insertNo}}

                      a(ng-if="item.entityType == 'BIO'" ng-click="goToItem(item)")
                        span.glyphicon.glyphicon-move.mr-5(ui-tree-handle='')
                        | Bio
                        span(ng-if="item.entity.mapNameLf") &nbsp;- {{item.entity.mapNameLf}}

                      a(ng-if="item.entityType == 'GEO'" ng-click="goToItem(item)")
                        span.glyphicon.glyphicon-move.mr-5(ui-tree-handle='')
                        | Geo
                        span(ng-if="item.entity.placeName") &nbsp;- {{item.entity.placeName}}

                      a(ng-if="item.entityType == 'LINK'" ng-click="goToLink(item.entity.link)")
                        span.glyphicon.glyphicon-move.mr-5(ui-tree-handle='')
                        | Link
                        span(ng-if="item.title") &nbsp;- {{item.title}}

                      span(ng-if="item.entityType == 'FILE'")
                        span.glyphicon.glyphicon-move.mr-5(ui-tree-handle='')
                        | File
                        span(ng-if="item.title") &nbsp;- {{item.title}}

                      a.pull-right.btn.btn-danger.btn-xs(ng-click='deleteCsFolderItem(folder, item, $index)')
                        span.glyphicon.glyphicon-trash

                      a.pull-right.btn.btn-default.btn-xs.mr-5(ng-if="item.entityType == 'FILE'" ng-click='downloadCsFile(item)')
                        span.glyphicon.glyphicon-download-alt

                      a.pull-right.btn.btn-default.btn-xs.mr-5(ng-click='showItemPreview(item)' ng-if="item.entityType != 'FILE' && item.entityType != 'LINK'")
                        span.glyphicon.glyphicon-eye-open

                  .new-item-btns
                    a.btn.btn-success(ng-click="addBioGeoCs(folder)")
                      span.glyphicon.glyphicon-plus.mr-5
                      | Add bio or place
                    a.btn.btn-success.ml-5(ng-click="addFileCs(folder)")
                      span.glyphicon.glyphicon-plus.mr-5
                      | Upload file from my computer
                    a.btn.btn-success.ml-5(ng-click="addLinkCs(folder)")
                      span.glyphicon.glyphicon-plus.mr-5
                      | Add link
                    a.btn.btn-success.ml-5(ui-sref='mia.docentities')
                      span.glyphicon.glyphicon-plus.mr-5
                      | Add my Document

          .preview-folder-item2.cursor-pointer(ng-if="previewItem && previewItem.entity" ng-click="goToItem(previewItem)")
            .preview-obj
              .close-btn
                i.glyphicon.glyphicon-remove-circle(ng-click="closePreviewItem()")
              .content
                include partials/case-study/preview-folder-item


//---------------------------------------------
//
//----------- PANEL FOR FILEUPLOAD ------------
//
//---------------------------------------------
.sidebar-first-panel(
  ng-if="uploadPanel && uploadFileStep",
  ng-class="{'panel-big-sidebar': !sidebarCollapsed}")
  .upload
    .panel-header
      h2
        | {{ 'sidebar.UPLOAD' | translate }}
        i.glyphicon.glyphicon-circle-arrow-left.clickable(ng-click="closeUploadPanel()")
    .panel-content
      form(name='uploadForm')
        fieldset
        .row
          .col-xs-12
            h3
              i.glyphicon.glyphicon-picture.icon-title
              | {{ 'sidebar.UPLOADIMG' | translate }}
        .row(ng-hide="picFiles.length")
          .col-xs-2.col-xs-offset-1
            label {{'sidebar.upload.PHOTO' | translate}}
          .col-xs-6
            label(for="file" class="custom-file-upload" ng-click="getFiles()")
              .btn.btn-success
                | {{'sidebar.upload.CHOOSEIMG' | translate}}
            input#file-upload.form-control(
              type='file',
              ngf-select='',
              ng-model='picFiles',
              name='file',
              accept='.jpg, .jpeg, .tiff, .tif',
              ngf-max-total-size='300MB',
              ngf-max-files="30",
              ngf-min-height="500",
              ngf-min-width="500",
              ngf-max-size="30MB",
              ngf-model-invalid="invalidFiles",
              ngf-fix-orientation="false",
              ngf-validate-fn="validateSelectedFile($file)",
              multiple,
              required,
              style="color:#663333;background-color:#eae9e8; border: 1px solid #333; border-radius:3px;")
          .col-xs-3
              br
        .row
          .col-xs-11.col-xs-offset-1
            .required.ml-0(ng-show='uploadForm.file.$error.required')
              | {{ 'general.REQUIRED' | translate }}
            .required.ml-0(ng-show="uploadForm.file.$error.maxFiles")
              | {{ 'sidebar.upload.TOOMANYFILES' | translate }}
            .required.ml-0(ng-show="uploadForm.file.$error.maxTotalSize")
              | {{ 'sidebar.upload.UPLOADBIG' | translate }}
        .row(ng-if="invalidFiles.length > 0")
          .col-xs-11.col-xs-offset-1
            h4
              | {{ 'singleAentity.FILESREJECTED' | translate }}
        .row(ng-repeat="singlefile in invalidFiles")
          .col-xs-6.col-xs-offset-1(style="word-wrap: break-word;")
              | {{singlefile.name}}
          .col-xs-5
            .required.mti-0(ng-show="singlefile.$error === 'minWidth' || singlefile.$error === 'minHeight'")
                | {{ 'singleAentity.FILESMALERR' | translate }}
            .required.mti-0(ng-show="singlefile.$error === 'maxSize'")
                | {{ 'sidebar.upload.FILEBIG' | translate }}
            .required.mti-0(ng-show="singlefile.$error === 'invalidType'")
                | {{ 'sidebar.upload.FILETYPE' | translate }}
            .required.mti-0(ng-show="singlefile.$error === 'validateFn'")
              | {{singlefile.$errorParam}}
        .row(ng-if="picFiles.length === 0 && invalidFiles.length > 0")
          .col-xs-10.col-xs-offset-1
            h5
              | {{ 'singleAentity.FILEALLEJECTED' | translate }}         
        .row(ng-if="picFiles.length")
          .col-xs-11.col-xs-offset-1
            h4
              | {{ 'singleAentity.FILETOUP' | translate }}
        .row(ng-repeat="picFile in picFiles")
          .col-xs-8.col-xs-offset-1(style="word-wrap: break-word;")
              | {{picFile.name}}
          .col-xs-3
            button.btn.btn-xs.btn-success(ng-click='picFiles.splice($index,1)', ng-show='picFile && !uploadFinished')
              | {{'sidebar.upload.REMOVE' | translate}}
            span.progress(ng-show='picFile.progress >= 0')
              div(style='width:{{picFile.progress}}%', ng-bind="picFile.progress + '%'")
            span(ng-show='picFile.result') {{'sidebar.upload.SUCCESS' | translate}}
            span.err(ng-show='errorMsg') {{errorMsg}}
        .row
          .col-xs-11.col-xs-offset-1
            .btn-group.bottom-buttons
              button.btn.btn-xs.btn-success.ladda-button.main-button(ladda-button="uploadLoader" data-style="expand-right" ng-disabled='!picFiles.length', ng-click='uploadFiles(picFiles)' style="background-color: #663333; color: #fff; border: solid 2px #383635;")
                span.ladda-label
                  | {{'sidebar.UPLOAD' | translate}}
              button.btn.btn-xs.btn-warning(ng-click='gotoMetadataStep()' ng-if="!uploadLoader")
                | {{'general.BACK' | translate}}
              button.btn.btn-xs.btn-warning(ng-click='uploadDone()' ng-if="!uploadLoader")
                | {{'general.CLOSE' | translate}}
style(type='text/css').
    .button-with-counter { 
      height: 50px;
      max-height: 50px; 
    }