div(ng-controller="addSeriesController")
  .modal-header
    h3.modal-title(ng-show="!addNew && collectionId") {{ 'sidebar.addSeries.TITLE' | translate }}
    h3.modal-title(ng-show="addNew || !collectionId") {{ 'sidebar.addSeries.ADDTITLE' | translate }}
  .modal-body
    //
    // SEARCH
    //
    .search-form(ng-show="!addNew && collectionId")
      form.form-horizontal
        .row.form-group
          .col-xs-3.col-xs-offset-1
            label.control-label {{ 'sidebar.upload.SERIES' | translate }}
          .col-xs-6
            .input-group
              input.form-control(
              type="text"
              placeholder="{{ 'sidebar.addSeries.INSTRUCT' | translate }}"
              ng-model="queryString"
              ng-change="getSeries(queryString)")
        .row
          .col-xs-12
            table.table.table-hover(ng-if="showTable && possibleSeries.length")
              thead
                tr
                  th
                    | #
                  th
                    | {{ 'sidebar.addSeries.NAME' | translate }}
                  th
                    | {{ 'sidebar.addSeries.SUBTITLE' | translate }}
              tbody
                tr(
                ng-repeat="series in possibleSeries"
                ng-click="saveSeries(series)")
                  th
                    | {{series.seriesId}}
                  th
                    | {{series.seriesName}}
                  th
                    | {{series.seriesSubtitle}}
            .row(ng-show='showTable && !possibleSeries.length')
              .col-xs-10.col-xs-offset-2
                i.glyphicon.glyphicon-remove
                span(ng-if="!fromSearch") {{ 'sidebar.addSeries.NOTFOUND' | translate }}
                span(ng-if="fromSearch") {{ 'sidebar.addSeries.NOTFOUNDFS' | translate }}
    //
    // ADD
    //
    .search-form(ng-show="addNew || !collectionId")

      form.form-horizontal(name="serieForm")
          .row
            .col-xs-6
              .form-group
                label.control-label.col-sm-5
                  | {{ 'sidebar.addSeries.NAME' | translate }}
                  span.required-error(ng-if="serieForm.serieName.$error.required")
                    br
                    | {{ 'general.REQUIRED' | translate }}
                .col-sm-7
                  input.form-control(type="text" name="serieName" required ng-model="newSeries.seriesName" ng-class="{'has-error':serieForm.serieName.$error.required}")
            .col-xs-6
              .form-group
                label.control-label.col-sm-5
                  | {{ 'sidebar.addSeries.SUBTITLE' | translate }}
                .col-sm-7
                  input.form-control(type="text" ng-model="newSeries.seriesSubtitle")
    .search-form
      form.form-horizontal
        .form-group
          .col-sm-8.col-sm-offset-4.btn-group
            //button.btn.btn-default.btn-xs(
              ng-click='switchNew()'
              ng-if="!addNew && collectionId")
                | {{ 'sidebar.addSeries.ADDNEW' | translate }}
            //button.btn.btn-default.btn-xs(
              ng-click='switchNew()'
              ng-if="addNew && collectionId")
                | {{ 'sidebar.addSeries.CHOSEOLD' | translate }}
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-disabled="serieForm.$invalid"
            ng-click="saveSeries(newSeries)"
            ng-if="!fromSearch")
              | {{ 'general.SAVE' | translate }}
