div
  .form-group
    .col-xs-3
      label(for="peopleSearchQuery") Name to search
      input.form-control(type="text" ng-model="peopleSearchQuery" name="peopleSearchQuery" placeholder="insert search here")
    .col-xs-3
      label(for="searchWhere") Define where to search
      select.form-control(name="peopleSearchWhere" ng-model="peopleSearchWhere")
        option(value="ALL_NAME_TYPES") All name types
        option(value="APPELLATIVE") Appelative
        option(value="FAMILY") Family
        option(value="GIVEN") Given
        option(value="MAIDEN") Maiden
        option(value="MARRIED") Married
        option(value="PATRONIMIC") Patronimic
    .col-xs-2
      button.btn.btn-success.search-button(ng-click="wordSearchPeople(peopleSearchQuery, peopleSearchWhere)" ng-disabled="!peopleSearchQuery || !peopleSearchWhere")
        | Search
