.mod-de-container{
/***********************************************************************************
    DOCUMENT LIST
  ***********************************************************************************/
  .document-list{
    cursor: pointer;
  }
  .single-doc-result{
    cursor: pointer;
  }

  /***********************************************************************************
    DOCUMENT ENTITY
  ***********************************************************************************/

  .section-title {
    h3 {
    text-align: center;
    color:#fff;
    }
  }

  .de-internal-section {
    min-height: 250px;
  }

  .thumbs-row{
    margin-bottom: 10px;
  }
  .viewing {
    border: 3px solid @brand-selected;
  }

  .drop-area {
    margin: 5px;
    padding:10px;
    border: solid 2px @brand-primary;
    min-height: 250px;
    border: solid 2px @brand-primary;
    background-image: url("../img/drag-bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .drop-area-de {
    margin: 5px;
    padding:10px;
    border: solid 2px @brand-primary;
    border: solid 2px @brand-primary;
    background-color: #fff;
    background-image: url("../img/drag-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    overflow: scroll;
  }

  .dropareafull {
    background:none;
    background-color: #fff;
  }

  .edit-folio-data {
    background-color: #fff;
  }

  .micro-thumb {
    margin-top: 20px;
    img {
      width:100%;
    }
  }

  .date-accaccordion{
    .panel{
      background-color: @gray-light;
      label{
        color:@gray-lighter;
      }
    }
    .panel-group{
      .panel-heading {
        background-color: @gray;
        .panel-title > a{
          color:@gray-lighter;
        }
      }
      .panel-body {
        color:@gray-lighter;
      }
    }
  }

  .panel-group .col-xs-10 {
    width: 70%;
  }

  .panel-group .col-xs-2 {
    width: 30%;
  }



  .doc-left-col-cont{
    min-height: 600px;
    .doc-left-col{
      margin-top:10px;
      .document-scroller{
        img{
          width:100%;
          margin-top: 10px;
        }
        i{
          font-size: @font-size-h1;
          line-height: 71px;
        }
      }
    }
  }

  .onviewer{
    border: 2px solid @gray-dark;
  }
  .table-results-loading{
    min-height: 70px;
    text-align: center;
  }
  .table-results{
    max-height: 250px;
    font-size: 10px;
    overflow-y: scroll;
    width: 96.4%;
    margin-left: 15px;
    background-color: #e1e1e1;
    margin-top: -15px;
    border: 1px solid #fff;
    color:@gray-dark;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.31);
    box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.31);
    .table-header {
      font-weight: bold;
      z-index:10;
      color: @gray-dark;
      border-bottom: 2px solid @brand-primary;
    }
    .table > thead > tr > td, .table > tbody > tr > td {
      padding: 3px;
    }
    .table-hover > tbody > tr:hover{
      color:#fff;
    }
  }

  input.has-error{
    border: 3px solid @brand-primary !important;
  }

  .required-error{
    color:@brand-primary;
    font-size: @font-size-small;
  }

  .document-preview{
    .document-scroller{
      img{
        width:100%;
        margin-top: 10px;
      }
      i{
        font-size: @font-size-h1;
        top: 30px;
        position: relative;
      }
    }
  }

  .details-box{
    border:1px solid @gray-dark;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-right: 8px;
    margin-bottom: 10px;
    max-height: 400px;
    overflow: auto;
    h5{
      border-bottom: 1px solid @brand-primary;
    }
    .label-field{
      font-size: @font-size-base;
      font-weight: @font-weigth-bold;
      color:@gray-dark;
    }
    .edit-doc-ent{
      margin-top: -35px;
      cursor: pointer;
    }
    .producer, .recipient{
      margin-bottom: 5px;
      border-bottom: 1px solid @brand-primary;
    }
  }
  .clear{
    clear:both;
  }

  .dir-container{
    width:100%;
  }

  .btn-add-new{
    color:@gray-dark;
    margin-bottom: 15px;
  }

  .btn-add-new-mb-5{
    color:@gray-dark;
    margin-bottom: 5px !important;
  }

  .date-year, .date-month, .date-day{
    float: left;
    padding: 3px;
    width:25%;
  }
  .date-month{
    width:50%;
  }
  .date-modern{
    padding: 3px;
    width:25%;
  }
  /***********************************************************************************
    MODIFY DOCUMENT ENTITY
  ***********************************************************************************/
  .label{
    color:@gray-dark;
    font-style: italic;
  }
  .fields{
    color:@brand-success;
  }
  .summary{
    width:100%;
    border-radius: 5px;
    background: @gray-lighterer;
    color: @gray-dark;
    margin-bottom: 10px;
    padding: 10px;
    .fields{
      font-size: @font-size-base;
    }
  }

  .label-doc-ent{
    color:@gray-dark;
    font-weight: @font-weigth-light;
    font-size: 85%;
    color: @gray;
    font-style: italic;
  }

  .doc-summary-typology{
    color:#6023ad
  }

.doc-summary-place-name{
  color:@green-success
}

  .document-header {
    .buttons{
      float: right;
    }
    .doc-title {
      font-size: @font-size-h3;
      font-weight: @font-weigth-light;
    }
    .open-close {
      float:left;
    }
    .fullscreen {
      float:left;
      margin-left: 10px;
    }
    .synopsis {
      float:left;
      font-size: 14px;
      .synopsis-input{
        width:350px;
        .save-button{
          padding-left: 10px;
        }
      }
      .edit-syn{
        color: @gray-dark;
        font-size: 10px;
      }
    }
  }

  .document-details{
    .panel-title-desc {
      width:95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: @gray-dark;
      font-weight: @font-weigth-bold;
      font-family: @font-family-sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      .content-preview {
        font-weight: @font-weigth-light;
        color: @gray-light;
        text-transform: none;
      }
      i{
        float:none;
      }
    }
    i{
      text-align: center;
      color:white;
      font-size: 12px;
    }
    i.acc-icon{
      float:right;
      margin-top: -15px;
      margin-right: -8px;
      color:@brand-primary;
    }
    .doc-details-accordion{
      .inner-title{
        width:100%;
        button{
          float: right;
        }
      }
      textarea.inner-content{
        width:100%;
        min-height: 130px;
        color:@gray-darker;
      }
      .panel{
        background-color: @gray-lighterer;
        border: 0;
        label{
          color:@gray-dark;
        }
      }
      .panel-group{
        .panel-heading{
          background-color: @gray-lighterer;
          .panel-title > a{
            color:@gray-dark;
          }
        }
        .panel-body {
          color:@gray-dark;
          .small-edit-button{
            float:right;
          }
        }
      }
    }
  }

  .panel-group .panel {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: @font-family-sans-serif;
  }

  .panel-group {
    margin-bottom: 0px;
    margin-top: -10px;
  }

  .panel-title {
    color: @gray-dark;
    font-size: 12px;
    i{
      font-size: 12px;
    }
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid white;
  }

  hr {
      border-top: 1px solid @gray-30;
  }

  .open-all:hover{
    background-color: @brand-primary;
    border-radius: 3px;
    color: white;
    i {
      color:white;
    }
  }
  .fullscreen-link{
    // width: 100%;
    // text-align: center;
    // position: relative;
    // top: 33px;
    // left: 20px;
    color: @gray-30;
    border: 1px solid @gray-30;
    padding: 3px;
    border-radius: 4px;
    i {
      color: @brand-primary;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }
  .box-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .edit-image-btn{
    width: 100%;
    text-align: center;
    margin-top:10px;
  }

  .btn-xxs{
    padding-left: 5px;
    padding-right: 5px;
    i {
      color:@brand-success;
    }
  }
}