.row
  .col-xs-12(ng-if="!documentEntity.flgLogicalDelete && (documentEntity.privacy == 1 && documentEntity.owner != me.account) && !secAuthorize(['ADMINISTRATORS'])")
    span.mr-10
      |  This is a private document.
    a.btn.btn-xs.btn-xxs.btn-success(ng-click="requestAccess(documentEntity)" ng-if="!documentEntity.canView")
      | Request access to this document

.row.mod-de-container(ng-if="(!documentEntity.flgLogicalDelete && (documentEntity.privacy == 0 || documentEntity.privacy == 2 || (documentEntity.privacy == 1 && documentEntity.owner == me.account))) || secAuthorize(['ADMINISTRATORS'])")
  .col-sm-6.col-xs-12.doc-left-col-cont(ng-if="documentEntity.documentId")
    //-------------------//
    //       Summary     //
    //-------------------//
    .doc-left-col
      .box-container
        .doc-ae-info
          doc-ae-info-dir(info='documentEntity.uploadFiles[0]' de-info="documentEntity" current-folios='currentFolios' image-id='currentImageOrFileId')
        .doc-sys-info
          doc-sys-info-dir(info='documentEntity')

      .row
        .col-xs-12
          doc-summary-dir

      include partials/collation-info.jade

      .row.mt-15
        .col-xs-12
          span.mr-10(ng-if="documentEntity.privacy == 1 || documentEntity.privacy == 2" style="color: red; text-decoration: underline;")
            |  {{ 'modal.THISDEISPRIVATE' | translate }}
          a.btn.btn-xs.btn-xxs.btn-success.mr-5(ng-click="addToCollation()" ng-class="{disabled: documentEntity.hasAttachment || documentEntity.hasLacuna || documentEntity.privacy != 0}" ng-if="filesView.length > 0 && filesView[0].uploadFileId != -1 && documentEntity.canView")
            | Reconstruct
          a.btn.btn-xs.btn-xxs.btn-success(ng-click="gotoComments()" ng-if="documentEntity.canView")
            | Comments
          a.btn.btn-xs.btn-xxs.btn-success(ng-click="requestAccess(documentEntity)" ng-if="!documentEntity.canView")
            | Request access to document

          a.btn.btn-xs.btn-xxs.btn-success.ml-5(ng-click="addToCS()")
            | Add to Project

      //-------------------//
      //       Viewer      //
      //-------------------//
      .row
        .col-xs-12
          hr
      .row(ng-if="filesView.length > 0 && filesView[0].uploadFileId != -1  && documentEntity.canView")
        .col-xs-12
          .edit-image-btn
            button.btn.btn-default(ng-click="addPicToDe()")
              span.open-all
                | {{ 'general.EDIT' | translate }} images in this document
        .col-xs-12
          span
            | &nbsp;
      .row.document-scroller.flex-row(ng-if="documentEntity.canView && filesView.length > 0 && filesView[0].uploadFileId != -1")
        .col-xs-1.flex-center
          i.ion-android-arrow-back.text-icon.cursor-pointer(ng-if="filesView.length > 6 && limit > 0 " ng-click="changeLimit(-1)")
        .col-xs-10
          .row.flex-row.flex-center
            .col-xs-2.col-centered(ng-repeat="thumb in documentEntity.uploadFiles | orderBy: 'imageOrder'" ng-if="$index>=limit && $index<=limit+5")
              .view.view-first.de-image.cursor-pointer(ng-click="updateViewer(thumb)")
                img.m-0(ng-src="{{thumb.filePath}}", ng-class="{viewing: thumb.highlighted}" ng-if="thumb.canView")
                img.m-0(ng-src="img/privateImage.png", ng-class="{viewing: thumb.highlighted}" ng-if="!thumb.canView")
                //- .mask
                //-     h2
                //-       | &nbsp;
                //-     span.delete-button
                //-       .btn-group.eye-btn
                //-         img(src="img/icons-new/show-image-icon-14x14.png")
              folio-numb-dir(thumb="thumb" ng-if="thumb.canView")
        .col-xs-1.flex-center
          i.ion-android-arrow-forward.text-icon.cursor-pointer(ng-if="filesView.length > 6 && filesView.length != lastShownImageIndex" ng-click="changeLimit(1)")
      .row
        .col-xs-12
          span
            | &nbsp;
      .row(ng-if="filesView.length > 0 && filesView[0].uploadFileId != -1 && documentEntity.canView")
        .col-xs-12
          a.fullscreen-link(ng-click="openTranscriptor()")
            | Show Fullscreen / Live Transcription &nbsp;
            i.ion-arrow-expand
          .clear
          iframe.js-viewer(ng-src="{{viewerAddress}}")
      //- .row.document-scroller.flex-row(ng-if="documentEntity.canView && filesView.length > 0 && filesView[0].uploadFileId != -1")
      //-   .col-xs-1.flex-center
      //-     i.ion-android-arrow-back.text-icon.cursor-pointer(ng-if="filesView.length > 6 && limit > 0 " ng-click="changeLimit(-1)")
      //-   .col-xs-10
      //-     .row.flex-row.flex-center
      //-       .col-xs-2.col-centered(ng-repeat="thumb in documentEntity.uploadFiles | orderBy: 'imageOrder'" ng-if="$index>=limit && $index<=limit+5")
      //-         .view.view-first.de-image.cursor-pointer(ng-click="updateViewer(thumb)")
      //-           img.m-0(ng-src="{{thumb.filePath}}", ng-class="{viewing: thumb.highlighted}" ng-if="thumb.canView")
      //-           img.m-0(ng-src="img/privateImage.png", ng-class="{viewing: thumb.highlighted}" ng-if="!thumb.canView")
      //-           //- .mask
      //-           //-     h2
      //-           //-       | &nbsp;
      //-           //-     span.delete-button
      //-           //-       .btn-group.eye-btn
      //-           //-         img(src="img/icons-new/show-image-icon-14x14.png")
      //-         folio-numb-dir(thumb="thumb" ng-if="thumb.canView")
      //-   .col-xs-1.flex-center
      //-     i.ion-android-arrow-forward.text-icon.cursor-pointer(ng-if="filesView.length > 6 && filesView.length != lastShownImageIndex" ng-click="changeLimit(1)")
      //- .row(ng-if="filesView.length > 0 && filesView[0].uploadFileId != -1  && documentEntity.canView")
      //-   .col-xs-12
      //-     .edit-image-btn
      //-       button.btn.btn-default(ng-click="addPicToDe()")
      //-         span.open-all
      //-           | {{ 'general.EDIT' | translate }} images in this document
      //- //- .row(ng-if="(!filesView.length && documentEntity.canView) || (filesView.length == 1 && filesView[0].uploadFileId != -1 && documentEntity.canView)")
      //- .row(ng-if="!filesView.length")      
      //-   .col-xs-12
      //-     img.m-0(ng-src="images/1024/img_toBeDigitizedDocument.png", ng-class="{viewing: thumb.highlighted}" ng-if="!thumb.canView")
  //-------------------//
  //     Right col     //
  //-------------------//
  .col-sm-6.col-xs-12(ng-if="documentEntity.canView")
    .box-container(id="transcriptionAligner" style="opacity: 0; display: none;")
      .doc-ae-info.col-xs-6
        doc-ae-info-dir(info='documentEntity.uploadFiles[0]' de-info="documentEntity" current-folios='currentFolios' image-id='currentImageOrFileId')
      .doc-sys-info.col-xs-6
        doc-sys-info-dir(info='documentEntity')
    .row(id="transcriptionAlignerRow" style="opacity: 0; display: none;")
      .col-xs-12
        doc-summary-dir
    .document-details
      //------------------------------
      // Transcription and related doc
      //------------------------------
      accordion.doc-details-accordion
        accordion-group(is-open='sections[0].open')
          accordion-heading
            .panel-title-desc
              | {{sections[0].name}} 
              span.content-preview
                | - click to show/hide
              //- span.content-preview(ng-repeat="trans in transcriptions")
              //-   | {{ trans.transcription | limitTo : 15 }}
              //-   | &hellip;
            i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
          .content
              doc-transcription-dir(transcriptions="transcriptions" images="documentEntity.uploadFiles")
              hr.success
              doc-synopsis-dir(synopsis="synopsis")
              hr.success
              span(ng-if="projectName == 'Falconieri'")
                doc-chinese-synopsis-dir(synopsis="chineseSynopsis")
              hr.success
            .single-transcription
              .row
                .col-xs-12
                  .label.inner-title Bibliographical References
              .row
                .col-xs-12
                  .transcriptions(ng-repeat="biblio in biblioRef")
                    biblio-ref-dir(biblio="biblio" on-cancel="cancelBiblioRef(biblio)")
              .row(ng-if="canAddBiblio")
                .col-xs-12
                  button.btn.btn-xs.btn-success(ng-click="addNewBiblioRef()") {{ 'general.ADD' | translate }} Reference
      //------------------------------
      // Documents details
      //------------------------------
      accordion.doc-details-accordion
        accordion-group(is-open='sections[1].open')
          accordion-heading
            .panel-title-desc
              | {{sections[1].name}} - &nbsp;
              span.content-preview
                | {{feCategory}}, {{basic.typology}} || &nbsp;
                span {{ basic.docYear || '--'}}/
                span(ng-repeat="month in months" ng-if="month.id===basic.docMonth") {{month.name || '--'}}/
                span {{basic.docDay || '--'}}
            i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
          .content
            .col-xs-12
              .row
                .col-xs-3
                  .label {{ 'editDE.CATTYPE' | translate }}
                .col-xs-9
                  span.fields {{feCategory}}
            .col-xs-12
              .row
                .col-xs-3
                  .label {{ 'editDE.TYPE' | translate }}
                .col-xs-6
                  span.fields(ng-if="!editingType" ng-click="editBasic('type')") {{basic.typology}}
                  span.fields(ng-if="editingType")
                    select.form-control(name="typology"
                    ng-model="basic.typology"
                    ng-options="elem for elem in typologies"
                    ng-change="saveBasic('type')")
                .col-xs-3
                  button.btn.btn-xs.btn-xxs.btn-xxs.btn-success(ng-click="editBasic('type')" ng-show="!editingType")
                    | {{ 'general.EDIT' | translate }}
              .row
                .col-xs-12
                  hr
            .col-xs-12(ng-if="!basic.docUndated")
              .row
                .col-xs-3
                  .label {{ 'editDE.MODYEAR' | translate }}
                .col-xs-6
                  span.fields(ng-if="!editingMYear && basic.docModernYear" ng-click="editBasic('moYear')") {{basic.docModernYear}}
                  input(type="number", ng-model="basic.docModernYear", ng-if="editingMYear", placeholder="modern year")
                .col-xs-3
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="editBasic('moYear')" ng-show="!editingMYear")
                    | {{ 'general.EDIT' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveBasic('moYear')" ng-show="editingMYear" )
                    | {{ 'general.SAVE' | translate }}
                    
            .col-xs-12(ng-if="!basic.docUndated")
              .row
                .col-xs-3
                  .label {{ 'editDE.DATE' | translate }}
                .col-xs-6
                  span.fields(ng-click="editBasic('date')")
                    div(ng-if="!editingDate")
                      span {{ basic.docYear || '--'}} /
                      span(ng-repeat="month in months" ng-if="month.id===basic.docMonth") {{month.name || '--'}} /
                      span {{basic.docDay || '--'}}
                    fieldset.form-group(ng-if="editingDate")
                      //- .row
                      //-   .col-xs-12
                      //-     .label {{ 'deMeta.YEAR' | translate }}
                      //-     input.form-control(name="docYearInput" type="number" placeholder="{{ 'deMeta.ENTERYEAR' | translate }}" ng-model='basic.docYear' ng-minlenght="1" ng-maxlenght="4" min="1" max="2050" ng-disabled="docYearInput.$invalid")
                      //- .row
                      //-   .col-xs-12
                      //-     .label {{ 'deMeta.MONTH' | translate }}
                      //-     select.form-control(ng-options="month.id as month.name for month in months" ng-model='basic.docMonth')
                      //- .row
                      //-   .col-xs-12
                      //-     .label {{ 'deMeta.DAY' | translate }}
                      //-     input.form-control(name="docDayInput" type="number" placeholder="{{ 'deMeta.ENTERDAY' | translate }}" ng-model='basic.docDay' ng-minlenght="1" ng-maxlenght="2" min="1" max="31" ng-disabled="docDayInput.$invalid")
                      .row
                        .col-xs-3
                          .label {{ 'deMeta.YEAR' | translate }}
                        .col-xs-6
                          span.fields
                            input.form-control(name="docYearInput" type="number" placeholder="{{ 'deMeta.ENTERYEAR' | translate }}" ng-model='basic.docYear' ng-minlenght="1" ng-maxlenght="4" min="1" max="2050" ng-disabled="docYearInput.$invalid")
                      .row
                        .col-xs-3
                          .label {{ 'deMeta.MONTH' | translate }}
                        .col-xs-6
                          span.fields
                            select.form-control(ng-options="month.id as month.name for month in months" ng-model='basic.docMonth')
                      .row
                        .col-xs-3
                          .label {{ 'deMeta.DAY' | translate }}
                        .col-xs-6
                          span.fields
                            input.form-control(name="docDayInput" type="number" placeholder="{{ 'deMeta.ENTERDAY' | translate }}" ng-model='basic.docDay' ng-minlenght="1" ng-maxlenght="2" min="1" max="31" ng-disabled="docDayInput.$invalid")                           
                .col-xs-3
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="editBasic('date')" ng-show="!editingDate")
                    | {{ 'general.EDIT' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-if="!docDayInput.$invalid || !docYearInput.$invalid" ng-click="saveBasic('date')" ng-show="editingDate")
                    | {{ 'general.SAVE' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-if="docDayInput.$invalid || docYearInput.$invalid" ng-click="saveBasic('date')" ng-show="editingDate" disabled)
                    | {{ 'general.SAVE' | translate }}
      
            .col-xs-12
              .row
                .col-xs-3
                  .label {{ 'editDE.DATEUNC' | translate }}
                .col-xs-6
                  span.fields(ng-if="!editingDateUnc" ng-click="editBasic('dateUnc')")
                    | {{basic.docDateUncertain ? "Yes" : "No"}}
                  input(type="checkbox" name="docDateUncertain" ng-model="basic.docDateUncertain" ng-if="editingDateUnc" ng-true-value="1" ng-false-value="0")
                .col-xs-3
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="editBasic('dateUnc')" ng-show="!editingDateUnc")
                    | {{ 'general.EDIT' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveBasic('dateUnc')" ng-show="editingDateUnc" )
                    | {{ 'general.SAVE' | translate }}  
              
              .row
                  .col-xs-12
                    hr


            .col-xs-12
              .row
                .col-xs-3
                  .label {{ 'editDE.DOCUND' | translate }}
                .col-xs-6
                  span.fields(ng-if="!editingDocUndate" ng-click="editBasic('docUndate')")
                    | {{basic.docUndated ? "Yes" : "No"}}
                  input(type="checkbox" name="docUndated" ng-model="basic.docUndated" ng-if="editingDocUndate" ng-true-value="1" ng-false-value="0")
                .col-xs-3
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="editBasic('docUndate')" ng-show="!editingDocUndate")
                    | {{ 'general.EDIT' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveBasic('docUndate')" ng-show="editingDocUndate" )
                    | {{ 'general.SAVE' | translate }}
            
            
            .col-xs-12
              .row
                .col-xs-3
                  .label {{ 'editDE.DATENOTE' | translate }}
                .col-xs-6
                  span.fields(ng-if="!editingNote" ng-click="editBasic('note')") {{basic.docDateNotes}}
                  textarea(ng-model="basic.docDateNotes" ng-if="editingNote" placeholder="type in date notes")
                .col-xs-3
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="editBasic('note')" ng-show="!editingNote")
                    | {{ 'general.EDIT' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveBasic('note')" ng-show="editingNote" )
                    | {{ 'general.SAVE' | translate }}
              .row
                .col-xs-12
                  hr
            .col-xs-12
              .row
                .col-xs-3
                  .label Document Languages
                .col-xs-6
                  .row(ng-repeat="lang in docLang")
                    .col-xs-9
                      select.form-control(ng-model="docLang[$index]" ng-if="editingLang" ng-options="langToChoose.id as langToChoose.language for langToChoose in allLang | filter: langFilter(lang)")
                      span(ng-if="!editingLang && (lang==langToChoose.id)" ng-repeat="langToChoose in allLang")
                        | {{langToChoose.language}}
                    .col-xs-3
                      button.btn.btn-xs.btn-xxs.btn-success.pull-right(ng-click="deleteLang(lang)" ng-if="editingLang")
                        | {{ 'general.DELETE' | translate }}
                .col-xs-3
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchEditLang()" ng-if="!editingLang")
                    | {{ 'general.EDIT' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchEditLang()" ng-if="editingLang")
                    | Cancel
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="addLang()" ng-if="editingLang")
                    | {{ 'general.ADD' | translate }}
                  button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveLang()" ng-if="editingLang")
                    | {{ 'general.SAVE' | translate }}

      //------------------------------
      // People
      //------------------------------
      accordion.doc-details-accordion
        accordion-group(is-open='sections[2].open')
          accordion-heading
            .panel-title-desc
              | {{sections[2].name}} - &nbsp;
              span.content-preview(ng-repeat="role in people")
                | {{ !$first && role.peoples.length && people[$index - 1].peoples.length ? ' || ' : ''}} &nbsp;
                span(ng-repeat="person in role.peoples")
                  | {{person.feData.mapNameLf}}{{$last ? '' : ' || '}}
            i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
          .content
            .single-person(ng-repeat="role in people")
              .row
                .col-xs-12.role-name       
                  //- | {{role.type}}
                  
                  //- Correspondence Category
                  span(ng-show="role.type=='Senders'") {{ 'docEntity.SENDERS' | translate }}
                  span(ng-show="role.type=='Recipient'") {{ 'docEntity.RECIPIENTS' | translate }}

                  //- Notarial Category
                  span(ng-show="role.type==\"Notary/Official\"") {{ 'docEntity.NOTARYOFFICIAL' | translate }}
                  span(ng-show="role.type=='Contractee'") {{ 'docEntity.CONTRACTEE' | translate }}
                  span(ng-show="role.type=='Contractor'") {{ 'docEntity.CONTRACTOR' | translate }}

                  //- Official Records Category
                  span(ng-show="role.type=='Issuer'") {{ 'docEntity.ISSUER' | translate }}

                  //- Inventories Category
                  span(ng-show="role.type==\"Compiler of List\"") {{ 'docEntity.COMPILEROFLIST' | translate }}
                  span(ng-show="role.type=='Commissioner'") {{ 'docEntity.COMMISSIONER' | translate }}
                
                  //- Fiscal Records Category
                  //- span(ng-show="role.type=='Taxpayer'") {{ 'docEntity.TAXPAYER' | translate }}

                  //- Financial Records Category
                  span(ng-show="role.type==\"Compiler of Account\"") {{ 'docEntity.COMPILEROFACCOUNT' | translate }}
                  span(ng-show="role.type=='CommissionerofAccount'") {{ 'docEntity.COMMISSIONEROFACCOUNT' | translate }}
                  span(ng-show="role.type=='Taxpayer'") {{ 'docEntity.TAXPAYER' | translate }}

                  //- News Category
                  span(ng-show="role.type=='Compiler'") {{ 'docEntity.COMPILER' | translate }}
                  span(ng-show="role.type=='Printer'") {{ 'docEntity.PRINTER' | translate }}

                  //- Literary Works Category
                  span(ng-show="role.type=='Author'") {{ 'docEntity.AUTHOR' | translate }}
                  span(ng-show="role.type=='Dedicatee'") {{ 'docEntity.DEDICATEE' | translate }}
                
                  //- Miscellaneous Category
                  span(ng-show="role.type=='Creator'") {{ 'docEntity.CREATOR' | translate }}
                  br
                .col-xs-12
                  .row(ng-repeat="person in role.peoples")
                    div(ng-class="{'col-xs-12':person.editPerson, 'col-xs-10':!person.editPerson}")
                      span.red-link(ng-click="openPerson(person)" ng-if="!person.editPerson" style="cursor:pointer;")
                        | {{person.feData.mapNameLf}}
                        span(ng-if="person.unsure=='u'" style="color: red;")
                          | &nbsp;- Unsure
                      span
                        mod-people-dir(ng-if="person.editPerson" person="person" role="role" on-select="savePerson(params, person)" on-cancel="cancelNewPeople(person, role)")
                    .col-xs-2(ng-if="!person.editPerson && isEditingPeople(role.peoples)")
                      .btn-group
                        //button.btn.btn-success.btn-xs.btn-xxs(ng-click="person.editPerson=!person.editPerson")
                        //  | {{ 'general.EDIT' | translate }}
                        button.btn.btn-success.btn-xs.btn-xxs(ng-click="deletePerson(person, role)")
                          | {{ 'general.DELETE' | translate }}
              .row(ng-if="isEditingPeople(role.peoples)")
                .col-xs-12
                  button.btn.btn-success.btn-xs(ng-click="addNewPerson(role)")
                    span {{ 'general.ADD' | translate }}
          .content
            .single-person
              de-related-people-dir

      //------------------------------
      // Places
      //------------------------------
      accordion.doc-details-accordion
        accordion-group(is-open='sections[3].open')
          accordion-heading
            .panel-title-desc
              | {{sections[3].name}} - &nbsp;
              span.content-preview(ng-repeat="role in places")
                | {{ !$first && role.places.length && places[$index - 1].places.length ? ' || ' : ''}}
                span(ng-repeat="place in role.places")
                  | {{place.feData.placeName}}{{$last ? '' : ' || '}}
            i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[3].open, 'glyphicon-chevron-right': !sections[3].open}")
          .content
            .single-person(ng-repeat="role in places")
              .row
                .col-xs-12  
                  //- span(ng-show="role.type!='RecipientPlace'") {{role.type}}

                  //- Correspondence Category
                  span(ng-show="role.type==\"Sender Place\"") {{ 'docEntity.SENDERPLACE' | translate }}
                  span(ng-show="role.type=='RecipientPlace'") {{ 'docEntity.RECPLACE' | translate }}
                  
                  //- Notarial Category
                  span(ng-show="role.type==\"Place Of Creation\"") {{ 'docEntity.PLACEOFCREATION' | translate }}
        
                  //- Official Records Category
                  span(ng-show="role.type==\"Place Of Issue\"") {{ 'docEntity.PLACEOFISSUE' | translate }}

                  //- Inventories Category
                  span(ng-show="role.type==\"Place Of Compilation\"") {{ 'docEntity.PLACEOFCOMPILATION' | translate }}

                  //- Fiscal Records Category
                  span(ng-show="role.type==\"Quartiere/Quarter\"") {{ 'docEntity.QUARTIEREQUARTER' | translate }}

                   //- Financial Records Category
                  span(ng-show="role.type==\"Place of Creation\"") {{ 'docEntity.PLACEOFCREATION' | translate }}
                  span(ng-show="role.type=='placeofOccupation'") Place of occupation
                  span(ng-show="role.type=='taxpayersOccupation'") Taxpayers occupation

                  //- News Category
                  span(ng-show="role.type==\"Place of Compilation\"") {{ 'docEntity.PLACEOFCOMPILATION' | translate }}
                  span(ng-show="role.type=='printerPlace'") {{ 'docEntity.PRINTERPLACE' | translate }}
                  span(ng-show="role.type=='gonfaloneDistrict'") {{ 'docEntity.GONFALONEDISTRICT' | translate }}
                  span(ng-show="role.type=='newsFrom'") {{ 'docEntity.NEWSFROM' | translate }}

                  //- Literary Works Category


                  //- Miscellaneous Category

                
                .col-xs-12
                  .row(ng-repeat="place in role.places")
                    div(ng-class="{'col-xs-12':place.editPlace, 'col-xs-10':!place.editPlace}")
                      span.red-link(ng-click="openPlace(place)" ng-if="!place.editPlace" style="cursor:pointer;")
                        | {{place.feData.placeName}}
                        span(ng-if="place.unsure=='u'" style="color: red;")
                          | &nbsp;- Unsure
                      span(ng-if="place.editPlace")
                        de-single-place-dir(place="place" modify-place="modifyPlace" role="role" on-select="savePlace(params, place)" on-cancel="cancelNewPlace(place, role)")
                    .col-xs-2(ng-if="!place.editPlace && isEditingPlace(role.places)")
                      
                      .btn-group.visible-xs.hidden-sm.hidden-md.visible-lg
                        button.btn.btn-success.btn-xxs.btn-xs(ng-click="editPlace(place, role)")
                          | {{ 'general.EDIT' | translate }}
                        button.btn.btn-success.btn-xs.btn-xxs(ng-click="deletePlace(place, role)")
                          | {{ 'general.DELETE' | translate }}

                      .btn-group-vertical.hidden-xs.visible-sm.visible-md.hidden-lg
                        button.btn.btn-success.btn-xxs.btn-xs(ng-click="editPlace(place, role)")
                          | {{ 'general.EDIT' | translate }}
                        button.btn.btn-success.btn-xs.btn-xxs(ng-click="deletePlace(place, role)")
                          | {{ 'general.DELETE' | translate }}

              .row(ng-if="isEditingPlace(role.places) && !isProducerPlace(role)")
                .col-xs-12
                  button.btn.btn-success.btn-xs(ng-click="addNewPlace(role)")
                    span(ng-if="!role.places.length") {{ 'general.ADD' | translate }}&nbsp;
                    span(ng-if="role.places.length>=1") {{ 'general.ADDANOTHER' | translate }}&nbsp;
                      span(ng-show="role.type!='RecipientPlace'") {{role.type}}
                      span(ng-show="role.type=='RecipientPlace'") {{ 'docEntity.RECPLACE' | translate }}

      //------------------------------
      // Topics
      //------------------------------
      accordion.doc-details-accordion
        accordion-group(is-open='sections[4].open')
          accordion-heading
            .panel-title-desc
              | {{sections[4].name}} - &nbsp;
              span.content-preview(ng-repeat="topic in deTopics")
                span(ng-if = "!$first") || &nbsp;
                span(ng-repeat="top in allTopics" ng-show="top.topicId === topic.topicListId")
                  | {{top.topicTitle}} 
            i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[4].open, 'glyphicon-chevron-right': !sections[4].open}")
          .content
            .row
              .col-xs-3
                | Topics
              .col-xs-9
                .row(ng-repeat="topic in deTopics")
                  .col-xs-12
                    mod-topic-dir(topic="topic" all-topics="allTopics" reload-topic="refreshTopics()" on-cancel="cancelNewTopic(topic)")
            .row
              .col-xs-12
                button.btn.btn-success.btn-xs(ng-click="addNewTopic()" ng-if="canAddTopic")
                  | {{ 'docEntity.ADDTOPIC' | translate }}
    .document-header
      .buttons
        button.btn.btn-default(ng-click="switchAllPanels()")
          span.open-all(ng-if="allClosed")
            | Open all&nbsp;
            i.ion-android-arrow-dropdown
          span.open-all(ng-if="!allClosed")
            | Close all&nbsp;
            i.ion-android-arrow-dropdown.flip
      .clear

//- .mt-15.mb-15(ng-if="!documentEntity.flgLogicalDelete && documentEntity.privacy == 0")
.mt-15.mb-15(ng-if="(!documentEntity.flgLogicalDelete && (documentEntity.privacy == 0 || documentEntity.privacy == 2 || (documentEntity.privacy == 1 && documentEntity.owner == me.account))) || secAuthorize(['ADMINISTRATORS'])")
  .row
    .col-xs-12
      comments-dir(ng-if="documentEntity.documentId" record-type="'DE'" record-id="$stateParams.docId", owner="documentEntity.owner")

.row
  .col-xs-12(ng-if="documentEntity.flgLogicalDelete && !secAuthorize(['ADMINISTRATORS'])")
    |  This is a deleted document.
//- .row
//-   .col-xs-12(ng-if="!documentEntity.documentId")
//-     |  This document does not exist.


style(type='text/css').
  .panel :focus { margin-top: auto; outline: 0 !important;}
  .document-details { max-height: 830px; overflow-y: auto }
  .document-details::-webkit-scrollbar { width: 10px; }
  .document-details::-webkit-scrollbar-thumb { background-color: #cc6666; outline: 1px solid darkgray; }
  .document-details::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)}
  .doc-ae-info { max-height: 222px; overflow-y: auto; overflow-x: hidden; }