.apps-container {
  padding: 5px;
}

.app {
  display: inline-block;
  margin: 5px;
  cursor: move;
}

.not-sortable {
  cursor: default !important;
}

.ui-sortable-placeholder {
  height: 0px !important;
}

.connected-drop-target-sortable {
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  background: white;
  min-height: 170px;
}

.search-folio-results {
  padding: 5px;
  overflow: auto;
  white-space: nowrap;
  border: 1px solid #a9a7a5;
  min-height: 170px;
  margin-bottom: 15px;
}

.app-result {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.dark-result {
  opacity: 0.3;
}

.selected-result {
  opacity: 1 !important;
}

span.highlight-phase {
  padding: 2px 5px;
  border-radius: 3px;
  color: #8a5b72;
  background: #d3ded9;
  font-weight: bold;
}

