div(ng-controller="addCollationController" ng-cloak)
  .modal-header
    h3.modal-title(ng-if="step == 'checkExistDoc'") Warning!
    h3.modal-title(ng-if="step == 'selectCollType'") How do you want to reconstruct this part of the archive?
    h3.modal-title(ng-if="step == 'selectCollection'") {{ 'sidebar.addCollection.TITLE' | translate }}
    h3.modal-title(ng-if="step == 'selectVolume'") Choose Destination Volume
    h3.modal-title(ng-if="step == 'selectInsert'") Choose Destination Insert
    h3.modal-title(ng-if="step == 'selectDE'") Select Document
    h3.modal-title(ng-if="step == 'dragDE'") Reconstruct
  .modal-body
    .search-form(ng-if="step == 'checkExistDoc' && sourceCollations.length")
      include partials/exist-collations.jade

    .search-form(ng-if="step == 'selectCollType'")
      include partials/collation-types.jade

    .search-form(ng-if="step == 'selectCollection'")
      include partials/collections.jade

    .search-form(ng-if="step == 'selectVolume'")
      include partials/volumes.jade

    .search-form(ng-if="step == 'selectInsert'")
      include partials/inserts.jade

    .search-form(ng-if="step == 'selectDE'")
      include partials/documents.jade

    .search-form(ng-if="step == 'dragDE'")
      include partials/drag-de.jade

    .text-center.mt-15
      .btn-group
        button.btn.btn-primary.btn-xs(ng-click="saveCollation()" ng-if="step == 'selectDE' && selectedDocument")
          | Save
        button.btn.btn-primary.btn-xs(ng-click="saveLacunaCollation()" ng-if="step == 'dragDE' && canSaveLacuna")
          | Save
        button.btn.btn-default.btn-xs(ng-click="backToPrevStep()" ng-if="step != 'checkExistDoc' && step != 'selectCollType'")
          | Back
        button.btn.btn-default.btn-xs(ng-click="closeModal()")
          | {{ 'general.CANCEL' | translate }}