.activity
  .act-desc
    div(ng-if="status === 'ok' && !doc" class="text-center")
      | {{ 'news.NO_ACTIVITIES' | translate }}
    div(ng-if="doc")
      div.repeated-item(ng-repeat="deNews in doc")
        div.news-block.recent-news
          a(href="index.html#/mia/document-entity/{{deNews.id}}")
            div
              | DOCUMENT
              span(ng-if="deNews.deTitle") - 
              | {{deNews.deTitle}}
              span(ng-if="deNews.collection") - 
              | {{deNews.collection}}
              span(ng-if="deNews.volume") - 
              | {{deNews.volume}}
              span(ng-if="deNews.insert") - 
              | {{deNews.insert}}
            div(ng-if="deNews.action == 'CREATED'")
              | mapDEid# {{deNews.id}} - Created By: {{deNews.createdBy }} on: {{deNews.activityDate}}
            div(ng-if="deNews.action == 'MODIFIED'")
              | mapDEid# {{deNews.id}} - Modified By: {{deNews.modifiedBy }} - {{deNews.activityDate}}
            div(ng-if="deNews.action == 'DELETED'")
              | mapAEid# {{deNews.id}} - Deleted By: {{deNews.modifiedBy }} - {{deNews.activityDate}}
            div
              div.img-block(ng-if="deNews.action != 'DELETED'" ng-repeat="imgPath in deNews.thumbPaths | limitTo : 7")
                img.act-thumb(ng-src="{{imgPath}}" alt="")


  
  