div(ng-controller="addLinkCsController")
  .modal-header
    h3.modal-title Add a new Link to Project
  .modal-body
    .search-form
      form.form-horizontal(name="linkCsForm")
        .row
          .col-xs-12
            .form-group
              label.control-label.col-sm-3
                | Title
                span.required-error(ng-if="linkCsForm.title.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}
                span.required-error(ng-if="linkCsForm.title.$error.maxlength")
                  br
                  | Max. 100 characters
              .col-sm-9
                input.form-control(type="text" ng-model="newLinkCs.title" name="title" required ng-maxlength="100" ng-class="{'has-error': linkCsForm.title.$error.required}")

            .form-group
              label.control-label.col-sm-3
                | Link
                span.required-error(ng-if="linkCsForm.link.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}
                span.required-error(ng-if="linkCsForm.link.$error.maxlength")
                  br
                  | Max. 500 characters
                //span.required-error(ng-if="linkCsForm.link.$error.url")
                //  br
                //  | Url is not valid
                span.required-error(ng-if="linkCsForm.link.$error.pattern")
                  br
                  | Url is not valid
              .col-sm-9
                //input.form-control(type="url" ng-model="newLinkCs.link" name="link" required ng-maxlength="500" placeholder="https://example.com" ng-class="{'has-error': linkCsForm.link.$error.required}")
                input.form-control(type="text" ng-model="newLinkCs.link" name="link" ng-pattern="/^(http[s]?:\\/\\/){0,1}(www\\.){0,1}[a-zA-Z0-9\\.\\-]+\\.[a-zA-Z]{2,5}[\\.]{0,1}/" required ng-maxlength="500" ng-class="{'has-error': linkCsForm.link.$error.required}")

    .text-center.mt-15
      .btn-group
        button.btn.btn-primary.btn-xs(ng-disabled="linkCsForm.$invalid" ng-click="addNewLink()")
          | {{ 'general.SAVE' | translate }}
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}
