.activity
  .act-desc
    div(ng-if="status === 'ok' && !place" class="text-center")
      | {{ 'news.NO_ACTIVITIES' | translate }}
    div(ng-if="place")
      div.repeated-item(ng-repeat="placeNews in place")
        div.news-block
          a(href="index.html#/mia/place/{{placeNews.id}}")
            div
              | GEOGRAPHICAL RECORD 
              span(ng-if="placeNews.plParent") - 
              | {{placeNews.plParent}}
              span(ng-if="placeNews.placeName")/
              | {{placeNews.placeName}} 
              span(ng-if="placeNews.plType") - 
              | {{placeNews.plType}}
            div(ng-if="placeNews.action == 'CREATED'")
              | mapPlace# {{placeNews.id}} - Created By: {{placeNews.createdBy }} on: {{placeNews.activityDate}}
            div(ng-if="placeNews.action == 'MODIFIED'")
              | mapPlace# {{placeNews.id}} - Modified By: {{placeNews.modifiedBy }} - {{placeNews.activityDate}}            
            div(ng-if="placeNews.action == 'DELETED'")
              | mapPlaced# {{placeNews.id}} - Deleted By: {{placeNews.modifiedBy }} - {{placeNews.activityDate}}
            div
              div.img-block(ng-if="placeNews.action != 'DELETED'")
                img.act-thumb(ng-src="img/img_place.png" alt="")



    