#wrapper.container-fluid(ng-class="{'sidebar-collapsed': sidebarCollapsed}")
  .row
    section.main.row
    .col-xs-12.col-sm-12.col-md-8(style="flex: 1; margin-bottom: 5px; background-color: #d3ded9; border-radius: 5px; padding: 5px")
                form.form-group.spotlightPageForm(name="spotlightForm")
                        .row
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500" ) TITLE
                                .row
                                    .col-xs-10(ng-if="!titleReadOnly")
                                        input.form-control(type="text" ng-model="formData.titleEdit" ng-maxlength="100" name="title" required)
                                        .required-error(ng-if="spotlightForm.title.$error.required")
                                            | REQUIRED
                                        .required-error(ng-if="spotlightForm.title.$error.maxlength")
                                            | Max. 100 characters
                                        .required-error(ng-if="errorMsg")
                                            | {{errorMsg}}
                                    .col-xs-10(ng-if="titleReadOnly")
                                        p(ng-bind-html="discovery.title")
                                    .col-xs-2(style="text-align: right")
                                        .btn-group(ng-if="!titleReadOnly")
                                            button.btn.btn-success(type="button" ng-click="saveTitle()" ng-disabled="spotlightForm.title.$error.maxlength || spotlightForm.title.$error.required")
                                                    | SAVE
                                            button.btn.btn-success(type="button" ng-click="cancelTitle()" ng-disabled="false")
                                                    | CANCEL
                                        .btn-group(ng-if="titleReadOnly") 
                                            button.btn.btn-success(type="button" ng-click="editTitle()" ng-disabled="false")
                                                    | EDIT
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") WHY DO YOU THINK THIS DOCUMENT IS OF HISTORICAL IMPORTANCE?
                                .row
                                    .col-xs-10(ng-if="!motivationReadOnly" style="word-break: break-all;")
                                        textarea.form-control(type="text" rows="6" cols="50" ng-minlength="1000" ng-model="formData.motivationEdit" name="motivation" required)
                                        .required-error(ng-if="spotlightForm.motivation.$error.required")
                                            | REQUIRED
                                        .required-error(ng-if="spotlightForm.motivation.$error.minlength")
                                            | Min. 1000 characters
                                        .required-error(ng-if="errorMsg")
                                            | {{errorMsg}}
                                    .col-xs-10(ng-if="motivationReadOnly")
                                        p(style="word-break: break-all;") {{discovery.whyHistImp}}
                                    .col-xs-2(style="text-align: right")
                                        .btn-group(ng-if="!motivationReadOnly")
                                            button.btn.btn-success(type="button" ng-click="saveMotivation()" ng-disabled="spotlightForm.motivation.$error.minlength || spotlightForm.motivation.$error.required")
                                                    | SAVE
                                            button.btn.btn-success(type="button" ng-click="cancelMotivation()" ng-disabled="false")
                                                    | CANCEL
                                        .btn-group(ng-if="motivationReadOnly")
                                            button.btn.btn-success(type="button" ng-click="editMotivation()" ng-disabled="false")
                                                    | EDIT
                        .row( style="margin-top: 15px;" )
                            .col-xs-10(ng-class="{'editor-disabled': !(titleReadOnly && motivationReadOnly)}")
                                label(style="color: #8a5b72; font-weight: 500") SHORT NOTICE &nbsp;
                                    a(href='documentation/shortnoticeAndBiblioGuidelines.pdf', target='_blank')
                                        span.glyphicon.glyphicon-question-sign
                                trix-editor.composeTabMargin(angular-trix ng-model="discovery.shortNotice" name="notice" trix-change="trixChange(e, editor);" required ng-minlength="1000")
                                .required-error(ng-if="spotlightForm.notice.$error.required")
                                    | REQUIRED
                                .required-error(ng-if="spotlightForm.notice.$error.minlength")
                                    | Min. 1000 characters
                                .required-error(ng-if="errorMsg")
                                    | {{errorMsg}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-10
                                label(style="color: #8a5b72; font-weight: 500") BIBLIOGRAPHY &nbsp;
                                    a(href='documentation/shortnoticeAndBiblioGuidelines.pdf', target='_blank')
                                        span.glyphicon.glyphicon-question-sign
                                trix-editor.composeTabMargin(angular-trix ng-model="discovery.bibliography" name="bibliography" trix-change="trixChange(e, editor);" required  ng-init='formData.bibliography=""')
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") TRANSCRIPTION
                                p {{discovery.transcriptions}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") SYNOPSIS
                                p {{discovery.synopsis}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") ADDITIONAL FILES
                                div(ng-repeat="f in discovery.uploads" style="word-wrap: break-word;")
                                    .row(ng-if="f.deleted==false")
                                        .col-xs-8
                                            span {{f.fileName}}
                                        .col-xs-2
                                            button.btn.btn-success.search-button(type="button" ng-click='removeUpload($index, f)')
                                                | {{'sidebar.upload.REMOVE' | translate}}
                                .row
                                    .col-xs-12
                                        label(for="file" class="custom-file-upload" ng-click="chooseFile()")
                                            .btn.btn-success
                                                | UPLOAD A FILE
                                        input#spotlight-file-upload.form-control(
                                        type='file',
                                        ngf-select='',
                                        ng-model='file',
                                        ng-change='addFile()'
                                        name='file',
                                        accept='.pdf, .jpg, .jpeg, .tiff, .tif, .png',
                                        ngf-max-total-size='300MB',
                                        ngf-max-files="30",
                                        ngf-max-size="30MB",
                                        ngf-model-invalid="invalidFiles",
                                        ngf-fix-orientation="false",
                                        ngf-validate-fn="validateSelectedFile($file)",
                                        required)
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") LINKS TO RELATED DOCUMENT(S) IN MIA
                                .row
                                    .col-xs-10
                                        input.form-control(type="text" ng-model="link" ng-maxlength="100" name="link" style="margin-bottom: 15px;")
                                        .required-error(ng-if="errorMsg")
                                            | {{errorMsg}}
                                        div(ng-repeat="link in links" style="margin-top: 15px;")
                                            .row
                                                a(ng-href="{{link}}" target="_blanck" style="margin-left: 15px;") {{link}}
                                                button.btn.btn-success.search-button(type="button" style="margin-left: 15px;" ng-click='removeLink($index)')
                                                    | {{'sidebar.upload.REMOVE' | translate}}

                                                    
                                    .col-xs-1(style="text-align: right")
                                        .btn-group
                                            button.btn.btn-success(type="button" ng-click="addLink(link)" ng-disabled="link == undefined || link ==''")
                                                    | ADD
                        //- .row(style="margin-top: 15px;")
                        //-     .col-xs-12
                        //-         label(style="color: #8a5b72; font-weight: 500") LINKS TO RELATED DOCUMENT(S) IN MIA
                        //-     .col-sm-8
                        //-         input.form-control(type="text" ng-model="link" ng-maxlength="100" name="link" style="margin-bottom: 15px;")
                        //-         .required-error(ng-if="errorMsg")
                        //-             | {{errorMsg}}
                        //-     .col-sm-2
                        //-         .btn-group
                        //-             button.btn.btn-success(type="button" ng-click="addLink(link)" ng-disabled="link == undefined || link ==''")
                        //-                 | ADD




                                
                        .row( style="margin-top: 15px;" )
                            .col-xs-12( style="text-align: right")
                                button.btn.btn-success.search-button(type="submit" ng-click="sendToPeerReview(formData)" ng-disabled="!(titleReadOnly && motivationReadOnly) || spotlightForm.notice.$error.required" style="color: white; background-color: #cc6666")
                                    | SEND TO PEER REVIEW

style(type='text/css').
    .spotlightPageForm trix-editor { background: white; min-height: 15em;}
    .spotlightPageForm .editor-disabled trix-toolbar { pointer-events: none; }
    .spotlightPageForm .editor-disabled trix-editor { pointer-events: none; background: #e2e2e2; min-height: 15em;}
    .spotlightPageForm .editor-disabled trix-toolbar button { background: #e2e2e2; }
    .spotlightPageForm trix-toolbar button.underline {font-size: 18px; vertical-align: bottom; text-decoration: underline;}