div
    .doc-left-col(ng-controller="modifyDocEntController")
        .doc-ae-info
            .row
                .col-xs-4
                    .label
                        | mapPublicationId#
                .col-xs-8
                    span.fields 
                        | {{discovery.id}}
            .row
                .col-xs-4
                    .label 
                        | Date of submission
                .col-xs-8
                    span.fields
                        | {{discovery.submissionDate}}
        .box-container
        .doc-ae-info
            doc-ae-info-dir(info='documentEntity.uploadFiles[0]' de-info="documentEntity" current-folios='currentFolios' image-id='currentImageOrFileId')
        .doc-sys-info
            doc-sys-info-dir(info='documentEntity')

        .row
        .col-xs-12
            doc-summary-dir

        .row.mt-15

        //-------------------//
        //       Viewer      //
        //-------------------//
        .row(ng-if="filesView.length > 0 && filesView[0].uploadFileId != -1 && documentEntity.canView")
        
        .col-xs-12
            a.fullscreen-link(ng-click="openTranscriptor()")
                | Show Fullscreen / Live Transcription &nbsp;
                i.ion-arrow-expand
            .clear
            iframe.js-viewer(ng-src="{{viewerAddress}}")
        .row.document-scroller.flex-row(ng-if="documentEntity.canView && filesView.length > 0 && filesView[0].uploadFileId != -1")
        .col-xs-1.flex-center
            i.ion-android-arrow-back.text-icon.cursor-pointer(ng-if="filesView.length > 6 && limit > 0 " ng-click="changeLimit(-1)")