#wrapper.container-fluid(ng-class="{'sidebar-collapsed': sidebarCollapsed}")
  .row(ng-if="!discovery.owner")
    .col-xs-12
        | {{ 'discovery.NOTAUTHORIZED' | translate }}
  .row(ng-if="discovery.owner")
    section.main.row
    .col-xs-12.col-sm-12.col-md-8(style="flex: 1; margin-bottom: 5px; background-color: #d3ded9; border-radius: 5px; padding: 5px")
                form.form-group
                        .row
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500" ) TITLE
                                .row
                                    .col-xs-10
                                        p(style="word-break: break-all;") {{discovery.title}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") WHY DO YOU THINK THIS DOCUMENT IS OF HISTORICAL IMPORTANCE?
                                .row
                                    .col-xs-10
                                        p(style="word-break: break-all;") {{discovery.whyHistImp}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-10
                                label(style="color: #8a5b72; font-weight: 500") SHORT NOTICE
                                p(ng-bind-html="discovery.shortNotice" style="word-break: break-all;")
                        .row( style="margin-top: 15px;" )
                            .col-xs-10
                                label(style="color: #8a5b72; font-weight: 500") BIBLIOGRAPHY
                                p(ng-bind-html="discovery.bibliography" style="word-break: break-all;")
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") TRANSCRIPTION
                                p(style="word-break: break-all;") {{discovery.transcriptions}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") SYNOPSIS
                                p(style="word-break: break-all;") {{discovery.synopsis}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") ADDITIONAL FILES
                                div(ng-repeat="f in discovery.uploads" style="word-wrap: break-word;")
                                    .row
                                        .col-xs-3
                                            a(ng-href="{{getFileUrl(f)}}") {{f.fileName}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-12
                                label(style="color: #8a5b72; font-weight: 500") LINKS TO RELATED DOCUMENT(S) IN MIA 
                                div(ng-repeat="link in links")
                                    a(ng-href="{{link}}" target="_blanck") {{link}}
                        .row( style="margin-top: 15px;" )
                            .col-xs-12( style="text-align: right")
                                button.btn.btn-success.search-button(ng-if="discovery.status != 'Published' && secAuthorize(['ADMINISTRATORS','SPOTLIGHT_COORDINATORS']) || discovery.status == 'Rejected' && me.account == discovery.owner" type="submit" ng-click="deleteSpotlight()" ng-disabled="false" style="margin-right: 5px")
                                    | DELETE
                                button.btn.btn-success.search-button(type="submit" ng-click="waitForPeerReview()" ng-disabled="true" style="color: white; background-color: #cc6666")
                                    | WAITING FOR PEER REVIEW
