#wrapper.container-fluid(ng-class="{'sidebar-collapsed': sidebarCollapsed}")
	.row(ng-if="!discovery.owner")
		.col-xs-12
		| {{ 'discovery.NOTAUTHORIZEDPUBLICATION' | translate }}
	.row(ng-if="discovery.owner")
		.col-sm-6(style="margin-right: 30px")
			section
					.col-xs-12.col-sm-12.col-md-12(style="flex: 1; margin-bottom: 5px; background-color: #d3ded9; border-radius: 5px; padding: 5px")
						form.form-group
										.row
												.col-xs-12
														label(style="color: #8a5b72; font-weight: 500" ) TITLE
														.row
																.col-xs-10
																		p(style="word-break: break-all;") {{discovery.title}}
										.row( style="margin-top: 15px;" )
												.col-xs-12
														label(style="color: #8a5b72; font-weight: 500") WHY DO YOU THINK THIS DOCUMENT IS OF HISTORICAL IMPORTANCE?
														.row
																.col-xs-10
																		p(style="word-break: break-all;") {{discovery.whyHistImp}}
										.row( style="margin-top: 15px;" )
												.col-xs-10
														label(style="color: #8a5b72; font-weight: 500") SHORT NOTICE
														p(ng-bind-html="discovery.shortNotice" style="word-break: break-all;")
										.row( style="margin-top: 15px;" )
												.col-xs-10
														label(style="color: #8a5b72; font-weight: 500") BIBLIOGRAPHY
														p(ng-bind-html="discovery.bibliography" style="word-break: break-all;")
										.row( style="margin-top: 15px;" )
												.col-xs-12
														label(style="color: #8a5b72; font-weight: 500") TRANSCRIPTION
														p(style="word-break: break-all;") {{discovery.transcriptions}}
										.row( style="margin-top: 15px;" )
												.col-xs-12
														label(style="color: #8a5b72; font-weight: 500") SYNOPSIS
														p(style="word-break: break-all;") {{discovery.synopsis}}
										.row( style="margin-top: 15px;" )
												.col-xs-12
														label(style="color: #8a5b72; font-weight: 500") ADDITIONAL FILES
														div(ng-repeat="f in discovery.uploads" style="word-wrap: break-word;")
																.row(ng-if="f.deleted==false")
																		.col-xs-3
																				a(ng-href="{{getFileUrl(f)}}") {{f.fileName}}
										.row(style="margin-top: 15px;" )
												.col-xs-12
														label(style="color: #8a5b72; font-weight: 500") LINKS TO RELATED DOCUMENT(S) IN MIA 
														div(ng-repeat="link in links")
																a(ng-href="{{link}}" target="_blanck" ) {{link}}
										//- if published
										div(ng-if="discovery.status == 'Published' && secAuthorize(['ADMINISTRATORS','SPOTLIGHT_COORDINATORS'])")
												.row(style="margin-top: 15px;" )
														.col-xs-12( style="text-align: right")
																button.btn.btn-success.search-button(type="submit" ng-click="deleteSpotlight()" ng-disabled="false")
																		| DELETE
										//- if in review mode
										div(ng-if="discovery.status != 'Published' && secAuthorize(['ADMINISTRATORS','SPOTLIGHT_COORDINATORS']) || discovery.status == 'Rejected' && me.account == discovery.owner")
												.row( ng-if="discovery.status == 'Sent to peer review'"  style="margin-top: 15px;" )
														.col-xs-12( style="text-align: right")
																button.btn.btn-success.search-button(type="submit" ng-click="approve()" ng-disabled="false" style="color: white; background-color: blue")
																		| REVIEW COMPLETED
														.col-xs-12( style="text-align: right")
																button.btn.btn-success.search-button(type="submit" ng-click="deleteSpotlight()" ng-disabled="false")
																		| DELETE
														//- .col-xs-12( style="text-align: right")
														//- 		button.btn.btn-success.search-button(type="submit" ng-click="reject()" ng-disabled="false" style="color: white; background-color: brown")
														//- 				| REJECT
												.row(ng-if="discovery.status == 'Approved' || discovery.status == 'Rejected' || discovery.status == 'Re-opened'"  style="margin-top: 15px;" )
														.col-xs-12(style="text-align: right")
																label(ng-if="discovery.status == 'Rejected'" style="color: red; font-weight: 1000") This document submission has been REJECTED you can delete it
																	| &nbsp;
																button.btn.btn-success.search-button(ng-if="discovery.status == 'Approved' || discovery.status == 'Rejected' || discovery.status == 'Re-opened'" type="submit" ng-click="deleteSpotlight()" ng-disabled="false")
																		| DELETE
														.col-xs-12( style="text-align: right")
																button.btn.btn-success.search-button(ng-if="discovery.status == 'Approved'" type="submit" ng-click="downloadMaterialTobeSent()" ng-disabled="false")
																		| DOWNLOAD MATERIAL 
														.col-xs-12( style="text-align: right")
																button.btn.btn-success.search-button(ng-if="discovery.status == 'Approved'" type="submit" ng-click="requestModify()" ng-disabled="false")
																		| RETURN WITH EDITS
														.col-xs-12( style="text-align: right")
																button.btn.btn-success.search-button(ng-if="discovery.status == 'Approved'" type="submit" ng-click="peerReviewReject()" ng-disabled="false" style="color: white; background-color: red")
																		| REJECT
														.col-xs-12( style="text-align: right")
																button.btn.btn-success.search-button(ng-if="discovery.status == 'Approved'" type="submit" ng-click="publishAsDiscovery()" ng-disabled="false" style="color: white; background-color: green")
																		| PUBLISH

		.col-sm-4
			.row(ng-if="discovery.status == 'Published'")
				include spotlight-volume.jade