.row
form(name="formVolumes")
    .col-xs-12.mt-0
        label Volume Number:
    .col-xs-3.zIndex1.mt-0
        input.form-control(type="text" ng-model="tempVolName" ng-model-options='{ debounce: 300 }' ng-class="{loading:loadingCircle}" ng-change="getVolumes(tempVolName)" placeholder="search here...")
        div.placesTable.table-results(ng-if="volumes.length && volIsClicked == false")
            table.table.table-hover
                thead.table-header
                    tr
                        th Name
                        th Pref/Var
                        th PlaceType
                tbody
                    tr.placeRow(ng-class="checkIfThisPlaceAreSelcted(place) != -1 ? 'isSelected' : 'notSelected' " ng-repeat="place in places" ng-click="addOrRemovePlaceToSelectedPlaces(place, singleselect)")
                        td {{place.placeName}} 
                        td {{place.prefFlag}}
                        td {{place.plType}}
        div(ng-if="!volumes" class="noPlacesFound")
            | {{ 'places.NOPLACE' | translate }}
style(type='text/css').
    .personRow.isSelected, .placeRow.isSelected {background-color: lightblue;}
    .personRow .red, .placeRow .red {color: darkred;}
    .peopleTable, .placesTable {max-height: 200px; overflow: auto;}
    .form-control-input {max-width: 200px; margin-right: 30px;}
    .noPlacesFound { padding: 5px; background: lightgrey; color: #000}
    .zIndex1 {z-index: 1}
    .mt-0 { margin-top: 0!important }