html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='MIA - Medici Archive Project')
    meta(name='author', content='MAP')
    link(rel='icon', href='favicon.ico')
body
   .container-fluid
    .row
    span  #{message}
    .row
    span #{error}
