div
  .ae-select-where
    label(for="archive") Archive
    button.btn.btn-default.btn-xs.form-control(ng-click='addRepo(searchAeType)' name="archive" ng-if="!archivalSearch.repository")
      | {{ 'sidebar.upload.CHOOSEARCHIVE' | translate }}
    span(ng-if="archivalSearch.repository")
      br
      | {{archivalSearch.repository.repositoryName}}
  .ae-select-where(ng-if="archivalSearch.repository")
    label(for="collection") Collection
    button.btn.btn-default.btn-xs.form-control(ng-click='addCollection(searchAeType)' name="collection" ng-if="!archivalSearch.collection")
      | {{ 'sidebar.upload.CHOOSECOLLECTION' | translate }}
    span(ng-if="archivalSearch.collection" ng-click="archivalSearch.collection=undefined")
      br
      | {{archivalSearch.collection.collectionName}}&nbsp;
      span(ng-click="archivalSearch.collection=undefined")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change collection" popover-trigger="mouseenter")
  //- .ae-select-where(ng-if="archivalSearch.collection && archivalSearch.collection.collectionId == 1")
  //-   label(for="serie") Series
  //-   button.btn.btn-default.btn-xs.form-control(ng-click='addSeries(searchAeType)' name="serie" ng-if="!archivalSearch.series")
  //-     | {{ 'sidebar.upload.CHOOSESERIES' | translate }}
  //-   span(ng-if="archivalSearch.series")
  //-     br
  //-     | {{archivalSearch.series.seriesName}}&nbsp;
  //-     span(ng-click="archivalSearch.series=undefined")
  //-       img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change series" popover-trigger="mouseenter")
  //- .ae-select-where(ng-if="archivalSearch.series || (archivalSearch.collection && archivalSearch.collection.collectionId != 1)")
  .ae-select-where(ng-if="archivalSearch.series || archivalSearch.collection") 
    label(for="volume") Volume
    button.btn.btn-default.btn-xs.form-control(ng-click='addVolume(searchAeType)' name="volume" ng-if="!archivalSearch.volume")
      | {{ 'sidebar.upload.CHOOSEVOLUME' | translate }}
    span(ng-if="archivalSearch.volume")
      br
      | {{archivalSearch.volume.volumeName}}&nbsp;
      span(ng-click="archivalSearch.volume=undefined")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change volume" popover-trigger="mouseenter")
  .ae-select-where(ng-if="archivalSearch.collection && archivalSearch.volume")
    label(for="insert") Insert
    button.btn.btn-default.btn-xs.form-control(ng-click='addInsert(searchAeType)' name="insert" ng-if="!archivalSearch.insert")
      | {{ 'sidebar.upload.CHOOSEINSERT' | translate }}
    span(ng-if="archivalSearch.insert")
      br
      | {{archivalSearch.insert.insertName}}&nbsp;
      span(ng-click="archivalSearch.insert=undefined")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change insert" popover-trigger="mouseenter")
  .ae-select-where
    button.btn.btn-success.search-button(ng-click="browseAe(archivalSearch, searchAeType)" ng-disabled="!searchAeType || !archivalSearch.repository")
      | Search
  .ae-select-where(ng-if="showResults")
    label
      | Results present with actual parameters:
    | {{resultsNumber}}
  .ae-select-where(ng-if="archivalSearch.collection")
    button.btn.btn-success.search-button(ng-click="reset()")
      | Reset all    
  .where-to-search
    label.radio-inline
      input(type='radio', name='optaeradio' ng-model="searchAeType" value="all")
      | All images
    label.radio-inline
      input(type='radio', name='optaeradio' ng-model="searchAeType" value="mine")
      | Only my images
    label.radio-inline
      input(type='radio', name='optaeradio' ng-model="searchAeType" value="other")
      | Everyone elses images
