div(ng-controller="selectDeController")
  .modal-header
    h3.modal-title {{ 'selectDe.TITLE' | translate }}
  .modal-body
    .row
      .col-xs-12
        .row
          .col-xs-12
            label.control-label(ng-if="documents.length") {{ 'selectDe.SELECTDE' | translate }}
            label.control-label(ng-if="!documents.length") {{ 'selectDe.DENOTFOUND' | translate }}
            br 
            label.control-label(ng-if="!documents.length") {{ 'selectDe.CLICBNTBEL' | translate }}
        .row(ng-if="documents.length")
          .col-xs-12
            table.table.table-hover(ng-if="documents.length")
              thead
                tr
                  th
                    | #
                  th
                    | {{ 'selectDe.TIPOLOGY' | translate }}
                  th
                    | {{ 'selectDe.DOCTITLE' | translate }}
                  th
                    | {{ 'selectDe.DOCDATE' | translate }}
              tbody
                tr.clickable(
                ng-repeat="docEntity in documents"
                ng-click="chooseDe(docEntity)")
                  th
                    | {{docEntity.documentId}}
                  th
                    | {{docEntity.typology}}
                  th
                    | {{docEntity.deTitle}}
                  th
                    span(ng-if="docEntity.date.docModernYear")
                      | {{docEntity.date.docModernYear}}
                    span(ng-if="!docEntity.date.docModernYear")
                      | {{docEntity.date.docYear}}                      
                    |  - {{docEntity.date.docMonth}} - {{docEntity.date.docDay}}
        hr
        .row
          .col-sm-8
            label.control-label(ng-if="documents.length") {{ 'general.OR' | translate }} &nbsp;
            button.btn.btn-primary.btn-xs(ng-click="chooseDe()")
              | {{ 'selectDe.CREATE' | translate }}
          .col-sm-3
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
