div.search-tooltip-widget
    div.search-tooltip-widget-title
        h3
            | {{searchType == 'DE_TRANSCRIPTION' ? 'Transcription' : 'Synopsis' }}
    div.search-tooltip-widget-body(ng-bind-html="highlightText(searchType == 'DE_TRANSCRIPTION' ? truncateSearchedTrans(result) : truncateSearchedSyn(result.generalNoteSynopsis))")
        //| {{ result.transcriptions[0].transcription }}