div(ng-controller="saveFilterController")
  .modal-header
    h3.modal-title SAVE FILTER
  .modal-body
    .row
      .col-xs-12.col-xs-offset-1
        span 
          | Filter name should be at least {{filterNameMinLength}} characters long    
    form(name='uploadForm', ng-show="!success" novalidate)
      .row
        .col-xs-5.col-xs-offset-1
          input.form-control#filterName(
            type='text' ng-model="newsfeedItem.title")
      .row
        .col-xs-6.col-xs-offset-1
          .btn-group.bottom-buttons(ng-show="!success")
            button.btn.btn-xs.btn-primary(ng-click="save()" ng-disabled="!isValidName()")
              | {{'general.SAVE' | translate}}
            button.btn.btn-xs.btn-primary(ng-click="cancel()")
              | {{'general.CANCEL' | translate}}
    .row
      br
      br
      .col-xs-12.col-xs-offset-1(ng-show="success")
        button.btn.btn-xs.btn-primary(ng-click='close()')
          | {{'general.CLOSE' | translate}}
