div(ng-controller="addTitleController")
  .modal-header
    h3.modal-title(ng-if="!modify") {{ 'modal.ADDTITLE' | translate }}
    h3.modal-title(ng-if="modify") {{ 'modal.MODTITLE' | translate }}
  .modal-body
    div(ng-if="!(saved || modified)")
      .form-group
        .col-xs-4
          label
            | {{ 'modal.OCNAME' | translate }}
        .col-xs-8
          input.form-control(type="text" ng-model="title.occupationName")
      .form-group
        .col-xs-4
          label
            | {{ 'modal.OCCAT' | translate }}
        .col-xs-8
          select.form-control(type="text" ng-model="title.roleCatId")
            option(ng-repeat="cat in categories" value="{{cat.roleCateId}}")
              | {{cat.roleCatMajor}}/{{cat.roleCatMinor}}
      .form-group
        .btn-group
          button.btn.btn-warning(ng-if="!modify" ng-click="saveTitle()")
            | {{ 'general.SAVE' | translate }}
          button.btn.btn-warning(ng-if="modify" ng-click="modifyTitle()")
            | Modify
          button.btn.btn-danger(ng-click="preDeleteTitle()")
            | {{ 'general.DELETE' | translate }}
          button.btn.btn-default(ng-click="cancelTask()")
            | Cancel            
    .clear
    .row(ng-if="sureDelete")
      .col-xs-5.col-xs-offset-1
        br
        span {{ 'modal.SUREDELTIT' | translate }}
      .col-xs-3
        .btn-group
          button.btn.btn-danger(ng-click="deleteTitle()")
            | Yes
          button.btn.btn-default(ng-click="preDeleteTitle()")
            | No
    .row(ng-if="titleUsed")
      .col-xs-12
        br
        span(style='margin-bottom:10px;') {{ 'modal.USEDTITLE' | translate }}
        br
    .row(ng-if="titleUsed")    
      .col-xs-6.col-xs-offset-3
        table.table(style='margin-top:10px;')
          tbody
            tr.repeated-item(ng-repeat="person in presentPeople" ng-click="editPerson(person.peopleId)")
              td(style='cursor:pointer;')
                | {{person.mapNameLf}}
    .row(ng-if="unauthor")
      .col-xs-5.col-xs-offset-1
        br
        span {{ 'modal.UNAUTHOR' | translate }}
    .row(ng-if="modified")
      .col-xs-11.col-xs-offset-1
        br
        span {{ 'modal.SUCCESSMOD' | translate }}
      .col-xs-10.col-xs-offset-1
        br
        button.btn.btn-xs.btn-success(
          ng-click="cancelTask()")
          | {{ 'general.OK' | translate }}
      br
    .row(ng-if="saved")
      .col-xs-11.col-xs-offset-1
        br
        span.success {{ 'modal.SUCCESSSAVE' | translate }}
      .col-xs-10.col-xs-offset-1
        br
        button.btn.btn-xs.btn-primary(
          ng-click="cancelTask()")
          | {{ 'general.OK' | translate }}
      br
