div(ng-controller="spotlightPendingReviewController")
	.modal-header
		h3.modal-title Pending for Review
	.modal-body
		.form-group
			.row
				.col-xs-8
					span Search:
					input.form-control(type='text', placeholder="add 1 digit to search" ng-model='inputSearch' ng-change="findSpotlightReview(inputSearch)" ng-class="{loading:loading}")
		.form-group
			.row
				.col-sm-12
					.form-horizontal
						.row
							.col-xs-12
								table.table.table-hover
									thead.table-header
										tr
											th
												span #
											th
												span Title:
											th
												span Owner:
											th
												span Date of Submission:
											th
												span Status:
									tbody
										tr.clickable(ng-repeat="d in discoveries | orderBy : 'id'" ng-click="review(d); cancel()")
											td {{$index+1+(offset-1)*limit}}
											td {{d.title}}
											td {{d.owner}}
											td {{d.submissionDate}}
											td {{getStatus(d)}}
								pagination(ng-if="discoveries.length" ng-cloak max-size="5" items-per-page="5" class="pagination-sm" boundary-links="true" total-items="discoveriesCount" ng-model="offset" ng-change="discoveriesPageChanged(inputSearch, offset)")
	.modal-footer
		.row
			.col-xs-7
				.btn-group(ng-if='!loading')
					button.btn.btn-xs(ng-click='cancel()' style="color:white; background-color: transparent;") Close