div(ng-controller="spotlightModifyRequestController")
  .modal-header
    h3.modal-title Return submission with edits
  .modal-body
 
    .search-form
          form.form-horizontal(name="approveWithEditsForm")
              .row
                .col-xs-12
                  .form-group
                    //- .col-sm-12
                    //-   label(style="color:white") Please write here the suggested edits to be preformed by the author:
                    .col-sm-12.ui-mention-container
                      textarea.form-control(
                        ng-model="motivationForm.motivation"
                        name="motivation"
                        rows="4"
                        placeholder="Please provide details"
                        required
                        ng-maxlength="2000"
                        ng-class="{'has-error': approveWithEditsForm.motivation.$error.required}"
                      )
                      .required-error(ng-if="approveWithEditsForm.motivation.$error.required")
                        | REQUIRED
                      .required-error(ng-if="approveWithEditsForm.motivation.$error.maxlength")
                        | Max. 2000 characters
                      .required-error(ng-if="errorMsg")
                        | {{errorMsg}}
        .text-center.mt-15
          .btn-group
            button.btn.btn-primary.btn-xs(ng-disabled="approveWithEditsForm.motivation.$error.required || approveWithEditsForm.motivation.$error.maxlength" ng-click="requestModify(motivationForm); ok()")
              | {{ 'general.SAVE' | translate }}
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
