div(ng-controller="spotlightDownloadMaterialController")
  div.modal-header
    h3.modal-title
      | Download Material
  div.modal-body
    .row.rowMargin
      .col-sm-12
        label.downloadLink SHORT NOTICE
      .col-sm-12
        a.downloadLink(ng-click="print()" ) Click here to download
    .row.rowMargin
      .col-sm-12(style="margin-top: 15px;")
        label.downloadLink ADDITIONAL FILES
      .col-xs-12
        div(ng-repeat="f in discovery.uploads" style="word-wrap: break-word;")
            .row(ng-if="f.deleted==false")
                .col-xs-3
                    a.downloadLink(ng-href="{{getFileUrl(f)}}") {{f.fileName}}
    .row.rowMargin
      .col-sm-12(style="margin-top: 15px;")
        label.downloadLink LINK(S) TO RELATED DOCUMENT(S)
      .col-xs-12(ng-repeat="l in links")
          a.downloadLink(ng-href="{{l}}" target="_blanck" ) {{l}}
  div.modal-footer
    button.btn.btn-primary(ng-click="cancel()" ng-disabled="false")
      | CLOSE

style(type='text/css').
    .downloadLink{
      color: white;
    }
    .rowMargin{
      margin-bottom: 10px;
    }