div(ng-controller="spotlightDownloadMaterialController")
    .row
        .col-xs-12(style="text-align: center")
            img(ng-src="img/miaPdfLogo.png")
    .row( style="margin-top: 30px;" )
        .col-xs-12(style="text-align: center")
            span.title-style {{discovery.title}}
    .row( style="margin-top: 30px;" )
        .col-xs-12(style="text-align: center")
            span.title-style Why do you think this document is of historical importance?
            p {{discovery.whyHistImp}}
    .row( style="margin-top: 30px;" )
        .col-xs-12(style="text-align: center")
            span.title-style Short Notice
            p(ng-bind-html="discovery.shortNotice")
    .row( style="margin-top: 30px;" )
        .col-xs-12(style="text-align: center")
            span.title-style Transcription
            p {{discovery.transcriptions}}
    .row( style="margin-top: 30px;" )
        .col-xs-12(style="text-align: center")
            span.title-style Synopsis
            p {{discovery.synopsis}}
    .row( style="margin-top: 30px;" )
        .col-xs-12(style="text-align: center")
            span.title-style Bibliography
            p(ng-bind-html="discovery.bibliography")


style(type='text/css').
    .page-header{display: none}
    .title-style{font-weight: bold;}
    search-dir {display: none}