div(ng-controller="spotlightRejectMotivationController")
  .modal-header
    h3.modal-title Reject spotlight
  .modal-body

      .search-form
        form.form-horizontal(name="rejectForm")
            .row
              .col-xs-12
                .form-group
                  .col-sm-12
                    label(style="color:white") Write here the reasons:
                  .col-sm-12.ui-mention-container
                    textarea.form-control(
                      ng-model="motivationForm.motivation"
                      name="motivation"
                      rows="4"
                      placeholder="Please provide details"
                      required
                      ng-maxlength="2000"
                      ng-class="{'has-error': rejectForm.motivation.$error.required}"
                    )
                    .required-error(ng-if="rejectForm.motivation.$error.required")
                      | REQUIRED
                    .required-error(ng-if="rejectForm.motivation.$error.maxlength")
                      | Max. 2000 characters
                    .required-error(ng-if="errorMsg")
                      | {{errorMsg}}
      .text-center.mt-15
        .btn-group
          button.btn.btn-primary.btn-xs(ng-disabled="rejectForm.motivation.$error.required || rejectForm.motivation.$error.maxlength" ng-click="reject(motivationForm); ok()")
            | {{ 'general.SAVE' | translate }}
          button.btn.btn-default.btn-xs(ng-click="cancel()")
            | {{ 'general.CANCEL' | translate }}
