div
  div.modal-header
    h3.modal-title
      | Does your document meet the following requirements?
  div.modal-body
    .row
      .col-sm-12
        .form-group
          label.col-xs-12.control-label
          .col-xs-12(ng-repeat="check in checks")
            .checkbox
              label.questionLabel
                input.cursor-pointer(type="checkbox" ng-model="check.value")
                | {{check.label}}
  div.modal-footer
    .span(ng-if="disableBtn" style="color: red; margin-bottom:3px")
      | Please check all boxes to confirm you have met the above requirements
    .btn-group
      button.btn.btn-primary(ng-click="ok()" ng-disabled="!isOkEnabled()")
        | Submit to peer review
      button.btn.btn-warning(ng-click="cancel()")
        | Go Back

style(type='text/css').
    .questionLabel{color: white; font-weight: 600;}