div
  .row
    .col-xs-12.role-name
      | {{ 'docEntity.RELPEOPLE' | translate }}
    .col-xs-12
      .row(ng-repeat="person in relatedPeople")
        div(ng-class="{'col-xs-12':person.editPerson, 'col-xs-10':!person.editPerson}")
          span.red-link(ng-click="openPerson(person)" ng-if="!person.editPerson" style="cursor:pointer;")
            | {{person.feData.mapNameLf}}
            span(ng-if="person.unsure=='u'" style="color: red;")
              | &nbsp;- Unsure
          span
            mod-people-dir(ng-if="person.editPerson" person="person" role="{type: 'Related'}" on-select="saveRelPerson(params, person)" on-cancel="cancelNewRelPeople(person, $index)")
        .col-xs-2(ng-if="!person.editPerson")
          .btn-group
            //button.btn.btn-success.btn-xs.btn-xxs(ng-click="person.editPerson=!person.editPerson")
            //  | {{ 'general.EDIT' | translate }}
            button.btn.btn-success.btn-xs.btn-xxs(ng-click="deleteRelPerson(person)")
              | {{ 'general.DELETE' | translate }}
  .row
    .col-xs-12
      button.btn.btn-success.btn-xs(ng-click="addNewRelPerson()")
        span {{ 'general.ADD' | translate }}