div(ng-controller="addInsertSearchController")
  .modal-header
    h3.modal-title(ng-show="(!addNew && volumeId) && !insCreated") {{ 'sidebar.addInsert.TITLE' | translate }}
    h3.modal-title(ng-show="(addNew || !volumeId) && !insCreated") {{ 'sidebar.addInsert.ADDTITLE' | translate }}
    h3.modal-title(ng-show="insCreated") {{ 'sidebar.addInsert.CREATED' | translate }}
  .modal-body
    //
    // SEARCH
    //
    .search-form(ng-show="!addNew && volumeId")
      form.form-horizontal
        .row.form-group
          .col-xs-3.col-xs-offset-1
            label.control-label {{ 'sidebar.upload.INSERT' | translate }}
          .col-xs-6
            .input-group
              input.form-control(
              type="text"
              placeholder="{{ 'sidebar.addInsert.INSTRUCT' | translate }}"
              ng-model="newInsert.insertName"
              ng-class="{inputLoading: insLoading}"
              ng-change="getInsert(newInsert.insertName)")
        .row
          .col-xs-12

            //.row(ng-show='!insLoading && showTable && (insNotFound || !possibleInsert.length)')
            .row(ng-show='showTable && (insNotFound || !possibleInsert.length)')
              .col-xs-10.col-xs-offset-2
                i.glyphicon.glyphicon-remove
                span(ng-if="insNotFound && possibleInsert.length && newInsert.insertName" ng-bind-html="missingInsertText(newInsert.insertName)")
                span(ng-if="!fromSearch && !possibleInsert.length && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")  {{ 'sidebar.addInsert.NOTFOUND' | translate }}
                span(ng-if="!fromSearch && !possibleInsert.length && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])") {{ 'sidebar.addInsert.NOTFOUNDUNAUTH' | translate }}
                span(ng-if="fromSearch  && !possibleInsert.length && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")  {{ 'sidebar.addInsert.NOTFOUND' | translate }}
                span(ng-if="fromSearch  && !possibleInsert.length && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])") {{ 'sidebar.addInsert.NOTFOUNDUNAUTH' | translate }}

            table.table.table-hover(ng-if="showTable && possibleInsert.length")
              thead
                tr
                  th
                    | {{ 'sidebar.addInsert.INSERTNO' | translate }}
              tbody
                tr(
                ng-repeat="insert in possibleInsert | orderBy:'insertName'"
                ng-click="saveInsert(insert)")
                  th
                    | {{insert.insertName}}
    //
    // ADD
    //
    .search-form(ng-show="addNew || !volumeId")
      form.form-horizontal(name="insertForm")
          .row
            .col-md-12(ng-if="insCreated")
              .form-group
                label.control-label.col-md-6
                  | {{ 'sidebar.addInsert.DESCRMETA' | translate }}
            .col-xs-6(ng-if="!insCreated")
              .form-group
                label.control-label.col-sm-5
                  | {{ 'sidebar.addInsert.NAME' | translate }}
                  span.required-error(ng-if="insertForm.insertName.$error.required && !insCreated")
                    br
                    | {{ 'general.REQUIRED' | translate }}   
                .col-sm-7
                  input.form-control(type="text" ng-model="newInsert.insertName" name="insertName" required ng-class="{'has-error':insertForm.insertName.$error.required}")
    .search-form
      form.form-horizontal
        .form-group
          .col-sm-8.col-sm-offset-4.btn-group
            button.btn.btn-default.btn-xs(
            ng-click='switchNew()'
            ng-if="!addNew && volumeId && insNotFound && (secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']) || collection.studyCollection)")
              | {{ 'sidebar.addInsert.ADDNEW' | translate }}
            //button.btn.btn-default.btn-xs(
              ng-click='switchNew()'
              ng-if="addNew && volumeId")
                | {{ 'sidebar.addInsert.CHOSEOLD' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-disabled="insertForm.$invalid || clicked"
            ng-click="addNewInsert(newInsert)"
            ng-if="((!fromSearch || switched) || addNew) && !insCreated && (secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']) || collection.studyCollection)")
              | {{ 'general.SAVE' | translate }}
            button.btn.btn-default.btn-xs(ng-if="!insCreated" ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-disabled="insertForm.$invalid"
            ng-click="addNewInsert(newInsert)"
            ng-if="insCreated")
              | {{ 'general.OK' | translate }}
            button.btn.btn-default.btn-xs(ng-if="insCreated" ng-click="no(newInsert)")
              | {{ 'general.NO' | translate }}
