/***********************************************************************************
ADMIN FORM
***********************************************************************************/
.adminpage {
  margin-top: 20px;
  ul.nav.nav-tabs {
    margin-top: 20px;
  }
  .nav-tabs > li > a{
    color: #706c69;
  }
  .form-horizontal .control-label{
    padding-top: 0px;
  }

  .tab-content {
    padding-top: 20px;
  }
  .form-group.has-error input {
    border: 3px solid @brand-danger;
  }
  span.has-error.help-block {
    padding-left: 1em;
    color: @brand-danger;
  }
  table.results-table tr:hover {
    color: @gray-lighter;
  }
  button.save-button {
    margin-top: 20px;
  }
  
}
