/***********************************************************************************
  Archive
***********************************************************************************/
.metadata{
  color: @gray;
  font-size: @font-size-base;
  font-weight: @font-weigth-light;
  line-height: 1;
}
.entity-title{
  font-size: @font-size-large;
  font-family: @headings-font-family;
  line-height: 14px;
  i {
    margin-left: 10px;
    margin-right: 5px;
  }
}
.archive{
  margin-bottom: 20px;
}

.archive .col-xs-12 {
  border-top: 1px solid @gray-lighter;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}

.archive .col-xs-12 .row {
  margin: 0;
}

.row.archive {
  margin-left: 0;
  margin-right: 0;
}

.archive .col-xs-11 {
  width: 85%;
  box-sizing: border-box;
  padding-left: 0;
}

.archive .col-xs-1 {
  width: 15%;
  padding-right: 0;
  box-sizing: border-box;
}

.archive .manuscript-thumb {
  margin-top: 15px;
}
.archive .manuscript-thumb:hover {
  border: 4px solid @gray-lighter;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}
.archive .col-xs-2.ng-scope {
  padding-left: 0;
}

.archive .more-link {
  margin-top: 0;
}
.archive .more-link .btn {
  margin-top: 0;
  float: right;
}

.archive .btn-success:active {
  background-color: @brand-success;
  color: white;
}


.single-archive{
  margin-bottom: 20px;
  margin-top: 10px;
  // height: 100%;
  overflow-y: auto;
  max-height: 560px;
  border-right: 1px solid @gray-lighterer;
}

.single-archive .col-xs-8 {
  margin-bottom: 15px;
}

.actions{
  i{
    margin-left: 40px;
  }
}
.single-actions{
  padding:3px;
  display: inline-block;
}

.single-actions.tab-active{
  background-color: @brand-success;
  color:#fff;
  font-weight: bold;
  border-radius: 3px;
  padding:6px;
  i{
    color:#fff;
  }
}

.actions-right{
  margin-right: 10px;
}

.manuscript-thumb{
  width:100%;
}

.error-thumb{
  width:100%;
  cursor:pointer;
}

.thumbs-img-cont{
  margin-bottom: 30px;
}

.more-link{
  margin-top: 60px;
  cursor: pointer;
}

.img-over {
  width:100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}
.loading {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.single-archive .privacy-settings .btn, .single-actions {
  border: 2px solid transparent;
  color: @brand-success;
  font-weight: @font-weigth-light;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
}

.single-archive .open > .dropdown-toggle.btn-default {
  background-color: transparent;
  color: @gray-dark;
  box-shadow: none;
  border: 2px solid @gray-dark;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mask .open > .dropdown-toggle.btn-default {
  background-color: @gray-dark;
}

.single-archive .privacy-settings .btn:active, .single-archive .privacy-settings .btn:hover, .single-actions.tab-active {
  background: transparent;
  border: 2px solid @brand-primary;
  color: @brand-success;
  font-weight: @font-weigth-light;
}

.single-actions.tab-active i {
  color: @brand-primary;
}
.archive-icon {
  width: 22px;
  height: auto;
}

.folio-number {
  margin-top: 10px;
  text-align: center;
}

.folio-number-abs {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #47323c;
  // background: #606060;
  border-top-left-radius: 5px;
  // border: 1px solid white;
  color: white;
  font-size: 12px;
  font-weight: 200;
  min-height: 20px;
  min-width: 50px;
  max-width: 90%;
  white-space: pre-line;
  word-wrap: break-word;
  line-height: 20px;
  text-align: center;
  padding: 0 5px;
  text-transform: uppercase;
}