/***********************************************************************************
GLOBAL CLASSES
***********************************************************************************/

/***** POSITION *****/
.relative {
  position: relative;
}


/***** DISPLAY *****/
.display-inline-block {
  display: inline-block;
}


/***** FONT SIZE *****/
.fs-16 {
  font-size: 16px;
}


/***** MARGIN *****/
.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px;
}

.mti-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px;
}

.mti-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-0 {
  margin-left: 0;
}

.ml-5 {
  margin-left: 5px;
}


/***** PADDING *****/
.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0px;
}

.pti-0 {
  padding-top: 0px !important;
}

.pt-30 {
  padding-top: 30px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-0 {
  padding-right: 0px;
}

/***** BORDER *****/
.bt-gray-light {
  border-top: 1px solid @gray-lighterer;
}

.br-0 {
  border-radius: 0;
}

.bri-0 {
  border-radius: 0 !important;
}

/***** FLEX *****/
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

/***** OTHER *****/
.no-outline {
  outline: none;
}

.base-hover {
  color: #47323c !important;
  border-radius: 3px !important;
  border: 1px solid !important;
  border-color: #47323c !important;
}

.base-hover:hover {
  color: #fff !important;
  background-color: #47323c !important;
  border-color: #47323c !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.text-dec-none {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline;
}

.text-dec-none {
  text-decoration: none !important;
}

.custom-disabled {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  border-color: #cc6666;
  color: #47323c;
  &:hover, &:active, &:focus {
    background-color: transparent;
    border-color: #cc6666;
    color: #47323c;
  }
}

.custom-spinner {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background-size: 35px;
  background-color: transparent;
  position: relative;
}

.current-preview-item {
  background-color: #f2f6c3 !important;
}

/***** parent row must be with class .text-center *****/
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.private-message {
  color: red; 
  text-decoration: underline;
  text-transform: uppercase;
}


.highlight-cs-item {
  -webkit-animation: highlight-item-animation 5s 1; /* Safari 4.0 - 8.0 */
  animation: highlight-item-animation 5s 1;
}

@keyframes highlight-item-animation {
  from {
    background: #fdfdb5;
  }
  to {
    background: #f8faff;
  }
}