/***********************************************************************************
  HEADER
***********************************************************************************/
h1.site-title {
  margin-top: -10px;
  line-height: 20px;
  color: @gray-dark;
  font-weight: @font-weigth-medium;
}

h2.page-title {
//  margin-top: -10px;
  font-family: @headings-font-family;
  color: @gray-dark;
  font-weight: @font-weigth-medium;
  text-transform: uppercase;
  letter-spacing: .1em;    
}

.page-header{
  width: 100%;
  border-bottom: 0;
  margin-bottom: 0;
}

.page-title{
  width: 100%;
}
.search-filter{
  margin-top: 25px;
}


