.mailbox {
  margin-top: 20px;
  ul.nav.nav-tabs {
    margin-top: 20px;
  }
  .nav-tabs > li > a{
    color: #706c69;
  }
  .tab-content {
    padding-top: 20px;
  }
  img.act-thumb{
    width: 80px;
  }
  .unreadMsg {
    font-weight: bold;
    color: #000;
  }
  .noHoverRow {
    background-color: #d3ded9 !important;
    &:hover {
      background-color: #d3ded9;
      color: #706c69;
      cursor: default;
    }
    .noMsgText {
      vertical-align: middle;
    }
  }
  .composeTabMargin {
    margin: 0 10px;
  }
  .composeTable {
    margin: 0 0 25px 10px;
    input {
       margin-left: 15px;
       width: 200px;
       padding: 0 3px;
    }
  p {
    margin: 0
  }
  }
  trix-toolbar {
    margin: 0 10px;
  }
  trix-editor {
    color: #111;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0;
    padding: 4px 8px;
    min-height: 90px;
    outline: none;
    background: white;
    width: 50%;
  }
  .btn-center {
    margin: 5px 0;
    width: 60px;
    position: relative;
    left: 25%;
  }
  .btn-left {
    margin-left: -65px;
    margin-right: 10px;
  }
  .mailboxCloseBtn {
    border: none;
    position: absolute;
    bottom: 12px;
    right: 5px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
  .middle {
    vertical-align: middle;
    margin: 0;
  }
  label[for="selectAllInbox"],
  label[for="selectAllOutbox"] {
    padding-left: 5px;
  }
  input[type="checkbox"]:hover {
    cursor: pointer;
  }
  button[data-name="markInboxMsgAsRead"],
  button[data-name="markOutboxMsgAsRead"] {
    margin-left: 15px;
  }

  .no-messages {
    height: 110px;
    line-height: 110px;
  }

  .nav {
    li.disabled {
      a:hover,
      a:focus {
        cursor: pointer;
      }
    }
  }
}
.alertify {
  z-index: 10000;
}
.alertify-logs.right {
  right: 50%;
  margin-right: -75px;
}
.alertify-logs.bottom {
  top: 50%;
  margin-top: -10px;
}
