/***********************************************************************************
  MODAL PANEL
***********************************************************************************/

.panel-header{
  margin:0;
//  background-color: @brand-success;
  h2{
    color:@gray-dark;
    margin-top: 0;
    padding:20px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    letter-spacing: .1em;
    i{
      float: right;
      color:#fff;
      padding-top: 5px;
    }
  }
}

.panel-content{
  font-weight: 300;
  i{
    margin-left: 12px;
    margin-right: 0px;
  }
  .icon-title{
    margin-left: 30px;
    margin-right: 10px;
  }
  h3{
    font-weight: @font-weigth-medium;
    padding-bottom: 10px;
    color: @brand-info;
  }
  input{
    margin-bottom: 2px;
    width: 38%;
    padding: 4px 7px;
    border:none;
  }
  .row.form-group, .row.form-group.ng-scope {
    border-top: 1px solid @gray-30;
    padding-top: 10px;
  }
}

.bottom-buttons{
  margin-top: 10px;
}

.modal-content{
  color:#fff;
  .popover{
    color:@gray-dark;
  }
}
.pass{
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  // width: 250px;

}
.label_pass{
  margin-top: 10px;
  margin-left: 40px;
}
.btn-pass{
  width: 115px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
}


/* Google place menu */
.pac-container{
  z-index: 3000;
}

.panel-content .input-group-btn .btn-xs {
  border: 0;
}

.error{
  color: @brand-primary;
  margin-left: 40px;
}
.success{
  color: @gray-light;
  margin-left: 7px;
}
.alertAdd{
  color: @gray-lighter;

}
.sureAdd{
  color: @brand-warning;
}
.cropArea {
  overflow: hidden;
  width:500px;
  height:350px;

}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.thumbs-block {
  height: 155px;
}

@media (max-width: 991px) {
  .thumbs-block {
    height: auto;
  }
}
