.right-col{
  margin-top: 15px;
}
.single-person{
  border-bottom: 1px solid @brand-success;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.role-name{
  font-weight: bold;
}

.loading {
  background-color: #ffffff;
  background-image: url("../img/loader.gif") !important;
  background-size: 20px 20px !important;
  background-position:right center !important;
  background-repeat: no-repeat !important;
}

.inputLoading {
  opacity: 0.4;
  background-image: url("../img/loader.gif") !important;
  background-size: 20px 20px !important;
  background-position:right center !important;
  background-repeat: no-repeat !important;
}
