.news-container {
  margin-top: 20px;
  ul.nav.nav-tabs {
    margin-top: 20px;
  }
  .nav-tabs > li > a{
    color: #706c69;
  }
  .tab-content {
    padding-top: 20px;
  }
  img.act-thumb{
    width: 50px;
  }
  
  .news-block{
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    color: #000;
    background: transparent;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all .3s linear;
    a{
      color: #000;
    }
    &:hover{
      background: #F5F5F5;
      cursor: pointer;
    }
  }
  .recent-news{
    background: #fff;
    width: 95%;
  }
  .new-thumbs {
    margin: 0 -5px;
  }
  .img-block{
    display: inline-block;
    margin: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
    opacity: .7;
    transition: all .2s linear;
    //&:first-child{
    //  margin-left: 0;
    //}
    //&:last-child{
    //  margin-right: 0;
    //}
    &:hover{
      opacity: 1;
    }
  }
}