.personal-profile-new {
  .panel {
    box-shadow: none;
  }
  .panel-heading {
    border-bottom: 0;
  }
  .panel-title {
    font-size: 17px;
  }
  .panel-title > small {
    font-size: .75em;
    color: #999999;
  }
  .panel-body *:first-child {
    margin-top: 0;
  }
  .panel-footer {
    border-top: 0;
  }

  .panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
  }

  .gray-border {
    border-color: #dddddd;
  }

  .user-name {
    font-size: 18px;
    line-height: 18px;
  }

  .user-project, .user-interests {
    font-size: 14px;
    font-weight: normal;
  }
  .user-interests-title {
    font-size: 16px;
    margin-top: 15px;
  }

  .user-groups {
    font-size: 11px;
    font-weight: normal;
  }

  .user-social {
    margin-top: 10px;
    .social-name {
      margin-bottom: 5px;
      a {
        border: 1px solid blue;
        border-radius: 3px;
        display: inline-block;
        padding: 3px 12px;
        font-size: 16px;
        font-weight: normal;
        color: blue;
        &:hover {
          background: blue;
          color: white;
        }
      }
    }
    .social-btns {
      button {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .control-modify{
    color: #706c69;
    font-weight: 400;
    font-size: 15px;
  }

  /**
   * Profile
   */
  /*** Profile: Header  ***/
  .profile__avatar {
    float: left;
    width: 140px;
    height: 160px;
    //border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .profile__avatar {
      width: 180px;
      height: 200px;
    }

    .user-name {
      font-size: 20px;
      line-height: 20px;
    }

    .user-project, .user-interests {
      font-size: 16px;
      font-weight: normal;
    }

    .user-interests-title {
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .profile__avatar > img {
    width: 100%;
    height: auto;
  }
  .profile__header {
    overflow: hidden;
  }
  .profile__header p {
    margin: 20px 0;
  }
  /*** Profile: Table ***/
  @media (min-width: 992px) {
    .profile__table tbody th {
      width: 200px;
    }
  }

  table.profile__table {
    margin-bottom: 0;
  }
  /*** Profile: Recent activity ***/
  .profile-comments__item {
    position: relative;
    padding: 15px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .profile-comments__item:last-child {
    border-bottom: 0;
  }
  .profile-comments__item:hover,
  .profile-comments__item:focus {
    background-color: #f5f5f5;
  }
  .profile-comments__item:hover .profile-comments__controls,
  .profile-comments__item:focus .profile-comments__controls {
    visibility: visible;
  }
  .profile-comments__controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    visibility: hidden;
  }
  .profile-comments__controls > a {
    display: inline-block;
    padding: 2px;
    color: #999999;
  }
  .profile-comments__controls > a:hover,
  .profile-comments__controls > a:focus {
    color: #333333;
  }
  .profile-comments__avatar {
    display: block;
    float: left;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  .profile-comments__avatar > img {
    width: 100%;
    height: auto;
  }
  .profile-comments__body {
    overflow: hidden;
  }
  .profile-comments__sender {
    color: #333333;
    font-weight: 500;
    margin: 5px 0;
  }
  .profile-comments__sender > small {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
  }
  @media (max-width: 767px) {
    .profile-comments__sender > small {
      display: block;
      margin: 5px 0 10px;
    }
  }
  .profile-comments__content {
    color: #999999;
  }
  /*** Profile: Contact ***/
  .profile__contact-btn {
    padding: 12px 20px;
    margin-bottom: 20px;
  }
}


.personalprofile {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  .container-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: @gray-lighterer;
  }
  .single-field{
    border-bottom: 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .control-modify{
    color: #706c69;
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;

  }
  .control-no-modify{
    color: #706c69;
    font-weight: 400;
    font-size: 15px;
  }

  .pull-left{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .name-content {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #616161;
    text-align: center;
  }

  .btn-success{
    width: 140px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  .form-control{
    height: 30px;
  }
  .left{
    margin-left: 10px;
  }
  .personal{
    margin-left: 20px;
  }
  .upload{
    margin-left: 0px;
  }

  .edit-user-form {
    .error {
      margin-left: 0px;
    }
    .has-error input{
      border: 2px solid #cc6666 !important;
    }
  }

}
