.public-profile {
    .user-name {
        font-size: 20px;
    }
    .user-project, .user-interests {
        font-size: 16px;
        font-weight: normal;
    }
    .user-interests-title {
        font-size: 18px;
        margin-top: 15px;
    }
    .user-social {
        margin-top: 10px;
        .social-name {
            margin-bottom: 5px;
            a {
                border: 1px solid blue;
                border-radius: 3px;
                display: inline-block;
                padding: 3px 12px;
                font-size: 16px;
                font-weight: normal;
                color: blue;
                &:hover {
                    background: blue;
                    color: white;
                }
            }
        }
        .social-btns {
            button {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .block-title {
        font-size: 20px;
        font-weight: normal;
        padding: 10px 0;
    }
    .img-block {
        position: relative;
        .img-desc {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50%;
            color: white;
            background-color: rgba(105,105,105, 0.7);
            text-align: right;
            padding: 5px;
            .img-title {
                font-size: 16px;
            }
            .img-date, .img-menus {
                font-weight: normal;
            }
            .img-menus {
                margin-top: 10px;
                .img-menu span {
                    margin-left: 5px;
                    font-size: 10px;
                }
            }
        }
    }
    .case-studies{
        height: calc(100% - 50px); 
        .col-links {
            height: 100%;
            .links-block {
                height: 100%;
                background: #a9a8a6;
                color: white;
                padding: 15px 10px;

                .links-title {
                    font-size: 16px;
                    font-weight: normal;
                    padding-bottom: 10px;
                }

                .study-link {
                    padding: 2px 0;
                    a {
                        color: white;
                        font-size: 14px;
                        font-weight: normal;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .statistic-info {
        font-size: 14px; 
        font-weight: normal;
    }
    hr.statistics-separator {
        border-top: 1px solid #d3ded9;
        margin: 5px 0;
    }
    .block-with-vertical-scroll {
        max-height: 760px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .border-top-light-gray {
        border-top: 1px solid #d3ded9;
    }

    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .col-xs-6, .col-sm-4 {
            display: inline-block !important;
            float: none;
            margin-bottom: 15px;
        }
    }

}

@media (max-width: 455px) {
    .public-profile {
        // .block-with-vertical-scroll {
        //     max-height: auto;
        // }
        .img-desc {
            height: 75% !important;
            font-size: 12px !important; 
            .img-title {
                font-size: 14px !important;
            }
            .img-menu span {
                font-size: 10px;
            }
        }
    }
}

@media (min-width: 456px) and (max-width: 520px) {
    .public-profile {
        // .block-with-vertical-scroll {
        //     max-height: auto;
        // }
        .img-desc {
            height: 60% !important;
            // font-size: 12px !important; 
            // .img-title {
            //     font-size: 14px !important;
            // }
        }
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .public-profile {
        // .block-with-vertical-scroll {
        //     max-height: auto;
        // }
        .img-desc {
            height: 80% !important;
            font-size: 10px !important; 
            .img-title {
                font-size: 12px !important;
            }
            .img-menu span {
                font-size: 8px !important;
            }
        }
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
    .public-profile {
        // .block-with-vertical-scroll {
        //     max-height: auto;
        // }
        .img-desc {
            height: 75% !important;
            font-size: 10px !important; 
            .img-title {
                font-size: 12px !important;
            }
            .img-menu span {
                font-size: 8px !important;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1435px) {
    .public-profile {
        // .block-with-vertical-scroll {
        //     max-height: auto;
        // }
        .img-desc {
            height: 65% !important;
            font-size: 12px !important; 
            .img-title {
                font-size: 14px !important;
            }
            .img-menu span {
                font-size: 10px !important;
            }
        }
    }
}

@media (min-width: 1725px) {
    .public-profile {
        // .block-with-vertical-scroll {
        //     max-height: auto;
        // }
        .img-desc {
            font-size: 16px !important; 
            .img-title {
                font-size: 18px !important;
            }
            .img-menu span {
                font-size: 14px !important;
            }
        }
    }
}