/***********************************************************************************
  SIDEBAR DESKTOP
***********************************************************************************/

@media (min-width: 768px) {
  .menu-toogler{
    display: none;
  }
  .right-sidebar {
    float: right;
    background-color: rgba(255, 255, 255, 0.7);
    border-left: 1px solid @gray-lighter;
    //display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    z-index: 100;
    display: block;
    height: 100% !important;
    .transition(all 0.5s);
    .results-group{
      padding: 5px;
      margin: 0;
      button{
        display: block;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 2px;
        i {
          padding-top:0;
          padding-left: 3px;
          font-size: 12px;
        }
      }

      a {
        display: table;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 2px;
        i {
          padding-top: 0;
          padding-left: 3px;
          font-size: 12px;
        }
      }
    }
  }
  .right-sidebar.collapsed {
    display: none;
    width:5px;
  }
}
.show-results{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  top: 0;
  padding: 10px 10px 10px 4px;
}

#show-results-resizer {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 1px solid @gray-lighter;
  cursor: e-resize;
  height: 100%;
}

.flip-h{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 19px;
  margin-top: 6px;
  float: right;
}


/***********************************************************************************
  SIDEBAR MOBILE
***********************************************************************************/

@media (max-width: 767px) {
  .menu-toogler{
    float:right;
    margin:10px;
    font-size: @font-size-large;
    color: @brand-success;
  }
  .right-sidebar {
    display: block;
    background-color: white;
    border-right: 1px solid @gray-lighterer;
    &.collapsed {
      overflow: hidden;
      ul {
        display:none;
      }
    }
  }
}

.search-results-sidebar{
  margin-top: 74px;
}

.right-bar-min-with {
  min-width: 139px;
}

.search-text{
  font-size: 0.8rem;
  color: @brand-success;
}
