.search{
  background-color: @brand-success;
  border-radius: 5px;
  padding:10px;
  .search-button{
    margin-top: 26px;
  }
}
.search .pannello-head .btn-success{
  color: white;
  border-color: transparent;
  font-weight: @font-weigth-bold;
  margin: 0 3px;
}

.search .btn-group > .btn:first-child {
  margin: 0;
}

.search .pannello-head .btn-success:hover, .search .pannello-head .btn-success:focus {
  background: @brand-success;
}

.search .pannello-head .btn-success:active {
  background: @brand-warning;
}
.search .pannello-head .btn-success:hover {
  background: @brand-warning;
}

.search .pannello-head .btn-success.active-search{
  background: @brand-info;
  //background: red;
}

.search-label{
  color: #ae6b8c;
  font-weight: 400;
}

.btn-success:hover i, .btn-success:focus i, .btn-success i{
  color: white;
}


.search .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

.search .pannello-head .btn-success .btn-group.results-group {
  color: @gray-60;
}

.search .btn-primary i {
  color: @brand-primary;
}

.btn-group.results-group{
  background-color: @gray-light;
  border: 1px solid @gray-lighter;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.results-group{
  margin-left: 10px;
  i{
    padding-top: 3px;
    padding-left: 15px;
    color: @gray-30;
  }
  .btn-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
  }
}

.pannello-body{
  margin-top: 10px;
}

.your-search{
  margin-left:15px;
  padding-left: 20px;
  text-transform: uppercase;
  border-left: 1px solid @gray;
  margin-top: -10px;
}

.tab-content {
  background-color: @gray-lighterer;
  padding-top: 15px;
  min-height: 150px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  border-color: @gray-60;
  border-width: 0 1px 1px 1px;
}

.nav-tabs {
  border-bottom: 1px solid @gray-60;
}

.nav-tabs > li > a {
  color: white;
  text-transform: uppercase;
}

.nav-tabs > li.active > a {
  background-color: @gray-lighterer;
  border: 1px solid @gray-60;
  border-bottom: 1px solid @gray-lighterer;
  border-bottom: 0;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: @gray-lighterer;
  color: @gray-dark;
  text-transform: uppercase;
  border: 1px solid @gray-60;

  border-bottom: 1px solid @gray-lighterer;
}

.nav-tabs > li > a:hover {
  background-color: @gray-light;
  border-bottom: 1px solid @gray-dark;
}

.pagination > li > a, .pagination > li > span {
  border: none;
}

.pagination > .active > a {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin: 0 5px;
}
.pagination > li > a {
  border: 2px solid transparent;
  margin: 0 5px;
}


.pagination > li > a, .pagination > li:first-child > a, .pagination > li:last-child > a{
  margin: 0 5px;
  border: 2px solid @brand-success;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.pagination > li:first-child > a, .pagination > li:last-child > a{
  border:none;
}
.pagination > li > a:hover {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: @brand-success;
  border-color: @brand-success;
  color: white;
}

.pagination > .disabled > a {
  border: transparent;
  color: @gray-lighter;
}
.pagination > .disabled > a, .pagination > .disabled > a:hover {
  color: @gray-lighter;
}

.modal-pagination {

  .pagination > li > a {
    border: 2px solid @brand-success;
    margin: 0 5px;
  }

  .pagination > li > a:hover {
    background: @gray-lighter;
    color: @gray-dark;
  }

  .pagination > .active > a:hover {
    z-index: 2;
    color: #ffffff;
    background-color: @brand-primary;
    border: 2px solid @brand-success;
    cursor: default;
  }

  .pagination > .disabled > a, .pagination > .disabled > a:hover {
    background-color: #ffffff;
    border-color: @brand-success;
    cursor: not-allowed;
  }
}

.search .col-xs-12 {
  margin-top:15px;
}
.add-button{
  margin: 15px;
}

.img-search-tab{
  width: 20px;
  margin-right: 5px;
}

.ae-select-where{
  width:25%;
  padding-left: 15px;
}
.where-to-search{
  padding-left: 15px;
  padding-bottom: 5px;
}
.select-place-cont{
  padding: 15px;
}
.form-group{
  .input-group{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    .form-control-sm{
    }
    .small-addon{
      padding: 3px;
      width: 65px;
      display: inline;
      color: #fff;
      background-color: @brand-success;
      i{
        font-size: 1rem;
        color: #fff;
      }
    }
  }
}

.search-tooltip-widget {
  width: 250px;

  .search-tooltip-widget-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    h3 {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, .5);
    }
  }

  .search-tooltip-widget-body {
    padding-top: 40px;

    table:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, .5);
      margin-top: 10px;
    }

    table {
      width: 100%;

      tbody {

        tr {

          td:first-child {
            width: 120px;
            color: blue;
            padding: 8px 5px 0 0;
          }

          td:not(:first-child) {
            padding: 8px 0 0 5px;
            text-align: center;
          }
        }
      }
    }
  }
}

.full-with-child {
  .panel-heading {
    padding: 0px;
    a {
      outline: none;
    }
    .custom-head {
      padding: 6px 10px;
    }
  }
}