/***********************************************************************************
  SIDEBAR DESKTOP
***********************************************************************************/

@media (min-width: 768px) {
  .menu-toogler{
    display: none;
  }
  .sidebar {
    background-color: white;
    border-right: 1px solid @gray-lighterer;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    height: 100% !important;
    .text {
      opacity: 1;
      color:@brand-primary;
      font-size:@font-size-base;
      line-height: 12px;
    }
    // .newMails {
    //   padding: 0 5px;
    //   background: red;
    //   color: #fff;
    //   position: absolute;
    //   right: 5px;
    //   top: 5px;
    //   font-size: 10px;
    //   border-radius: 50%;
    // }
    .text-icon {
      color: @brand-primary;
      margin-right: 5px;
      margin-left: 5px;
      font-size: @font-size-h3;
      font-weight: @headings-font-weight;
    }
    .transition(all 0.5s);
    .logo {
      width:40px;
      margin-left:9px;
      margin-top:10px;
      margin-bottom: 40px;
      &:hover{
        cursor: pointer;
      }
    }
    .logo-big {
      width: 150px;
      margin: 4px;
    }
    .nav.nav-sidebar {
      li.nav-sidebar-collapse {
        text-align: right;
        }
      li.logout{
        margin-top: 40px;
      }
    }
    .btn-success{
      border-color: @brand-primary;      
    }
  }
  .sidebar.collapsed {
    width: 55px;
    .text {
      display: none;
    }
    .nav.nav-sidebar{
      margin:auto;
    }
  }
  .sidebar-first-panel{
    width: 580px;
    height: 100%;
    background-color: @gray-lighterer;
    position: fixed;
    margin: 0;
    padding: 0;
    margin-left: 55px;
    z-index: 99;
    display: inline;
    // overflow: scroll;
    overflow: auto;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    2px 0px 4px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         2px 0px 4px 0px rgba(50, 50, 50, 0.4);
    &.panel-big-sidebar{
      margin-left: 150px;
    }
  }
  .collection-width {
    width: 310px;
  }
  .collection-archive-height {
    min-height: 855px !important;
    max-height: 855px !important;
  }
  .collection-height {
    min-height: 805px !important;
    max-height: 805px !important;
  }
  .sidebar-first-panel::-webkit-scrollbar {
    //  display: none;
    }
  .sidebar-second-panel{
    width: 450px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    margin: 0;
    padding: 0;
    margin-left: 505px;
    z-index: 100;
    display: inline;
    &.panel-big-sidebar{
      margin-left: 150px;
    }
  }
}


.sidebar .newMails {
  padding: 0 5px;
  background: red;
  color: #fff;
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 10px;
  border-radius: 50%;
}

.nav {
  li {
    a{
      padding-left:15px;
      padding-right:20px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .expand-icon, .collapse-icon {
    width: 30px;
    height: auto;
  }
}
.edit-icon-sidebar{
  vertical-align: middle;
  width: 20px;
  margin-right: 10px;
  margin-top: -6px;
}

.custom-file-upload{
  
}
#file-upload{
  display: none;
}

#spotlight-file-upload{
  display: none;
}

/***********************************************************************************
  SIDEBAR MOBILE
***********************************************************************************/

@media (max-width: 767px) {
  .menu-toogler{
    float:right;
    margin:10px;
    font-size: @font-size-large;
    color: @brand-primary;
  }
  .sidebar {
    display: block;
    background-color: white;
    border-right: 1px solid @gray-lighterer;
    &.collapsed {
      overflow: hidden;
      ul {
        display:none;
      }
    }
    .logo{
      width: 50px;
      margin: 10px;
      &:hover{
        cursor: pointer;
      }
    }
    .logo-big {
      width: 50px;
      margin: 8px;
    }
    .nav-sidebar {
      margin-right: -15px;
      li {
        a {
          padding-left: 10px;
          padding-right: 30px;
          // background-color: @gray-light;
          // color: @gray-lighter;
          background-color: @gray-lighter;
          color: #616161;
          &:hover {
            background-color: @gray-lighter;
            color: #fff;
          }
        }
        &.active {
          a, a:hover {
            background-color: @brand-success;
            color: #fff;
          }
        }
      }
    }
  }
}


/***********************************************************************************
  SIDEBAR UPLOAD
***********************************************************************************/
.error-mesg{
  color:@brand-primary;
  font-size: @font-size-small;
}

.possibilities{
  position: fixed;
  z-index: 1000;
  width:350px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: solid 1px @gray-lighter;
  background-color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  font-weight: @font-weigth-medium;
  ul {
    li {
      list-style-type:none;
      margin-left: -31px;
      border-bottom: solid 1px @brand-success;
      color: @brand-success;
      padding: 0;
    }
  }
  .possibilities-title{
    padding-left: 25px;
    color:@brand-success;
    font-size:@font-size-large;
  }
}
.upload-thumb{
  margin-bottom: 2px;
}

.upload-progress-bar{
  text-align: center;
  width:100%;
  margin-top: 40px;
  .progress{
    width:600px;
    margin-top: 60px;
    margin:auto;
  }
}
.sidebar-icon {
  width: 30px;
  height: auto;
}
.sidebar-icon.upload-panel {
  margin-right: 10px;
  margin-top: -5px;
}

.nav-sidebar {
  li {
    a {
      padding: 10px 7px;
      &:hover {
        background-color: @gray-lighter;
      }
    }
    &.active {
      a, a:hover {
        background-color:  @gray-lighter;
      }
    }
  }
}

.collapse-icon {
  width: 8px;
  height: auto;
}
.upload{
  .panel-content{
    input{
      width: 140%;
    }
  }
}
.pop-div {
  z-index:100;
  background-color: red;
}


/***********************************************************************************
  SIDEBAR NAVIGATION
***********************************************************************************/

@gray-brder: #a9a7a5;

.archive-tree {
  min-height: 880px;
  // border: 1px solid @gray-brder;
  // border-radius: 4px;
  margin: 5px;

  .archive-tree-head {
    // border-bottom: 1px solid @gray-brder;
    .repositories-head, .collection-head, .volume-head, .insert-head {
      display: inline-block;
      padding: 5px;
      // border-right: 1px solid @gray-brder;
      &:last-child {
        border-right: none;
      }
    }
  }

  .archive-tree-body {
    .arch-tree-head {
      margin-bottom: 5px;
    }
    .repositories-body, .collection-body, .volume-body, .insert-body {
      // &:last-child {
      //   border-right: none;
      // } 
      padding: 0;

      input {
        width: 100%; 
        margin: 5px 0;
        background: #9eb9ae;
      }

      .arch-tree-head {
        position: absolute;
        top: 0;
        left: 5px;
        right: 5px;
        
        .title {
          cursor: pointer;
          span {
            margin-left: 5px;
            float: right;
          }
        }
      }

      .arch-collection {
        margin-top: 55px;
        overflow-y: auto;
        min-height: 835px;
        max-height: 835px;
        padding: 5px;
      }

      .folder {
        cursor: pointer; 
        min-height: 26px;
        margin-bottom: 5px;
        background-color: #f5f5f5;
        border-color: #dddddd;
        padding: 5px 10px;
        h4 {
          display: table;
          .folder-icon {
            display: table-cell;
            margin: 0;
            img {
              height: 15px;
              width: 15px;
              margin-right: 5px;
            }
          }
          .folder-name {
            display: table-cell;
            width: 100%;
            font-size: 12px;
            .name-with-icon {
              display: table;
              width: 100%;
              .name {
                display: table-cell;
                width: 95%;
              }
              .select-icon {
                display: table-cell;
                width: 5%;
                min-width: 12px;
                vertical-align: middle;
                color: #47323c;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .archive-tree {
    min-height: auto;
    max-height: 500px;
    .archive-tree-body {
      .repositories-body, .collection-body, .volume-body, .insert-body {
        margin-bottom: 15px;

        .arch-tree-head .title{
          background-color: #47323c;
          line-height: 30px;
          color: #fff;
          span {
            line-height: 30px;
            margin-right: 5px;
          }
        }

        .arch-collection {
          margin-top: 65px;
          overflow-y: auto;
          min-height: auto;
          max-height: 500px;
        }
      }

      .volume-body, .insert-body {
        margin-bottom: 55px;
      }
    }
  }

}

.selectedFolder {
  background-color: #c3bdc0 !important; 
}

.sidebar ul li a {
  i.text-icon {
    margin-right: 10px;
  }
  i.custom-margin {
    margin-right: 13px;
  }
}

.navigate-icon {
  font-size: 30px !important;
  display: inline;
  color: #cc6666;
  vertical-align: middle;
}

.navigate-icon-title {
  color: #cc6666;
  // vertical-align: sub;
  margin-right: 10px;
}

.pos-relative {
  position: relative;
}

.width-50 {
  width: 50%;
}

.width-30 {
  width: 30%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}


.custom-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #9eb9ae;
}


/***********************************************************************************
  SIDEBAR CASE STUDY
***********************************************************************************/

.case-study-panel, .angular-ui-tree-drag {
  .cs-breadcrumbs {
    padding: 0 15px 10px;
    border-bottom: 1px solid white;
    color: #4eacff;
    font-weight: normal;
  }

  .cs-step {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .cs-content {
    margin-top: 10px;
    padding: 5px 15px;

    h3 {
      color: #8a5b72;
      margin: 0;
      a {
        font-family: 'Roboto', helvetica, arial, sans-serif;
      }
    }
  }

  .cs-name {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border-color: #dddddd;
    //padding: 5px 10px;
    h4 {
      line-height: 22px;
      padding: 5px 10px;
    }
  }

  .cs-new {
    .form-group {
      margin-left: 0;
      margin-right: 0;
      &:not(:first-child) {
        margin-top: 15px;
      }

      input {
        width: 100%;
      }
      textarea {
        min-height: 64px;
      }
      .has-error {
        input, textarea {
          border: 1px solid #cc6666;
        }
      }
    }
  }


  /* --- Angular ui tree --- */
  .angular-ui-tree-handle {
    background: transparent;
    //border: 1px solid #dae2ea;
    color: #7c9eb2;
    //padding: 10px 10px;
  }

  .angular-ui-tree-handle:hover {
    color: #438eb9;
    //background: #f4f6f7;
    border-color: #dce2e8;
  }

  .angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
  }

  tr.angular-ui-tree-empty {
    height: 100px
  }

  .group-title {
    background-color: #687074 !important;
    color: #FFF !important;
  }

  /* --- Tree --- */
  .tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
    padding: 10px;
    font-weight: 700;
  }

  .nodrop {
    background-color: #f2dede;
  }

  .tree-node-content {
    margin-bottom: 5px;
    cursor: pointer;
  }

  .tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
  }

  .angular-ui-tree-handle:hover {
  }

}

.cs-item {
  cursor: pointer;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border-color: #dddddd;
  padding: 5px 10px;

  .cs-name {
    color: #8a5b72;
    font-size: 12px;
    margin: 0;
  }

  &:hover {
    background-color: #cacaca;
  }
}


.selected-cs-folder {
  border: 2px solid red;
}

.notebook-frame {
  height: 100%;
  width: 100%;
  //background: white;
  border: none;
  border-radius: 0;
}