.search-results{
  overflow-y: scroll;
  height: 100% !important;
  background-color: #e1e1e1;
  border: 1px solid #fff;
  font-size: 11px;
  .table > thead > tr > td, .table > tbody > tr > td {
    padding: 2px;
  }
  .table > thead > tr > th {
    font-weight: bold;
    color: @gray-dark;
    border-bottom: 2px solid #cc6666;
  }
  .table > tbody > tr > td {
    font-weight: normal;
    cursor: pointer;
  }
  .table-hover > tbody > tr:hover{
    color:#fff;
    cursor: pointer;
  }
}
