.mod-de-container {

  .box-container {

    .doc-spine-info {
      width: 100%;
      display: flex;
      justify-content: center;
      label[for="file-upload"] {
        margin-top: 5px;
      }
    }
    
  }
}