.welcome-page{
  width:100%;
  .welcome-area{
    width:100%;  
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    .welcome-text{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width:100%;
      min-height: 200px;
      font-size: 2.6rem;
      color: @brand-warning;
      margin-top: 100px;
    }
  }
  .istructions{
    /* background-color: #d3ded9; */
    /* border-radius: 20px; */
    color: #87ad9e;
    /* margin-top: 60px; */
    padding: 30px;
    .item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width:100%;
      margin-bottom: 15px;
      .description{
        font-size: 1.6rem;
      }
      .arrow-icon {
        width: 70px;
        height: 30px;
        margin-left: 15px;
      }
    }
  }
  .news-area{
    .no-ae{
      padding: 10px;
      font-size: 1.5rem;
      background-color: @brand-success;
      border-radius: 3px;
      color: @gray-light;
    }
    .page-updates{
      float: right;
      position: relative;
      bottom: 20px;
      left: 12px;
      select{
        margin-left: 5px;
      }
    }
  }
}

.act-desc .istructions {
  padding: 15px 0 0 0;
}

.my-last-record, .preview-obj {
  .last-record {
    margin-top: -20px;
    .last-record-image {
      float: left;
      width: 130px;
      margin-right: 30px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }
    .last-record-info {
      overflow: hidden;

      h3 {
        margin-top: 0;
        color: #8a5b72;
      }

      .single-field {
        //color: #8a5b72;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        margin-bottom: 5px;
        label {
          color: #8a5b72;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }

  }
}

.my-last-record {
  color: #8a5b72;
}

.preview-obj .last-record {
  margin-top: 0;
}

.preview-obj .last-record .last-record-info .single-field label {
  color: #706c69;
}

//.preview-activity {
//  //display: none; /* Hidden by default */
//  position: fixed; /* Stay in place */
//  z-index: 101; /* Sit on top */
//  left: 0;
//  top: 0;
//  width: 100%; /* Full width */
//  height: 100%; /* Full height */
//  overflow: auto; /* Enable scroll if needed */
//  background-color: rgb(0,0,0); /* Fallback color */
//  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
//
//  .content {
//    position: relative;
//    //background-color: #fefefe;
//    background-color: #d3ded9;
//    //margin: auto;
//    padding: 0;
//    border: 1px solid #888;
//    border-radius: 4px;
//    width: 40%;
//    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
//    top: 50%;
//    min-height: 300px;
//    max-height: 410px;
//    overflow-y: auto;
//    margin-top: -150px;
//    left: 12%;
//
//    &:hover {
//      border: 4px solid transparent;
//      transition: all 0.1s ease-in-out;
//    }
//  }
//}

.preview-activity {
  position: fixed; /* Stay in place */
  top: 35%;
  left: 12%;
}

.preview-folder-item {
  position: fixed; /* Stay in place */
  top: 35%;
  left: 50%;

}

.preview-folder-item2 {
  position: fixed; /* Stay in place */
  top: 35%;
  left: 52%;
  width: 45%;
  z-index: 101; /* Sit on top */

  background-color: #d3ded9;
  padding: 0;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  .preview-obj {
    padding: 30px 15px 15px;
  }

  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .content {
    min-height: 300px;
    max-height: 410px;
    overflow-y: auto;
  }

  &:hover {
    //border: 2px solid #888;
    transition: all 0.1s ease-in-out;
  }
}

.preview-activity, .preview-folder-item {
  //position: fixed; /* Stay in place */
  //top: 35%;
  //left: 12%;
  width: 40%;
  z-index: 101; /* Sit on top */

  background-color: #d3ded9;
  padding: 0;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  .preview-obj {
    padding: 30px 15px 15px;
  }

  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .content {
    min-height: 300px;
    max-height: 410px;
    overflow-y: auto;
  }

  &:hover {
    //border: 2px solid #888;
    transition: all 0.1s ease-in-out;
  }
}

@media (max-width: 425px) {
  .welcome-page .istructions .item .arrow-icon {
    display: none;
  }
}

@media (max-width: 992px) {
  //.preview-activity .content {
  .preview-activity, .preview-folder-item {
    width: 80%;
    //left: auto;
    //margin: -150px auto 0 auto;
    margin: -100px auto 0 auto;
  }

  // .preview-folder-item {
  //   left: 12%;
  // }
}
