div(ng-controller='rotateImgController')
  div(ng-hide="images | isEmpty")
    .modal-header(ng-if='!loading')
      h3.modal-title {{ 'modal.ROTATEMODALTITLEPREV' | translate }}
    .modal-header(ng-if='loading')
      h3.modal-title {{ 'modal.ROTATEMODALTITLEMSGWAIT' | translate }}
    .modal-body
      .row.form-group(ng-if='!loading' style="display: flex; justify-content: center")
        img(ng-src="{{image.filePath + '&random=' + random}}", style='transform: rotate({{degrees}}deg);')
      .row(ng-if='loading')
        .col-xs-2.col-xs-offset-5
          .rotate
          .clear
        .col-xs-12(style="margin-top: 30px")
          span.progress
            div(style='width:{{progress}}%', ng-bind="progress + '%'")
          br
          h5 {{ 'modal.ROTATEMODALMSGWAITMSG' | translate }}
          h5 {{ 'modal.ROTATEMODALMSGWAITMSG2' | translate }}
    .modal-footer
      .row
        .col-xs-7
          .btn-group(ng-if='!loading')
            button.btn.btn-xs.btn-warning(ng-click='confirm()') Confirm
            button.btn.btn-xs.btn-primary(ng-click='cancel()') Close
  div(ng-show="images | isEmpty")
    .modal-header
      h3.modal-title {{ 'modal.ROTATEMODALTITLEWARNING' | translate }}
    .modal-body
      .row
        .col-xs-12
          h4 {{ 'modal.ROTATEMODALWARNING' | translate }}
    .modal-footer
      .row
        .col-xs-12
          .btn-group
            button.btn.btn-xs.btn-primary(ng-click='cancel()') Close
