.row(ng-if="searchHistoryLoaded")
  .col-xs-12(style="background-color: #ffffff")
    | Filter by type:
    select.ml-5.no-outline(ng-model="filterType" ng-options="type as type.name for type in types" ng-change="changeType(filterType)")
  .col-xs-12
    .search-results
      h4(ng-if="!results.length")
        | No results
      table.table.table-hover.table-striped(ng-if="results.length")
        thead(style='white-space: nowrap; cursor: pointer')
          tr
            th(ng-click="requestOrderedData('activityDate')")
              | Activity Date &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('activityDate')")
            th(ng-click="requestOrderedData('type')")
              | Type &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('type')")
            th(ng-click="requestOrderedData('action')")
              | Action &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('action')")
            th(ng-click="requestOrderedData('archivalLocation')")
              | Archival Location &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('archivalLocation')")
            th(ng-click="requestOrderedData('title')")
              | Title &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('title')")
            th(ng-click="requestOrderedData('personName')")
              | Person Name &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('personName')")
            th(ng-click="requestOrderedData('placeName')")
              | Place Name &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('placeName')")
        tbody
          tr.repeated-item(ng-repeat="result in results" ng-click="goToRecord(result)")
            td
              | {{result.activityDate}}
            td
              | {{result.type}}
            td
              | {{result.action}}
            td
              | {{result.archivalLocation}}
            td
              | {{result.title}}
            td
              | {{result.personName}}
            td
              | {{result.placeName}}
      .loading(ng-if="updateData" style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;")
      .row.col-xs-12(style='height: 50px')
        pagination(ng-cloak max-size="pagination.maxSize" class="pagination-history" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")
      .row.col-xs-12(style='height: 15px')
        hr
style(type='text/css').
  .chevron-show {  color: #8a5b72 !important;  }

  .glyphicon-chevron-down {color: #DDDCDD;}

  .glyphicon-chevron-up {
    color: #DDDCDD;
  }

  .pagination-history {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }