//---------------------------------------------------
//
// MAIN VIEW
//
//---------------------------------------------------

div(ng-if="notFoundInDB")
  .row
    .col-xs-12
      |  This is a deleted Upload

div(ng-if="!notFoundInDB")
  .row(ng-if="deletedObject && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
    .col-xs-12
      |  This is a deleted Upload
  .row(ng-if="!deletedObject || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
    .col-xs-12
      h4
        | Owner:&nbsp;
        span.ae-desc-links.cursor-pointer(ng-click='goToPublicProfile(archive.owner)') {{archive.owner}}
  .row(ng-if="!getArchiveTracker && !fixUploadTracker && (!deletedObject || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']))")
    .col-xs-6.single-archive(ng-class="{ loading : performingJobTracker }")
      .row
        .col-xs-8
          span.metadata.single-metadata
            i.text-icon
              img.archive-icon(src="img/icons-new/archive-icon-22x17.png")
            | &nbsp;mapAEId: # {{archive.uploadId}} 
            br
            | {{archive.repository.repositoryName}} &nbsp;
            br
            | {{archive.collection.collectionName}} &nbsp;
            span(ng-if="archive.volume.volumeName")  
              | - &nbsp; Volume: 
              a.ae-desc-links(href="index.html#/mia/volume/{{archive.volume.volumeId}}" target="_blank") 
                | {{archive.volume.volumeName}}
            span(ng-if="archive.insert.insertName")  
              | - &nbsp; Insert: &nbsp;
              a.ae-desc-links(href="index.html#/mia/insert/{{archive.insert.insertId}}" target="_blank")
                | {{archive.insert.insertName}}
            br
            span.entity-label {{ 'singleAentity.DESCRIPTION' | translate }} 
            | {{archive.aeDescription}}
            br
            span.entity-label {{ 'singleAentity.PRIVACY' | translate }} 
            | {{archive.privacy}}
            br
            span.private-message(ng-if="!errorDeleting && archive.logicalDelete == 1 && canChangePrivacy")
              | THIS IS DELETED UPLOAD

          .mt-5
            .display-inline-block.mr-5
              actions-history-dir(record-id="archive.uploadId" record-type="'AE'")
            a.btn.btn-success(ng-click="gotoComments()")
              | Comments
        .col-xs-4.privacy-settings
          .btn-group.pull-right(dropdown ng-if="canChangePrivacy")
            a#btn-change-privacy.btn.btn-xs.btn-default(type='button', dropdown-toggle)
              i.ion-android-arrow-dropdown.small-icons
              |  {{ 'singleAentity.SETPRIVACY' | translate }}
            ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='btn-change-privacy')
              li(role='menuitem')
                a(ng-click="setPrivacy(1)") {{ 'singleAentity.PRIVATE' | translate }}
              li(role='menuitem')
                  a(ng-click="setPrivacy(0)") {{ 'singleAentity.PUBLIC' | translate }}
              li(role='menuitem' ng-if="archive.privacy=='Private'")
                a(ng-click="chooseUsers()") {{ 'singleAentity.SHAREUSER' | translate }}
      .row
        .col-xs-12
          .row.ae-action-list
            .col-xs-12
              span
                span.single-actions.clickable(ng-if="canChangePrivacy" ng-click="editMeta()" ng-class="{'tab-active':visibility.showMeta}")
                  i.action-list
                    img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
                  |  {{ 'archive.EDITMETA' | translate }}
                span.single-actions.clickable(ng-if="canChangePrivacy" ng-click="addFiles()" ng-class="{'tab-active':visibility.showAddFile}")
                  i.action-list
                    img.add-icon(src="img/icons-new/add-icon-16x16.png")
                  |  {{ 'archive.ADDFILE' | translate }}
                //- span.single-actions.clickable(ng-click="reorder()" ng-class="{'tab-active':visibility.showReorder}")
                //-   i.action-list
                //-     img.order-icon(src="img/icons-new/change-icon-16x16.png")
                //-   span(ng-if="!visibility.showReorder")  Order Files
                //-   span(ng-if="visibility.showReorder") Close the Order Files
                span.single-actions.clickable(ng-if="!visibility.showRotation" ng-click="enableRotation()" ng-class="{'tab-active': visibility.showRotation}")
                  i.action-list
                    img.order-icon(src="img/icons-new/rotate-icon-32x32.png")
                  |  {{'singleAentity.ROTATE' | translate}}
                span.single-actions.clickable(ng-if="visibility.showRotation" ng-click="disableRotation()" ng-class="{'tab-active': visibility.showRotation}")
                  i.action-list
                    img.order-icon(src="img/icons-new/rotate-icon-32x32.png")
                  |  {{'singleAentity.CLOSEROTATION' | translate}}
                span.single-actions.clickable(ng-if="(!visibility.showReorder) && canChangePrivacy" ng-click="reorder()" ng-class="{'tab-active':visibility.showReorder}")
                  i.action-list
                    img.order-icon(src="img/icons-new/change-icon-16x16.png")
                  |  {{'singleAentity.REORDERFILES' | translate}}
                span.single-actions.clickable(ng-if="visibility.showReorder && canChangePrivacy" ng-click="closeReorder()" ng-class="{'tab-active':visibility.showReorder}")
                  i.action-list
                    img.order-icon(src="img/icons-new/change-icon-16x16.png")
                  |  {{'singleAentity.CLOSEREORDERFILES' | translate}}
                span.single-actions.clickable(ng-if="!errorDeleting && archive.logicalDelete == 0 && canChangePrivacy" ng-click="deleteAEntity(archive.uploadId)")
                  i.action-list
                    img.delete-icon(src="img/icons-new/delete-icon-13x18.png")
                  |  {{'singleAentity.DELETEAE' | translate}}
                span.single-actions.clickable(ng-if="!errorDeleting && archive.logicalDelete == 1 && canChangePrivacy" ng-click="undeleteAEntity(archive.uploadId)")
                  i.action-list
                    img.delete-icon(src="img/icons-new/delete-icon-13x18.png")
                  |  {{'singleAentity.UNDELETEAE' | translate}}
                
                //- span.single-actions.clickable(ng-if="errorDeleting")
                //-   |  {{errorMess}}
          //drag & drop enabled
          .row(ng-if="archive.thumbsFiles")
            .col-xs-12
              pagination(ng-cloak ng-show="!getArchiveTracker" max-size="5" class="pagination-sm" boundary-links="true" items-per-page="thumbNumb" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)")  
          .row.drag-and-drop-area(ng-if="visibility.showReorder")
            .col-xs-12
              .row
                .col-xs-12
                  .entity-title.reorder-title
                    | {{'archive.REORDERINSTRUC' | translate}}
              .row.thumbs-row(ng-if="visibility.showReorder")
                .col-xs-4.thumbs-img-cont(ng-repeat="image in archive.thumbsFiles | orderBy:'imageOrder'" ng-drop="true" ng-drop-success="onDropComplete(image.imageOrder, $data, $event, false)")
                  div.view.view-first(ng-style="image.isSelected && {'border': '4px solid blue'}")
                    img.error-thumb(ng-drag="true" ng-drag-data="image" ng-show="!image.converted" ng-src="img/errorUpload.png")
                    img.manuscript-thumb(ng-drag="true" ng-drag-data="image" ng-show="image.converted" ng-src="{{image.filePath}}" ng-class="{viewing: image.moved}")
                    div.mask(ng-drag="true" ng-drag-data="image")
                      .mask-header
                        .image-folio
                          label.image-name-label(ng-if="image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined")
                            | Folio No:&nbsp;
                          folio-numb-dir(thumb="image")
                          label.image-name-label(ng-if="image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                            | Image name:&nbsp; 
                            .folio-image-name {{image.fileName}}
              .row
                .col-xs-6
                  .drop-button(ng-drop="true" ng-drop-success="onDropComplete('previousPage', $data, $event, true)" ng-if="currentPage>1")
                    | Drop here to bring to previous page
                .col-xs-6                  
                  .drop-button(ng-drop="true" ng-drop-success="onDropComplete('nextPage', $data, $event, true)" ng-if="currentPage<archive.pagination.totalPagesForSingleAe")
                    | Drop here to bring to next page

          //Rotation
          .row.rotation-area(ng-if="visibility.showRotation")
            .col-xs-12
              .row.rotation-action
                .col-xs-3
                  button(ng-click="selectAllImages(archive.thumbsFiles)")
                    | {{ 'singleAentity.SLCTALL' | translate }}
                .col-xs-3
                  button(ng-click="rotateSelectedImages(270)")
                    | {{ 'singleAentity.ROT90L' | translate }}
                .col-xs-3
                  button(ng-click="rotateSelectedImages(90)")
                    | {{ 'singleAentity.ROT90R' | translate }}
                .col-xs-3
                  button(ng-click="rotateSelectedImages(180)")
                    | {{ 'singleAentity.ROT180' | translate }}
            .col-xs-12
              .row.thumbs-row(ng-if="visibility.showRotation")
                div(style="font-size: 13px; color: black")
                  | {{ 'singleAentity.HINT' | translate}}
                .col-xs-4.thumbs-img-cont(ng-repeat="image in archive.thumbsFiles | orderBy:'imageOrder'" ng-click="selectImage(image, $event)")
                  div.view.view-first(ng-style="selectedImages[image.uploadFileId] && {'border': '4px solid blue'}")
                    img.error-thumb(ng-show="!image.converted" ng-src="img/errorUpload.png")
                    img.error-thumb(ng-drag="true" ng-drag-data="image" ng-show="!image.canView && image.converted" ng-src="img/privateImage.png")
                    img.manuscript-thumb(ng-show="image.converted && image.canView" ng-src="{{image.filePath + '&random=' + random}}" ng-class="{viewing: image.moved}")

          //default
          .row.thumbs-row#browse-arch-loc(ng-if="!visibility.showReorder && !visibility.showRotation")
            .col-xs-4.thumbs-img-cont(ng-repeat="image in archive.thumbsFiles  | orderBy:'imageOrder'")
              div.view(ng-show="image.converted==2 || image.converted==4 || image.converted==5")
                .lock-privacy(ng-if="image.privacy==1")
                  i.glyphicon.glyphicon-lock(style="cursor: default;")
              div.view.view-first(ng-show="image.converted==2 || image.converted==4 || image.converted==5")
                .lock-privacy-shared(ng-if="image.privacy==1")
                  i(ng-if="isSharedImage(image) != -1")
                    img.shared-icon(src="img/icons-new/people-icon.png" ng-if="image.canView")
                img.error-thumb(ng-drag="true" ng-drag-data="image" ng-show="!image.canView" ng-src="img/privateImage.png")
                img.manuscript-thumb(ng-if="image.canView" ng-src="{{image.filePath + '&random=' + random}}" ng-class="{viewing: image.highlighted}" ng-click="openViewer(image)")
                .edit-button.vertical-btns(ng-if="image.canView")
                  .vertical-btn.btn-group.pull-right(dropdown)
                    button#btn-edit-button.mti-5.btn.btn-xs.btn-default(type='button' title="Edit" dropdown-toggle)
                      i.fa.fa-pencil
                    ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='btn-edit-button' ng-style="(($index + 1) % 3 === 1) && {'right':'auto'}")
                      li(ng-if="canCreateDoc(image)")
                        a.info(ng-click="documentEntity(image)")
                          img.dropdown-icon(src="img/icons-new/create-doc-icon-14x14.png")
                          | {{'singleAentity.CREATEDE' | translate}}
                      //- li
                      //-   a.info(ng-click="openViewer(image)")
                      //-     img.dropdown-icon(src="img/icons-new/show-image-icon-14x14.png")
                      //-     | {{'singleAentity.SHOWMAN' | translate}}
                      li(ng-if="canChangePrivacy")
                        a.info(ng-click="openViewer(image); downloadDocument(image.uploadFileId)")
                          img.dropdown-icon(src="img/icons-new/download-image-icon-14x14.png")
                          | {{'singleAentity.DOWNLOADMAN' | translate}}
                      li
                        a.info(ng-click="openViewer(image); editImageMetadata(image.uploadFileId)")
                          img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
                          | {{'singleAentity.EDITMANMETA' | translate}}
                      li(ng-if="canChangePrivacy")
                        a.info(ng-click="replaceModal(image.uploadFileId)")
                          img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
                          | {{'singleAentity.RPLIMG' | translate}}
                      li(ng-if="canChangePrivacy")
                        a.info(ng-click="rotate(image, 270)")
                          img.dropdown-icon(src="img/icons-new/rotate90.png")
                          | {{'singleAentity.ROT90L' | translate}}
                      li(ng-if="canChangePrivacy")
                        a.info(ng-click="rotate(image, 90)")
                          img.dropdown-icon(src="img/icons-new/rotate270.png")
                          | {{'singleAentity.ROT90R' | translate}}
                      li(ng-if="canChangePrivacy")
                        a.info(ng-click="rotate(image, 180)")
                          img.dropdown-icon(src="img/icons-new/rotate90.png")
                          | {{'singleAentity.ROT180' | translate}}
                      li(ng-if="canChangePrivacy")
                        a.info(ng-click="deleteDocument(image.uploadFileId)")
                          img.dropdown-icon(src="img/icons-new/dropdown-delete-icon-14x14.png")
                          | {{'singleAentity.DELETEDOC' | translate}}
                      li(ng-if="image.privacy==1 && canChangePrivacy")
                        a.info(ng-click="setSingleDocPrivacy(image.uploadFileId, 0)")
                          img.dropdown-icon(src="img/icons-new/dropdown-public-icon-14x14.png")
                          | {{'singleAentity.SETTOPUB' | translate}}
                      li(ng-if="image.privacy==0 && canChangePrivacy")
                        a.info(ng-click="setSingleDocPrivacy(image.uploadFileId, 1, image.canSetPrivate)")
                          img.dropdown-icon(src="img/icons-new/dropdown-private-icon-14x14.png")
                          | {{'singleAentity.SETTOPRIV' | translate}}
                      li(ng-if="image.privacy==1 && canChangePrivacy")
                        a.info(ng-click="chooseUsersWithImage(image)")
                          img.dropdown-icon(src="img/icons-new/dropdown-private-icon-14x14.png")
                          | {{'singleAentity.SHAREUSER' | translate}}
                //.folio-number-abs 1r
                .folio-number-abs(ng-if="image.canView")
                  div(ng-if="image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined")
                    span(ng-if="image.folios[0].noNumb")
                      | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                    span(ng-if="image.folios[0].folioNumber")
                      | {{image.folios[0].folioNumber}}
                    span(ng-if="image.folios[0].folioNumber && image.folios[0].rectoverso  && image.folios[0].rectoverso!=''")
                      | &nbsp;{{image.folios[0].rectoverso}}
                    span(ng-if="image.folios[1].noNumb")
                      | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                    span(ng-if="image.folios[1].folioNumber")
                      | &nbsp;/ {{image.folios[1].folioNumber}}
                    span(ng-if="image.folios[1].folioNumber && image.folios[1].rectoverso  && image.folios[1].rectoverso!=''")
                      | &nbsp;{{image.folios[1].rectoverso}}
                  div(ng-if="image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                    span {{ 'docEntity.TOBENUMBERED' | translate }}
                 .view-documents(ng-if="image.documentCount == 1")
                  img(src="img/icons-new/documents-attached-icon-30x30-white.png" style="background-color: #47323c;border-radius: 4px;" title="1 transcribed document available" ng-click="showDocumentList(image)")
                .view-documents(ng-if="image.documentCount > 1")
                  img(src="img/icons-new/documents-attached-icon-30x30-white.png" style="background-color: #47323c;border-radius: 4px;" title="{{image.documentCount}} transcribed documents available" ng-click="showDocumentList(image)")
              div.view(ng-show="image.converted==3 || image.converted==6")
                img.error-thumb.clickable(ng-drag="true" ng-drag-data="image" ng-src="img/errorUpload.png" ng-click="fixUpload(image.uploadFileId)")
                div.mask
                  .mask-header
                    .icons
                      .edit-button
                        .btn-group.pull-right(dropdown)
                          button#btn-append-to-single-button.btn.btn-xs.btn-default(type='button', dropdown-toggle)
                            i
                              img.edit-icon-ae.edit-icon-inside-image(src="img/icons-new/edit-icon-white-17x17.png")
                          ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='btn-append-to-single-button')
                            li
                              a.info(ng-click="fixUpload(image.uploadFileId)")
                                img.dropdown-icon(src="img/icons-new/create-doc-icon-14x14.png")
                                | Try to fix the error
                            li
                              a.info(ng-if="canChangePrivacy" ng-click="replaceModal(image.uploadFileId)")
                                img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
                                | Replace Image
                            li
                              a.info(ng-if="canChangePrivacy" ng-click="deleteDocument(image.uploadFileId)")
                                img.dropdown-icon(src="img/icons-new/dropdown-delete-icon-14x14.png")
                                | {{'singleAentity.DELETEDOC' | translate}}
                      .clear
              div.view(ng-show="image.converted==0 || image.converted==1")
                img.error-thumb.clickable(ng-drag="true" ng-drag-data="image" ng-src="img/newUpload.png" ng-click="pageChanged()")
          .row(ng-if="archive.thumbsFiles")
            .col-xs-12
              pagination(ng-cloak ng-show="!getArchiveTracker" max-size="5" class="pagination-sm" boundary-links="true" items-per-page="thumbNumb" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)")
      
    //---------------------------------------------------
    //
    // DOCUMENT ENTITY
    //
    //---------------------------------------------------
    .col-xs-6.second-coloumn(ng-if="visibility.showDocuEntity")
      .row
        .col-xs-12
          span.entity-title
            | {{ 'singleAentity.DOCENTITYTITLE' | translate }}
            i.ion-easel
      .row.content-right-panel.form-group
        .col-xs-12.drag-and-drop-de(style="min-height:400px;")
          .row.thumbs-row
            .col-xs-4.thumbs-img-cont(ng-repeat="image in newDE  | orderBy:'imageOrder'")
              img(ng-src="{{image.filePath}}")
      .row
        .col-xs-12
          button.btn.btn-default.btn-xs(ng-click='closeDocuEntity()')
            | {{'general.CLOSE' | translate}}

    //---------------------------------------------------
    //
    // ADDFILE PANEL
    //
    //---------------------------------------------------
    .col-xs-6.second-coloumn(ng-if="visibility.showAddFile")
      .row
        .col-xs-12
          form.form-group(name='uploadForm')
            fieldset
            .row
              .col-xs-12
                span.entity-title
                  | {{ 'singleAentity.ADDFILETOAE' | translate }}
                  i.ion-images.text-icon
            .row.content-right-panel  
              .col-xs-12
                | {{ 'singleAentity.LASTFILE' | translate}}
                span.last-file {{lastFile}}
            .row.content-right-panel              
              .col-xs-6.col-xs-offset-1
                label(for="file" class="custom-file-upload" ng-click="getFiles()")
                  .btn.btn-success
                    | {{'sidebar.upload.CHOOSEIMG' | translate}}
                input#file-upload.form-control(
                  type='file',
                  ngf-select='',
                  ng-model="picFiles",
                  name='file',
                  accept='.jpg, .tif, .tiff, .jpeg',
                  ngf-max-total-size='300MB',
                  ngf-max-files="30",
                  ngf-min-height="500",
                  ngf-min-width="500",
                  ngf-max-size="30MB",
                  ngf-model-invalid="invalidFiles",
                  ngf-validate-async-fn="validatePicFiles($file)",
                  ngf-fix-orientation="false",
                  multiple,
                  required=''
                  ng-change="checkFiles(picFiles)"
                  style="color:#663333;background-color:#eae9e8; border: 1px solid #333; border-radius:3px;")
            .col-xs-3
                br
            .row
              .col-xs-11.col-xs-offset-1    
                span.required(ng-show="uploadForm.file.$error.maxFiles")
                  | {{ 'sidebar.upload.TOOMANYFILES' | translate }}
                span.required(ng-show="uploadForm.file.$error.maxTotalSize")
                  | {{ 'sidebar.upload.UPLOADBIG' | translate }}                   
            .row(ng-if="invalidFiles.length > 0")
              .col-xs-12
                  h6
                    | {{ 'sidebar.upload.NOTUPLOADEDLIST' | translate }}
            .row(ng-repeat="singlefile in invalidFiles")
              .col-xs-5.col-xs-offset-1
                | {{singlefile.name}}
              .col-xs-6
                span.required(ng-show="singlefile.$error === 'minWidth' || singlefile.$error === 'minHeight'")
                  | {{ 'singleAentity.FILESMALERR' | translate }} 
                span.required(ng-show="singlefile.$error === 'maxSize'")
                  | {{ 'sidebar.upload.FILEBIG' | translate }}  
                span.required(ng-show="singlefile.$error === 'invalidType'")
                    | {{ 'sidebar.upload.FILETYPE' | translate }} 
            .row(ng-if="picFiles.length === 0 && invalidFiles.length > 0")
              .col-xs-10.col-xs-offset-1
                h5
                  | {{ 'singleAentity.FILEALLEJECTED' | translate }}                      
            .row(ng-if="picFiles.length")
              .col-xs-12
                  h6
                    | {{ 'singleAentity.FILETOUP' | translate }}                  
            .row(ng-repeat="picFile in picFiles")
              .col-xs-8.col-xs-offset-1
                | {{picFile.name}}
              .col-xs-3
                button.btn.btn-xs.btn-success.base-hover(ng-click='picFiles.splice($index,1)', ng-show='picFile && !uploadFinished')
                  | {{'sidebar.upload.REMOVE' | translate}}
                //- button.btn.btn-xs.btn-success.ladda-button(
                //- ladda-button="uploading" ng-click='picFiles.splice($index,1)', ng-show='picFile && !uploadFinished')
                //-   span.ladda-label
                //-     | {{'sidebar.upload.REMOVE' | translate}}
                br
                span.progress(ng-show='picFile.progress >= 0')
                  div(style='width:{{picFile.progress}}%', ng-bind="picFile.progress + '%'")
                span(ng-show='picFile.result') {{'sidebar.upload.SUCCESS' | translate}}
                span.err(ng-show='errorMsg') {{errorMsg}}
            .row(ng-show="uploading")
              .col-xs-2.col-xs-offset-1
                .legend {{'sidebar.upload.PROGRESS' | translate}}
              .col-xs-6
                progressbar(max="100" value="progress")
                  | {{progress}} / 100
              .col-xs-3
                .legend(ng-show="progress == 100")
                  | {{'sidebar.upload.DONE' | translate}}
            br
            span(ng-if="picFiles.length> 0  && (uploadForm.file.$error.minWidth || uploadForm.file.$error.minHeight || uploadForm.file.$error.maxSize || uploadForm.file.$error.maxFiles || uploadForm.file.$error.maxTotalSize)")
                  br
                  | {{ 'sidebar.upload.AREYOUSUREONLYTHESEFILES' | translate }}
            br
            .row
              .col-xs-12
                .btn-group
                  button.btn.btn-xs.btn-success(ng-hide='!picFiles.length || uploadFinished', ng-click='addFileToAE(picFiles)')
                    | {{'sidebar.UPLOAD' | translate}}
                  button.btn.btn-xs.btn-success(ng-if="uploadFinished" ng-click='cancelAddFiles()')
                    | {{'general.CLOSE' | translate}}
                  button.btn.btn-xs.btn-success(ng-if="!uploadFinished" ng-click='cancelAddFiles()')
                    | {{'general.CANCEL' | translate}}

    //---------------------------------------------------
    //
    // DOCUMENT VIEWER
    //
    //---------------------------------------------------
    .col-xs-6.second-coloumn(ng-if="visibility.showViewer && imageWithPrivacy")
      .row
        .col-xs-12
          span.entity-title
            | {{ 'singleAentity.DOCVIEWER' | translate }} 
            i.ion-easel
      .row.content-right-panel.form-group
        .col-xs-12
          a.fullscreen-link(ng-click="openTranscriptor()")
            | Show Fullscreen  &nbsp;
            i.ion-arrow-expand
          .clear
          iframe.viewing.js-viewer(ng-src="{{viewerAddress}}")
      .row
        .col-xs-12
          button.btn.btn-default.btn-xs(ng-click='closeViewer()')
            | {{'general.CLOSE' | translate}}
    //---------------------------------------------------
    //
    // EDIT METADATA
    //
    //---------------------------------------------------
    .col-xs-6.second-coloumn(ng-if="visibility.showMeta")
      form(name="metaDataForm")
        fieldset
          .row
            .col-xs-12
              span.entity-title
                | {{ 'sidebar.EDITMETA' | translate }}
          //
          // AENAME
          //
          .row.content-right-panel.form-group
            .col-xs-3
              label {{ 'singleAentity.AENAME' | translate }}
            .col-xs-5
              input.form-control(name="aeName" type="text" ng-model="archiveToEdit.aeName" ng-change="dataEdited()" ng-class="{'has-error': !archiveToEdit.aeName || archiveToEdit.aeName.length>254}")
          //
          // AEDESCRIPTION
          //
          .row.content-right-panel.form-group
            .col-xs-3
              label {{ 'singleAentity.AEDESC' | translate }}
            .col-xs-5
              textarea.form-control(name="aeDesc" type="text" ng-model="archiveToEdit.aeDescription" ng-change="dataEdited()" ng-class="{'has-error': !archiveToEdit.aeDescription}")              
          //
          // REPOSITORY
          //
          .row.content-right-panel.form-group
            .col-xs-3
              label {{ 'sidebar.upload.ARCHIVE' | translate }}
            //.col-xs-5(ng-if="archiveToEdit.repository.repositoryName")
            .col-xs-5(ng-if="archiveToEdit.repository.repositoryName")
              | {{archiveToEdit.repository.repositoryName}}
            //.col-xs-3(ng-if="archiveToEdit.repository.repositoryName")
              //- button.btn.btn-default.btn-xs(ng-click='addRepo()' popover="{{ 'singleAentity.EDITREPO' | translate }}" popover-trigger="mouseenter")
              //-   i
              //-     img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
            .col-xs-6(ng-if="!archiveToEdit.repository.repositoryName")
              button.btn.btn-default.btn-xs(ng-click='addRepo()')
                | {{ 'sidebar.upload.CHOOSEARCHIVE' | translate }}

          //
          // COLLECTION
          //
          .row.form-group(ng-if="archiveToEdit.repository")
            .col-xs-3
              label {{ 'sidebar.upload.COLLECTION' | translate }}
            .col-xs-5(ng-if="archiveToEdit.collection.collectionName")
              | {{archiveToEdit.collection.collectionName}}
            .col-xs-3(ng-if="archiveToEdit.collection.collectionName")
              button.btn.btn-default.btn-xs(ng-click='addCollection()' popover="{{ 'singleAentity.EDITCOLLECTION' | translate }}" popover-trigger="mouseenter")
                i
                  img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
            .col-xs-6(ng-if="!archiveToEdit.collection.collectionName")
              button.btn.btn-default.btn-xs(ng-click='addCollection()')
                | {{ 'sidebar.upload.CHOOSECOLLECTION' | translate }}

          //
          // SERIES
          //
          //.row.form-group(ng-if="archiveToEdit.collection && archiveToEdit.collection.collectionId == 1")
          //  .col-xs-3
          //    label {{ 'sidebar.upload.SERIES' | translate }}
          //  .col-xs-5(ng-if="archiveToEdit.series.seriesName")
          //    | {{archiveToEdit.series.seriesName}}
          //  .col-xs-3(ng-if="archiveToEdit.series.seriesName")
          //    button.btn.btn-default.btn-xs(ng-click='addSeries()' popover="{{ 'singleAentity.EDITSERIE' | translate }}" popover-trigger="mouseenter")
          //      i
          //        img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
          //  .col-xs-6(ng-if="!archiveToEdit.series.seriesName")
          //    button.btn.btn-default.btn-xs(ng-click='addSeries()')
          //      | {{ 'sidebar.upload.CHOOSESERIES' | translate }}

          //
          // VOLUME
          //
          .row.form-group(ng-if="archiveToEdit.collection.collectionName")
            .col-xs-3
              label {{ 'sidebar.upload.VOLUME' | translate }}
            .col-xs-5(ng-if="archiveToEdit.volume.volumeName")
              | {{archiveToEdit.volume.volumeName}}
            .col-xs-3(ng-if="archiveToEdit.volume.volumeName")
              button.btn.btn-default.btn-xs(ng-click='addVolume()' popover="{{ 'singleAentity.EDITVOLUME' | translate }}" popover-trigger="mouseenter")
                i
                  img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
            .col-xs-6(ng-if="!archiveToEdit.volume.volumeName")
              button.btn.btn-default.btn-xs(ng-click='addVolume()')
                | {{ 'sidebar.upload.CHOOSEVOLUME' | translate }}
          //
          // INSERT
          //
          .row.form-group(ng-if="archiveToEdit.volume.volumeName && (archiveToEdit.insert.insertName || !archiveToEdit.insert.insertName && canChooseInsertAe())")
            .col-xs-3
              label {{ 'sidebar.upload.INSERT' | translate }}
            .col-xs-5(ng-if="archiveToEdit.insert.insertName")
              | {{archiveToEdit.insert.insertName}}
            .col-xs-3(ng-if="archiveToEdit.insert.insertName")
              button.btn.btn-default.btn-xs(ng-click='addInsert()' popover="{{ 'singleAentity.EDITINSERT' | translate }}" popover-trigger="mouseenter")
                i
                  img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
            .col-xs-6(ng-if="!archiveToEdit.insert.insertName && canChooseInsertAe()")
              button.btn.btn-default.btn-xs(ng-click='addInsert()')
                | {{ 'sidebar.upload.CHOOSEINSERT' | translate }}
          .row
            .col-xs-5
              .btn-group
                button.btn.btn-success.btn-xs.ladda-button(
                ladda-button="editMetaLoader"
                ng-click="finishEditMeta()"
                data-style="expand-right"
                ng-disabled="!canISave()")
                  span.ladda-label
                    | {{ 'general.SAVE' | translate }}
                button.btn.btn-success.btn-xs(ng-click="closeEditMeta()")
                  | {{ 'general.CANCEL' | translate }}
          .row(ng-if="debug")
            .col-xs-12
              pre
                | {{niceJson(archiveToEdit)}}

    .col-xs-12.mt-15.mb-15(ng-if="(archive.privacy!='Private')")
      comments-dir(record-type="'AE'" record-id="$stateParams.aeId" owner="archive.owner")

  .row(ng-if="(getArchiveTracker || fixUploadTracker) && (!deletedObject || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']))")
    .col-xs-12
      .rotate-container
        .rotate
