// METADATA
div.mb-15(ng-if="currentAction.data.hasOwnProperty('metadata')")
  h3.mt-0 METADATA

  div(ng-if="currentAction.data.metadata.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.metadata.edit.before.hasOwnProperty('aeName') && currentAction.data.metadata.edit.after.hasOwnProperty('aeName')")
          th Title
          th {{currentAction.data.metadata.edit.before.aeName}}
          th {{currentAction.data.metadata.edit.after.aeName}}

        tr.cursor-default(ng-if="currentAction.data.metadata.edit.before.hasOwnProperty('aeDescription') && currentAction.data.metadata.edit.after.hasOwnProperty('aeDescription')")
          th Description
          th {{currentAction.data.metadata.edit.before.aeDescription}}
          th {{currentAction.data.metadata.edit.after.aeDescription}}

        tr.cursor-default(ng-if="currentAction.data.metadata.edit.before.hasOwnProperty('collection') && currentAction.data.metadata.edit.after.hasOwnProperty('collection')")
          th Collection
          th {{currentAction.data.metadata.edit.before.collection}}
          th {{currentAction.data.metadata.edit.after.collection}}

        tr.cursor-default(ng-if="currentAction.data.metadata.edit.before.hasOwnProperty('category') && currentAction.data.metadata.edit.after.hasOwnProperty('category')")
          th Category
          th {{currentAction.data.metadata.edit.before.category}}
          th {{currentAction.data.metadata.edit.after.category}}

        tr.cursor-default(ng-if="currentAction.data.metadata.edit.before.hasOwnProperty('volume') && currentAction.data.metadata.edit.after.hasOwnProperty('volume')")
          th Volume
          th {{currentAction.data.metadata.edit.before.volume}}
          th {{currentAction.data.metadata.edit.after.volume}}

        tr.cursor-default(ng-if="currentAction.data.metadata.edit.before.hasOwnProperty('insert') && currentAction.data.metadata.edit.after.hasOwnProperty('insert')")
          th Insert
          th {{currentAction.data.metadata.edit.before.insert}}
          th {{currentAction.data.metadata.edit.after.insert}}


// PRIVACY SETTINGS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('upload')")
  h3.mt-0 PRIVACY SETTINGS

  div(ng-if="currentAction.data.upload.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.upload.edit.before.hasOwnProperty('privacy') && currentAction.data.upload.edit.after.hasOwnProperty('privacy')")
          th
            | Privacy
            span(ng-if="currentAction.data.upload.edit.before.hasOwnProperty('files')") &nbsp;(file ID
              | #
              | {{currentAction.data.upload.edit.before.files}})
          th {{currentAction.data.upload.edit.before.privacy}}
          th {{currentAction.data.upload.edit.after.privacy}}


// PRIVACY SETTINGS (SHARE WITH USERS)
div.mb-15(ng-if="currentAction.data.hasOwnProperty('shareAE')")
  h3.mt-0 SHARE WITH USERS

  div(ng-if="currentAction.data.shareAE.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.shareAE.edit.before.hasOwnProperty('accounts') && currentAction.data.shareAE.edit.after.hasOwnProperty('accounts')")
          th Accounts
          th {{currentAction.data.shareAE.edit.before.accounts.join(', ')}}
          th {{currentAction.data.shareAE.edit.after.accounts.join(', ')}}


// UPLOAD FILES
div.mb-15(ng-if="currentAction.data.hasOwnProperty('uploadFile')")
  h3.mt-0 FILES

  div(ng-if="currentAction.data.uploadFile.hasOwnProperty('add')")
    h4 Action: Add
    p Count: {{currentAction.data.uploadFile.add.files}}

  div(ng-if="currentAction.data.uploadFile.hasOwnProperty('delete')")
    h4 Action: Delete
    p File ID: {{currentAction.data.uploadFile.delete.files}}

  div(ng-if="currentAction.data.uploadFile.hasOwnProperty('edit')")
    h4 Action: Edit
    p Privacy: {{currentAction.data.uploadFile.edit.privacy}}
    p File ID: {{currentAction.data.uploadFile.edit.files}}


// REORDER FILES
div.mb-15(ng-if="currentAction.data.hasOwnProperty('reorderFile')")
  h3.mt-0 REORDER FILE

  div(ng-if="currentAction.data.reorderFile.hasOwnProperty('edit')")
    h4 Action: Edit
    p File ID: {{currentAction.data.reorderFile.edit.fileID}}
    p Position: {{currentAction.data.reorderFile.edit.position}}


// ROTATE
div.mb-15(ng-if="currentAction.data.hasOwnProperty('rotateFile')")
  h3.mt-0 ROTATE FILES

  div(ng-if="currentAction.data.rotateFile.hasOwnProperty('edit')")
    h4 Action: Edit
    p Degree: {{currentAction.data.rotateFile.edit.direction}}°
    p Count: {{currentAction.data.rotateFile.edit.files}}


// FILE METADATA
div.mb-15(ng-if="currentAction.data.hasOwnProperty('fileMetadata')")
  h3.mt-0 FILE METADATA

  div(ng-if="currentAction.data.fileMetadata.hasOwnProperty('edit')")
    h4 Action: Edit

    div(ng-repeat="folio in currentAction.data.fileMetadata.edit.folios")

      div(ng-if="!folio.noNumb")
        p Number of the folio: {{folio.folioNumber}}
        p(ng-if="folio.rectoverso") Recto/Verso: {{folio.rectoverso}}
        p File ID: {{folio.uploadFileId}}

      div(ng-if="folio.noNumb")
        p Number of the folio: Not Numbered Folio
        p File ID: {{folio.uploadFileId}}

      hr(ng-if="currentAction.data.fileMetadata.edit.folios.length > 1 && $index+1 != currentAction.data.fileMetadata.edit.folios.length")


// REPLACE IMAGE
div.mb-15(ng-if="currentAction.data.hasOwnProperty('replaceFile')")
  h3.mt-0 REPLACE IMAGE

  div(ng-if="currentAction.data.replaceFile.hasOwnProperty('add')")
    h4 Action: Replace

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.replaceFile.add.before.hasOwnProperty('fileId') && currentAction.data.replaceFile.add.after.hasOwnProperty('fileId')")
          th File Id
          th {{currentAction.data.replaceFile.add.before.fileId}}
          th {{currentAction.data.replaceFile.add.after.fileId}}

