// PRIVACY SETTINGS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentPrivacy')")
  h3.mt-0 PRIVACY SETTINGS

  div(ng-if="currentAction.data.documentPrivacy.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.documentPrivacy.edit.before.hasOwnProperty('privacy') && currentAction.data.documentPrivacy.edit.after.hasOwnProperty('privacy')")
          th Privacy
          th {{currentAction.data.documentPrivacy.edit.before.privacy}}
          th {{currentAction.data.documentPrivacy.edit.after.privacy}}


// PRIVACY SETTINGS (SHARE WITH USERS)
div.mb-15(ng-if="currentAction.data.hasOwnProperty('shareDocument')")
  h3.mt-0 SHARE WITH USERS

  div(ng-if="currentAction.data.shareDocument.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.shareDocument.edit.before.hasOwnProperty('accounts') && currentAction.data.shareDocument.edit.after.hasOwnProperty('accounts')")
          th Accounts
          th {{currentAction.data.shareDocument.edit.before.accounts.join(', ')}}
          th {{currentAction.data.shareDocument.edit.after.accounts.join(', ')}}


// Edit images in this Document record
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentImages')")
  h3.mt-0 IMAGES IN THIS DOCUMENT

  div(ng-if="currentAction.data.documentImages.hasOwnProperty('add')")
    h4 Action: Edit
    p Images count: {{currentAction.data.documentImages.add.images.length}}


// TRANSCRIPTION
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentTranscription')")
  h3.mt-0 TRANSCRIPTION

  div(ng-if="currentAction.data.documentTranscription.hasOwnProperty('add')")
    h4 Action: Add
    p Transcription: {{currentAction.data.documentTranscription.add.transcription}}

  div(ng-if="currentAction.data.documentTranscription.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.documentTranscription.edit.before.hasOwnProperty('transcription') && currentAction.data.documentTranscription.edit.after.hasOwnProperty('transcription')")
          th Transcription (ID {{currentAction.data.documentTranscription.edit.before.id || currentAction.data.documentTranscription.edit.after.id}})
          th {{currentAction.data.documentTranscription.edit.before.transcription}}
          th {{currentAction.data.documentTranscription.edit.after.transcription}}


// SYNOPSIS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentSynopsis')")
  h3.mt-0 SYNOPSIS

  div(ng-if="currentAction.data.documentSynopsis.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.documentSynopsis.edit.before.hasOwnProperty('synopsis') && currentAction.data.documentSynopsis.edit.after.hasOwnProperty('synopsis')")
          th Synopsis
          th {{currentAction.data.documentSynopsis.edit.before.synopsis}}
          th {{currentAction.data.documentSynopsis.edit.after.synopsis}}


// Bibliographical References
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentBiblio')")
  h3.mt-0 BIBLIOGRAPHICAL REFERENCES

  div(ng-if="currentAction.data.documentBiblio.hasOwnProperty('add')")
    h4 Action: Add
    p Reference Name: {{currentAction.data.documentBiblio.add.name}}
    p Reference Link: {{currentAction.data.documentBiblio.add.link}}

  div(ng-if="currentAction.data.documentBiblio.hasOwnProperty('delete')")
    h4 Action: Delete
    p Bibliographical Id: {{currentAction.data.documentBiblio.delete.biblioId}}


// DOCUMENT RECORD DETAILS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('basicDescription')")
  h3.mt-0 DOCUMENT DETAILS

  div(ng-if="currentAction.data.basicDescription.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('deTitle') && currentAction.data.basicDescription.edit.after.hasOwnProperty('deTitle')")
          th Title
          th {{currentAction.data.basicDescription.edit.before.deTitle}}
          th {{currentAction.data.basicDescription.edit.after.deTitle}}

        tr.cursor-default(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('typology') && currentAction.data.basicDescription.edit.after.hasOwnProperty('typology')")
          th Document Typology
          th {{currentAction.data.basicDescription.edit.before.typology}}
          th {{currentAction.data.basicDescription.edit.after.typology}}

        tr.cursor-default(ng-if="(currentAction.data.basicDescription.edit.before.hasOwnProperty('docYear') || currentAction.data.basicDescription.edit.before.hasOwnProperty('docMonth') || currentAction.data.basicDescription.edit.before.hasOwnProperty('docDay')) && (currentAction.data.basicDescription.edit.after.hasOwnProperty('docYear') || currentAction.data.basicDescription.edit.after.hasOwnProperty('docMonth') || currentAction.data.basicDescription.edit.after.hasOwnProperty('docDay'))")
          th Document date
          th
            span.mr-5(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('docYear')") Year: {{currentAction.data.basicDescription.edit.before.docYear || '--'}};
            span.mr-5(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('docMonth')" ng-init="befDocMonth = getMonthName(currentAction.data.basicDescription.edit.before.docMonth)") Month: {{befDocMonth != 0 ? befDocMonth : '--'}};
            span.mr-5(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('docDay')") Day: {{currentAction.data.basicDescription.edit.before.docDay || '--'}};
          th
            span.mr-5(ng-if="currentAction.data.basicDescription.edit.after.hasOwnProperty('docYear')") Year: {{currentAction.data.basicDescription.edit.after.docYear || '--'}};
            span.mr-5(ng-if="currentAction.data.basicDescription.edit.after.hasOwnProperty('docMonth')" ng-init="aftDocMonth = getMonthName(currentAction.data.basicDescription.edit.after.docMonth)") Month: {{aftDocMonth != 0 ? aftDocMonth : '--'}};
            span.mr-5(ng-if="currentAction.data.basicDescription.edit.after.hasOwnProperty('docDay')") Day: {{currentAction.data.basicDescription.edit.after.docDay || '--'}};

        tr.cursor-default(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('docUndated') && currentAction.data.basicDescription.edit.after.hasOwnProperty('docUndated')")
          th Document Undated
          th {{currentAction.data.basicDescription.edit.before.docUndated == 1 ? 'Yes' : 'No'}}
          th {{currentAction.data.basicDescription.edit.after.docUndated == 1 ? 'Yes' : 'No'}}

        tr.cursor-default(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('docModernYear') && currentAction.data.basicDescription.edit.after.hasOwnProperty('docModernYear')")
          th Modern Year
          th {{currentAction.data.basicDescription.edit.before.docModernYear}}
          th {{currentAction.data.basicDescription.edit.after.docModernYear}}

        tr.cursor-default(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('docDateUncertain') && currentAction.data.basicDescription.edit.after.hasOwnProperty('docDateUncertain')")
          th Date Uncertain
          th {{currentAction.data.basicDescription.edit.before.docDateUncertain == 1 ? 'Yes' : 'No'}}
          th {{currentAction.data.basicDescription.edit.after.docDateUncertain == 1 ? 'Yes' : 'No'}}

        tr.cursor-default(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('docDateNotes') && currentAction.data.basicDescription.edit.after.hasOwnProperty('docDateNotes')")
          th Date Notes
          th {{currentAction.data.basicDescription.edit.before.docDateNotes}}
          th {{currentAction.data.basicDescription.edit.after.docDateNotes}}

        tr.cursor-default(ng-if="currentAction.data.basicDescription.edit.before.hasOwnProperty('languages') && currentAction.data.basicDescription.edit.after.hasOwnProperty('languages')")
          th Document Languages
          th(ng-init="befLanguages = allLanguages(currentAction.data.basicDescription.edit.before.languages)") {{befLanguages}}
          th(ng-init="aftLanguages = allLanguages(currentAction.data.basicDescription.edit.after.languages)")  {{aftLanguages}}


// PEOPLE
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentPeople')")
  h3.mt-0 PEOPLE

  div(ng-if="currentAction.data.documentPeople.hasOwnProperty('add')")
    h4 Action: Add
    p
      |  Name: {{currentAction.data.documentPeople.add.personName}}
      span(ng-if="currentAction.data.documentPeople.add.unsure == 'u'")
        | &nbsp;- Unsure
    p Type: {{currentAction.data.documentPeople.add.type}}

  div(ng-if="currentAction.data.documentPeople.hasOwnProperty('delete')")
    h4 Action: Delete
    p Name: {{currentAction.data.documentPeople.delete.personName}}
    p Type: {{currentAction.data.documentPeople.delete.type}}


// PLACES
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentPlaces')")
  h3.mt-0 PLACES

  div(ng-if="currentAction.data.documentPlaces.hasOwnProperty('add')")
    h4 Action: Add
    p Name: {{currentAction.data.documentPlaces.add.placeName}}
    p Type: {{currentAction.data.documentPlaces.add.type == 'SenderPlace' ? 'Sender Place' : 'Recipient Place'}}

  div(ng-if="currentAction.data.documentPlaces.hasOwnProperty('delete')")
    h4 Action: Delete
    p Name: {{currentAction.data.documentPlaces.delete.placeName}}
    p Type: {{currentAction.data.documentPlaces.delete.type == 'SenderPlace' ? 'Sender Place' : 'Recipient Place'}}

  div(ng-if="currentAction.data.documentPlaces.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.documentPlaces.edit.before.hasOwnProperty('placeName') && currentAction.data.documentPlaces.edit.after.hasOwnProperty('placeName')")
          th Type: {{currentAction.data.documentPlaces.edit.before.type == 'SenderPlace' ? 'Sender Place' : 'Recipient Place'}}
          th {{currentAction.data.documentPlaces.edit.before.placeName}}
          th {{currentAction.data.documentPlaces.edit.after.placeName}}


// TOPICS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('documentTopics')")
  h3.mt-0 TOPICS

  div(ng-if="currentAction.data.documentTopics.hasOwnProperty('add')")
    h4 Action: Add
    p Topic: {{currentAction.data.documentTopics.add.topicName}}
    p Topic Place: {{currentAction.data.documentTopics.add.placeName}}

  div(ng-if="currentAction.data.documentTopics.hasOwnProperty('delete')")
    h4 Action: Delete
    p Topic: {{currentAction.data.documentTopics.delete.topicName}}
    p Topic Place: {{currentAction.data.documentTopics.delete.placeName}}

  div(ng-if="currentAction.data.documentTopics.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.documentTopics.edit.before.hasOwnProperty('topicName') && currentAction.data.documentTopics.edit.after.hasOwnProperty('topicName')")
          th Topic - Topic Place
          th {{currentAction.data.documentTopics.edit.before.topicName}} - {{currentAction.data.documentTopics.edit.before.placeName}}
          th {{currentAction.data.documentTopics.edit.after.topicName}} - {{currentAction.data.documentTopics.edit.before.placeName}}
