// GUARDIA
div.mb-15(ng-if="currentAction.data.hasOwnProperty('guardia')")
  h3.mt-0 GUARDIA

  div(ng-if="currentAction.data.guardia.hasOwnProperty('edit')")
    h4 Action: Edit
    p Who: {{currentAction.user}}


// INSERT BASIC METADATA
div.mb-15(ng-if="currentAction.data.hasOwnProperty('basicMetadata')")
  h3.mt-0 INSERT BASIC METADATA

  div(ng-if="currentAction.data.basicMetadata.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('startYear') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('startYear')")
          th Start Year
          th {{currentAction.data.basicMetadata.edit.before.startYear}}
          th {{currentAction.data.basicMetadata.edit.after.startYear}}

        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('startMonth') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('startMonth')")
          th Start Month
          th(ng-init="befStartMonth = getMonthName(currentAction.data.basicMetadata.edit.before.startMonth)") {{befStartMonth}}
          th(ng-init="aftStartMonth = getMonthName(currentAction.data.basicMetadata.edit.after.startMonth)") {{aftStartMonth}}

        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('startDay') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('startDay')")
          th Start Day
          th {{currentAction.data.basicMetadata.edit.before.startDay}}
          th {{currentAction.data.basicMetadata.edit.after.startDay}}

        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('endYear') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('endYear')")
          th End Year
          th {{currentAction.data.basicMetadata.edit.before.endYear}}
          th {{currentAction.data.basicMetadata.edit.after.endYear}}

        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('endMonth') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('endMonth')")
          th End Month
          th(ng-init="befEndMonth = getMonthName(currentAction.data.basicMetadata.edit.before.endMonth)") {{befEndMonth}}
          th(ng-init="aftEndMonth = getMonthName(currentAction.data.basicMetadata.edit.after.endMonth)") {{aftEndMonth}}

        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('endDay') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('endDay')")
          th End Day
          th {{currentAction.data.basicMetadata.edit.before.endDay}}
          th {{currentAction.data.basicMetadata.edit.after.endDay}}

        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('dateNotes') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('dateNotes')")
          th Date Notes
          th {{currentAction.data.basicMetadata.edit.before.dateNotes}}
          th {{currentAction.data.basicMetadata.edit.after.dateNotes}}

        tr.cursor-default(ng-if="currentAction.data.basicMetadata.edit.before.hasOwnProperty('insertDescription') && currentAction.data.basicMetadata.edit.after.hasOwnProperty('insertDescription')")
          th Insert Description
          th {{currentAction.data.basicMetadata.edit.before.insertDescription}}
          th {{currentAction.data.basicMetadata.edit.after.insertDescription}}


// INSERT ADVANCED METADATA
div.mb-15(ng-if="currentAction.data.hasOwnProperty('advancedMetadata')")
  h3.mt-0 INSERT ADVANCED METADATA

  div(ng-if="currentAction.data.advancedMetadata.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.advancedMetadata.edit.before.hasOwnProperty('organizationalCriteria') && currentAction.data.advancedMetadata.edit.after.hasOwnProperty('organizationalCriteria')")
          th Organizational Criteria
          th {{currentAction.data.advancedMetadata.edit.before.organizationalCriteria}}
          th {{currentAction.data.advancedMetadata.edit.after.organizationalCriteria}}

        tr.cursor-default(ng-if="currentAction.data.advancedMetadata.edit.before.hasOwnProperty('paginationNotes') && currentAction.data.advancedMetadata.edit.after.hasOwnProperty('paginationNotes')")
          th Pagination Notes
          th {{currentAction.data.advancedMetadata.edit.before.paginationNotes}}
          th {{currentAction.data.advancedMetadata.edit.after.paginationNotes}}

        tr.cursor-default(ng-if="currentAction.data.advancedMetadata.edit.before.hasOwnProperty('pagination') && currentAction.data.advancedMetadata.edit.after.hasOwnProperty('pagination')")
          th Pagination
          th {{currentAction.data.advancedMetadata.edit.before.pagination}}
          th {{currentAction.data.advancedMetadata.edit.after.pagination}}

        tr.cursor-default(ng-if="currentAction.data.advancedMetadata.edit.before.hasOwnProperty('folioCount') && currentAction.data.advancedMetadata.edit.after.hasOwnProperty('folioCount')")
          th Folio Count
          th {{currentAction.data.advancedMetadata.edit.before.folioCount}}
          th {{currentAction.data.advancedMetadata.edit.after.folioCount}}

        tr.cursor-default(ng-if="currentAction.data.advancedMetadata.edit.before.hasOwnProperty('missingFolios') && currentAction.data.advancedMetadata.edit.after.hasOwnProperty('missingFolios')")
          th Missing Folios
          th {{currentAction.data.advancedMetadata.edit.before.missingFolios}}
          th {{currentAction.data.advancedMetadata.edit.after.missingFolios}}
