// PORTRAIT
div.mb-15(ng-if="currentAction.data.hasOwnProperty('portrait')")
  h3.mt-0 PORTRAIT

  div(ng-if="currentAction.data.portrait.hasOwnProperty('add')")
    h4 Action: Add
    p Who: {{currentAction.data.portrait.add.lastUpdateBy}}

  div(ng-if="currentAction.data.portrait.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.portrait.edit.before.hasOwnProperty('portraitAuthor') && currentAction.data.portrait.edit.after.hasOwnProperty('portraitAuthor')")
          th Portrait Author
          th {{currentAction.data.portrait.edit.before.portraitAuthor}}
          th {{currentAction.data.portrait.edit.after.portraitAuthor}}
        tr.cursor-default(ng-if="currentAction.data.portrait.edit.before.hasOwnProperty('portraitSubject') && currentAction.data.portrait.edit.after.hasOwnProperty('portraitSubject')")
          th Portrait Subject
          th {{currentAction.data.portrait.edit.before.portraitSubject}}
          th {{currentAction.data.portrait.edit.after.portraitSubject}}


// DETAILS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('details')")
  h3.mt-0 DETAILS

  div(ng-if="currentAction.data.details.hasOwnProperty('edit')")
    h4 Action: {{currentAction.actionType}}

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('firstName') && currentAction.data.details.edit.after.hasOwnProperty('firstName')")
          th First Name
          th {{currentAction.data.details.edit.before.firstName}}
          th {{currentAction.data.details.edit.after.firstName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('middlePrefix') && currentAction.data.details.edit.after.hasOwnProperty('middlePrefix')")
          th Prefix to patronym
          th {{currentAction.data.details.edit.before.middlePrefix}}
          th {{currentAction.data.details.edit.after.middlePrefix}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('lastPrefix') && currentAction.data.details.edit.after.hasOwnProperty('lastPrefix')")
          th Prefix to family name
          th {{currentAction.data.details.edit.before.lastPrefix}}
          th {{currentAction.data.details.edit.after.lastPrefix}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('postLastPrefix') && currentAction.data.details.edit.after.hasOwnProperty('postLastPrefix')")
          th Prefix to appellative name
          th {{currentAction.data.details.edit.before.postLastPrefix}}
          th {{currentAction.data.details.edit.after.postLastPrefix}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('sucNum') && currentAction.data.details.edit.after.hasOwnProperty('sucNum')")
          th Succ. Number
          th {{currentAction.data.details.edit.before.sucNum}}
          th {{currentAction.data.details.edit.after.sucNum}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('middleName') && currentAction.data.details.edit.after.hasOwnProperty('middleName')")
          th Patronymic
          th {{currentAction.data.details.edit.before.middleName}}
          th {{currentAction.data.details.edit.after.middleName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('lastName') && currentAction.data.details.edit.after.hasOwnProperty('lastName')")
          th Family Name
          th {{currentAction.data.details.edit.before.lastName}}
          th {{currentAction.data.details.edit.after.lastName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('postLast') && currentAction.data.details.edit.after.hasOwnProperty('postLast')")
          th Appellative
          th {{currentAction.data.details.edit.before.postLast}}
          th {{currentAction.data.details.edit.after.postLast}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('gender') && currentAction.data.details.edit.after.hasOwnProperty('gender')")
          th Gender
          th {{currentAction.data.details.edit.before.gender}}
          th {{currentAction.data.details.edit.after.gender}}

        // Birth:

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('bornYear') && currentAction.data.details.edit.after.hasOwnProperty('bornYear')")
          th Birth year
          th {{currentAction.data.details.edit.before.bornYear}}
          th {{currentAction.data.details.edit.after.bornYear}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('bornMonth') && currentAction.data.details.edit.after.hasOwnProperty('bornMonth')")
          th Birth month
          th(ng-init="befBornMonthName = getMonthName(currentAction.data.details.edit.before.bornMonth)") {{befBornMonthName}}
          th(ng-init="aftBornMonthName = getMonthName(currentAction.data.details.edit.after.bornMonth)") {{aftBornMonthName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('bornDay') && currentAction.data.details.edit.after.hasOwnProperty('bornDay')")
          th Birth day
          th {{currentAction.data.details.edit.before.bornDay}}
          th {{currentAction.data.details.edit.after.bornDay}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('bornDateBc') && currentAction.data.details.edit.after.hasOwnProperty('bornDateBc')")
          th Birth B.C.?
          th {{currentAction.data.details.edit.before.bornDateBc ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.details.edit.after.bornDateBc ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('bornApprox') && currentAction.data.details.edit.after.hasOwnProperty('bornApprox')")
          th Birth Approx.
          th {{currentAction.data.details.edit.before.bornApprox ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.details.edit.after.bornApprox ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('bornPlaceId') && currentAction.data.details.edit.after.hasOwnProperty('bornPlaceId')")
          th Birth Place
          th(ng-init="getPlaceName(currentAction.data.details.edit.before.bornPlaceId, 'birth', 'before')") {{befBornPlaceName}}
          th(ng-init="getPlaceName(currentAction.data.details.edit.after.bornPlaceId, 'birth', 'after')") {{aftBornPlaceName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('bornPlaceUnsure') && currentAction.data.details.edit.after.hasOwnProperty('bornPlaceUnsure')")
          th Birth Unsure
          th {{currentAction.data.details.edit.before.bornPlaceUnsure ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.details.edit.after.bornPlaceUnsure ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('activeStart') && currentAction.data.details.edit.after.hasOwnProperty('activeStart')")
          th Active Start
          th {{currentAction.data.details.edit.before.activeStart}}
          th {{currentAction.data.details.edit.after.activeStart}}

        // Death:

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('deathYear') && currentAction.data.details.edit.after.hasOwnProperty('deathYear')")
          th Death year
          th {{currentAction.data.details.edit.before.deathYear}}
          th {{currentAction.data.details.edit.after.deathYear}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('deathMonth') && currentAction.data.details.edit.after.hasOwnProperty('deathMonth')")
          th Death month
          th(ng-init="befDeathMonthName = getMonthName(currentAction.data.details.edit.before.deathMonth)") {{befDeathMonthName}}
          th(ng-init="aftDeathMonthName = getMonthName(currentAction.data.details.edit.after.deathMonth, 'death', 'after')") {{aftDeathMonthName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('deathDay') && currentAction.data.details.edit.after.hasOwnProperty('deathDay')")
          th Death day
          th {{currentAction.data.details.edit.before.deathDay}}
          th {{currentAction.data.details.edit.after.deathDay}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('deathDateBc') && currentAction.data.details.edit.after.hasOwnProperty('deathDateBc')")
          th Death B.C.?
          th {{currentAction.data.details.edit.before.deathDateBc ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.details.edit.after.deathDateBc ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('deathApprox') && currentAction.data.details.edit.after.hasOwnProperty('deathApprox')")
          th Death Approx.
          th {{currentAction.data.details.edit.before.deathApprox ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.details.edit.after.deathApprox ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('deathPlaceId') && currentAction.data.details.edit.after.hasOwnProperty('deathPlaceId')")
          th Death Place
          th(ng-init="getPlaceName(currentAction.data.details.edit.before.deathPlaceId, 'death', 'before')") {{befDeathPlaceName}}
          th(ng-init="getPlaceName(currentAction.data.details.edit.after.deathPlaceId, 'death', 'after')") {{aftDeathPlaceName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('deathPlaceUnsure') && currentAction.data.details.edit.after.hasOwnProperty('deathPlaceUnsure')")
          th Death Unsure
          th {{currentAction.data.details.edit.before.deathPlaceUnsure ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.details.edit.after.deathPlaceUnsure ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('activeEnd') && currentAction.data.details.edit.after.hasOwnProperty('activeEnd')")
          th Active End
          th {{currentAction.data.details.edit.before.activeEnd}}
          th {{currentAction.data.details.edit.after.activeEnd}}


// NAMES
div.mb-15(ng-if="currentAction.data.hasOwnProperty('altNames')")
  h3.mt-0 NAMES

  div(ng-if="currentAction.data.altNames.hasOwnProperty('delete')")
    h4 Action: Delete variant
    p Name Type: {{currentAction.data.altNames.delete.nameType}}
    p Name Variant: {{currentAction.data.altNames.delete.altName}}

  div(ng-if="currentAction.data.altNames.hasOwnProperty('add')")
    h4 Action: Create variant
    p Name Type: {{currentAction.data.altNames.add.nameType}}
    p Name Variant: {{currentAction.data.altNames.add.altName}}

  div(ng-if="currentAction.data.altNames.hasOwnProperty('edit')")
    h4 Action: Edit variant

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.altNames.edit.before.hasOwnProperty('nameType') && currentAction.data.altNames.edit.after.hasOwnProperty('nameType')")
          th Name Type
          th {{currentAction.data.altNames.edit.before.nameType}}
          th {{currentAction.data.altNames.edit.after.nameType}}
        tr.cursor-default(ng-if="currentAction.data.altNames.edit.before.hasOwnProperty('altName') && currentAction.data.altNames.edit.after.hasOwnProperty('altName')")
          th Name Variant
          th {{currentAction.data.altNames.edit.before.altName}}
          th {{currentAction.data.altNames.edit.after.altName}}


// TITLES / OCCUPATIONS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('titleOccupation')")
  h3.mt-0 TITLES / OCCUPATIONS

  div(ng-if="currentAction.data.titleOccupation.hasOwnProperty('delete')")
    h4 Action: Delete
    p Title or Occupation: {{currentAction.data.titleOccupation.delete.titleOcc}}

  div(ng-if="currentAction.data.titleOccupation.hasOwnProperty('add')")
    h4 Action: Create

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="80%") Data
      tbody
        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('titleOcc')")
          th Title or Occupation
          th {{currentAction.data.titleOccupation.add.titleOcc}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('prefferedRole')")
          th Preferred Role
          th {{currentAction.data.titleOccupation.add.prefferedRole ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('startYear')")
          th Start Year
          th {{currentAction.data.titleOccupation.add.poLink.startYear}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('startMonth')")
          th Start Month
          th {{currentAction.data.titleOccupation.add.poLink.startMonth}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('startDay')")
          th Start Day
          th {{currentAction.data.titleOccupation.add.poLink.startDay}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('startUnsure')")
          th Start Unsure
          th {{currentAction.data.titleOccupation.add.poLink.startUnsure == 1 ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('startApprox')")
          th Start Approx
          th {{currentAction.data.titleOccupation.add.poLink.startApprox == 1 ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('endYear')")
          th End Year
          th {{currentAction.data.titleOccupation.add.poLink.endYear}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('endMonth')")
          th End Month
          th {{currentAction.data.titleOccupation.add.poLink.endMonth}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('endDay')")
          th End Day
          th {{currentAction.data.titleOccupation.add.poLink.endDay}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('endUnsure')")
          th End Unsure
          th {{currentAction.data.titleOccupation.add.poLink.endUnsure == 1 ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.add.hasOwnProperty('poLink') && currentAction.data.titleOccupation.add.poLink.hasOwnProperty('endApprox')")
          th End Approx
          th {{currentAction.data.titleOccupation.add.poLink.endApprox == 1 ? 'Selected' : 'Unselected'}}


  div(ng-if="currentAction.data.titleOccupation.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('titleOcc') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('titleOcc')")
          th Title or Occupation
          th {{currentAction.data.titleOccupation.edit.before.titleOcc}}
          th {{currentAction.data.titleOccupation.edit.after.titleOcc}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('preferred') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('preferred')")
          th Preferred Role
          th {{currentAction.data.titleOccupation.edit.before.preferred != null ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.titleOccupation.edit.after.preferred != null ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startYear') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('startYear')")
          th Start Year
          th {{currentAction.data.titleOccupation.edit.before.startYear}}
          th {{currentAction.data.titleOccupation.edit.after.startYear}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startMonth') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('startMonth')")
          th Start Month
          th {{currentAction.data.titleOccupation.edit.before.startMonth}}
          th {{currentAction.data.titleOccupation.edit.after.startMonth}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startDay') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('startDay')")
          th Start Day
          th {{currentAction.data.titleOccupation.edit.before.startDay}}
          th {{currentAction.data.titleOccupation.edit.after.startDay}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startUnsure') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('startUnsure')")
          th Start Unsure
          th {{currentAction.data.titleOccupation.edit.before.startUnsure == 1 ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.titleOccupation.edit.after.startUnsure == 1 ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startApprox') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('startApprox')")
          th Start Approx
          th {{currentAction.data.titleOccupation.edit.before.startApprox == 1 ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.titleOccupation.edit.after.startApprox == 1 ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startYear') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('endYear')")
          th End Year
          th {{currentAction.data.titleOccupation.edit.before.startYear}}
          th {{currentAction.data.titleOccupation.edit.after.startYear}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startMonth') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('endMonth')")
          th End Month
          th {{currentAction.data.titleOccupation.edit.before.startMonth}}
          th {{currentAction.data.titleOccupation.edit.after.startMonth}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startDay') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('endDay')")
          th End Day
          th {{currentAction.data.titleOccupation.edit.before.startDay}}
          th {{currentAction.data.titleOccupation.edit.after.startDay}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startUnsure') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('endUnsure')")
          th End Unsure
          th {{currentAction.data.titleOccupation.edit.before.startUnsure == 1 ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.titleOccupation.edit.after.startUnsure == 1 ? 'Selected' : 'Unselected'}}

        tr.cursor-default(ng-if="currentAction.data.titleOccupation.edit.before.hasOwnProperty('startApprox') && currentAction.data.titleOccupation.edit.after.hasOwnProperty('endApprox')")
          th End Approx
          th {{currentAction.data.titleOccupation.edit.before.startApprox == 1 ? 'Selected' : 'Unselected'}}
          th {{currentAction.data.titleOccupation.edit.after.startApprox == 1 ? 'Selected' : 'Unselected'}}


// PARENTS
div.mb-15(ng-if="currentAction.data.hasOwnProperty('parents')")
  h3.mt-0 PARENTS

  div(ng-if="currentAction.data.parents.hasOwnProperty('delete')")
    h4 Action: Delete
    p(ng-if="currentAction.data.parents.delete.hasOwnProperty('mother')") Mother: {{currentAction.data.parents.delete.mother}}
    p(ng-if="currentAction.data.parents.delete.hasOwnProperty('father')") Father: {{currentAction.data.parents.delete.father}}

  div(ng-if="currentAction.data.parents.hasOwnProperty('add')")
    h4 Action: Add
    p(ng-if="currentAction.data.parents.add.hasOwnProperty('mother')") Mother: {{currentAction.data.parents.add.mother}}
    p(ng-if="currentAction.data.parents.add.hasOwnProperty('father')") Father: {{currentAction.data.parents.add.father}}

  div(ng-if="currentAction.data.parents.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.parents.edit.before.hasOwnProperty('mother') && currentAction.data.parents.edit.after.hasOwnProperty('mother')")
          th Mother
          th {{currentAction.data.parents.edit.before.mother}}
          th {{currentAction.data.parents.edit.after.mother}}

        tr.cursor-default(ng-if="currentAction.data.parents.edit.before.hasOwnProperty('father') && currentAction.data.parents.edit.after.hasOwnProperty('father')")
          th Father
          th {{currentAction.data.parents.edit.before.father}}
          th {{currentAction.data.parents.edit.after.father}}


// CHILDREN
div.mb-15(ng-if="currentAction.data.hasOwnProperty('children')")
  h3.mt-0 CHILDREN

  div(ng-if="currentAction.data.children.hasOwnProperty('delete')")
    h4 Action: Delete
    p Name: {{currentAction.data.children.delete.name}}

  div(ng-if="currentAction.data.children.hasOwnProperty('add')")
    h4 Action: Add
    p Name: {{currentAction.data.children.add.name}}

  div(ng-if="currentAction.data.children.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.children.edit.before.hasOwnProperty('name') && currentAction.data.children.edit.after.hasOwnProperty('name')")
          th Name
          th {{currentAction.data.children.edit.before.name}}
          th {{currentAction.data.children.edit.after.name}}


// SPOUSES
div.mb-15(ng-if="currentAction.data.hasOwnProperty('spouses')")
  h3.mt-0 SPOUSES

  div(ng-if="currentAction.data.spouses.hasOwnProperty('delete')")
    h4 Action: Delete
    p Name: {{currentAction.data.spouses.delete.name}}

  div(ng-if="currentAction.data.spouses.hasOwnProperty('add')")
    h4 Action: Add
    p Name: {{currentAction.data.spouses.add.name}}

  div(ng-if="currentAction.data.spouses.hasOwnProperty('edit')")
    h4 Action: Edit

    table.table.table-hover
      thead
        tr
          th(width="20%") Column
          th(width="40%") Before
          th(width="40%") After
      tbody
        tr.cursor-default(ng-if="currentAction.data.spouses.edit.before.hasOwnProperty('name') && currentAction.data.spouses.edit.after.hasOwnProperty('name')")
          th Name
          th {{currentAction.data.spouses.edit.before.name}}
          th {{currentAction.data.spouses.edit.after.name}}

