div.mb-15(ng-if="currentAction.data.hasOwnProperty('details')")
  h3.mt-0 DETAILS

  div(ng-if="currentAction.data.details.hasOwnProperty('edit')")
    h4 Action: {{currentAction.actionType}}

    table.table.table-hover
      thead
        tr
          th Column
          th Before
          th After
      tbody
        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('placeName') && currentAction.data.details.edit.after.hasOwnProperty('placeName')")
          th Name
          th {{currentAction.data.details.edit.before.placeName}}
          th {{currentAction.data.details.edit.after.placeName}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('plType') && currentAction.data.details.edit.after.hasOwnProperty('plType')")
          th Place type
          th {{currentAction.data.details.edit.before.plType}}
          th {{currentAction.data.details.edit.after.plType}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('plParent') && currentAction.data.details.edit.after.hasOwnProperty('plParent')")
          th Place Parent
          th {{currentAction.data.details.edit.before.plParent}}
          th {{currentAction.data.details.edit.after.plParent}}

        tr.cursor-default(ng-if="currentAction.data.details.edit.before.hasOwnProperty('placesMemo') && currentAction.data.details.edit.after.hasOwnProperty('placesMemo')")
          th Place Notes
          th {{currentAction.data.details.edit.before.placesMemo}}
          th {{currentAction.data.details.edit.after.placesMemo}}


div.mb-15(ng-if="currentAction.data.hasOwnProperty('placeNameVariant')")
  h3.mt-0 NAME AND VARIANTS

  div(ng-if="currentAction.data.placeNameVariant.hasOwnProperty('delete')")
    h4 Action: Delete variant
    p Variant: {{currentAction.data.placeNameVariant.delete.placeName}}

  div(ng-if="currentAction.data.placeNameVariant.hasOwnProperty('add')")
    h4 Action: Create variant
    p Variant: {{currentAction.data.placeNameVariant.add.placeName}}

  div(ng-if="currentAction.data.placeNameVariant.hasOwnProperty('edit')")
    h4 Action: Edit variant

    table.table.table-hover
      thead
        tr
          th Column
          th Before
          th After
      tbody
        tr.cursor-default(ng-if="currentAction.data.placeNameVariant.edit.before.hasOwnProperty('placeName') && currentAction.data.placeNameVariant.edit.after.hasOwnProperty('placeName')")
          th Variant
          th {{currentAction.data.placeNameVariant.edit.before.placeName}}
          th {{currentAction.data.placeNameVariant.edit.after.placeName}}
