img(ng-if="spineImage.filePath && spineImage.fileName" alt="spine image" ng-src="/Mia/mview/IIPImageServer.do?FIF={{spineImage.filePath}}{{spineImage.fileName}}&WID=250")
.text-center
    label(for="file-upload")
        .btn.btn-success
            | {{ 'insertDescr.UPL_INS_GUARDIA' | translate }}
    input#file-upload.form-control(
    type='file',
    ngf-select='selectImage($file, $invalidFiles)',
    ng-model='imageFile',
    name='file',
    accept='.jpg, .jpeg, .tiff, .tif',
    ngf-min-height="{{uploadValidationParams.minHeight}}",
    ngf-min-width="{{uploadValidationParams.minWidth}}",
    ngf-max-size="{{uploadValidationParams.maxSize}}MB",
    ngf-model-invalid="invalidFiles",
    ngf-fix-orientation="false",
    ngf-validate-async-fn="validatePicFiles($file)",
    required,
    style="color:#663333;background-color:#eae9e8; border: 1px solid #333; border-radius:3px;")
    br
    span.error-mesg(ng-if="errorMessage")
        | {{ errorMessage }}