#wrapper.container-fluid(ng-class="{'sidebar-collapsed': sidebarCollapsed}")
  a(id="top")
  .row
    aside(ui-view="sidebar")
    section.main(ng-show="!isBusy")
      .row.page-header
        .col-xs-7
          h1.site-title {{ 'general.SITETITLE' | translate }}
        .col-xs-5
          .right-header
            #login-info(ng-if="me")
              span(style="font-weight: bold;") {{me.firstName}} {{me.lastName}} -
              span(ng-repeat="role in me.userGroups" style="font-weight: bold;" ng-if="$index==0") {{role}}
            basic-search-dir
      .row
        .col-xs-12
          search-dir
      .row
        .col-xs-12
          h2.page-title.title-with-input(ng-if="canModifyTitle == false") {{pageTitle}} {{deTitle}} 
          h2.page-title.title-with-input(ng-if="canModifyTitle == true") {{pageTitle}}
            span(ng-if="checkIsDE() && !editingDeTitle && deTitle != 'PRIVATE'" ng-click="editDeTitle()")
              |  {{deTitle}}
              i(ng-if="canModifyTitle").fa.fa-pencil
            span(ng-if="checkIsDE() && editingDeTitle && deTitle != 'PRIVATE'")
              input(type="text" ng-model="deTitle")
              |  &nbsp;
              .btn-group
                .btn.btn-default(ng-click="saveDeTitle(deTitle)")
                  | {{ 'general.SAVE' | translate }}
                .btn.btn-default(ng-click="editDeTitle()")
                  | {{ 'general.CANCEL' | translate }}
            span(ng-if="deTitle == 'PRIVATE'" ng-click="editDeTitle()") 
              |  {{deTitle}}
      #ui-view(ui-view="content" style="padding-bottom: 15px;")
#busy-div(ng-if="isBusy")
  div(ng-if="!aborting && !isInError")
    h1.uploading-title {{ 'general.UPLOADING' | translate }}
    br
    h4.uploading-text {{ 'general.TAKETIME' | translate }}
  div(ng-if="aborting")
    h1.uploading-title Upload canceled
    br
    h4.uploading-text You might still find a new upload. You will need to delete it manually.
  div(ng-if="isInError")
    h1.uploading-title Upload error
    br
    h4.uploading-text Error in uploading the image. Check your connection and try again.
  .rotate(ng-if="!aborting && !isInError")
  .upload-progress-bar(ng-if="!aborting && !isInError")
    progressbar.progress(max="100" value="progress")
      | {{progress}} / 100
  br
  .abort-button(ng-if="!aborting && !isInError")
    button.btn.btn-success(ng-click="abortUpload()")
      | Abort Upload




  
