.news-container
  tabset.active
    tab(heading="My last record" active="true")
      .panel-body.my-last-record
        div.page-updates(style="float: none;text-align: right;padding-right: 15px;bottom: 25px;")
          a.btn.btn-success(ng-click="goToRecord()") Go to record
        .last-record(ng-if="lastRecord.type == 'ae' && lastRecord.data")
          .last-record-image(ng-if="lastRecord.data.thumbsFiles")
            img(ng-src="{{lastRecord.data.thumbsFiles[0].filePath}}")
          .last-record-info
            h3 IMAGES
            .single-field(ng-if="lastRecord.data.repository")
              .row
                .col-xs-12
                  label.inner-title Repository
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.repository.repositoryAbbreviation}}
            .single-field(ng-if="lastRecord.data.collection")
              .row
                .col-xs-12
                  label.inner-title Collection
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.collection.collectionName}}
            .single-field(ng-if="lastRecord.data.volume")
              .row
                .col-xs-12
                  label.inner-title Volume
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.volume.volumeName}}
            .single-field(ng-if="lastRecord.data.insert")
              .row
                .col-xs-12
                  label.inner-title Insert
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.insert.insertName}}
            .single-field(ng-if="lastRecord.data.owner")
              .row
                .col-xs-12
                  label.inner-title Owner
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.owner}}

        .last-record(ng-if="lastRecord.type == 'document' && lastRecord.data")
          .last-record-image(ng-if="lastRecord.data.uploadFiles")
            img(ng-src="{{lastRecord.data.uploadFiles[0].filePath}}")
          .last-record-info
            h3 DOCUMENT
            .single-field(ng-if="lastRecord.data.deTitle")
              .row
                .col-xs-12
                  label.inner-title Title
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.deTitle}}
            .single-field(ng-if="lastRecord.data.category")
              .row
                .col-xs-12
                  label.inner-title Category
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.category}}
            .single-field(ng-if="lastRecord.data.typology")
              .row
                .col-xs-12
                  label.inner-title Typology
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.typology}}
            .single-field(ng-if="lastRecord.data.producers")
              .row
                .col-xs-12
                  label.inner-title Producer
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.producers[0].mapNameLf}}
            .single-field(ng-if="lastRecord.data.date.docYear != 0 && lastRecord.data.date.docMonth != 0 && lastRecord.data.date.docDay != 0")
              .row
                .col-xs-12
                  label.inner-title Date
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.date.docYear}} - {{lastRecord.data.date.docMonth}} - {{lastRecord.data.date.docDay}}
            .single-field(ng-if="lastRecord.data.owner")
              .row
                .col-xs-12
                  label.inner-title Owner
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.owner}}
            .single-field
              .row
                .col-xs-12
                  label.inner-title Privacy
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content(ng-if="lastRecord.data.privacy == 1")
                      | PRIVATE
                    span.inner-content(ng-if="lastRecord.data.privacy == 0")
                      | PUBLIC

        .last-record(ng-if="lastRecord.type == 'people' && lastRecord.data")
          .last-record-image
            img(ng-src="src/peoplebase/ShowPortraitPerson.do?personId={{lastRecord.data.peopleId}}")
          .last-record-info
            h3 BIOGRAPHICAL RECORD
            .single-field(ng-if="lastRecord.data.mapNameLf")
              .row
                .col-xs-12
                  label.inner-title {{'people.fields.COMPLETENAME' | translate}}
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.mapNameLf}}
            .single-field(ng-if="lastRecord.data.bornYear")
              .row
                .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFBIRTH' | translate}}
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.bornYear}}
            .single-field(ng-if="lastRecord.data.deathYear")
              .row
                .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFDEATH' | translate}}
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.deathYear}}
            .single-field
              .row
                .col-xs-12
                  label.inner-title {{'people.fields.RELATEDDOCS' | translate}}
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{'people.fields.BIOFOUNDINDOCS' | translate}} {{peopleCountDoc}} {{'people.fields.DOCSPART' | translate}}
            .single-field
              .row
                .col-xs-12
                  label.inner-title Preferred Role
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{peoplePreferredRole}}
            .single-field(ng-if="lastRecord.data.createdBy")
              .row
                .col-xs-12
                  label.inner-title Created by
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.createdBy}}

        .last-record(ng-if="lastRecord.type == 'place' && lastRecord.data")
          .last-record-image
            img(ng-src="img/img_place.png")
          .last-record-info
            h3 GEOGRAPHICAL RECORD
            .single-field(ng-if="lastRecord.data.placeNameFull")
              .row
                .col-xs-12
                  label.inner-title Name
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.placeNameFull}}
            .single-field(ng-if="lastRecord.data.plType")
              .row
                .col-xs-12
                  label.inner-title Type
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.plType}}
            .single-field(ng-if="lastRecord.data.placesMemo")
              .row
                .col-xs-12
                  label.inner-title Place notes
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.placesMemo}}
            .single-field(ng-if="lastRecord.data.createdBy")
              .row
                .col-xs-12
                  label.inner-title Created by
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.createdBy}}

        .last-record(ng-if="lastRecord.type == 'volume' && lastRecord.data")
          .last-record-image(ng-if="lastRecord.data.spine")
            img(ng-src="/Mia/mview/IIPImageServer.do?FIF={{lastRecord.data.spine.filePath}}{{lastRecord.data.spine.fileName}}&WID=250")
          .last-record-info
            h3 VOLUME RECORD
            .single-field(ng-if="lastRecord.data.collectionAbbr")
              .row
                .col-xs-12
                  label.inner-title Collection
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.collectionAbbr}}
            .single-field(ng-if="lastRecord.data.volumeNo")
              .row
                .col-xs-12
                  label.inner-title Volume
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.volumeNo}}
            .single-field(ng-if="lastRecord.data.startYear && lastRecord.data.startMonth && lastRecord.data.startDay")
              .row
                .col-xs-12
                  label.inner-title Start Date
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.startYear}} - {{lastRecord.data.startMonth}} - {{lastRecord.data.startDay}}
            .single-field(ng-if="lastRecord.data.endYear && lastRecord.data.endMonth && lastRecord.data.endDay")
              .row
                .col-xs-12
                  label.inner-title End Date
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.endYear}} - {{lastRecord.data.endMonth}} - {{lastRecord.data.endDay}}

        .last-record(ng-if="lastRecord.type == 'insert' && lastRecord.data")
          .last-record-image(ng-if="lastRecord.data.spine")
            img(ng-src="/Mia/mview/IIPImageServer.do?FIF={{lastRecord.data.spine.filePath}}{{lastRecord.data.spine.fileName}}&WID=250")
          .last-record-info
            h3 INSERT RECORD
            .single-field(ng-if="lastRecord.data.collectionAbbr")
              .row
                .col-xs-12
                  label.inner-title Collection
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.collectionAbbr}}
            .single-field(ng-if="lastRecord.data.volumeNo")
              .row
                .col-xs-12
                  label.inner-title Volume
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.volumeNo}}
            .single-field(ng-if="lastRecord.data.insertNo")
              .row
                .col-xs-12
                  label.inner-title Insert
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.insertNo}}
            .single-field(ng-if="lastRecord.data.startYear && lastRecord.data.startMonth && lastRecord.data.startDay")
              .row
                .col-xs-12
                  label.inner-title Start Date
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.startYear}} - {{lastRecord.data.startMonth}} - {{lastRecord.data.startDay}}
            .single-field(ng-if="lastRecord.data.endYear && lastRecord.data.endMonth && lastRecord.data.endDay")
              .row
                .col-xs-12
                  label.inner-title End Date
              .row
                .col-xs-12
                  .transcriptions
                    span.inner-content {{lastRecord.data.endYear}} - {{lastRecord.data.endMonth}} - {{lastRecord.data.endDay}}


