.row
  .col-xs-10
    a(href="{{biblio.link}}" target="_blank" ng-show="!editBiblio")
      | {{ biblio.name }}
    div(ng-show="editBiblio")
      .form-group
        label(for="refName") Reference Name
        input.form-control(type="text" name="refName" ng-model="biblio.name")
        label(for="refLink") Reference Link
        input.form-control(type="text" name="refLink" ng-model="biblio.link")
  .col-xs-2
    //- .btn-group(ng-if="canEditBiblio")
    //-   button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchBiblio()" ng-show="!editBiblio" )
    //-     | {{ 'general.EDIT' | translate }}&nbsp;
    //-     i.glyphicon.glyphicon-pencil
    //-   button.btn.btn-xs.btn-xxs.btn-success(ng-click="deleteBiblio()" ng-show="!editBiblio" )
    //-     | {{ 'general.DELETE' | translate }}&nbsp;
    //-     i.glyphicon.glyphicon-trash     
    //- .btn-group
    //-   button.btn.btn-xs.btn-xxs.btn-success(ng-click="cancel()" ng-show="editBiblio" )
    //-     | Cancel&nbsp;
    //-     i.glyphicon.glyphicon-remove
    //-   button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveBiblio()" ng-show="editBiblio" )
    //-     | {{ 'general.SAVE' | translate }}&nbsp;
    //-     i.glyphicon.glyphicon-floppy-disk
    
    .btn-group.visible-xs.hidden-sm.hidden-md.visible-lg(ng-if="canEditBiblio")
      //button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchBiblio()" ng-show="!editBiblio" )
      //  | {{ 'general.EDIT' | translate }}
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="deleteBiblio()" ng-show="!editBiblio" )
        | {{ 'general.DELETE' | translate }}

    .btn-group-vertical.hidden-xs.visible-sm.visible-md.hidden-lg(ng-if="canEditBiblio")
      //button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchBiblio()" ng-show="!editBiblio" )
      //  | {{ 'general.EDIT' | translate }}
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="deleteBiblio()" ng-show="!editBiblio" )
        | {{ 'general.DELETE' | translate }}

    .btn-group.visible-xs.hidden-sm.hidden-md.visible-lg
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="cancel()" ng-show="editBiblio" )
        | Cancel
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveBiblio()" ng-show="editBiblio" )
        | {{ 'general.SAVE' | translate }}

    .btn-group-vertical.hidden-xs.visible-sm.visible-md.hidden-lg
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="cancel()" ng-show="editBiblio" )
        | Cancel
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveBiblio()" ng-show="editBiblio" )
        | {{ 'general.SAVE' | translate }}
