.search
  .pannello-head
    button.btn.btn-success.pull-left(ng-click="switchPanel()")
      i.glyphicon.glyphicon-chevron-up(ng-if="searchOpen")
      i.glyphicon.glyphicon-chevron-down(ng-if="!searchOpen")
    //- button.btn.btn-success(ng-click="changeTab('ae')" ng-class="{ 'active-search': status=='ae' && searchOpen }")
    //-   img.img-search-tab(src="img/icons-new/menu-icon-30x30-02.png")
    //-   | Search Images         
    button.btn.btn-success(ng-click="changeTab('de')" ng-class="{ 'active-search': status=='de' && searchOpen }")
      img.img-search-tab(src="img/icons-new/menu-icon-30x30-03.png")
      | Search Documents
    button.btn.btn-success(ng-click="changeTab('people')" ng-class="{ 'active-search': status=='people' && searchOpen }")
      img.img-search-tab(src="img/icons-new/people-icon.png")
      | Search People
    button.btn.btn-success(ng-click="changeTab('place')" ng-class="{ 'active-search': status=='place' && searchOpen }")
      img.img-search-tab(src="img/icons-new/place-icon.png")
      | Search Places
    button.btn.btn-success(ng-click="changeTab('volume')" ng-class="{ 'active-search': status=='volume' && searchOpen }")
      img.img-search-tab(src="img/icons-new/volume-icon.png")
      | Search Volumes
    button.btn.btn-success.pull-right(ng-click="switchPanel()")
      i.glyphicon.glyphicon-chevron-up(ng-if="searchOpen")
      i.glyphicon.glyphicon-chevron-down(ng-if="!searchOpen")
    div.pull-right.lastRecord(style="display: inline-block;")
      button.btn.btn-success.noPadding(ng-disabled="!lastRecords.lastUpload" ng-click="goToLastUpload()" title="Last Upload")
        img.img-search-tab.bigIcon(src="img/icons-new/upload_icon.png" alt="")
      button.btn.btn-success.noPadding(ng-disabled="!lastRecords.lastDocument" ng-click="goToLastDoc()" title="Last Document")
        img.img-search-tab.bigIcon(src="img/icons-new/de_icon.png" alt="")
      button.btn.btn-success.noPadding(ng-disabled="!lastRecords.lastPerson" ng-click="goToLastPerson()" title="Last Person")
        img.img-search-tab.bigIcon(src="img/icons-new/bio_icon.png" alt="")
      button.btn.btn-success.noPadding(ng-disabled="!lastRecords.lastPlace" ng-click="goToLastPlace()" title="Last Place")
        img.img-search-tab.bigIcon(src="img/icons-new/place_icon.png" alt="")   
      button.btn.btn-success.noPadding(ng-disabled="!lastRecords.lastVolumeOrInsert" ng-click="goToLastVolOrIns()" title="Last Volume/Insert")
        img.img-search-tab.bigIcon(src="img/icons-new/volume_icon.png" alt="")      
    div.clearfix
  .pannello-body(ng-show="searchOpen")
    .search-ae(ng-show="status=='ae'")
      tabset.active
        tab(index="0" heading="Archival Search")
          select-archive-dir
    .search-de(ng-show="status=='de'")
      tabset.active
        //- tab(index="0" heading="Word Search")
        //-   search-document-dir
        tab(index="0" heading="Advanced Search" ng-click="setDocumentsActiveTab('advancedSearch')" active="documentTabs[0].value")
          ng-include(src="'modules/directives/search/searches/advanced-search-de/search-de.html'")
        tab(index="1" heading="mapDocId# Search" ng-click="setDocumentsActiveTab('idSearch')" active="documentTabs[1].value")
          //- ng-include(src="'modules/directives/search/searches/mapdocid-search/mapdocid-search.html'")
          mapdocid-search-dir
        tab(index="2" heading="Custom Newsfeed" ng-click="setDocumentsActiveTab('newsfeedSearch')" active="documentTabs[2].value")
          ng-include(src="'modules/directives/search/searches/advanced-search-de/search-de.html'")
    .search-people(ng-show="status=='people'")
      tabset.active
        tab(index="0" heading="Search Person")
          browse-people-dir
        tab(index="1" heading="Advanced Search People")
          ng-include(src="'modules/directives/search/searches/advanced-search-pe/search-pe.html'")
        //- tab(index="1" heading="{{'people.ADVANCE' | translate}}")
        //-   search-people-dir                 
        //- tab(index="2" heading="{{ 'addPerson.TITLE' | translate }}" ng-click="addNewPeople()")
        tab(index="2" heading="Manage Titles & Occupations" ng-if="secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
          .row
            .col-xs-12
              new-titles-dir(title="titleToEdit" on-select="saveTitle(params, titleToEdit)" on-cancel="cancelTitle(title)" from-search="true")
    .search-places(ng-show="status=='place'")
      tabset.active
        tab(index="0" heading="Search Place")
          browse-place-dir
        //tab(index="1" heading="Advanced Search")
          search-place-dir
        //tab(index="2" heading="{{ 'places.CREATE' | translate }}" ng-click="addNewPlace()")
    .search-volumes(ng-show="status=='volume'")
      tabset.active
        tab(index="0" ng-click="searchVolTabSelected()" heading="Search for a volume")
          search-vol-dir
          //- find-vol-dir
        //- tab(index="1" ng-click="createVolTabSelected()" heading="Create new volume entry" ng-if="secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
        //-   create-vol-dir

style(type="text/css").
  .noPadding { padding: 0; }
  .bigIcon { width: 25px; }
  .lastRecord { margin-right: 50px !important; }
  @media (max-width: 999px) {
    .lastRecord {
      float: left !important;
      margin-left: 12px !important;
    }
  }