div(ng-controller="changePassAdminController")
  .modal-header
    h3.modal-title CHANGE PASSWORD
  .modal-body
    form.form-horizontal(name="passwordForm")
      .row
        .form-group(ng-show="!success")
          .col-xs-5
            label.label_pass
              | New Password
              span.required-error(ng-if="passwordForm.newPass.$error.required")
                br
                | {{ 'general.REQUIRED' | translate }}
          .col-xs-6
            input.form-control.pass(type="password" name="newPass" required ng-model="newPass" ng-click="resetError()")
      .row
        .form-group(ng-show="!success")
          .col-xs-5
            label.label_pass
              | Confirm New Password
              span.required-error(ng-if="passwordForm.confirm.$error.required")
                br
                | {{ 'general.REQUIRED' | translate }}
          .col-xs-6
            input.form-control.pass(type="password" name="confirm" required ng-model="confirmNewPass" ng-click="resetError()")
      span.error(ng-if="errorEqual") The confirmation password does not correspond to the new password
      br
      br
      .row
        .col-xs-8.col-xs-offset-4
          span.primary(ng-if="success") The password was changed successfully!
      br
      br
      .row
        .col-xs-7.col-xs-offset-5.btn-group
          button.btn.btn-default.btn-xs(
          ng-click="cancel()")
            | {{ 'general.CANCEL' | translate }}
          button.btn.btn-primary.btn-xs(
          ng-if="!success" 
          ng-click="save()"
          ng-disabled="passwordForm.$invalid || errorEqual || errorEqual")
            | {{ 'general.SAVE' | translate }}
          button.btn.btn-primary.btn-xs(
          ng-if="success"
          ng-click="cancel()")
            | OK
