div(ng-controller="uploadPhotoController")
  .modal-header
    h3.modal-title UPLOAD IMAGE
  .modal-body
    .row
      .col-xs-12.col-xs-offset-1(ng-show="success")
        span.success The image was uploaded successfully!      
    form(name='uploadForm', ng-show="!success" novalidate)
      .row
        .col-xs-5.col-xs-offset-1
          input.form-control#fileInput(
            type='file', 
            ngf-select='checkImage(picFile)', 
            ng-model='picFile', 
            name='file', 
            accept='.jpg', 
            ngf-max-size='30MB', 
            required='', 
            ngf-model-invalid='errorFile'
            style='height: 30px; padding: 5px;')
          
          //- input.form-control#fileInput(
          //-   type='file'
          //-   ng-model='picFile'
          //-   name='file'
          //-   accept='.jpg'
          //-   ngf-select
          //-   ngf-max-size='100MB'
          //-   required)
        .col-xs-2
          .required(ng-show='uploadForm.file.$error.required')
            | {{ 'general.REQUIRED' | translate }}
          .required(ng-show="uploadForm.file.$error.maxSize")
            | This file is too big ({{errorFile.size / 1000000|number:1}}MB). Max allowed size is 30MB
            //- | {{ 'sidebar.upload.UPLOADBIG' | translate }}
          .required(ng-show="fileError")
            | {{ fileError }}
        .col-xs-2
          button.btn.btn-xs.btn-primary(ng-click='removePic()', ng-show='picFile')
            | {{'sidebar.upload.REMOVE' | translate}}
          br
      .row
        .col-xs-11.col-xs-offset-1
          span.success(ng-show="!picFile")
            br
            | {{ 'general.REQJPG' | translate }}
      .row
        .col-xs-11.col-xs-offset-1(ng-show="picFile")
          .cropArea
            br
            span
            ui-cropper(
              image='picFile', 
              area-type='rectangle', 
              aspect-ratio='0.9', 
              result-image='croppedData', 
              result-image-size='{w: 140,h: 200}', 
              init-max-area='true',
              result-image-format="image/jpeg",)
          div Cropped Image:
          div
        .col-xs-11.col-xs-offset-1(ng-show="picFile")
          img(ng-src="{{croppedData}}" ng-show="croppedData")
      br
      span.progress(ng-show='progress >= 0')
        div(style='width:{{progress}}%', ng-bind="progress + '%'")
      span(ng-show='result') {{'sidebar.upload.SUCCESS' | translate}}
      span.err(ng-show='errorMsg') {{errorMsg}}
      br
      .row
        .col-xs-6.col-xs-offset-1
          .btn-group.bottom-buttons(ng-show="!success")
            button.btn.btn-xs.btn-primary.ladda-button(
              ladda-button="uploadLoader",
              ng-disabled="!uploadForm.$valid",
              ng-click="upload(croppedData, croppedData.name)")
              span.ladda-label
                | {{'sidebar.UPLOAD' | translate}}
            button.btn.btn-xs.btn-primary(ng-click="cancel()")
              | {{'general.CANCEL' | translate}}
    .row
      br
      br
      .col-xs-12.col-xs-offset-1(ng-show="success")
        button.btn.btn-xs.btn-primary(ng-click='close()')
          | {{'general.CLOSE' | translate}}
