div(ng-controller="addBioGeoCsController")
  .modal-header
    h3.modal-title(ng-if="step == 'selectType'") What type of record you want to add?
    h3.modal-title(ng-if="step == 'selectBio'") Choose biographical record
    h3.modal-title(ng-if="step == 'selectGeo'") Choose geographical record
  .modal-body
    .search-form(ng-if="step == 'selectType' && selectionTypes.length")
      include partials/exist-types.jade

    .search-form(ng-if="step == 'selectBio'")
      include partials/search-bio.jade

    .search-form(ng-if="step == 'selectGeo'")
      include partials/search-geo.jade

    .text-center.mt-15
      .btn-group
        button.btn.btn-default.btn-xs(ng-click="backToPrevStep()" ng-if="step != 'selectType'")
          | Back
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}
