div
  .ae-select-where(ng-if="archivalSearch.repository")
    label(for="collection") Collection
    button.btn.btn-default.btn-xs.form-control(ng-click='addCollection(searchAeType)' name="collection" ng-if="!archivalSearch.collection")
      | {{ 'sidebar.upload.CHOOSECOLLECTION' | translate }}
    span(ng-if="archivalSearch.collection" ng-click="archivalSearch.collection=undefined")
      br
      | {{archivalSearch.collection.collectionName}}&nbsp;
      span(ng-click="resetCollection()")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change collection" popover-trigger="mouseenter")
  .ae-select-where(ng-if="archivalSearch.series || archivalSearch.collection") 
    label(for="volume") Volume
    button.btn.btn-default.btn-xs.form-control(ng-click='addVolumeSearch(searchAeType)' name="volume" ng-if="!archivalSearch.volume")
      | {{ 'sidebar.upload.CHOOSEVOLUME' | translate }}
    span(ng-if="archivalSearch.volume")
      br
      | {{archivalSearch.volume.volumeName}}&nbsp;
      span(ng-click="resetVolume()")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change volume" popover-trigger="mouseenter")
      button.btn.btn-default.btn-xs(ng-click='goToVolume()' name="goTo")
        | {{ 'sidebar.upload.GOTOVOLUME' | translate }}
  .ae-select-where(ng-if="archivalSearch.volume") 

    label(ng-if="!archivalSearch.insert && archivalSearch.volume.hasInserts && !archivalSearch.volume.aeCount > 0" for="insert") Insert
    button.btn.btn-default.btn-xs.form-control(ng-click='addInsertSearch(searchAeType)' name="insert" ng-if="!archivalSearch.insert && archivalSearch.volume.hasInserts && !archivalSearch.volume.aeCount > 0")
      | {{ 'sidebar.upload.CHOOSEINSERT' | translate }}

    label.mt-5(ng-if="!archivalSearch.insert && !archivalSearch.volume.hasInserts && !archivalSearch.volume.aeCount > 0" for="insert") This volume has no inserts
    label.mt-5(ng-if="!archivalSearch.insert && archivalSearch.volume.aeCount > 0" for="insert") This volume contains uploads, no inserts

    button.btn.btn-default.btn-xs.form-control(
      ng-click='addInsertSearch(searchAeType)'
      name="insert"
      ng-if="!archivalSearch.insert && !archivalSearch.volume.hasInserts && !archivalSearch.volume.aeCount > 0 && (secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']) || archivalSearch.collection.studyCollection)")
      | {{ 'sidebar.upload.ADDINSERT' | translate }}

    span(ng-if="archivalSearch.insert")
      br
      | {{archivalSearch.insert.insertName}}&nbsp;
      span(ng-click="resetInsert()")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change insert" popover-trigger="mouseenter")
      button.btn.btn-default.btn-xs(ng-click='goToInsert()' name="goTo")
        | {{ 'sidebar.upload.GOTOINSERT' | translate }}