// ATTACHMENT
.summary(ng-if="documentEntity.attachments.length" style="padding: 5px;")
  .row.mb-10
    .col-xs-12
      .row
        .col-xs-3.col-sm-3.col-md-2
          .label
            | Reconstruction Type
        .col-xs-9.col-sm-9.col-md-10
          span.fields
            | Attachment
            span.glyphicon.glyphicon-question-sign.ml-5(popover="An attachment belonging to a document (e.g. letter) in another collection" popover-trigger="mouseenter" popover-append-to-body="true")
  .row
    .col-xs-12
      .row
        .col-xs-3.col-sm-3.col-md-2
          .label
            | Main document
        .col-xs-9.col-sm-9.col-md-10
          span.fields
            a.text-underline(ng-click="goToBAL(documentEntity.attachments[0].parentVolumeId, documentEntity.attachments[0].parentInsertId)" popover="Go to the Browse Volume/Insert view" popover-trigger="mouseenter" popover-append-to-body="true")
              | {{documentEntity.attachments[0].parentCollectionName}}&nbsp;
              span(ng-if="documentEntity.attachments[0].parentVolumeName")
                | &nbsp;-&nbsp;
                | {{documentEntity.attachments[0].parentVolumeName}}
              span(ng-if="documentEntity.attachments[0].parentInsertName")
                | &nbsp;-&nbsp;
                | {{documentEntity.attachments[0].parentInsertName}}

  .hidden-xs.hidden-sm.visible-md.visible-lg
    .row.mt-5(ng-repeat="attachment in documentEntity.attachments")
      .col-xs-12
        .row
          .col-md-2.col-sm-3.col-xs-3.vcenter
            .label
              | Attachment #
              span {{$index+1}}
          .col-md-6.col-sm-5.col-xs-9.vcenter
            span.fields
              a.text-underline(ng-click="goToBAL(attachment.childVolumeId, attachment.childInsertId)" popover="Go to the Browse Volume/Insert view" popover-trigger="mouseenter" popover-append-to-body="true")
                | {{attachment.childCollectionName}}&nbsp;
                span(ng-if="attachment.childVolumeName")
                  | &nbsp;-&nbsp;
                  | {{attachment.childVolumeName}}
                span(ng-if="attachment.childInsertName")
                  | &nbsp;-&nbsp;
                  | {{attachment.childInsertName}}
          .col-md-4.vcenter.text-right
            a.btn.btn-success.mb-0(ui-sref="mia.docAttColl({collId: attachment.id})") Go To Reconstruction

  .visible-xs.visible-sm.hidden-md.hidden-lg
    .row.mt-5(ng-repeat="attachment in documentEntity.attachments")
      .col-xs-12
        .row
          .col-xs-12
            .label
              | Attachment #
              span {{$index+1}}
        .row
          .col-xs-7.col-sm-7.vcenter
            span.fields.pl-5
              a.text-underline(ng-click="goToBAL(attachment.childVolumeId, attachment.childInsertId)" popover="Go to the Browse Volume/Insert view" popover-trigger="mouseenter" popover-append-to-body="true")
                | {{attachment.childCollectionName}}&nbsp;
                span(ng-if="attachment.childVolumeName")
                  | &nbsp;-&nbsp;
                  | {{attachment.childVolumeName}}
                span(ng-if="attachment.childInsertName")
                  | &nbsp;-&nbsp;
                  | {{attachment.childInsertName}}
          .col-xs-5.col-sm-5.vcenter.text-right
            a.btn.btn-success.mb-0(ui-sref="mia.docAttColl({collId: attachment.id})") Go To Reconstruction

// LACUNA
.summary(ng-if="documentEntity.lacuna" style="padding: 5px;")
  .row.mb-10
    .col-xs-12
      .row
        .col-xs-3.col-sm-3.col-md-2
          .label
            | Reconstruction Type
        .col-xs-9.col-sm-9.col-md-10
          .fields
            | Lacuna
            span.glyphicon.glyphicon-question-sign.ml-5(popover="A document (e.g. letter) taken from another collection" popover-trigger="mouseenter" popover-append-to-body="true")
            span.pull-right
              a.btn.btn-success.mb-0(ng-if="me.account == documentEntity.lacuna.createdBy || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click="deleteLacuna(documentEntity.lacuna)") Delete Reconstruction

        //.col-sm-4.col-xs-4.text-right
        //  a.btn.btn-success.mb-0(ng-if="me.account == documentEntity.lacuna.createdBy || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click="deleteLacuna(documentEntity.lacuna)") Delete Reconstruction
  .row
    .col-xs-12
      .row
        .col-xs-3.col-sm-3.col-md-2
          .label
            | Source
        .col-xs-9.col-sm-9.col-md-10
          span.fields
            a.text-underline(ng-click="goToBAL(documentEntity.lacuna.childVolumeId, documentEntity.lacuna.childInsertId)" popover="Go to the Browse Volume/Insert view" popover-trigger="mouseenter" popover-append-to-body="true")
              | {{documentEntity.lacuna.childCollectionName}}&nbsp;
              span(ng-if="documentEntity.lacuna.childVolumeName")
                | &nbsp;-&nbsp;
                | {{documentEntity.lacuna.childVolumeName}}
              span(ng-if="documentEntity.lacuna.childInsertName")
                | &nbsp;-&nbsp;
                | {{documentEntity.lacuna.childInsertName}}
  .row.mt-5
    .col-xs-12
      .row
        .col-xs-3.col-sm-3.col-md-2
          .label
            | Destination
        .col-xs-9.col-sm-9.col-md-10
          span.fields
            a.text-underline(ng-click="goToBAL(documentEntity.lacuna.parentVolumeId, documentEntity.lacuna.parentInsertId)" popover="Go to the Browse Volume/Insert view" popover-trigger="mouseenter" popover-append-to-body="true")
              | {{documentEntity.lacuna.parentCollectionName}}&nbsp;
              span(ng-if="documentEntity.lacuna.parentVolumeName")
                | &nbsp;-&nbsp;
                | {{documentEntity.lacuna.parentVolumeName}}
              span(ng-if="documentEntity.lacuna.parentInsertName")
                | &nbsp;-&nbsp;
                | {{documentEntity.lacuna.parentInsertName}}
