.row
    .col-xs-12.col-md-4
        label owner:
    .col-xs-12.col-md-8
        input.form-control(type="text" ng-model="tempOwnerName" ng-model-options='{ debounce: 300 }' ng-class="{loading:loading}" placeholder="Type at least 3 char" ng-change="getUserByName(tempOwnerName)")
        div.placesTable.table-results.top-move-table(ng-if="owners.length && ownerIsClicked == false")
            table.table.table-hover
                thead.table-header
                    tr
                        th Name
                        th Last Name
                        th Account
                tbody
                    tr.placeRow(ng-class="checkIfThisOwnerAreSelected(owner) ? 'isSelected' : 'notSelected' " ng-repeat="owner in owners" ng-click="addOrRemoveOwnerToSelectedOwner(owner)")
                        td {{owner.firstName}} 
                        td {{owner.lastName}}
                        td {{owner.account}}
style(type='text/css').
    .personRow.isSelected, .placeRow.isSelected {background-color: lightblue;}
    .personRow .red, .placeRow .red {color: darkred;}
    .peopleTable, .placesTable {max-height: 200px; overflow: auto;}
    .form-control-input {max-width: 200px; margin-right: 30px;}
    .top-move-table {position: relative; top: 15px;}
    .block {display: block;}