div
  .form-group
    .col-xs-3
      label(for="searchQuery") Search query
      input.form-control(type="text" ng-model="searchQuery" name="searchQuery" placeholder="insert search here")
    .col-xs-3
      label(for="searchWhere") Define where to search
      select.form-control(name="searchWhere" ng-model="searchWhere")
        option(value="AE_NAME_AND_DESCRIPTION") Title and Description
        option(value="AE_NAME") Title
        option(value="AE_DESCRIPTION") Description
    .col-xs-2
      button.btn.btn-success.search-button(ng-click="wordSearchAe(searchQuery, searchWhere, searchType)" ng-disabled="!searchType || !searchQuery || !searchWhere")
        | Search
  .form-group
    .col-xs-12
      label.radio-inline
        input(type='radio', name='optaesradio' ng-model="searchType" value="all")
        | All images
      label.radio-inline
        input(type='radio', name='optaesradio' ng-model="searchType" value="mine")
        | Only my images
      label.radio-inline
        input(type='radio', name='optaesradio' ng-model="searchType" value="other")
        | Everyone elses images
