form.basic-search(name="simpleSearchForm")
  .form-group
    .input-group
      i.glyphicon.glyphicon-question-sign.mr-5(popover-template="dynamicPopover.templateUrl" popover-trigger="mouseenter" popover-placement="bottom")
      input.form-control.form-control-sm(type="text" name="search" placeholder="Search" ng-model="queryString" ng-maxlength="50")
      button.input-group-addon.small-addon.no-outline.cursor-pointer(type="submit" ng-click="basicSearch(queryString)" ng-disabled="!queryString")
        i.glyphicon.glyphicon-search

    .has-error(ng-if="simpleSearchForm.search.$error.maxlength" style="padding-left: 20px; color: red;")
      | max 50 characters
