.activity
  .act-desc
    div(ng-if="!lrs" class="text-center")
      | {{ 'news.NO_ACTIVITIES' | translate }}
    div(ng-if="lrs")
      div.repeated-item(ng-repeat="lastRecord in lrs | filter: recentNewsFilter")

        div.news-block.recent-news(ng-if="lastRecord.type == 'ae' && lastRecord.data && lastRecord.data.logicalDelete != 1" ng-style="bgColor(lastRecord.data)")
          a(ng-click="showObjInPreview(lastRecord)")
            div
              |  IMAGES
            div
              span
                |  mapAEid# {{lastRecord.data.uploadId}}
            div
              span(ng-if="lastRecord.data.repository")
                |  {{lastRecord.data.repository.repositoryAbbreviation}}&nbsp;
              span(ng-if="lastRecord.data.collection") -
                |  {{lastRecord.data.collection.collectionName}}&nbsp;
              span(ng-if="lastRecord.data.volume") -
                |  {{lastRecord.data.volume.volumeName}}&nbsp;
              span(ng-if="lastRecord.data.insert") -
                |  {{lastRecord.data.insert.insertName}}&nbsp;
            div
              span(ng-if="lastRecord.data.aeName")
                |  {{ lastRecord.data.aeName | limitTo: 10}} {{lastRecord.data.aeName.length < 10 ? '' : '...'}}
            div
              span(ng-if="lastRecord.data.aeDescription")
                |  {{ lastRecord.data.aeDescription | limitTo: 10}} {{lastRecord.data.aeDescription.length < 10 ? '' : '...'}}
            div.new-thumbs(ng-if="lastRecord.data.thumbsFiles")
              div.img-block(ng-repeat="thumb in lastRecord.data.thumbsFiles | limitTo: 7")
                img.act-thumb(ng-src="{{thumb.filePath}}" alt="")

        div.news-block.recent-news(
          ng-if="lastRecord.type == 'ae' && lastRecord.data && lastRecord.data.logicalDelete == 1 && authorize(['ADMINISTRATORS'])"
          popover="{{ 'news.DELETED_RECORD' | translate }}" popover-trigger="mouseenter" popover-placement="left"
          ng-style="bgColor(lastRecord.data)")
          //a(ng-click="showObjInPreview(lastRecord)")
          div
            |  IMAGES
          div
            span
              |  mapAEid# {{lastRecord.data.uploadId}}
          div
            span(ng-if="lastRecord.data.repository")
              |  {{lastRecord.data.repository.repositoryAbbreviation}}&nbsp;
            span(ng-if="lastRecord.data.collection") -
              |  {{lastRecord.data.collection.collectionName}}&nbsp;
            span(ng-if="lastRecord.data.volume") -
              |  {{lastRecord.data.volume.volumeName}}&nbsp;
            span(ng-if="lastRecord.data.insert") -
              |  {{lastRecord.data.insert.insertName}}&nbsp;
          div
            span(ng-if="lastRecord.data.aeName")
              |  {{ lastRecord.data.aeName | limitTo: 10}} {{lastRecord.data.aeName.length < 10 ? '' : '...'}}
          div
            span(ng-if="lastRecord.data.aeDescription")
              |  {{ lastRecord.data.aeDescription | limitTo: 10}} {{lastRecord.data.aeDescription.length < 10 ? '' : '...'}}
          //div.new-thumbs(ng-if="lastRecord.data.thumbsFiles")
          //  div.img-block(ng-repeat="thumb in lastRecord.data.thumbsFiles | limitTo: 7")
          //    img.act-thumb(ng-src="{{thumb.filePath}}" alt="")

        div.news-block.recent-news(ng-if="lastRecord.type == 'document' && lastRecord.data && lastRecord.data.flgLogicalDelete != 1" ng-style="bgColor(lastRecord.data)")
          a(ng-click="showObjInPreview(lastRecord)")
            div
              |  DOCUMENT
            div
              span
                |  mapDEid# {{lastRecord.data.documentId}}
            div
              span(ng-if="lastRecord.data.privacy == 1")
                |  Privacy: PRIVATE
            div
              span(ng-if="lastRecord.data.privacy == 0")
                |  Privacy: PUBLIC
            div
              span(ng-if="lastRecord.data.typology")
                |  {{lastRecord.data.typology}}
            div
              span(ng-if="lastRecord.data.deTitle")
                |  {{lastRecord.data.deTitle}}
            div
              span(ng-if="lastRecord.data.date.docYear != 0 && lastRecord.data.date.docMonth != 0 && lastRecord.data.date.docDay != 0")
                |  {{lastRecord.data.date.docYear}} - {{lastRecord.data.date.docMonth}} - {{lastRecord.data.date.docDay}}
            div
              span(ng-if="lastRecord.data.producers")
                |  {{lastRecord.data.producers[0].mapNameLf}}
            div
              span(ng-if="lastRecord.data.placeOfOrigin")
                |  {{lastRecord.data.placeOfOrigin[0].placeName | limitTo: 20}} {{lastRecord.data.placeOfOrigin[0].placeName.length < 20 ? '' : '...'}}
            div.new-thumbs(ng-if="lastRecord.data.uploadFiles")
              div.img-block(ng-repeat="thumb in lastRecord.data.uploadFiles | limitTo: 7")
                img.act-thumb(ng-src="{{thumb.filePath}}" alt="")

        div.news-block.recent-news(
          ng-if="lastRecord.type == 'document' && lastRecord.data && lastRecord.data.flgLogicalDelete == 1 && authorize(['ADMINISTRATORS'])"
          popover="{{ 'news.DELETED_RECORD' | translate }}" popover-trigger="mouseenter" popover-placement="left"
          ng-style="bgColor(lastRecord.data)")
          //a(ng-click="showObjInPreview(lastRecord)")
          div
            |  DOCUMENT
          div
            span
              |  mapDEid# {{lastRecord.data.documentId}}
          div
            span(ng-if="lastRecord.data.privacy == 1")
              |  Privacy: PRIVATE
          div
            span(ng-if="lastRecord.data.privacy == 0")
              |  Privacy: PUBLIC
          div
            span(ng-if="lastRecord.data.typology")
              |  {{lastRecord.data.typology}}
          div
            span(ng-if="lastRecord.data.deTitle")
              |  {{lastRecord.data.deTitle}}
          div
            span(ng-if="lastRecord.data.date.docYear != 0 && lastRecord.data.date.docMonth != 0 && lastRecord.data.date.docDay != 0")
              |  {{lastRecord.data.date.docYear}} - {{lastRecord.data.date.docMonth}} - {{lastRecord.data.date.docDay}}
          div
            span(ng-if="lastRecord.data.producers")
              |  {{lastRecord.data.producers[0].mapNameLf}}
          div
            span(ng-if="lastRecord.data.placeOfOrigin")
              |  {{lastRecord.data.placeOfOrigin[0].placeName | limitTo: 20}} {{lastRecord.data.placeOfOrigin[0].placeName.length < 20 ? '' : '...'}}
          //div.new-thumbs(ng-if="lastRecord.data.uploadFiles")
          //  div.img-block(ng-repeat="thumb in lastRecord.data.uploadFiles | limitTo: 7")
          //    img.act-thumb(ng-src="{{thumb.filePath}}" alt="")

        div.news-block.recent-news(ng-if="lastRecord.type == 'people' && lastRecord.data" ng-style="bgColor(lastRecord.data)")
          a(ng-click="showObjInPreview(lastRecord)")
            div
              |  BIOGRAPHICAL RECORD
            div
              span
                |  mapPersonid# {{lastRecord.data.peopleId}}
            div
              span(ng-if="lastRecord.data.mapNameLf")
                |  {{lastRecord.data.mapNameLf | limitTo: 20}} {{lastRecord.data.mapNameLf.length < 20 ? '' : '...'}}
            div
              span(ng-if="lastRecord.data.bornYear && lastRecord.data.bornMonth && lastRecord.data.bornDay")
                |  Date of Birth: {{lastRecord.data.bornYear}} - {{lastRecord.data.bornMonth}} - {{lastRecord.data.bornDay}}
            div
              span(ng-if="!lastRecord.data.bornYear && !lastRecord.data.bornMonth && !lastRecord.data.bornDay && lastRecord.data.activeStart")
                |  Date of Birth: {{lastRecord.data.activeStart}}
            div
              span(ng-if="lastRecord.data.deathYear && lastRecord.data.deathMonth && lastRecord.data.deathDay")
                |  Date of Death: {{lastRecord.data.deathYear}} - {{lastRecord.data.deathMonth}} - {{lastRecord.data.deathDay}}
            div
              span(ng-if="!lastRecord.data.deathYear && !lastRecord.data.deathMonth && !lastRecord.data.deathDay && lastRecord.data.activeEnd")
                |  Date of Death: {{lastRecord.data.activeEnd}}
            div.new-thumbs
              div.img-block
                img.act-thumb(ng-src="src/peoplebase/ShowPortraitPerson.do?personId={{lastRecord.data.peopleId}}" alt="")

        div.news-block.recent-news(ng-if="lastRecord.type == 'place' && lastRecord.data" ng-style="bgColor(lastRecord.data)")
          a(ng-click="showObjInPreview(lastRecord)")
            div
              |  GEOGRAPHICAL RECORD
            div
              span
                |  mapPlaceId# {{lastRecord.data.placeId}}
            div
              span(ng-if="lastRecord.data.placeNameFull")
                |  {{lastRecord.data.placeNameFull | limitTo: 30}} {{lastRecord.data.placeNameFull.length < 30 ? '' : '...'}}
            div
              span(ng-if="lastRecord.data.plType")
                |  Type: {{lastRecord.data.plType}}
            div
              span(ng-if="lastRecord.data.prefFlag")
                |  {{lastRecord.data.prefFlag}}
            div.new-thumbs
              div.img-block
                img.act-thumb(ng-src="img/img_place.png" alt="")

        div.news-block.recent-news(ng-if="lastRecord.type == 'volume' && lastRecord.data" ng-style="bgColor(lastRecord.data)")
          a(ng-click="showObjInPreview(lastRecord)")
            div
              | VOLUME/INSERT RECORD
            div
              span
                |  mapVolumeId# {{lastRecord.data.volumeId}}
            div
              span(ng-if="lastRecord.data.collectionAbbr")
                |  Collection: {{lastRecord.data.collectionAbbr}}
            div
              span(ng-if="lastRecord.data.volumeNo")
                |  Volume: {{lastRecord.data.volumeNo}}
            div
              span(ng-if="lastRecord.data.startYear && lastRecord.data.startMonth && lastRecord.data.startDay")
                |  Start Date: {{lastRecord.data.startYear}} - {{lastRecord.data.startMonth}} - {{lastRecord.data.startDay}}
            div
              span(ng-if="lastRecord.data.endYear && lastRecord.data.endMonth && lastRecord.data.endDay")
                |  End Date: {{lastRecord.data.endYear}} - {{lastRecord.data.endMonth}} - {{lastRecord.data.endDay}}
            div.new-thumbs(ng-if="lastRecord.data.spine")
              div.img-block
                img.act-thumb(ng-src="/Mia/mview/IIPImageServer.do?FIF={{lastRecord.data.spine.filePath}}{{lastRecord.data.spine.fileName}}&WID=250")

        div.news-block.recent-news(ng-if="lastRecord.type == 'insert' && lastRecord.data" ng-style="bgColor(lastRecord.data)")
          a(ng-click="showObjInPreview(lastRecord)")
            div
              | VOLUME/INSERT RECORD
            div
              span
                |  mapInsertId# {{lastRecord.data.insertId}}
            div
              span(ng-if="lastRecord.data.collectionAbbr")
                |  Collection: {{lastRecord.data.collectionAbbr}}
            div
              span(ng-if="lastRecord.data.volumeNo")
                |  Volume: {{lastRecord.data.volumeNo}}
            div
              span(ng-if="lastRecord.data.insertNo")
                |  Insert: {{lastRecord.data.insertNo}}
            div
              span(ng-if="lastRecord.data.startYear && lastRecord.data.startMonth && lastRecord.data.startDay")
                |  Start Date: {{lastRecord.data.startYear}} - {{lastRecord.data.startMonth}} - {{lastRecord.data.startDay}}
            div
              span(ng-if="lastRecord.data.endYear && lastRecord.data.endMonth && lastRecord.data.endDay")
                |  End Date: {{lastRecord.data.endYear}} - {{lastRecord.data.endMonth}} - {{lastRecord.data.endDay}}
            div.new-thumbs(ng-if="lastRecord.data.spine")
              div.img-block
                img.act-thumb(ng-src="/Mia/mview/IIPImageServer.do?FIF={{lastRecord.data.spine.filePath}}{{lastRecord.data.spine.fileName}}&WID=250")
