div(ng-controller="addCommentController")
  .modal-header
    h3.modal-title Add a new Comment
  .modal-body

    .search-form
      form.form-horizontal.new-question(name="commentForm")
          .row
            .col-xs-12
              .form-group
                .col-sm-12.ui-mention-container
                  textarea.form-control(
                    ng-model="newComment.text"
                    name="commentText"
                    rows="4"
                    placeholder="Type a comment"
                    required
                    ng-maxlength="2000"
                    ng-class="{'has-error': commentForm.commentText.$error.required}"
                    ui-mention=''
                    mention-example=''
                  )
                  .ui-mention-highlight
                  ul.autocomplete-users(ng-if='$mention.choices.length')
                    li.list-group-item.cursor-pointer(
                      ng-repeat='choice in $mention.choices'
                      ng-click='$mention.select(choice)'
                      ng-class='{active: $mention.activeChoice == choice}'
                      ng-mouseover='$mention.activeChoice = choice'
                    )
                      a {{::choice.firstName}} {{::choice.lastName}} ({{::choice.account}})

                  //.required-error(ng-if="commentForm.commentText.$error.required")
                  //  | required
                  .required-error(ng-if="commentForm.commentText.$error.maxlength")
                    | Max. 2000 characters
                  .required-error(ng-if="errorMsg")
                    | {{errorMsg}}


    .text-center.mt-15
      .btn-group
        button.btn.btn-primary.btn-xs(ng-disabled="commentForm.$invalid" ng-click="addNewComment($mention.mentions)")
          | {{ 'general.SAVE' | translate }}
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}
