.adminpage
  div(ng-if="!isAdmin && !hide")
    span.has-error.help-block
      | {{ 'admin.ALERT' | translate }}
  tabset.active(ng-if="isAdmin")
    tab(index="0" heading="Search/Edit user" ng-click="activeTab('search')" active ="tabs[0].value")
      .form-group
        .col-xs-12
          label.control-label(for="searchAccount") {{ 'admin.USENAME' | translate }}/{{ 'admin.FPRL' | translate }}
          fieldset.form-group
            .col-xs-4
              input.form-control(type="text" name="searchAccount" ng-model="searchUserAccount" placeholder="search here..." ng-change="searchUser(searchUserAccount)" ng-class="{loading:loading}" autocomplete="off")
          fieldset.form-group(ng-if="searchAccountTableOpen" click-outside="closeAccountTable()")
            .col-xs-12.table-results(ng-if="!loading && results")
              table.table.table-hover
                thead.table-header
                  td(ng-click="sortType = 'item.account'; sortReverse = !sortReverse")
                    | {{ 'admin.USENAME' | translate }}
                  td(ng-click="sortType = 'item.firstName'; sortReverse = !sortReverse")
                    | {{ 'admin.FIRSTNAME' | translate }}
                  td(ng-click="sortType = 'item.lastName'; sortReverse = !sortReverse")
                    | {{ 'admin.LASTNAME' | translate }}
                  td(ng-click="sortType = 'item.organization'; sortReverse = !sortReverse")
                    | {{ 'admin.ORG' | translate }}
                  td(ng-click="sortType = 'item.city'; sortReverse = !sortReverse")
                    | {{ 'admin.CITY' | translate }}
                  td(ng-click="sortType = 'item.country'; sortReverse = !sortReverse")
                    | {{ 'admin.COUNTRY' | translate }}
                tbody
                  tr(ng-repeat="item in results | orderBy:sortType:sortReverse" ng-click="setModifyTab(item)")
                    td
                      | {{item.account}}
                    td
                      | {{item.firstName}}
                    td
                      | {{item.lastName}}
                    td
                      | {{item.organization}}
                    td
                      | {{item.city}}
                    td
                      | {{item.country}}
    tab(index="1" heading="Create New User" ng-click="activeTab('create')" active ="tabs[1].value")
      form.form-horizontal.mb-15(name="createUserForm" ng-if="!saved")
        fieldset
          .form-group
            label.col-xs-2.control-label(for="userName") {{ 'admin.USENAME' | translate }}
            .col-xs-3
              input.form-control(type="text" name="userName" ng-model="newUser.account" required ng-class="{'has-error':(createUserForm.userName.$invalid)}" autocomplete="off")
            span.has-error.help-block(ng-if="(createUserForm.userName.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="email") {{ 'admin.EMAIL' | translate }}
            .col-xs-3
              input.form-control(type="email" name="email" ng-model="newUser.email" required ng-class="{'has-error':(createUserForm.email.$invalid)}" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" autocomplete="off")
            span.has-error.help-block(ng-if="(createUserForm.email.$invalid)")
              | invalid or empty
        fieldset
          .form-group
            label.col-xs-2.control-label(for="firstName") {{ 'admin.FIRSTNAME' | translate }}
            .col-xs-3
              input.form-control(type="text" name="firstName" ng-model="newUser.firstName" required ng-class="{'has-error':(createUserForm.firstName.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(createUserForm.firstName.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="lastName") {{ 'admin.LASTNAME' | translate }}
            .col-xs-3
              input.form-control(type="text" name="lastName" ng-model="newUser.lastName" required ng-class="{'has-error':(createUserForm.lastName.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(createUserForm.lastName.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="organization") {{ 'admin.ORG' | translate }}
            .col-xs-3
              input.form-control(type="text" name="organization" ng-model="newUser.organization" required ng-class="{'has-error':(createUserForm.organization.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(createUserForm.organization.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="newCity") {{ 'admin.CITY' | translate }}
            .col-xs-3
              input.form-control(type="text" name="newCity" ng-model="newUser.city" required ng-class="{ 'has-error': (createUserForm.newCity.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(createUserForm.newCity.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="newCountry") {{ 'admin.COUNTRY' | translate }}
            .col-xs-3
              input.form-control(type="text" name="newCountry" required ng-model="newUser.country" placeholder="Insert here the first 2 digits..." ng-change="getCountries(newUser)" ng-class="{loading:loading}" ng-click="resetSearch()" autocomplete="off")
              .col-xs-12(ng-if="searchCountryTableOpen")
                br
                .col-xs-12.table-results(ng-if="!loading")
                  table.table.table-hover
                    thead.table-header
                      td
                        | {{'personalprofile.CODE' | translate}}
                      td
                        | {{'personalprofile.COUNTRY' | translate}}
                    tbody
                      tr(ng-repeat="item in results" ng-click="selectCountry(newUser, item)")
                        td
                          | {{item.code}}
                        td
                          | {{item.name}}
                      tr(ng-if="!results")
                        td(colspan="12")
                          | {{'personalprofile.NOCOUNTRY' | translate}}
            span.col-xs-offset-2.has-error.help-block(ng-if="(createUserForm.newCountry.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
        fieldset
          .form-group
            label.col-xs-2.control-label(for="newPassword") {{ 'admin.PASS' | translate }}
            .col-xs-3
              input.form-control(type="password" name="newPassword"  required ng-model="newUser.password"  ng-class="{'has-error': (createUserForm.newPassword.$invalid)}" autocomplete="off" )
            label.col-xs-2.control-label(for="confirmPassword") {{ 'admin.PASSCONF' | translate }}
            .col-xs-3
              input.form-control(type="password" name="confirmPassword" ng-model="confirmPassword" required ng-class="{'has-error': (createUserForm.confirmPassword.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(createUserForm.newPassword.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
            span.col-xs-offset-2.has-error.help-block(ng-if="(newUser.password!==confirmPassword)")
              | {{ 'admin.PASSMIS' | translate }}
        .row
          .form-group
            label.col-xs-2.control-label {{ 'admin.GROUPS' | translate }}
            .col-xs-10.col-xs-offset-2
              .col-xs-4(ng-repeat="group in possibleGroups")
                .checkbox
                  label
                    input.cursor-pointer(type="checkbox" ng-model="group.value" ng-change="checkGroup(newUser, group.name)")
                    | {{group.name}}
            br
            span.col-xs-offset-2.has-error.help-block(ng-if="newUser.userGroups.length < 1")
              | {{ 'admin.ALERTGROUP' | translate }}
        .row
          .col-xs-10.col-xs-offset-2
            .btn-group.bottom-buttons
              button.btn.btn-xs.btn-success(
                ng-disabled="(!createUserForm.$valid) || (newUser.password!==confirmPassword) || (newUser.userGroups.length < 1)"
                ng-click="saveUser()")
                | {{ 'admin.SAVE' | translate }}
              button.btn.btn-xs.btn-success(
                ng-click="cancelSaveMode()")
                | {{ 'general.CANCEL' | translate }}
            br
      .row(ng-if="saved")
        br
        .col-xs-10.col-xs-offset-1
          span.success {{ 'admin.SAVEMESSAGE' | translate }}
        br
        br
        .col-xs-10.col-xs-offset-1
          button.btn.btn-xs.btn-success(
            ng-click="cancelSaveMode()")
            | {{ 'general.OK' | translate }}
        br
    tab(index="2" heading="Modify User" ng-if="modifyMode" ng-click="activeTab('modify')" active ="tabs[2].value")
      form.form-horizontal(name="modifyUserForm" ng-if="!modified")
        div
          .row
            .col-xs-3.pull-right(ng-if="!editing")
              button.btn.btn-xs.btn-success(ng-click="switchEditing()")
                | {{ 'admin.MODIFY' | translate }}
        fieldset
          .form-group
            label.col-xs-2.control-label(for="userName") {{ 'admin.USENAME' | translate }}
            .col-xs-3
              span(ng-if="!editing" for="userName") {{userToModify.account}}
              input.form-control(type="text" name="userName" ng-if="editing" required ng-model="userToModify.account" ng-class="{'has-error':(modifyUserForm.userName.$invalid)}" autocomplete="off")
            span.has-error.help-block(ng-if="(modifyUserForm.userName.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="email") {{ 'admin.EMAIL' | translate }}
            .col-xs-3
              span(ng-if="!editing") {{userToModify.email}}
              input.form-control(type="email" name="email" ng-if="editing" ng-model="userToModify.email" required ng-class="{'has-error':(modifyUserForm.email.$invalid)}" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" autocomplete="off")
            span.has-error.help-block(ng-if="(modifyUserForm.email.$invalid)")
              | {{ 'admin.INV' | translate }}
            .col-xs-2(ng-if="editing")
              .checkbox
                label
                  input(type="checkbox" ng-model="userToModify.mailhide" ng-true-value="1" ng-false-value="0")
                  | {{ 'admin.MAILHIDE' | translate }} 
        fieldset
          .form-group
            label.col-xs-2.control-label(for="firstName") {{ 'admin.FIRSTNAME' | translate }}
            .col-xs-3
              span(ng-if="!editing") {{userToModify.firstName}}
              input.form-control(type="text" name="firstName" ng-if="editing" ng-model="userToModify.firstName" required ng-class="{'has-error':(modifyUserForm.firstName.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(modifyUserForm.firstName.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="lastName") {{ 'admin.LASTNAME' | translate }}
            .col-xs-3
              span(ng-if="!editing") {{userToModify.lastName}}
              input.form-control(type="text" name="lastName" ng-if="editing" ng-model="userToModify.lastName" required ng-class="{'has-error':(modifyUserForm.lastName.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(modifyUserForm.lastName.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="organization") {{ 'admin.ORG' | translate }}
            .col-xs-3
              span(ng-if="!editing") {{userToModify.organization}}
              input.form-control(type="text" name="organization" ng-if="editing" ng-model="userToModify.organization" required ng-class="{'has-error':(modifyUserForm.organization.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(modifyUserForm.organization.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="city") {{ 'admin.CITY' | translate }}
            .col-xs-3
              span(ng-if="!editing") {{userToModify.city}}
              input.form-control(type="text" name="modifyCity" ng-if="editing" ng-model="userToModify.city" required ng-class="{ 'has-error': (modifyUserForm.city.$invalid)}" autocomplete="off")
            span.col-xs-offset-2.has-error.help-block(ng-if="(modifyUserForm.modifyCity.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
          .form-group
            label.col-xs-2.control-label(for="country") {{ 'admin.COUNTRY' | translate }}
            .col-xs-3
              span(ng-if="!editing") {{userToModify.country}}
              input.form-control(type="text" name="modifyCountry" ng-if="editing" required ng-model="userToModify.country" placeholder="Insert here the first 2 digits..." ng-change="getCountries(userToModify)" ng-class="{loading:loading}" ng-click="resetSearch()" autocomplete="off") 
              .col-xs-12(ng-if="searchCountryTableOpen")
                br
                .col-xs-12.table-results(ng-if="!loading")
                  table.table.table-hover
                    thead.table-header
                      td
                        | {{'personalprofile.CODE' | translate}}
                      td
                        | {{'personalprofile.COUNTRY' | translate}}
                    tbody
                      tr(ng-repeat="item in results" ng-click="selectCountry(userToModify, item)")
                        td
                          | {{item.code}}
                        td
                          | {{item.name}}
                      tr(ng-if="!results")
                        td(colspan="12")
                          | {{'personalprofile.NOCOUNTRY' | translate}}        
            span.col-xs-offset-2.has-error.help-block(ng-if="(modifyUserForm.modifyCity.$invalid)")
              | {{ 'general.REQUIRED' | translate }}
            span.col-xs-offset-8.has-error.help-block(ng-if="(modifyUserForm.modifyCountry.$error.required)")
              | {{ 'general.REQUIRED' | translate }}
        fieldset
          .form-group(ng-class="{'has-error': ((modifyUserForm.accountExpirationYear.$invalid) || (modifyUserForm.accountExpirationMonth.$invalid) || (modifyUserForm.accountExpirationDay.$invalid))}")
            label.col-xs-2.control-label {{ 'admin.EXP' | translate }}
            .col-xs-3(ng-if="!editing")
              span {{showDate}}
            .col-xs-1(ng-if="editing")
              input.form-control(type="text" name="accountExpirationYear" required ng-model="userToModify.accountExpirationYear" ng-value="(userToModify.accountExpirationYear > 9999  ? userToModify.accountExpirationYear = null : userToModify.accountExpirationYear)")
            .col-xs-1(ng-if="editing")
              input.form-control(type="text" name="accountExpirationMonth" required ng-model="userToModify.accountExpirationMonth" ng-value="(userToModify.accountExpirationMonth > 12 ? userToModify.accountExpirationMonth = null : userToModify.accountExpirationMonth)")
            .col-xs-1(ng-if="editing")
              input.form-control(type="text" name="accountExpirationDay" required ng-model="userToModify.accountExpirationDay" ng-value="(userToModify.accountExpirationDay > 31 ? userToModify.accountExpirationDay = null : userToModify.accountExpirationDay)" )
            span.col-xs-offset-2.has-error.help-block(ng-if="(modifyUserForm.accountExpirationYear.$invalid) || (modifyUserForm.accountExpirationMonth.$invalid) || (modifyUserForm.accountExpirationDay.$invalid)")
              | {{ 'admin.EXPERROR' | translate }}
            span.col-xs-offset-2.has-error.help-block(ng-if="checkExpDate(userToModify.accountExpirationYear,userToModify.accountExpirationMonth,userToModify.accountExpirationDay)")
              | {{ 'admin.EXPERRORPAST' | translate }}
        .form-group(ng-if="!editing")
            label.col-xs-2.control-label Account is
            .col-xs-10
              | {{accountInfo}}
        .row(ng-if="editing")
          .col-xs-2.col-xs-offset-2
            .checkbox
              label
                input(type="checkbox" ng-model="userToModify.active" ng-true-value="1" ng-false-value="0")
                | {{ 'admin.ACTIVE' | translate }}
          .col-xs-2
            .checkbox
              label
                input(type="checkbox" ng-model="userToModify.approved" ng-true-value="1" ng-false-value="0")
                | {{ 'admin.APPROVED' | translate }}
          .col-xs-2
            .checkbox
              label
                input(type="checkbox" ng-model="userToModify.locked" ng-true-value="1" ng-false-value="0")
                | {{ 'admin.LOCKED' | translate }}  

        .row(ng-if="editing && secAuthorize(['ADMINISTRATORS', 'COMMUNITY_COORDINATORS'])")
          .col-xs-2.col-xs-offset-2
            .checkbox
              label 
                input(type="checkbox" ng-model="userToModify.hideActivities")
                | {{ 'personalprofile.HIDE_ACTIVITIES' | translate }}
          .col-xs-2
            .checkbox
              label 
                input(type="checkbox" ng-model="userToModify.hidePublicatios")
                | {{ 'personalprofile.HIDE_PUBLICATIONS' | translate }}
          .col-xs-2
            .checkbox
              label 
                input(type="checkbox" ng-model="userToModify.hideStatistics")
                | {{ 'personalprofile.HIDE_STATISTICS' | translate }}
                
        .row(ng-if="editing")
          br
          .col-xs-10.col-xs-offset-2
            button.btn.btn-success(ng-click="changePassword(userToModify.account)")
              | {{ 'admin.CHPASS' | translate }}
        .row
          br(ng-if="editing")
          br(ng-if="editing")
          label.col-xs-2.control-label User's Groups
          .col-xs-10(ng-if="!editing")
            | {{stringListGroup}}
          .col-xs-10(ng-if="editing")     
            .col-xs-4(ng-repeat="group in possibleGroups")
              .checkbox
                label
                  input.cursor-pointer(type="checkbox" ng-model="group.value" ng-change="checkGroup(userToModify, group.name)" ng-disabled="group.name == 'COMMUNITY_USERS'")
                  | {{group.name}}
            span.col-xs-12.has-error.help-block(ng-if="userToModify.userGroups.length < 1")
              | Assign user to at least one user group
        .row
          .col-xs-10.col-xs-offset-2
            br
            .btn-group.bottom-buttons(ng-if="editing")
              button.btn.btn-xs.btn-success(
                ng-disabled= "(!modifyUserForm.$valid) || (userToModify.userGroups.length < 1)"
                ng-click="updateUser()")
                | {{ 'admin.UPUSER' | translate }}
              button.btn.btn-xs.btn-success(
                ng-click="cancelModifyMode()")
                | {{ 'general.CANCEL' | translate }}
            br
            br
      .row(ng-if="modified") 
        .col-xs-11.col-xs-offset-1
          br
          span.success {{ 'admin.MODIFYMESSAGE' | translate }}
        .col-xs-10.col-xs-offset-1
          br
          button.btn.btn-xs.btn-success(
            ng-click="cancelModifyMode()")
            | {{ 'general.OK' | translate }}
        br
    tab(index="3" heading="Compose" active="tabs[3].value" ng-click="activeTab('compose')")
      .mailbox
        table.composeTable
          tbody
            tr
              td(style="position: relative; top: 5px").text-right
                | {{ 'messaging.SUBJECT' | translate }}
              td
                input.trix-input(type="text" ng-model="messageBody.subject" style="margin-top: 10px")
        trix-editor.composeTabMargin(angular-trix ng-model="messageBody.msgText" ng-model-options="{ updateOn: 'blur' }" trix-change="trixChange(e, editor);")
        button.btn.btn-primary.btn-center.btn-left.composeTabMargin(ng-click="sendMessage()" ng-disabled="!messageBody.subject || !messageBody.subject")
          | {{ 'messaging.SENDBTN' | translate }}
        button.btn.btn-primary.btn-center.composeTabMargin(ng-click="closeComposeMessage()")
          | {{ 'messaging.CANCELBTN' | translate }}