.doc-ae-info-cont
  .infos
    .row
      .col-xs-12
        .row
          .col-xs-9
            .label
              | {{(recType == 'volume') && 'Uploads related to this Volume:' || 'Uploads related to this insert:' }}
          .col-xs-2
            a(ng-click="search({type: 'ae'})").fields.ae-desc-links
              | {{archivals}}
    .row
      .col-xs-12
        .row
          .col-xs-9
            .label
              | {{(recType == 'volume') && 'Documents related to this Volume:' || 'Documents related to this insert:' }}
          .col-xs-2
            a(ng-click="search({type: 'doc'})").fields.ae-desc-links
              | {{documents}}