.last-record(ng-if="previewObj.type == 'ae' && previewObj.data")
  .last-record-image(ng-if="previewObj.data.thumbsFiles")
      img(ng-src="{{previewObj.data.thumbsFiles[0].filePath}}")
  .last-record-info
      .single-field(ng-if="previewObj.data.repository")
          .row
              .col-xs-12
                  label.inner-title Repository
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.repository.repositoryAbbreviation}}
      .single-field(ng-if="previewObj.data.collection")
          .row
              .col-xs-12
                  label.inner-title Collection
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.collection.collectionName}}
      .single-field(ng-if="previewObj.data.volume")
          .row
              .col-xs-12
                  label.inner-title Volume
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.volume.volumeName}}
      .single-field(ng-if="previewObj.data.insert")
          .row
              .col-xs-12
                  label.inner-title Insert
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.insert.insertName}}
      .single-field(ng-if="previewObj.data.aeName")
          .row
              .col-xs-12
                  label.inner-title Title
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.aeName}}
      .single-field(ng-if="previewObj.data.aeDescription")
          .row
              .col-xs-12
                  label.inner-title Description
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.aeDescription}}
      .single-field(ng-if="previewObj.data.owner")
          .row
              .col-xs-12
                  label.inner-title Owner
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.owner}}

.last-record(ng-if="previewObj.type == 'ae' && previewObj.tab == 'recent'")
  .last-record-image(ng-if="previewObj.thumbPaths")
      img(ng-src="{{previewObj.thumbPaths[0]}}")
  .last-record-info
      .single-field(ng-if="previewObj.repositoryAbbreviation")
          .row
              .col-xs-12
                  label.inner-title Repository
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.repositoryAbbreviation}}
      .single-field(ng-if="previewObj.collectionName")
          .row
              .col-xs-12
                  label.inner-title Collection
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.collectionName}}
      .single-field(ng-if="previewObj.volumeName")
          .row
              .col-xs-12
                  label.inner-title Volume
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.volumeName}}
      .single-field(ng-if="previewObj.insertName")
          .row
              .col-xs-12
                  label.inner-title Insert
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.insertName}}
      .single-field(ng-if="previewObj.aeName")
          .row
              .col-xs-12
                  label.inner-title Title
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.aeName}}
      .single-field(ng-if="previewObj.aeDescription")
          .row
              .col-xs-12
                  label.inner-title Description
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.aeDescription}}
      .single-field(ng-if="previewObj.owner")
          .row
              .col-xs-12
                  label.inner-title Owner
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.owner}}

.last-record(ng-if="previewObj.type == 'document' && previewObj.data")
  .last-record-image(ng-if="previewObj.data.uploadFiles")
      img(ng-src="{{previewObj.data.uploadFiles[0].filePath}}")
  .last-record-info
      .single-field(ng-if="previewObj.data.deTitle")
          .row
              .col-xs-12
                  label.inner-title Title
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.deTitle}}
      .single-field(ng-if="previewObj.data.category")
          .row
              .col-xs-12
                  label.inner-title Category
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.category}}
      .single-field(ng-if="previewObj.data.collection.collectionName")
          .row
              .col-xs-12
                  label.inner-title Collection
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.collection.collectionName}}
      .single-field(ng-if="previewObj.data.typology")
          .row
              .col-xs-12
                  label.inner-title Typology
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.typology}}
      .single-field(ng-if="previewObj.data.producers")
          .row
              .col-xs-12
                  label.inner-title Producer
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.producers[0].mapNameLf}}
      .single-field(ng-if="previewObj.data.transcriptions")
          .row
              .col-xs-12
                  label.inner-title Transcription
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.transcriptions[0].transcription | limitTo: 500}} {{previewObj.data.transcriptions[0].transcription.length < 500 ? '' : '...'}}
      .single-field(ng-if="previewObj.data.placeOfOrigin")
          .row
              .col-xs-12
                  label.inner-title Place
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.placeOfOrigin[0].placeName}}
      .single-field(ng-if="previewObj.data.date.docYear != 0 && previewObj.data.date.docMonth != 0 && previewObj.data.date.docDay != 0")
          .row
              .col-xs-12
                  label.inner-title Date
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.date.docYear}} - {{previewObj.data.date.docMonth}} - {{previewObj.data.date.docDay}}
      .single-field(ng-if="previewObj.data.owner")
          .row
              .col-xs-12
                  label.inner-title Owner
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.owner}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title Privacy
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content(ng-if="previewObj.data.privacy == 1")
                          | PRIVATE
                      span.inner-content(ng-if="previewObj.data.privacy == 0")
                          | PUBLIC

.last-record(ng-if="previewObj.type == 'document' && previewObj.tab == 'recent'")
  .last-record-image(ng-if="previewObj.thumbPaths")
      img(ng-src="{{previewObj.thumbPaths[0]}}")
  .last-record-info
      .single-field(ng-if="previewObj.deTitle")
          .row
              .col-xs-12
                  label.inner-title Title
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.deTitle}}
      .single-field(ng-if="previewObj.category")
          .row
              .col-xs-12
                  label.inner-title Category
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.category}}
      .single-field(ng-if="previewObj.collectionName")
          .row
              .col-xs-12
                  label.inner-title Collection
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.collectionName}}
      .single-field(ng-if="previewObj.typology")
          .row
              .col-xs-12
                  label.inner-title Typology
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.typology}}
      .single-field(ng-if="previewObj.producers")
          .row
              .col-xs-12
                  label.inner-title Producer
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.producers[0].mapNameLf}}
      .single-field(ng-if="previewObj.transcription")
          .row
              .col-xs-12
                  label.inner-title Transcription
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.transcription[0].transcription | replaceTagsTransMyDocs | limitTo: 500}} {{previewObj.transcription[0].transcription.length < 500 ? '' : '...'}}
      .single-field(ng-if="previewObj.placeOfOrigin")
          .row
              .col-xs-12
                  label.inner-title Place
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.placeOfOrigin[0].placeName}}
      .single-field(ng-if="previewObj.date.docYear != 0 && previewObj.date.docMonth != 0 && previewObj.date.docDay != 0")
          .row
              .col-xs-12
                  label.inner-title Date
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.date.docYear}} - {{previewObj.date.docMonth}} - {{previewObj.date.docDay}}
      .single-field(ng-if="previewObj.owner")
          .row
              .col-xs-12
                  label.inner-title Owner
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.owner}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title Privacy
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content(ng-if="previewObj.privacy == 1")
                          | PRIVATE
                      span.inner-content(ng-if="previewObj.privacy == 0")
                          | PUBLIC

.last-record(ng-if="previewObj.type == 'people' && previewObj.data")
  .last-record-image
      img(ng-src="src/peoplebase/ShowPortraitPerson.do?personId={{previewObj.data.peopleId}}")
  .last-record-info
      .single-field(ng-if="previewObj.data.mapNameLf")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.COMPLETENAME' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.mapNameLf}}
      .single-field(ng-if="previewObj.data.bornYear")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFBIRTH' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.bornYear}}
      .single-field(ng-if="previewObj.data.deathYear")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFDEATH' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.deathYear}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.RELATEDDOCS' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{'people.fields.BIOFOUNDINDOCS' | translate}} {{peopleCountDoc}} {{'people.fields.DOCSPART' | translate}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title Preferred Role
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{peoplePreferredRole}}
      .single-field(ng-if="previewObj.data.createdBy")
          .row
              .col-xs-12
                  label.inner-title Created by
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.createdBy}}

.last-record(ng-if="previewObj.type == 'people' && previewObj.tab == 'recent'")
  .last-record-image
      img(ng-src="src/peoplebase/ShowPortraitPerson.do?personId={{previewObj.id}}")
  .last-record-info
      .single-field(ng-if="previewObj.mapNameLf")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.COMPLETENAME' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.mapNameLf}}
      .single-field(ng-if="previewObj.bornYear")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFBIRTH' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.bornYear}}
      .single-field(ng-if="previewObj.deathYear")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFDEATH' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.deathYear}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.RELATEDDOCS' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{'people.fields.BIOFOUNDINDOCS' | translate}} {{previewObj.peopleCountDoc}} {{'people.fields.DOCSPART' | translate}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title Preferred Role
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.peoplePreferredRole}}
      .single-field(ng-if="previewObj.createdBy")
          .row
              .col-xs-12
                  label.inner-title Created by
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.createdBy}}

.last-record(ng-if="previewObj.type == 'place' && previewObj.data")
  .last-record-image
      img(ng-src="img/img_place.png")
  .last-record-info
      .single-field(ng-if="previewObj.data.placeNameFull")
          .row
              .col-xs-12
                  label.inner-title Name
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.placeNameFull}}
      .single-field(ng-if="previewObj.data.plType")
          .row
              .col-xs-12
                  label.inner-title Type
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.plType}}
      .single-field(ng-if="previewObj.data.placesMemo")
          .row
              .col-xs-12
                  label.inner-title Place notes
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.placesMemo}}
      .single-field(ng-if="previewObj.data.createdBy")
          .row
              .col-xs-12
                  label.inner-title Created by
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.createdBy}}

.last-record(ng-if="previewObj.type == 'place' && previewObj.tab == 'recent'")
  .last-record-image
      img(ng-src="img/img_place.png")
  .last-record-info
      .single-field(ng-if="previewObj.placeNameFull")
          .row
              .col-xs-12
                  label.inner-title Name
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.placeNameFull}}
      .single-field(ng-if="previewObj.plType")
          .row
              .col-xs-12
                  label.inner-title Type
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.plType}}
      .single-field(ng-if="previewObj.placesMemo")
          .row
              .col-xs-12
                  label.inner-title Place notes
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.placesMemo}}
      .single-field(ng-if="previewObj.createdBy")
          .row
              .col-xs-12
                  label.inner-title Created by
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.createdBy}}

.last-record(ng-if="previewObj.type == 'volume' && previewObj.data")
  .last-record-image(ng-if="previewObj.data.spine")
      img(ng-src="/Mia/mview/IIPImageServer.do?FIF={{previewObj.data.spine.filePath}}{{previewObj.data.spine.fileName}}&WID=250")
  .last-record-info
      .single-field(ng-if="previewObj.data.collectionAbbr")
          .row
              .col-xs-12
                  label.inner-title Collection
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.collectionAbbr}}
      .single-field(ng-if="previewObj.data.volumeNo")
          .row
              .col-xs-12
                  label.inner-title Volume
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.volumeNo}}
      .single-field(ng-if="previewObj.data.startYear && previewObj.data.startMonth && previewObj.data.startDay")
          .row
              .col-xs-12
                  label.inner-title Start Date
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.startYear}} - {{previewObj.data.startMonth}} - {{previewObj.data.startDay}}
      .single-field(ng-if="previewObj.data.endYear && previewObj.data.endMonth && previewObj.data.endDay")
          .row
              .col-xs-12
                  label.inner-title End Date
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.endYear}} - {{previewObj.data.endMonth}} - {{previewObj.data.endDay}}

.last-record(ng-if="previewObj.type == 'insert' && previewObj.data")
  .last-record-image(ng-if="previewObj.data.spine")
      img(ng-src="/Mia/mview/IIPImageServer.do?FIF={{previewObj.data.spine.filePath}}{{previewObj.data.spine.fileName}}&WID=250")
  .last-record-info
      .single-field(ng-if="previewObj.data.collectionAbbr")
          .row
              .col-xs-12
                  label.inner-title Collection
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.collectionAbbr}}
      .single-field(ng-if="previewObj.data.volumeNo")
          .row
              .col-xs-12
                  label.inner-title Volume
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.volumeNo}}
      .single-field(ng-if="previewObj.data.insertNo")
          .row
              .col-xs-12
                  label.inner-title Insert
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.insertNo}}
      .single-field(ng-if="previewObj.data.startYear && previewObj.data.startMonth && previewObj.data.startDay")
          .row
              .col-xs-12
                  label.inner-title Start Date
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.startYear}} - {{previewObj.data.startMonth}} - {{previewObj.data.startDay}}
      .single-field(ng-if="previewObj.data.endYear && previewObj.data.endMonth && previewObj.data.endDay")
          .row
              .col-xs-12
                  label.inner-title End Date
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewObj.data.endYear}} - {{previewObj.data.endMonth}} - {{previewObj.data.endDay}}


