
.news-container
  tabset.active
    tab(index="0" heading="My newsfeed" ng-click="activeTab('newsfeed')" active="tabs[0].value")
      .panel-body
        .content
          newsfeed-dir
          
    tab(index="2" heading="Recent activities" ng-click="activeTab('recent')" active="tabs[2].value")
      .text-center.pt-30(ng-if="loadingNW")
          img(ng-src="img/loader.gif")
      .panel-body(ng-if="recentNews.news && !loadingNW")
        div.page-updates
          | Updates per page:
          select(ng-model="upd" ng-change="changeUpdNum(upd)")
            option(ng-repeat="upd in updatesNum track by $index") {{ upd }}
        .content
          rec-news-dir(rec="recentNews.news" status="recentStatus")

    tab(index="3" heading="RECENT PUBLICATIONS" ng-click="activeTab('discoveries')" active="tabs[3].value")
      div.repeated-item(ng-repeat="d in discoveries")
        div.news-block.recent-news
          a(ng-click="showSpotlightReview(d)")
            div
              |  PUBLICATION
            div
              |  Title: {{d.title}}
            div
              |  mapAEid# {{d.id}} - Author: {{d.owner }} - {{d.submissionDate}}
            div.new-thumbs
              div.img-block
      pagination(ng-if="discoveries.length" ng-cloak max-size="5" items-per-page="5" class="pagination-sm" boundary-links="true" total-items="discoveriesCount" ng-model="offset" ng-change="discoveriesPageChanged(offset)")

    //- tab(index="4" heading="My Last Records" ng-click="activeTab('last_records')" active="tabs[4].value")
    //-   .panel-body
    //-     div.page-updates(style="left: 0;bottom: 25px;")
    //-       a.btn.btn-success(ng-click="getUserLastRecords()") Refresh
    //-     .content
    //-       .text-center.pt-30(ng-if="loadingLR")
    //-         img(ng-src="img/loader.gif")
    //-       last-records-news-dir(lrs="arrayLR", ng-if="!loadingLR")

    tab(index="5" heading="Help" ng-click="activeTab('help')" active="tabs[5].value")
      .panel-body.pt-0
        .content
          .activity
            .act-desc
              basic-controls-dir

//.preview-activity(ng-if="previewObj")
.preview-activity.cursor-pointer(ng-if="previewObj" ng-click="goToPreviewObj()")
  .preview-obj
      .close-btn
          i.glyphicon.glyphicon-remove-circle(ng-click="closePreviewObj()")
      .content
          include last-record-preview.jade

//.preview-activity(ng-if="previewObj")
//  .content.cursor-pointer(ng-click="goToPreviewObj()" click-outside="closePreviewObj()")
//      .panel-body.preview-obj
//          include last-record-preview.jade

//.news-container
//  tabset.active
//    tab(index="0" heading="Recent activities" ng-click="activeTab('recent')" active ="tabs[0].value")
//      .panel-body
//        div.page-updates
//          | Updates per page:
//          select(ng-model="upd" ng-change="changeUpdNum(upd)")
//            option(ng-repeat="upd in updatesNum track by $index") {{ upd }}
//        .content
//          rec-news-dir(rec="recentNews.news" status="recentStatus")
//    tab(index="1" heading="Day activities" ng-click="activeTab('day')" active ="tabs[1].value")
//      accordion.doc-details-accordion
//        accordion-group(is-open='sections[0].open')
//          accordion-heading
//            .panel-title-desc
//              | Activities on Documents
//              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
//          .content
//            doc-news-dir(doc="dailyNews.news.documents" status="dailyStatus")
//      accordion.doc-details-accordion
//        accordion-group(is-open='sections[1].open')
//          accordion-heading
//            .panel-title-desc
//              | Activities on Images
//              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
//          .content
//            ae-news-dir(aes="dailyNews.news.aes" status="dailyStatus")
//        accordion.doc-details-accordion
//          accordion-group(is-open='sections[2].open')
//            accordion-heading
//              .panel-title-desc
//                | Activities on People
//                i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
//            .content
//              people-news-dir(people="dailyNews.news.people" status="dailyStatus")
//        accordion.doc-details-accordion
//          accordion-group(is-open='sections[3].open')
//            accordion-heading
//              .panel-title-desc
//                | Activities on Places
//                i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[3].open, 'glyphicon-chevron-right': !sections[3].open}")
//            .content
//              place-news-dir(place="dailyNews.news.places" status="dailyStatus")
//    tab(index="2" heading="Week activities" ng-click="activeTab('week')" active ="tabs[2].value")
//      accordion.doc-details-accordion
//        accordion-group(is-open='sections[0].open')
//          accordion-heading
//            .panel-title-desc
//              | Activities on Documents
//              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
//          .content
//            doc-news-dir(doc="weeklyNews.news.documents" status="weeklyStatus")
//      accordion.doc-details-accordion
//        accordion-group(is-open='sections[1].open')
//          accordion-heading
//            .panel-title-desc
//              | Activities on Images
//              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
//          .content
//            ae-news-dir(aes="weeklyNews.news.aes" status="weeklyStatus")
//        accordion.doc-details-accordion
//          accordion-group(is-open='sections[2].open')
//            accordion-heading
//              .panel-title-desc
//                | Activities on People
//                i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
//            .content
//              people-news-dir(people="weeklyNews.news.people" status="weeklyStatus")
//        accordion.doc-details-accordion
//          accordion-group(is-open='sections[3].open')
//            accordion-heading
//              .panel-title-desc
//                | Activities on Places
//                i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[3].open, 'glyphicon-chevron-right': !sections[3].open}")
//            .content
//              place-news-dir(place="weeklyNews.news.places" status="weeklyStatus")
//
//    tab(index="3" heading="Month activities" ng-click="activeTab('month')" active ="tabs[3].value")
//      accordion.doc-details-accordion
//        accordion-group(is-open='sections[0].open')
//          accordion-heading
//            .panel-title-desc
//              | Activities on Documentss
//              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
//          .content
//            doc-news-dir(doc="monthlyNews.news.documents" status="monthlyStatus")
//      accordion.doc-details-accordion
//        accordion-group(is-open='sections[1].open')
//          accordion-heading
//            .panel-title-desc
//              | Activities on Images
//              i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
//          .content
//            ae-news-dir(aes="monthlyNews.news.aes" status="monthlyStatus")
//        accordion.doc-details-accordion
//          accordion-group(is-open='sections[2].open')
//            accordion-heading
//              .panel-title-desc
//                | Activities on People
//                i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
//            .content
//              people-news-dir(people="monthlyNews.news.people" status="monthlyStatus")
//        accordion.doc-details-accordion
//          accordion-group(is-open='sections[3].open')
//            accordion-heading
//              .panel-title-desc
//                | Activities on Places
//                i.acc-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[3].open, 'glyphicon-chevron-right': !sections[3].open}")
//            .content
//              place-news-dir(place="monthlyNews.news.places" status="monthlyStatus")
