div.edit-image-metadata(ng-controller="editMetaDataController")
  .modal-header
    h3.modal-title Creating Document record - please number this page
  .modal-body
    .row
      .col-xs-6
        iframe.js-viewer(ng-src="{{viewerAddress}}")
      .col-xs-6
        .row
          .col-xs-12.mb-25
            label.control-label
              | {{ 'docEntity.DOUBLEFOLIO1' | translate }}&nbsp;
              | {{ 'docEntity.DOUBLEFOLIO2' | translate }}
              | &nbsp;
            .btn-group
              label.btn.btn-default(ng-model="doubleFolio" btn-radio="true" ng-change="doubleChanged(true)") {{ 'general.YES' | translate }}
              label.btn.btn-default(ng-model="doubleFolio" btn-radio="false" ng-change="doubleChanged(false)") {{ 'general.NO' | translate }}
        .row.mb-15
          .col-xs-3
            label.control-label
              | First folio
          .col-xs-9
            .row.btn-group.mb-15
              label.btn.btn-default(ng-model="folio1.noNumb" btn-radio="false" uncheckable) Numbered
              label.btn.btn-default(ng-model="folio1.noNumb" btn-radio="true" uncheckable) Not Numbered
            .row
              label.control-label(ng-class="{'disabled-label': folio1.noNumb}")
                | Number of the first folio
              .row
                .col-xs-6
                  input.form-control(ng-disabled="folio1.noNumb" type="text" ng-model="folio1.folioNumber")
                .col-xs-6.btn-group
                  label.btn.btn-default(ng-class="{'disabled': folio1.noNumb}" ng-disabled="folio1.noNumb" ng-model="folio1.rectoverso" btn-radio="'recto'" uncheckable) {{ 'docEntity.RECTO' | translate }}
                  label.btn.btn-default(ng-class="{'disabled': folio1.noNumb}" ng-disabled="folio1.noNumb" ng-model="folio1.rectoverso" btn-radio="'verso'" uncheckable) {{ 'docEntity.VERSO' | translate }}
        .row.mb-15
          .col-xs-3
            label.control-label(ng-class="{'disabled-label': !doubleFolio}")
              | Second folio
          .col-xs-9
            .row.btn-group.mb-15
              label.btn.btn-default(ng-class="{'disabled': !doubleFolio}" ng-disabled="!doubleFolio" ng-model="folio2.noNumb" btn-radio="false" uncheckable) Numbered
              label.btn.btn-default(ng-class="{'disabled': !doubleFolio}" ng-disabled="!doubleFolio" ng-model="folio2.noNumb" btn-radio="true" uncheckable) Not Numbered
            .row
              label.control-label(ng-class="{'disabled-label': !doubleFolio || folio2.noNumb}")
                | Number of the second folio
              .row
                .col-xs-6
                  input.form-control(ng-disabled="folio2.noNumb || !doubleFolio" type="text" ng-model="folio2.folioNumber")
                .col-xs-6.btn-group
                  label.btn.btn-default(ng-class="{'disabled': !doubleFolio || folio2.noNumb}" ng-disabled="!doubleFolio || folio2.noNumb" ng-model="folio2.rectoverso" btn-radio="'recto'" uncheckable) {{ 'docEntity.RECTO' | translate }}
                  label.btn.btn-default(ng-class="{'disabled': !doubleFolio || folio2.noNumb}" ng-disabled="!doubleFolio || folio2.noNumb" ng-model="folio2.rectoverso" btn-radio="'verso'" uncheckable) {{ 'docEntity.VERSO' | translate }}
        .row(ng-if='paginationNotes')
          .col-xs-12
            label.control-label
              | Pagination notes
        .row.mb-15(ng-if='paginationNotes')
          .col-xs-11.pagination-notes
            label.pagination-text
              | {{paginationNotes}}
        .row
          .col-xs-9
            .btn-group(data-id="saveGroupDE")
              //- button.btn.btn-default.btn-xs(ng-click="saveFolio()" ng-disabled="folioCheck() || hasSameValues()")
              button.btn.btn-default.btn-xs(ng-click="saveFolio()" ng-disabled="folioCheck()")
                | {{ 'general.SAVE' | translate }}
              button.btn.btn-default.btn-xs(ng-click="cancelAddToDe()")
                | {{ 'general.CANCEL' | translate }}
              .folioErrorMsg(ng-if="folioCheck()")
                | No data has been entered for the first or the second folio. Please check if the image includes a double folio. If it does not - set it to "NO"
              //- .folioDoubleErrorMsg(ng-if="hasSameValues()")
              //-   | You cannot enter the same value for both folios.
              


        //.row
        //  .col-xs-4
        //    .form-group
        //      label.control-label
        //        | First folio
        //      input.form-control(ng-hide="folio1.noNumb" type="text" ng-model="folio1.folioNumber")
        //    .form-group
        //      .btn-group(ng-if="!folio1.noNumb")
        //        label.btn.btn-default(ng-model="folio1.rectoverso" btn-radio="'recto'" uncheckable) {{ 'docEntity.RECTO' | translate }}
        //        label.btn.btn-default(ng-model="folio1.rectoverso" btn-radio="'verso'" uncheckable) {{ 'docEntity.VERSO' | translate }}
        //    .form-group
        //      .btn-group
        //        label.btn.btn-default(ng-model="folio1.noNumb" btn-checkbox)
        //          | {{ 'docEntity.NOTNUMBEREDFOLIO' | translate }}
        //          br
        //          | {{ 'docEntity.CLICKTOCHANGE' | translate }}
        //.row
        //  .col-xs-12
        //    .form-group(ng-show="doubleFolio")
        //      label.control-label
        //        | Second folio
        //        | &nbsp;
        //      input.form-control(ng-hide="folio2.noNumb" type="text" ng-model="folio2.folioNumber")
        //    .form-group(ng-show="doubleFolio && !folio2.noNumb")
        //      .btn-group
        //        label.btn.btn-default(ng-model="folio2.rectoverso" btn-radio="'recto'" uncheckable) {{ 'docEntity.RECTO' | translate }}
        //        label.btn.btn-default(ng-model="folio2.rectoverso" btn-radio="'verso'" uncheckable) {{ 'docEntity.VERSO' | translate }}
        //    .form-group(ng-show="doubleFolio")
        //      .btn-group
        //        label.btn.btn-default(ng-model="folio2.noNumb" btn-checkbox ng-click="determineFolio2()")
        //          | {{ 'docEntity.NOTNUMBEREDFOLIO' | translate }}
        //          br
        //          | {{ 'docEntity.CLICKTOCHANGE' | translate }}




style(type="text/css").
  .folioErrorMsg, .folioDoubleErrorMsg {
    visibility: hidden;
    width: 25px;
    height: 15px;
    overflow: hidden;
    position: absolute;
  }
  button[ng-disabled="folioCheck() || hasSameValues()"]:hover + .folioErrorMsg, button[ng-disabled="folioCheck() || hasSameValues()"]:hover + .folioDoubleErrorMsg {
    visibility: visible;
    overflow: auto;
    width: 250px;
    text-align: center;
    position: absolute;
    left: 50px;
    top: 35px;
    border: 3px solid red;
    background: lightgrey;
    color: #000;
    height: auto;
  }