.edit-image-metadata {

  .control-label {
    color: white;
    font-size: 10pt;
  }

  .pd-5 {
    padding-left: 5px;
    padding-right: 5px;
  }


  .mb-25 {
    margin-bottom: 25px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  input:disabled {
    background-color: #373232 !important;
    border-color: #767373 !important;
    color: #3F3C3C !important;
  }
  .disabled {
    background-color: #373232 !important;
    border-color: #767373 !important;
    color: #595454 !important;
  }
  .disabled-label {
    color: #595454 !important;
  }

  .pagination-notes {
    background-color: #1F1F1F;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    margin-left: 15px;
  }

  .pagination-text {
    color: white;
    padding: 8px;
    margin-bottom: 0px;

  }

}