.single-transcription
  .row
    .col-xs-12
      .label.inner-title Chinese Synopsis
  .row
    .col-xs-10
      .transcriptions
        span.fields(ng-show="!editSyn" style="white-space: pre-wrap;") {{synopsis | replaceTagsSyn}}
        textarea.inner-content(ng-show="editSyn" ng-model="synopsis" placeholder="Enter Synopsis")
    .col-xs-2
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchSynopsis()" ng-show="!editSyn" )
        | {{ 'general.EDIT' | translate }}
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveSynopsis(synopsis)" ng-show="editSyn" )
        | {{ 'general.SAVE' | translate }}
