doctype html
html(lang='it', ng-app="miaApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Medici interactive archive.')
    meta(name='author', content='Mia')

    title MIA - Medici Interactive Archive

    link(href='img/favicon.png', rel='icon')
    link(href='css/mia.css', rel='stylesheet')
    link(href="css/lib.css", rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js")
    script(src='js/lib.js')
    script(src='js/templates.js')
    script(src='js/app.js')
    //- script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB440lL3HaJG2rdFIRpJlOHrVQqhgM3GcM&libraries=places")
    script(src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js")


  body.mia
    toaster-container(toaster-options="{'time-out': 3000}")
    div(ui-view="main")
    .right-sidebar(ui-view="right-sidebar")
