div.search-tooltip-widget
    div.search-tooltip-widget-title
        h3
            | {{ search.content.title }}
    div.search-tooltip-widget-body
        table
            tbody
                tr(ng-if="search.content.where2.repository")
                    td(width="20%")
                        | Archive:
                    td(width="80%")
                        | {{search.content.where2.repository.repositoryName}}
                tr(ng-if="search.content.where2.collection")
                    td(width="20%")
                        | Collection:
                    td(width="80%")
                        | {{search.content.where2.collection.collectionName}}
                tr(ng-if="search.content.where2.volume")
                    td(width="20%")
                        | Volume:
                    td(width="80%")
                        | {{search.content.where2.volume.volumeName}}
                tr(ng-if="search.content.where2.insert")
                    td(width="20%")
                        | Insert:
                    td(width="80%")
                        | {{search.content.where2.insert.insertName}}
                tr(ng-if="search.content.where")
                    td(width="20%")
                    td(width="80%")
                        | {{search.content.where}}
