div.search-tooltip-widget
    div.search-tooltip-widget-title.title-newsfeed
        h3
            | {{ newsFeedItem.title }}
    div.search-tooltip-widget-body
        table(ng-if="newsFeedItem.searchFilter[0].isActiveFilter && newsFeedItem.searchFilter[0].searchSection == 'archivalLocationSearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[0].collection")
                    td
                        | Collection:
                    td
                        | {{ newsFeedItem.searchFilter[0].collection }}
                tr(ng-if="newsFeedItem.searchFilter[0].volume")
                    td
                        | Volume:
                    td
                        | {{ newsFeedItem.searchFilter[0].volume }}
                tr(ng-if="newsFeedItem.searchFilter[0].insert")
                    td
                        | Insert:
                    td
                        | {{ newsFeedItem.searchFilter[0].insert }}
        table(ng-if="newsFeedItem.searchFilter[1].isActiveFilter && newsFeedItem.searchFilter[1].searchSection == 'categoryAndTypologySearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[1].category")
                    td
                        | Category:
                    td
                        | {{ newsFeedItem.searchFilter[1].category }}
                tr(ng-if="newsFeedItem.searchFilter[1].typology")
                    td
                        | Typology:
                    td
                        | {{ newsFeedItem.searchFilter[1].typology }}
        table(ng-if="newsFeedItem.searchFilter[2].isActiveFilter && newsFeedItem.searchFilter[2].searchSection == 'transcriptionSearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[2].transcription")
                    td
                        | Transcription:
                    td
                        | {{ newsFeedItem.searchFilter[2].transcription }}
                tr(ng-if="newsFeedItem.searchFilter[3].isActiveFilter && newsFeedItem.searchFilter[3].synopsis")
                    td
                        | Synopsis:
                    td
                        | {{ newsFeedItem.searchFilter[3].synopsis }}
        table(ng-if="newsFeedItem.searchFilter[3].isActiveFilter && !newsFeedItem.searchFilter[2].isActiveFilter && newsFeedItem.searchFilter[3].searchSection == 'synopsisSearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[3].isActiveFilter && newsFeedItem.searchFilter[3].synopsis")
                    td
                        | Synopsis:
                    td
                        | {{ newsFeedItem.searchFilter[3].synopsis }}

        table(ng-if="newsFeedItem.searchFilter[5].isActiveFilter && newsFeedItem.searchFilter[5].searchSection == 'peopleSearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[5].people.length")
                    td
                        | People:
                    td
                        div(ng-repeat="personId in newsFeedItem.searchFilter[5].people")
                            | {{ getPersonName(personId) }}

        table(ng-if="newsFeedItem.searchFilter[4].isActiveFilter && newsFeedItem.searchFilter[4].searchSection == 'placesSearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[4].places.length")
                    td
                        | Places:
                    td
                        div(ng-repeat="placeId in newsFeedItem.searchFilter[4].places")
                            | {{ getPlaceName(placeId)}}

        table(ng-if="newsFeedItem.searchFilter[6].isActiveFilter && newsFeedItem.searchFilter[6].searchSection == 'topicsSearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[6].topics.length")
                    td
                        | Topics: {{ getTopicsNames(newsFeedItem.searchFilter[6].topics) }}
        table(ng-if="newsFeedItem.searchFilter[7].isActiveFilter && newsFeedItem.searchFilter[7].searchSection == 'dateSearch'")
            tbody
                tr(ng-if="newsFeedItem.searchFilter[7].dateFilterType")
                    td(ng-if="newsFeedItem.searchFilter[7].dateFilterType")
                        | Date ({{ newsFeedItem.searchFilter[7].dateFilterType }}):
                    
                    td
                        span(ng-if="newsFeedItem.searchFilter[7].dateYear != ''")
                            | {{ newsFeedItem.searchFilter[7].dateYear }}
                        span(ng-if="newsFeedItem.searchFilter[7].dateMonth != ''")
                            | /{{ ("0" + newsFeedItem.searchFilter[7].dateMonth).slice(-2) }}
                        span(ng-if="newsFeedItem.searchFilter[7].dateDay != ''")
                            | /{{ ("0" + newsFeedItem.searchFilter[7].dateDay).slice(-2) }}

                    td(ng-if="newsFeedItem.searchFilter[7].dateBYear != ''")
                        | -
                  
                    td(ng-if="newsFeedItem.searchFilter[7].dateBYear != ''")
                        span(ng-if="newsFeedItem.searchFilter[7].dateBYear != ''")
                            | {{ newsFeedItem.searchFilter[7].dateBYear }}
                        span(ng-if="newsFeedItem.searchFilter[7].dateBMonth != ''")
                            | /{{ ("0" + newsFeedItem.searchFilter[7].dateBMonth).slice(-2) }}
                        span(ng-if="newsFeedItem.searchFilter[7].dateBDay != ''")
                            | /{{ ("0" + newsFeedItem.searchFilter[7].dateBDay).slice(-2) }}
                   
        table(ng-if="newsFeedItem.searchFilter[9].isActiveFilter && newsFeedItem.searchFilter[9].searchSection == 'languagesSearch'")
            tbody
                tr
                    td
                        | Languages:
                    td
                        | {{ newsFeedItem.searchFilter[9].languages.join(', ') }}
        table(ng-if="newsFeedItem.searchFilter[8].isActiveFilter && newsFeedItem.searchFilter[8].searchSection == 'documentOwnerSearch'")
            tbody
                tr
                    td
                        | {{ newsFeedItem.searchFilter[8].editType == "owner" ? "Owner" : "Editor"}}:
                    td
                        | {{ newsFeedItem.searchFilter[8].account }}

style(type="text/css").
  .title-newsfeed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90% !important;
    margin: auto 1rem;
  }