div.search-tooltip-widget
    div.search-tooltip-widget-title
        h3
            | {{ search.content.title }}
    div.search-tooltip-widget-body
        table(ng-if="search.searchArray[0].isActiveFilter && search.searchArray[0].searchSection == 'archivalLocationSearch'")
            tbody
                tr(ng-if="search.searchArray[0].collection")
                    td
                        | Collection:
                    td
                        | {{ search.searchArray[0].collection }}
                tr(ng-if="search.searchArray[0].volume")
                    td
                        | Volume:
                    td
                        | {{ search.searchArray[0].volume }}
                tr(ng-if="search.searchArray[0].insert")
                    td
                        | Insert:
                    td
                        | {{ search.searchArray[0].insert }}
        table(ng-if="search.searchArray[1].isActiveFilter && search.searchArray[1].searchSection == 'categoryAndTypologySearch'")
            tbody
                tr(ng-if="search.searchArray[1].category")
                    td
                        | Category:
                    td
                        | {{ search.searchArray[1].category }}
                tr(ng-if="search.searchArray[1].typology")
                    td
                        | Typology:
                    td
                        | {{ search.searchArray[1].typology }}
        table(ng-if="search.searchArray[2].isActiveFilter && search.searchArray[2].searchSection == 'transcriptionSearch'")
            tbody
                tr(ng-if="search.searchArray[2].transcription")
                    td
                        | Transcription:
                    td
                        | {{ search.searchArray[2].transcription }}
                tr(ng-if="search.searchArray[3].isActiveFilter && search.searchArray[3].synopsis")
                    td
                        | Synopsis:
                    td
                        | {{ search.searchArray[3].synopsis }}
        table(ng-if="search.searchArray[3].isActiveFilter && !search.searchArray[2].isActiveFilter && search.searchArray[3].searchSection == 'synopsisSearch'")
            tbody
                tr(ng-if="search.searchArray[3].isActiveFilter && search.searchArray[3].synopsis")
                    td
                        | Synopsis:
                    td
                        | {{ search.searchArray[3].synopsis }}

        table(ng-if="search.searchArray[5].isActiveFilter && search.searchArray[5].searchSection == 'peopleSearch'")
            tbody
                tr(ng-if="search.searchArray[5].people.length")
                    td
                        | People:
                    td
                        div(ng-repeat="personId in search.searchArray[5].people")
                            | {{ getPersonName(personId) }}

        table(ng-if="search.searchArray[4].isActiveFilter && search.searchArray[4].searchSection == 'placesSearch'")
            tbody
                tr(ng-if="search.searchArray[4].places.length")
                    td
                        | Places:
                    td
                        div(ng-repeat="placeId in search.searchArray[4].places")
                            | {{ getPlaceName(placeId)}}

        table(ng-if="search.searchArray[6].isActiveFilter && search.searchArray[6].searchSection == 'topicsSearch'")
            tbody
                tr(ng-if="search.searchArray[6].topics.length")
                    td
                        | Topics: {{ getTopicsNames(search.searchArray[6].topics) }}
        table(ng-if="search.searchArray[7].isActiveFilter && search.searchArray[7].searchSection == 'dateSearch'")
            tbody
                tr(ng-if="search.searchArray[7].dateFilterType")
                    td(ng-if="search.searchArray[7].dateFilterType")
                        | Date ({{ search.searchArray[7].dateFilterType }}):
                    
                    td
                        span(ng-if="search.searchArray[7].dateYear != ''")
                            | {{ search.searchArray[7].dateYear }}
                        span(ng-if="search.searchArray[7].dateMonth != ''")
                            | /{{ ("0" + search.searchArray[7].dateMonth).slice(-2) }}
                        span(ng-if="search.searchArray[7].dateDay != ''")
                            | /{{ ("0" + search.searchArray[7].dateDay).slice(-2) }}

                    td(ng-if="search.searchArray[7].dateBYear != ''")
                        | -
                  
                    td(ng-if="search.searchArray[7].dateBYear != ''")
                        span(ng-if="search.searchArray[7].dateBYear != ''")
                            | {{ search.searchArray[7].dateBYear }}
                        span(ng-if="search.searchArray[7].dateBMonth != ''")
                            | /{{ ("0" + search.searchArray[7].dateBMonth).slice(-2) }}
                        span(ng-if="search.searchArray[7].dateBDay != ''")
                            | /{{ ("0" + search.searchArray[7].dateBDay).slice(-2) }}
                   
        table(ng-if="search.searchArray[9].isActiveFilter && search.searchArray[9].searchSection == 'languagesSearch'")
            tbody
                tr
                    td
                        | Languages:
                    td
                        | {{ search.searchArray[9].languages.join(', ') }}
        table(ng-if="search.searchArray[8].isActiveFilter && search.searchArray[8].searchSection == 'documentOwnerSearch'")
            tbody
                tr
                    td
                        | {{ search.searchArray[8].editType == "owner" ? "Owner" : "Editor"}}:
                    td
                        | {{ search.searchArray[8].account }}
        
        table(ng-if="search.searchArray[0].isActiveFilter")
            tbody
                tr(ng-if="search.searchArray[0].searchString")
                    td
                        | Word:
                    td
                        | {{ search.searchArray[0].searchString }}
                tr(ng-if="search.searchArray[0].nameType")
                    td
                        | Type:
                    td
                        | {{ search.searchArray[0].nameType }}
        
        table(ng-if="search.searchArray[1].isActiveFilter")
            tbody
                tr(ng-if="search.searchArray[1].roles")
                    td
                        | Role Category:
                    td
                        | {{ getPeopleSearchedRoles(search.searchArray[1].roles)}}
        table(ng-if="search.searchArray[2].isActiveFilter")
            tbody
                tr(ng-if="search.searchArray[2].roles")
                    td
                        | Word in Title/Occupation:
                    td
                        | {{ getPeopleSearchedRoles(search.searchArray[2].roles)}}
        table(ng-if="search.searchArray[3].isActiveFilter")
            tbody
                tr(ng-if="search.searchArray[3].roles")
                    td
                        | Match in Title/Occupation:
                    td
                        | {{ search.searchArray[3].roles[0].roleCatMinor }}
        
        table(ng-if="search.searchArray[4].isActiveFilter")
            tbody
                tr(ng-if="search.searchArray[4].gender")
                    td
                        | Gender:
                    td
                        | {{ search.searchArray[4].gender }}
                tr(ng-if="search.searchArray[4].headquarter")
                    td
                        | Headquarter:
                    td
                        | {{ search.searchArray[4].headquarterName }}
               
        table(ng-if="search.searchArray[5].isActiveFilter")
            tbody
                tr(ng-if="search.searchArray[5].searchType == 'birthPlace'")
                    td
                        | Birth Place: {{ search.searchArray[5].birthPlaceName }}
                tr(ng-if="search.searchArray[5].searchType == 'deathPlace'")
                    td
                        | Death Place: {{ search.searchArray[5].deathPlaceName }}
                tr(ng-if="search.searchArray[5].searchType == 'birthAndDeathPlace'")
                    td
                        | Birth Place: {{ search.searchArray[5].birthPlaceName }}
                        | Death Place: {{ search.searchArray[5].deathPlaceName }}
        
        table(ng-if="search.searchArray[6].isActiveFilter")
            tbody
                tr(ng-if="search.searchArray[6].searchType == 'bornAfter'")
                    td
                        | Born After: 
                    td
                        span(ng-if="search.searchArray[6].year != ''")
                            | {{ search.searchArray[6].year }}
                        span(ng-if="search.searchArray[6].month != ''")
                            | /{{ ("0" + search.searchArray[6].month).slice(-2) }}
                        span(ng-if="search.searchArray[6].day != ''")
                            | /{{ ("0" + search.searchArray[6].day).slice(-2) }}
                        
                tr(ng-if="search.searchArray[6].searchType == 'deadBy'")
                    td
                        | Dead By: 
                    td
                        span(ng-if="search.searchArray[6].year != ''")
                            | {{ search.searchArray[6].year }}
                        span(ng-if="search.searchArray[6].month != ''")
                            | /{{ ("0" + search.searchArray[6].month).slice(-2) }}
                        span(ng-if="search.searchArray[6].day != ''")
                            | /{{ ("0" + search.searchArray[6].day).slice(-2) }}
               
                tr(ng-if="search.searchArray[6].searchType == 'bornDiedOn'")
                    td
                        | Born/Died on:
                    td 
                        span(ng-if="search.searchArray[6].year != ''")
                            | {{ search.searchArray[6].year }}
                        span(ng-if="search.searchArray[6].month != ''")
                            | /{{ ("0" + search.searchArray[6].month).slice(-2) }}
                        span(ng-if="search.searchArray[6].day != ''")
                            | /{{ ("0" + search.searchArray[6].day).slice(-2) }}
                tr(ng-if="search.searchArray[6].searchType == 'livedBetween'")
                    td
                        | Lived between: 
                    td
                        span(ng-if="search.searchArray[6].year != ''")
                            | {{ search.searchArray[6].year }}
                        span(ng-if="search.searchArray[6].month != ''")
                            | /{{ ("0" + search.searchArray[6].month).slice(-2) }}
                        span(ng-if="search.searchArray[6].day != ''")
                            | /{{ ("0" + search.searchArray[6].day).slice(-2) }}
                        | -
                        span(ng-if="search.searchArray[6].andYear != ''")
                            | {{ search.searchArray[6].andYear }}
                        span(ng-if="search.searchArray[6].andMonth != ''")
                            | /{{ ("0" + search.searchArray[6].andMonth).slice(-2) }}
                        span(ng-if="search.searchArray[6].andDay != ''")
                            | /{{ ("0" + search.searchArray[6].andDay).slice(-2) }}
                        