.search-results-sidebar(ng-class="{'right-bar-min-with': open}")
  div(ng-if="open") Close panel
    i.clickable(ng-click="switchSearchPanel()")
      img.collapse-icon.flip-h(src="img/icons-new/collapse-icon-30x30bis.png")
  div.mt-5(ng-show="open")
    a.btn.btn-success(ng-click="openSearchHistory()") My Research History
  div.mt-5(ng-show="currentCs && open")
    a.btn.btn-success(ng-click="switchNotebook()") Project Notebook
  div(ng-if="searches.length && open") Your searches:
  .results-group(ng-if="open")
    //button.btn.btn-success(ng-repeat="search in searches" ng-click="openResults(search)" popover-title="" popover-template="dynamicPopover.templateUrl" popover-trigger="mouseenter" popover-placement="left")
    a.btn.btn-success(ng-repeat="search in searches track by $index" ng-click="openResults(search)" popover-title="" popover-template="setTemplateUrl(search)" popover-trigger="mouseenter" popover-placement="left")
      div.pull-left.btn-content
        | {{search.searchName | limitTo: 20}} {{search.searchName.length < 20 ? '' : '...'}} ({{search.content.countResult || search.results.length || 0}})
      div.cancel.pull-right
        i.glyphicon.glyphicon-remove-circle(ng-click="deleteResults(search)")
  div(ng-if="!open")
    i.clickable(ng-click="switchSearchPanel()")
      img.collapse-icon(src="img/icons-new/collapse-icon-30x30bis.png")
  .loading(ng-if="loading" style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;")

.show-results(ng-show="currentCs && notebookOpen && open" style={'left': '-600px', 'width': '600px'})
  .close-icon
    i.glyphicon.glyphicon-remove-circle.pull-left(ng-click="switchNotebook()")
    div.text-center
      |  {{currentCs.name}}
  .search-results
    iframe.notebook-frame(ng-src="{{notebookSrc()}}")
  .clear

.show-results(ng-show="resultsOpen && open" style={'left': '-600px', 'width': '600px'})
  .close-icon
    i.glyphicon.glyphicon-remove-circle.pull-left(ng-click="closeResults()")
    div.text-center(style="padding: 1em")
      |  {{selectedResult.content.title}}
      btn.btn-success.search-button(ng-if="showRefine && selectedResult.type=='doc_advanced'" ng-click="refineSearch();  closeResults()" style="cursor: pointer; position: absolute; right: 5%; padding: 0.5em 1em") REFINE THIS SEARCH
  .search-results
    .loading(ng-if="loadSelected" style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;position: relative;top: 50%;")
    people-results-dir(ng-if="selectedResult.type=='people'" results="selectedResult")
    place-results-dir(ng-if="selectedResult.type=='place'" results="selectedResult.results" content="selectedResult.content")
    ae-results-dir(ng-if="selectedResult.type=='ae'" results="selectedResult.results" content="selectedResult.content")
    doc-results-dir(ng-if="selectedResult.type == 'doc'" results="selectedResult.results" search-name="selectedResult.searchName" search-type="selectedResult.content.type" content="selectedResult.content")
    doc-advanced-results-dir(ng-if="selectedResult.type == 'doc_advanced'" results="selectedResult" search-name="selectedResult.searchName" search-type="selectedResult.content.type")
    // - Newsfeed use doc-advanced-results-dir to show its results
    doc-advanced-results-dir(ng-if="selectedResult.type == 'newsfeed'" results="selectedResult" search-name="selectedResult.searchName" search-type="selectedResult.content.type")
  .clear

.show-results(ng-show="searchHistoryOpen && open" style={'left': '-600px', 'width': '600px'})
  .close-icon
      i.glyphicon.glyphicon-remove-circle.pull-left(ng-click="closeSearchHistory()")
      div.text-center(style="padding: 1em")
        |  My Research History
      //-   btn.btn-success.search-button(ng-click="deleteSearchHistory()" style="cursor: pointer; position: absolute; right: 5%; padding: 0.5em 1em") Delete history
  .search-results
    .loading(ng-if="loadSelected" style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;position: relative;top: 50%;")
    history-results-dir 
  .clear

div#show-results-resizer(ng-show="(resultsOpen || searchHistoryOpen) && open" style={'left': '-606px', 'width': '6px'} ng-mousedown="resize($event)")
