div.search-tooltip-widget
    div.search-tooltip-widget-title
        h3
            | {{ search.content.title }}
    div.search-tooltip-widget-body
        table
            tbody
                tr
                    td(width="20%")
                        | For:
                    td(width="80%")
                        span(ng-if="search.content.matchSearchWords && search.content.partialSearchWords")
                            span.primary-italic {{search.content.matchSearchWords}}&nbsp;
                            |  (complete) AND&nbsp;
                            span.primary-italic {{search.content.partialSearchWords}}&nbsp;
                            |  (partial)
                        span(ng-if="search.content.matchSearchWords && !search.content.partialSearchWords")
                            span.primary-italic {{search.content.matchSearchWords}}&nbsp;
                            |  (complete)
                        span(ng-if="!search.content.matchSearchWords && search.content.partialSearchWords")
                            span.primary-italic {{search.content.partialSearchWords}}&nbsp;
                            |  (partial)
                tr
                    td(width="20%")
                        | In:
                    td(width="80%")
                        | {{search.content.where2}}
                tr
                    td(width="20%")
                    td(width="80%")
                        | {{search.content.where}}
