accordion.doc-details-accordion.accordion-full-with-click
  accordion-group(is-open='personfield.openPanel')
    accordion-heading
      | {{personfield.name}} &nbsp;
      span(ng-repeat="people in selectedPeople")
        | {{people.mapNameLf}} {{$last ? '' : ' - '}}
      i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': personfield.openPanel, 'glyphicon-chevron-right': !personfield.openPanel}")
    .content(ng-repeat="people in selectedPeople")
      fieldset.form-group
        .col-xs-10
          input.form-control(type='text', placeholder="{{personfield.name}}" ng-model='tempName[$index].name' ng-change="getPeople(tempName[$index].name, $index)" ng-class="{loading:loading}")
        .col-xs-2
          button.btn.btn.btn-success(ng-disabled="!tempName[$index].name.length" ng-model="people.unsure" btn-checkbox ng-click="setUnsure(people.unsure, $index)")
            span.glyphicon.mr-5(ng-class="{'glyphicon-check': people.unsure, 'glyphicon-unchecked': !people.unsure}")
            | {{ 'deMeta.UNSURE' | translate }}
      fieldset.form-group(ng-if="searchTableOpen[$index]" click-outside="closeTable($index)")
        .col-xs-12.table-results
          table.table.table-hover
            thead.table-header
              td
                | {{ 'deMeta.NAME' | translate }}
              td
                | {{ 'deMeta.BYEAR' | translate }}
              td
                | {{ 'deMeta.DYEAR' | translate }}
              td
                | {{ 'deMeta.GENDER' | translate }}
              td
                | {{ 'deMeta.ACTSTART' | translate }}
              td
                | {{ 'deMeta.ACTEND' | translate }}
            tbody
              tr(ng-repeat="person in possiblePeople" ng-click="selectPerson(person, $parent.$index)")
                td
                  | {{person.mapNameLf}}
                td
                  | {{person.bornYear}}
                td
                  | {{person.deathYear}}
                td
                  | {{person.gender}}
                td
                  | {{person.activeStart}}
                td
                  | {{person.activeEnd}}
              tr(ng-if="!possiblePeople.length")
                td(colspan="6")
                  | {{ 'people.NOPEOPLE' | translate }}
          .btn.btn-success.btn-add-new(ng-click="addANewPerson($index)" ng-if="!possiblePeople.length") {{ 'people.ADDPERSON' | translate }} {{field.name}}
    fieldset.btn-group
      label.btn.btn-success(ng-click="addAPerson()") {{ 'people.ADDNEW' | translate }} {{field.name}}
      label.btn.btn-success(ng-click="personfield.openPanel=false") {{ 'deMeta.CLOSEPANEL' | translate }}
