.row
  .col-xs-6.doc-left-col-cont
    //-------------------//
    //       Viewer      //
    //-------------------//
    .doc-left-col
      .row
        .col-xs-12
          iframe.js-viewer(ng-src="{{viewerAddress}}")
      .row.document-scroller
        .col-xs-1
          i.ion-android-arrow-back.text-icon(ng-click="changeLimit(-1)")
        .col-xs-10
          .row
            .col-xs-2(ng-repeat="thumb in documentEntity.uploadFiles" ng-if="$index>=limit && $index<=limit+5" ng-click="updateViewer(thumb.uploadFileId)")
              img(ng-src="{{thumb.filePath}}")
              folio-numb-dir(thumb="thumb")
        .col-xs-1
          i.ion-android-arrow-forward.text-icon(ng-click="changeLimit(1)")
  //-------------------//
  //       Meta        //
  //-------------------//                
  .col-xs-6
    .form-group
      select#selectCategory.form-control(ng-options="cat as cat.displayName for cat in categories" ng-model="typology" ng-change="typologyChosen(typology)")
        option(value="")
          | - {{ 'deMeta.SELECTCAT' | translate }} -
    .form-group(ng-if="typology") 
      input.form-control(type='text', placeholder="{{ 'deMeta.DETITLE' | translate }}" ng-model='documentEntity.deTitle')

      //-------------------//
      //       Date        //
      //-------------------//
      accordion.doc-details-accordion(ng-if="documentEntity.deTitle")
        accordion-group(is-open='datePanelstatus.open')
          accordion-heading
            | {{ 'deMeta.DATE' | translate }} &nbsp;
            span(ng-if="!documentEntity.date.docUndated") - {{documentEntity.date.docYear}} / {{documentEntity.date.docMonth}} / {{documentEntity.date.docDay}}
            span(ng-if="documentEntity.date.docUndated") - {{ 'deMeta.UNDATED' | translate }}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': datePanelstatus.open, 'glyphicon-chevron-right': !datePanelstatus.open}")
          .content
            .single-transcription
              .form-group(ng-if="!documentEntity.date.docUndated")
                .date-year
                  input.form-control(type='text', placeholder="{{ 'deMeta.YEAR' | translate }}" ng-model='documentEntity.date.docYear')
                .date-month
                  select.form-control(ng-options="month.id as month.name for month in months" ng-model="documentEntity.date.docMonth" )
                    option(value="")
                      | - {{ 'deMeta.SELECTMONTH' | translate }} -
                .date-day
                  input.form-control(type='text', placeholder="{{ 'deMeta.DAY' | translate }}" ng-model='documentEntity.date.docDay')
              .form-group(ng-if="!documentEntity.date.docUndated")
                .date-day
                  input.form-control(type='text', placeholder="{{ 'deMeta.MODDATE' | translate }}" ng-model='documentEntity.date.docModernYear')
                .clear
              .form-group(ng-if="!documentEntity.date.docUndated")
                label.btn.btn-success.btn-check(ng-model="documentEntity.date.docDateUncertain" btn-checkbox) {{ 'deMeta.UNCERTAIN' | translate }}
                | &nbsp;
                label.btn.btn-success.btn-check(ng-model="documentEntity.date.docUndated" btn-checkbox) {{ 'deMeta.UNDATED' | translate }}
              .form-group(ng-if="!documentEntity.date.docUndated")
                textarea.form-control(placeholder="{{ 'deMeta.DATENOTE' | translate }}" ng-model='documentEntity.date.docDateNotes')                  
              .form-group(ng-if="!documentEntity.date.docUndated")
                button.btn.btn-success(ng-click="datePanelstatus.open=false") {{ 'deMeta.CLOSEPANEL' | translate }}

              .form-group(ng-if="documentEntity.date.docUndated")
                label(ng-model="documentEntity.date.docDateUncertain" style="color: red; font-weight: bold;") {{ 'deMeta.DOCUNDATED' | translate }}
                  | &nbsp;
                br
                label.btn.btn-success.btn-check(ng-click="documentEntity.date.docUndated=false") {{ 'deMeta.ENTERDATE' | translate }}
      //-------------------//
      //   Dynamic values  //
      //-------------------//
      //- //Normal input text
      //- fieldset.form-group(ng-if="documentEntity.date" ng-repeat="field in textFields track by $index ")
      //-   input.form-control(type='text', placeholder='{{field.name}}' ng-model='field.value')
      
      //- //people accordion with autocompleter
      //- fieldset.form-group(ng-if="documentEntity.date"  ng-repeat="personfield in peopleFields track by $index ")
      //-   .dir-container
      //-     people-dir(personfield="personfield")
      //- //place accordion with autocompleter
      //- fieldset.form-group(ng-if="documentEntity.date"  ng-repeat="placesField in placesFields track by $index ")
      //-   .dir-container
      //-     places-dir(placesField="placesField")
      //-------------------//
      //       Save        //
      //-------------------//
      .std-margin-top
        button.btn.btn-success.btn-xs(ng-click='createDe()' ng-disabled="!documentEntity.date || loadingProcess")
          | {{ 'deMeta.CREATEDE' | translate }}
      div.loading(style="width: 50px;height: 50px;margin: 0 auto;background-size: 50px;" ng-show="loadingProcess")
.row(ng-if="debug")
  pre
    | {{niceJson(documentEntity)}}
  
