div(ng-controller="actionsHistoryController" ng-cloak)
  .modal-header
    h3.modal-title Change History
  .modal-body

    .search-form
      form.form-horizontal
        .row
          .col-xs-12
            div(ng-if="actionsData.data.length && !currentAction")
              table.table.table-hover
                thead
                  tr
                    th Date
                    th Action
                    th Who
                tbody
                  tr(ng-repeat="action in actionsData.data" ng-click="actionDetails(action)" ng-class="action.data ? 'cursor-pointer' : 'cursor-default'")
                    th {{action.dateAndTime}}
                    th {{fullActionName(action)}}
                    th {{action.user}}

              .row
                .col-xs-12.modal-pagination
                  pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")


            div(ng-if="currentAction")

              div(ng-if="currentAction.recordType == 'Place'")
                include partials/place-history.jade

              div(ng-if="currentAction.recordType == 'Person'")
                include partials/people-history.jade

              div(ng-if="currentAction.recordType == 'Volume'")
                include partials/volume-history.jade

              div(ng-if="currentAction.recordType == 'Insert'")
                include partials/insert-history.jade

              div(ng-if="currentAction.recordType == 'Upload'")
                include partials/ae-history.jade

              div(ng-if="currentAction.recordType == 'Document'")
                include partials/de-history.jade

            .row(ng-show='!actionsData.data.length')
              .col-xs-10.col-xs-offset-2
                span No actions with this object

    .text-center
      .btn-group
        button.btn.btn-default.btn-xs(ng-click="backToActions()" ng-if="currentAction")
          | Back
        button.btn.btn-default.btn-xs(ng-click="closeModal()")
          | {{ 'general.CANCEL' | translate }}

