.edit-folio
  .row
    .col-xs-12
      .form-group
        label.control-label.folio-label
          | {{ 'docEntity.DOUBLEFOLIO1' | translate }}&nbsp;
          strong {{documentToEdit.fileName}} 
          | {{ 'docEntity.DOUBLEFOLIO2' | translate }}
          br
        .btn-group   
          label.btn.btn-xs.btn-default(ng-model="doubleFolio" btn-radio="true" ng-click="switchDoubleFolio(true)") {{ 'general.YES' | translate }}
          label.btn.btn-xs.btn-default(ng-model="doubleFolio" btn-radio="false" ng-click="switchDoubleFolio(false)") {{ 'general.NO' | translate }} 
  .row
    .col-xs-6
      .form-group
        label.control-label
          | {{ 'docEntity.FOLIONO' | translate }}
        input.form-control(ng-hide="folio1.noNumb" type="text" ng-model="folio1.folioNumber")
      .form-group
        .btn-group
          label.btn.btn-xs.btn-default(ng-model="folio1.noNumb" btn-checkbox) 
            | {{ 'docEntity.NOTNUMBEREDFOLIO' | translate }}
            br
            | {{ 'docEntity.CLICKTOCHANGE' | translate }}
      .form-group
        .btn-group(ng-if="!folio1.noNumb")
          label.btn.btn-xs.btn-default(ng-model="folio1.rectoverso" btn-radio="'recto'" uncheckable) {{ 'docEntity.RECTO' | translate }}
          label.btn.btn-xs.btn-default(ng-model="folio1.rectoverso" btn-radio="'verso'" uncheckable) {{ 'docEntity.VERSO' | translate }}
    .col-xs-6
      .form-group(ng-show="doubleFolio")
        label.control-label
          | {{ 'docEntity.FOLIO2NDNO' | translate }}
          | &nbsp;
        input.form-control(ng-hide="folio2.noNumb" type="text" ng-model="folio2.folioNumber")
      .form-group(ng-show="doubleFolio && !folio2.noNumb")
        .btn-group
          label.btn.btn-xs.btn-default(ng-model="folio2.rectoverso" btn-radio="'recto'" uncheckable) {{ 'docEntity.RECTO' | translate }}
          label.btn.btn-xs.btn-default(ng-model="folio2.rectoverso" btn-radio="'verso'" uncheckable) {{ 'docEntity.VERSO' | translate }}
      .form-group(ng-show="doubleFolio")
        .btn-group
          label.btn.btn-xs.btn-default(ng-model="folio2.noNumb" btn-checkbox ng-click="determineFolio2()")
            | {{ 'docEntity.NOTNUMBEREDFOLIO' | translate }}
            br
            | {{ 'docEntity.CLICKTOCHANGE' | translate }}
  .row
    .col-xs-12
      .form-group
        .btn-group(data-id="saveGroup")
          button.btn.btn-success.btn-xs(ng-click="saveFolio()" ng-disabled="(doubleFolio && !folio2.folioNumber.length && !folio2.noNumb) || (!folio1.folioNumber.length && !folio1.noNumb) || hasSameValues()")
            | {{ 'general.SAVE' | translate }}
          .folioErrorMsg(ng-if="(doubleFolio && !folio2.folioNumber.length && !folio2.noNumb) || (!folio1.folioNumber.length && !folio1.noNumb)")
            | No data has been entered for the first or the second folio. Please check if the image includes a double folio. If it does not - set it to "NO"
          .folioDoubleErrorMsg(ng-if="hasSameValues()")
            | You cannot enter the same value for both folios.

style(type="text/css").
  .btn-group[data-id="saveGroup"] { margin-bottom: 50px; }
  .folioErrorMsg, .folioDoubleErrorMsg {
    visibility: hidden;
    width: 25px;
    height: 15px;
    overflow: hidden;
    position: absolute;
  }
  .btn-group[data-id="saveGroup"]:hover .folioErrorMsg, .btn-group[data-id="saveGroup"]:hover .folioDoubleErrorMsg {
    visibility: visible;
    overflow: auto;
    width: 250px;
    text-align: center;
    position: absolute;
    left: 100px;
    border: 3px solid red;
    background: lightgrey;
    color: #000;
    height: auto;
  }
  .js-viewer { min-height: 360px; }