div(ng-controller="editCsController")
  .modal-header
    h3.modal-title Edit Project
  .modal-body
    .search-form
      form.form-horizontal(name="editCsForm")
        .row
          .col-xs-12
            .form-group
              label.control-label.col-sm-3
                | Title
                span.required-error(ng-if="editCsForm.title.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}
                span.required-error(ng-if="editCsForm.title.$error.maxlength")
                  br
                  | Max. 50 characters
              .col-sm-9(ng-class="{'has-error': editCsForm.title.$invalid}")
                input.form-control(type="text" ng-model="modCs.title" name="title" required ng-maxlength="50")

            .form-group
              label.control-label.col-sm-3
                | Description
                span.required-error(ng-if="editCsForm.description.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}
                span.required-error(ng-if="editCsForm.description.$error.maxlength")
                  br
                  | Max. 255 characters
              .col-sm-9(ng-class="{'has-error': editCsForm.description.$invalid}")
                textarea.form-control(ng-model="modCs.description" name="description" rows="3" required ng-maxlength="255")

            .form-group
              label.control-label.col-sm-3
                | Notes
                span.required-error(ng-if="editCsForm.notes.$error.maxlength")
                  br
                  | Max. 255 characters
              .col-sm-9(ng-class="{'has-error': editCsForm.notes.$invalid}")
                textarea.form-control(ng-model="modCs.notes" name="notes" rows="3" ng-maxlength="255")

    .text-center.mt-15
      .btn-group
        button.btn.btn-primary.btn-xs(ng-disabled="editCsForm.$invalid" ng-click="saveCs()")
          | {{ 'general.SAVE' | translate }}
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}

