.doc-ae-info-cont
  .infos
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Images related to this insert record: 
          .col-xs-8
            span.fields
              | {{documents.length}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Documents related to this insert record: 
          .col-xs-8
            span.fields
              | {{documents.length}}