div
  div.modal-header
    h3.modal-title
      | {{ options.title }}
  div.modal-body
    .row
      .col-sm-12
        | {{ options.message }}
  div.modal-footer(ng-show="options.questionPanel")
    .btn-group
      button.btn.btn-warning(ng-click="ok()")
        | {{'modal.YES' | translate}}
      button.btn.btn-warning(ng-click="cancel()")
        | {{'modal.NO' | translate}}
  div.modal-footer(ng-hide="options.questionPanel")
    button.btn.btn-default(ng-click="cancel()")
      | {{'modal.CLOSE' | translate}}

