
/***********************************************************************************
  SINGLE UPLOAD OVERLAY AND ANIMATION
***********************************************************************************/
#browse-arch-loc{
  .browse-archive {
    // margin-bottom: 20px;
    margin-top: 10px;
    // overflow-y: auto;
    // max-height: 560px;
    border-right: 1px solid #d3ded9;
  }

  .folio-images {
    max-height: 570px;
    overflow-y: auto;
    margin-bottom: 0px;
  }
  
  .single-entity-title{
    i{
      margin-left: 0;
    }
    .archive-title{
      font-size: 20px;
    }
  }
  .single-metadata{
    font-weight: 200;
    .entity-label{
      font-weight: bold;
    }
  }
  .view {
    width: 100%;
    float: left;
    position: relative;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: zoom-in;
    color:@gray-dark;
  }
  .view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .view img {
    display: block;
    position: relative
  }
  .view {
    .mask{
      .mask-header{
        color: #fff;
        position: relative;
        font-size: @font-size-base;
        padding: 10px 15px;
        .view-pic, .lock-privacy, .view-documents, .edit-button{
          display: inline;
          float:left;
        }
        .lock-privacy{
          .glyphicon-lock:before{
            color:@brand-warning;
          }
        }
        .edit-button{
          float: right;
        }
        .image-folio{
          display: block;
        }
      }
    }
    .view-documents img {
      cursor: pointer;
      position: absolute;
      bottom: 8px;
      left: 5px;
      width: 25px;
    }
  }

  .glyphicon-lock{
    color:@brand-selected;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }


  .view p {
    font-size: @font-size-small;
    position: relative;
    color: #fff;
    width:100%;

  }
  .view a.info, .diff a.info {
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    margin-top: 1px;
    width: 100%;
    border-bottom: 1px solid @brand-success;
    i {
      font-size: @font-size-base;
      margin-right: 5px;
      padding-left: 4px;
      float: left;
    }
  }

  .folio-to-be-numbered{
    font-weight: @font-weigth-bold;
    color: @brand-warning;
  }

  .image-thumb{
    width:100%;
  }

  .image-name-label {
    font-weight: light;
    color: white;
  }

  .folio-label{
    margin-top: 25px;
    display: block;
  }

  .folio-image-name {
    color: @brand-warning;
    word-wrap: break-word;
  }

  .view .single-image-action {
    border-bottom: 1px solid @gray-dark;
  }
  .view .single-image-action a{
    margin:5px 5%;
    color:@gray-lighterer;
    font-weight: @font-weigth-light;
    font-size: @font-size-small;
    display: block;
    img.dropdown-icon {
      width: 14px;
      height: auto;
      float: left;
      margin:2px 8px 10px 0;
    }
  }

  .ae-desc-links {
    color: @brand-success;
    text-decoration: underline;
  }

  .ae-desc{
    margin-top: 20px;
  }
  .view .single-image-action a:hover{
    color: @brand-success;
    i {
      color:@brand-success;
    }
  }

  .view a.info:hover, .diff a.info:hover {
    box-shadow: 0 0 5px #000
  }

  .view-first img {
      transition: all 0.2s linear;
  }
  .view-first .mask {
      // opacity: 0;
      opacity: 1;
      // background-color: rgba(56,54,53, 0.9);
      background: none;
      transition: all 0.4s ease-in-out;
  }
  .view-first h2 {
      transform: translateY(-20px);
      opacity: 0;
      transition: all 0.2s ease-in-out;
  }

  .view-first.de-image .mask {
      background-color: transparent;
  }
  .view-first.de-image h2 {
      background-color: transparent;
  }

  .view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
  }
  .view-first a.info{
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  .view-first:hover .mask {
    opacity: 1;
  }
  .view-first:hover h2,
  .view-first:hover p,
  .view-first:hover a.info {
      opacity: 1;
      transform: translateY(0px);
      //margin-top: -30px;
  }
  .view-first:hover p {
      transition-delay: 0.1s;
  }
  .view-first:hover a.info {
      transition-delay: 0.2s;
  }

  .view-first .btn:active, .view-first .btn:hover {
    border: 2px solid transparent;
  }

  .delete-button{
    position:relative;
    top:45px;
    right:10px;
    width: 500px;
    z-index: 5000;
    margin-top: -50px;
    i {
      color:@brand-success;
    }
    button{
      background-color: @gray-light;
    }
  }

  .de-image img {
    width: 100%;
  }
  img.selected{
    // border: solid 4px @brand-primary;
    border: solid 4px red;
  }

  .js-viewer {
    width:100%;
    min-height: 480px;
  }

  .content-right-panel {
    margin-top: 26px;
  }

  .row.content-right-panel.form-group, .row.form-group.ng-scope{
    border-top: 1px solid @gray-lighterer;
    padding-top: 10px;
  }

  .page-settings {
    // margin-bottom: 15px;
    border-top: 1px solid @gray-lighterer;
    padding-top: 15px;
    // margin-left: 0;
  }

  .italic-bold {
    font-style: italic;
    font-weight: 500;
  }

  .goto-folio {
    input {
      display: inline-block;
      margin-right: 5px;
      max-width: 30%;
    }
    button {
      display: inline-block;
      margin-bottom: 0px;
    }
  }

  .ae-action-list .col-xs-12 {
    padding: 0;
  }

  .reorder-title{
    margin-bottom: 10px;
  }
  .second-coloumn{
    margin-top: 10px;
  }


  i.action-list {
    margin-right: 5px;
    padding-top: 10px;
  }

  .edit-icon-ae {
    width: 17px;
    height: auto;
    margin-top: -4px;
  }
  .panel-content .edit-icon-ae-1 {
    margin-right: 8px;
    margin-top: -6px;
    width: 17px;
    height: auto;
  }

  .add-icon {
    width: 16px;
    height: auto;
    margin-top: -2px;
  }
  .order-icon {
    width: 16px;
    height: auto;
    margin-top: -2px;
  }
  .delete-icon {
    width: 13px;
    height: auto;
    margin-top: -4px;
  }
  .delete-icon.delete-doc {
    margin-left: 5px;
    margin-top: -3px;
  }
  .panel-content h3 {
    margin-left: 12px;
    margin-bottom: 0;
  }
  .set-icon {
    width: 16px;
    height: auto;
    margin-top: -2px;
    margin-left: 5px;
  }
  #btn-append-to-single-button{
    margin-top: 10px;
  }
  .image-folio{
    color: @gray-light;
    margin: 10px 15px;
  }

  .view-pic{
    float:left;
    margin-top: -12px;
  }
  .internal-lock{
    display: inline;
    float:left;
    padding-top: 11px;
    padding-left: 12px;
  }
  .lock-privacy{
    position: absolute;
    top: 11px;
    left: 14px;
    z-index: 10;
    i{
      font-size: 2.5rem;
    }
  }
  .thumbs-img-cont:hover{
    //.lock-privacy{
    //  display:none;
    //}
  }

  .doc-to-del{
    margin-top: 10px;
    margin-left: 20px;
    color: @gray-light
  }
  .viewing {
    border: solid 5px @brand-selected;
  }

  .green-back{
    background-color: @brand-warning;
    height: 100%;
    padding: 5px;
  }
  .last-file{
    color: @brand-primary;
  }
  .drop-button{
    border: solid 1px @brand-success;
    border-radius: 3px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    color: @brand-success;
    font-size: 1.3rem;
  }
  .drop-button:hover{
    background-color: @brand-success;
    color: white;
  }

  .vertical-btns {
    width: 50px;
    position: absolute;
    top: 5px;
    right: 10px;
  
    .vertical-btn {
      width: 100%;
      button, a.popover-link {
        width: 100%;
        background: #606060;
        border: 2px solid white;
        i {
          color: #a9a7a5;
          vertical-align: text-top;
        }
      }
    }
  }

  .rotate-goto-folio {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    border: 3px solid @gray-lighter;
    border-right-color: @brand-primary;
    border-radius: 50%;
    position: relative;
    top: 5px;
    -webkit-animation: infiniteLoop 1.4s infinite linear;
    animation: infiniteLoop 1.4s infinite linear;
  }
  
  .search-tooltip-widget {
    width: 250px;

    .search-tooltip-widget-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      h3 {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
      }
    }

    .search-tooltip-widget-body {
      padding-top: 40px;

      table:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, .5);
        margin-top: 10px;
      }

      table {
        width: 100%;

        tbody {

          tr {

            td:first-child {
              width: 120px;
              color: blue;
              padding: 8px 5px 0 0;
            }

            td:not(:first-child) {
              padding: 8px 0 0 5px;
              text-align: center;
            }
          }
        }
      }
    }
  }

}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.medium {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}