//---------------------------------------------------
//
// MAIN VIEW
//
//---------------------------------------------------

//.row#browse-arch-loc(ng-if="!getArchiveTracker && !fixUploadTracker")
.row#browse-arch-loc(ng-if="!loadingImags")
  .col-xs-6.browse-archive(ng-class="{ loading : performingJobTracker }" ng-style="!numberedImages.length && {'border-right':'none'}")
    .row
      .col-xs-12.mb-15
        div.metadata.fs-16.mb-15 {{repository.repositoryName}}
        span.metadata.single-metadata.fs-16.italic-bold
          | {{currentObj.data.collectionName}}&nbsp;
          span(ng-if="currentObj.data.volumeNo")
            | &nbsp;- Volume:&nbsp;
            a.ae-desc-links(href="index.html#/mia/volume/{{currentObj.data.volumeId}}" target="_blank")
              | {{currentObj.data.volumeNo}}
          span(ng-if="currentObj.data.insertNo")
            | &nbsp;- Insert:&nbsp;
            a.ae-desc-links(href="index.html#/mia/insert/{{currentObj.data.insertId}}" target="_blank")
              | {{currentObj.data.insertNo}}

    .row
      .col-xs-12(ng-if="!numberedImages.length")
        .row.page-settings
          .col-xs-12
            | No images
      .col-xs-12(ng-if="numberedImages.length")
        .row.page-settings.mb-15
          .col-xs-6
            form.goto-folio
              | Folio:
              span.ml-5.glyphicon.glyphicon-question-sign(popover="Specify here the folio number you want to jump to without recto or verso" popover-trigger="mouseenter" popover-placement="right")
              input.ml-5.no-outline(ng-model="goToFolioNumber" type="text" name="goToFolio")
              button.btn.btn-default.btn-xs(type="submit" ng-click="goToFolio(goToFolioNumber)" ng-disabled="!goToFolioNumber || loadingFolioNumber")
                | Go
              span.rotate-goto-folio(ng-if="loadingFolioNumber")
          .col-xs-6.text-right
            | Images per page:
            select.ml-5.no-outline(ng-options="page as page.name for page in perPages" ng-model="pagination.perPage" ng-change="changePerPage()")
        //drag & drop enabled
        .row.drag-and-drop-area(ng-if="visibility.showReorder")
          .col-xs-12
            .row
              .col-xs-12
                .entity-title.reorder-title
                  | {{'archive.REORDERINSTRUC' | translate}}
            .row.thumbs-row(ng-if="visibility.showReorder")
              .col-xs-4.thumbs-img-cont(ng-repeat="image in archive.thumbsFiles | orderBy:'imageOrder'" ng-drop="true" ng-drop-success="onDropComplete(image.imageOrder, $data, $event, false)")
                div.view.view-first(ng-style="image.isSelected && {'border': '4px solid blue'}")
                  img.error-thumb(ng-drag="true" ng-drag-data="image" ng-show="!image.converted" ng-src="img/wrongUpload.png")
                  img.manuscript-thumb(ng-drag="true" ng-drag-data="image" ng-show="image.converted" ng-src="{{image.filePath}}" ng-class="{viewing: image.moved}")
                  div.mask(ng-drag="true" ng-drag-data="image")
                    .mask-header
                      .image-folio
                        label.image-name-label(ng-if="image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined")
                          | Folio No:&nbsp;
                        folio-numb-dir(thumb="image")
                        label.image-name-label(ng-if="image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                          | Image name:&nbsp; 
                          .folio-image-name {{image.fileName}}
            .row
              .col-xs-6
                .drop-button(ng-drop="true" ng-drop-success="onDropComplete('previousPage', $data, $event, true)" ng-if="currentPage>1")
                  | Drop here to bring to previous page
              .col-xs-6                  
                .drop-button(ng-drop="true" ng-drop-success="onDropComplete('nextPage', $data, $event, true)" ng-if="currentPage<archive.pagination.totalPagesForSingleAe")
                  | Drop here to bring to next page

        //Rotation
        .row.rotation-area(ng-if="visibility.showRotation")
          .col-xs-12
            .row.rotation-action
              .col-xs-3
                button(ng-click="selectAllImages(archive.thumbsFiles)")
                  | {{ 'singleAentity.SLCTALL' | translate }}
              .col-xs-3
                button(ng-click="rotateSelectedImages(270)")
                  | {{ 'singleAentity.ROT90L' | translate }}
              .col-xs-3
                button(ng-click="rotateSelectedImages(90)")
                  | {{ 'singleAentity.ROT90R' | translate }}
              .col-xs-3
                button(ng-click="rotateSelectedImages(180)")
                  | {{ 'singleAentity.ROT180' | translate }}
          .col-xs-12
            .row.thumbs-row(ng-if="visibility.showRotation")
              div(style="font-size: 13px; color: black")
                | {{ 'singleAentity.HINT' | translate}}
              .col-xs-4.thumbs-img-cont(ng-repeat="image in archive.thumbsFiles | orderBy:'imageOrder'" ng-click="selectImage(image, $event)")
                div.view.view-first(ng-style="selectedImages[image.uploadFileId] && {'border': '4px solid blue'}")
                  img.error-thumb(ng-show="!image.converted" ng-src="img/wrongUpload.png")
                  img.manuscript-thumb(ng-show="image.converted" ng-src="{{image.filePath+ '&random=' + random}}" ng-class="{viewing: image.moved}")

        //default
        .row.thumbs-row.folio-images(ng-if="numberedImages.length")
          .col-xs-4.thumbs-img-cont(ng-repeat="image in numberedImages | filter: numberedImagesPrivacyFilter")
            div.view
              .lock-privacy(ng-if="image.privacy==1")
                i.glyphicon.glyphicon-lock(style="cursor: default;")
              img.manuscript-thumb(ng-src="{{image.filePath}}" ng-class="{viewing: image.highlighted}" ng-click="openViewer(image)")
                    
              .edit-button.vertical-btns
                .vertical-btn.btn-group.pull-right(dropdown)
                  button#btn-append-to-single-button.mti-5.btn.btn-xs.btn-default(type='button' title="Edit" dropdown-toggle)
                    i.fa.fa-pencil
                      //- img.edit-icon-ae.edit-icon-inside-image(src="img/icons-new/edit-icon-white-17x17.png")
                  ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='btn-append-to-single-button' ng-style="(($index + 1) % 3 === 1) && {'right':'auto'}")
                    li
                      a.info(ng-click="goToAe(image, 'list')")
                        img.dropdown-icon(src="img/icons-new/create-doc-icon-14x14.png")
                        | {{'singleAentity.CREATEDE' | translate}}
                    //- li
                    //-   a.info(ng-click="openViewer(image)")
                    //-     img.dropdown-icon(src="img/icons-new/show-image-icon-14x14.png")
                    //-     | {{'singleAentity.SHOWMAN' | translate}}
                    li(ng-if="secAuthorize(['ADMINISTRATORS'])")
                      a.info(ng-click="openViewer(image); downloadDocument(image.uploadFileId)")
                        img.dropdown-icon(src="img/icons-new/download-image-icon-14x14.png")
                        | {{'singleAentity.DOWNLOADMAN' | translate}}
                    li(ng-if="!secAuthorize(['ADMINISTRATORS'])")
                      a.info(ng-click="openViewer(image);checkDownload(image.owner,image.uploadFileId)")
                        img.dropdown-icon(src="img/icons-new/download-image-icon-14x14.png")
                        | {{'PROVA' | translate}}
                    li
                      a.info(ng-click="openViewer(image); editImageMetadata(image.uploadFileId)")
                        img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
                        | {{'singleAentity.EDITMANMETA' | translate}}
                    li
                      a.info(ng-click="goToAe(image)")
                        i.glyphicon.glyphicon-book.ae-icon
                        | Go to the Images

                    //- li
                    //-   a.info(ng-click="replaceModal(image.uploadFileId)")
                    //-     img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
                    //-     | {{'singleAentity.RPLIMG' | translate}}
                    //- li(ng-if="$parent.me.account == archive.owner || isAdmin")
                    //-   a.info(ng-click="rotate(image, 270)")
                    //-     img.dropdown-icon(src="img/icons-new/rotate90.png")
                    //-     | {{'singleAentity.ROT90L' | translate}}
                    //- li(ng-if="me.account == archive.owner || isAdmin")
                    //-   a.info(ng-click="rotate(image, 90)")
                    //-     img.dropdown-icon(src="img/icons-new/rotate270.png")
                    //-     | {{'singleAentity.ROT90R' | translate}}
                    //- li(ng-if="me.account == archive.owner || isAdmin")
                    //-   a.info(ng-click="rotate(image, 180)")
                    //-     img.dropdown-icon(src="img/icons-new/rotate90.png")
                    //-     | {{'singleAentity.ROT180' | translate}}
                    //- li
                    //-   a.info(ng-click="deleteDocument(image.uploadFileId)")
                    //-     img.dropdown-icon(src="img/icons-new/dropdown-delete-icon-14x14.png")
                    //-     | {{'singleAentity.DELETEDOC' | translate}}                              
                    //- li(ng-if="image.privacy==1")
                    //-   a.info(ng-click="setSingleDocPrivacy(image.uploadFileId, 0)")
                    //-     img.dropdown-icon(src="img/icons-new/dropdown-public-icon-14x14.png")
                    //-     | {{'singleAentity.SETTOPUB' | translate}}
                    //- li(ng-if="image.privacy==0")
                    //-   a.info(ng-click="setSingleDocPrivacy(image.uploadFileId, 1)")
                    //-     img.dropdown-icon(src="img/icons-new/dropdown-private-icon-14x14.png")
                    //-     | {{'singleAentity.SETTOPRIV' | translate}}
                .vertical-btn(ng-if="image.collations.length")
                  button.btn.btn-xs.btn-default(ng-if="image.collationType == 'ATTACHMENT'" type="button" title="Document Reconstructions are available for this folio" ng-click="showCollationList(image)")
                    i.fa.fa-files-o
                  a.btn.btn-xs.btn-default.popover-link(ng-if="image.collationType == 'LACUNA'" title="Document Reconstructions are available for this folio" tabindex="0" popover-append-to-body="true" popover-title="" popover-template="lacunaTemplate" popover-trigger="focus" popover-placement="top")
                    i.fa.fa-files-o
                .vertical-btn(ng-if="image.otherVersions.length")
                  button.btn.btn-xs.btn-default(type="button" title="Other images of this folio are available" ng-click="showDiffVersions(image)")
                    i.fa.fa-th
                .vertical-btn(ng-if="image.caseStudies.length")
                  button.btn.btn-xs.btn-default(type="button" title="Projects available for this folio" ng-click="showCsList(image)")
                    i.fa.fa-bookmark
              .folio-number-abs
                div(ng-if="image.collationType == 'LACUNA' && image.collations && image.collations[0].isParent")
                  span RECONSTRUCTED DOCUMENT
                div(ng-if="(image.collationType !== 'LACUNA' || (image.collationType == 'LACUNA' && image.collations && !image.collations[0].isParent)) && (image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined)")
                  span(ng-if="image.folios[0].noNumb")
                    | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                  span(ng-if="image.folios[0].folioNumber")
                    | {{image.folios[0].folioNumber}}
                  span(ng-if="image.folios[0].folioNumber && image.folios[0].rectoverso  && image.folios[0].rectoverso!=''")
                    | &nbsp;{{image.folios[0].rectoverso}}
                  span(ng-if="image.folios[1].noNumb")
                    | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                  span(ng-if="image.folios[1].folioNumber")
                    | &nbsp;/ {{image.folios[1].folioNumber}}
                  span(ng-if="image.folios[1].folioNumber && image.folios[1].rectoverso  && image.folios[1].rectoverso!=''")
                    | {{image.folios[1].rectoverso}}
                div(ng-if="(image.collationType !== 'LACUNA' || (image.collationType == 'LACUNA' && image.collations && !image.collations[0].isParent)) && image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                  span {{ 'docEntity.TOBENUMBERED' | translate }}
              .view-documents(ng-if="image.documentCount == 1")
                img(src="img/icons-new/documents-attached-icon-30x30-white.png" style="background-color: #47323c;border-radius: 4px;" title="1 transcribed document available" ng-click="showDocumentList(image.uploadFileId)")
              .view-documents(ng-if="image.documentCount > 1")
                img(src="img/icons-new/documents-attached-icon-30x30-white.png" style="background-color: #47323c;border-radius: 4px;" title="{{image.documentCount}} transcribed documents available" ng-click="showDocumentList(image.uploadFileId)")
            //div.view(ng-show="image.converted==3 || image.converted==6")
            //  img.error-thumb.clickable(ng-drag="true" ng-drag-data="image" ng-src="img/errorUpload.png" ng-click="fixUpload(image.uploadFileId)")
            //  div.mask
            //    .mask-header
            //      .icons
            //        .edit-button
            //          .btn-group.pull-right(dropdown)
            //            button#btn-append-to-single-button.btn.btn-xs.btn-default(type='button', dropdown-toggle)
            //              i
            //                img.edit-icon-ae.edit-icon-inside-image(src="img/icons-new/edit-icon-white-17x17.png")
            //            ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='btn-append-to-single-button')
            //              li
            //                a.info(ng-click="fixUpload(image.uploadFileId)")
            //                  img.dropdown-icon(src="img/icons-new/create-doc-icon-14x14.png")
            //                  | Try to fix the error
            //              li
            //                a.info(ng-click="replaceModal(image.uploadFileId)")
            //                  img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
            //                  | Replace Image
            //              li
            //                a.info(ng-click="deleteDocument(image.uploadFileId)")
            //                  img.dropdown-icon(src="img/icons-new/dropdown-delete-icon-14x14.png")
            //                  | {{'singleAentity.DELETEDOC' | translate}}
            //        .clear
            //div.view(ng-show="image.converted==0 || image.converted==1")
            //  img.error-thumb.clickable(ng-drag="true" ng-drag-data="image" ng-src="img/newUpload.png" ng-click="pageChanged()")
            //
        .row(ng-if="numberedImages.length")
          .col-xs-12
            pagination(ng-cloak ng-if="!loadingImags" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage.value" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")

  //---------------------------------------------------
  //
  // DOCUMENT ENTITY
  //
  //---------------------------------------------------
  .col-xs-6.second-coloumn(ng-if="visibility.showDocuEntity")
    .row
      .col-xs-12
        span.entity-title
          | {{ 'singleAentity.DOCENTITYTITLE' | translate }}
          i.ion-easel
    .row.content-right-panel.form-group
      .col-xs-12.drag-and-drop-de(style="min-height:400px;")
        .row.thumbs-row
          .col-xs-4.thumbs-img-cont(ng-repeat="image in newDE  | orderBy:'imageOrder'")
            img(ng-src="{{image.filePath}}")
    .row
      .col-xs-12
        button.btn.btn-default.btn-xs(ng-click='closeDocuEntity()')
          | {{'general.CLOSE' | translate}}

  //---------------------------------------------------
  //
  // ADDFILE PANEL
  //
  //---------------------------------------------------
  .col-xs-6.second-coloumn(ng-if="visibility.showAddFile")
    .row
      .col-xs-12
        form.form-group(name='uploadForm')
          fieldset
          .row
            .col-xs-12
              span.entity-title
                | {{ 'singleAentity.ADDFILETOAE' | translate }}
                i.ion-images.text-icon
          .row.content-right-panel  
            .col-xs-12
              | {{ 'singleAentity.LASTFILE' | translate}}
              span.last-file {{lastFile}}
          .row.content-right-panel              
            .col-xs-6.col-xs-offset-1
              label(for="file" class="custom-file-upload" ng-click="getFiles()")
                .btn.btn-success
                  | {{'sidebar.upload.CHOOSEIMG' | translate}}
              input#file-upload.form-control(
                type='file',
                ngf-select='',
                ng-model='picFiles',
                name='file',
                accept='.jpg, .tif, .tiff, .jpeg',
                ngf-max-total-size='300MB',
                ngf-max-files="30",
                ngf-min-height="500",
                ngf-min-width="500",
                ngf-max-size="30MB",
                ngf-model-invalid="invalidFiles",
                ngf-fix-orientation="false",
                multiple,
                required=''
                style="color:#663333;background-color:#eae9e8; border: 1px solid #333; border-radius:3px;")
           .col-xs-3
              br
          .row
            .col-xs-11.col-xs-offset-1    
              span.required(ng-show="uploadForm.file.$error.maxFiles")
                | {{ 'sidebar.upload.TOOMANYFILES' | translate }}
              span.required(ng-show="uploadForm.file.$error.maxTotalSize")
                | {{ 'sidebar.upload.UPLOADBIG' | translate }}                   
          .row(ng-if="invalidFiles.length > 0")
            .col-xs-12
                h6
                  | {{ 'sidebar.upload.NOTUPLOADEDLIST' | translate }}
          .row(ng-repeat="singlefile in invalidFiles")
            .col-xs-6.col-xs-offset-1
              | {{singlefile.name}}
            .col-xs-6.col-xs-offset-1
              span.required(ng-show="singlefile.$error === 'minWidth' || singlefile.$error === 'minHeight'")
                | {{ 'singleAentity.FILESMALERR' | translate }} 
              span.required(ng-show="singlefile.$error === 'maxSize'")
                | {{ 'sidebar.upload.FILEBIG' | translate }}  
          .row(ng-if="picFiles.length === 0 && invalidFiles.length > 0")
            .col-xs-10.col-xs-offset-1
              h5
                | {{ 'singleAentity.FILEALLEJECTED' | translate }}                      
          .row(ng-if="picFiles.length")
            .col-xs-12
                h6
                  | {{ 'singleAentity.FILETOUP' | translate }}                  
          .row(ng-repeat="picFile in picFiles")
            .col-xs-8.col-xs-offset-1
              | {{picFile.name}}
            .col-xs-3
              button.btn.btn-xs.btn-success.ladda-button(
              ladda-button="uploading" ng-click='picFiles.splice($index,1)', ng-show='picFile && !uploadFinished')
                span.ladda-label
                  | {{'sidebar.upload.REMOVE' | translate}}
              br
              span.progress(ng-show='picFile.progress >= 0')
                div(style='width:{{picFile.progress}}%', ng-bind="picFile.progress + '%'")
              span(ng-show='picFile.result') {{'sidebar.upload.SUCCESS' | translate}}
              span.err(ng-show='errorMsg') {{errorMsg}}


          .row(ng-show="uploading")
            .col-xs-2.col-xs-offset-1
              .legend {{'sidebar.upload.PROGRESS' | translate}}
            .col-xs-6
              progressbar(max="100" value="progress")
                | {{progress}} / 100
            .col-xs-3
              .legend(ng-show="progress == 100")
                | {{'sidebar.upload.DONE' | translate}}
          br
          span(ng-if="uploadForm.file.$error.minWidth || uploadForm.file.$error.minHeight || uploadForm.file.$error.maxSize || uploadForm.file.$error.maxFiles || uploadForm.file.$error.maxTotalSize")
                br
                | {{ 'sidebar.upload.AREYOUSUREONLYTHESEFILES' | translate }}
          br
          .row
            .col-xs-12
              .btn-group
                button.btn.btn-xs.btn-success(ng-hide='!picFiles.length || uploadFinished', ng-click='addFileToAE(picFiles)')
                  | {{'sidebar.UPLOAD' | translate}}
                button.btn.btn-xs.btn-success(ng-if="uploadFinished" ng-click='cancelAddFiles()')
                  | {{'general.CLOSE' | translate}}
                button.btn.btn-xs.btn-success(ng-if="!uploadFinished" ng-click='cancelAddFiles()')
                  | {{'general.CANCEL' | translate}}

  //---------------------------------------------------
  //
  // DOCUMENT VIEWER
  //
  //---------------------------------------------------
  .col-xs-6.second-coloumn(ng-if="visibility.showViewer")
    .row
      .col-xs-12
        span.entity-title
          | {{ 'singleAentity.DOCVIEWER' | translate }} 
          i.ion-easel
    .row.content-right-panel.form-group
      .col-xs-12
        a.fullscreen-link(ng-click="openTranscriptor()")
          | Show Fullscreen &nbsp;
          i.ion-arrow-expand
        .clear
        iframe.viewing.js-viewer(ng-src="{{viewerAddress}}")
    .row
      .col-xs-12
        button.btn.btn-default.btn-xs(ng-click='closeViewer()')
          | {{'general.CLOSE' | translate}}
  //---------------------------------------------------
  //
  // EDIT METADATA
  //
  //---------------------------------------------------
  .col-xs-6.second-coloumn(ng-if="visibility.showMeta")
    form(name="metaDataForm")
      fieldset
        .row
          .col-xs-12
            span.entity-title
              | {{ 'sidebar.EDITMETA' | translate }}
        //
        // AENAME
        //
        .row.content-right-panel.form-group
          .col-xs-3
            label {{ 'singleAentity.AENAME' | translate }}
          .col-xs-5
            input.form-control(name="aeName" type="text" ng-model="archiveToEdit.aeName" ng-change="dataEdited()" ng-class="{'has-error': !archiveToEdit.aeName || archiveToEdit.aeName.length>254}")
        //
        // AEDESCRIPTION
        //
        .row.content-right-panel.form-group
          .col-xs-3
            label {{ 'singleAentity.AEDESC' | translate }}
          .col-xs-5
            textarea.form-control(name="aeDesc" type="text" ng-model="archiveToEdit.aeDescription" ng-change="dataEdited()" ng-class="{'has-error': !archiveToEdit.aeDescription}")              
        //
        // REPOSITORY
        //
        .row.content-right-panel.form-group
          .col-xs-3
            label {{ 'sidebar.upload.ARCHIVE' | translate }}
          //.col-xs-5(ng-if="archiveToEdit.repository.repositoryName")
          .col-xs-5(ng-if="archiveToEdit.repository.repositoryName")
            | {{archiveToEdit.repository.repositoryName}}
          //.col-xs-3(ng-if="archiveToEdit.repository.repositoryName")
            //- button.btn.btn-default.btn-xs(ng-click='addRepo()' popover="{{ 'singleAentity.EDITREPO' | translate }}" popover-trigger="mouseenter")
            //-   i
            //-     img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
          .col-xs-6(ng-if="!archiveToEdit.repository.repositoryName")
            button.btn.btn-default.btn-xs(ng-click='addRepo()')
              | {{ 'sidebar.upload.CHOOSEARCHIVE' | translate }}

        //
        // COLLECTION
        //
        .row.form-group(ng-if="archiveToEdit.repository")
          .col-xs-3
            label {{ 'sidebar.upload.COLLECTION' | translate }}
          .col-xs-5(ng-if="archiveToEdit.collection.collectionName")
            | {{archiveToEdit.collection.collectionName}}
          .col-xs-3(ng-if="archiveToEdit.collection.collectionName")
            button.btn.btn-default.btn-xs(ng-click='addCollection()' popover="{{ 'singleAentity.EDITCOLLECTION' | translate }}" popover-trigger="mouseenter")
              i
                img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
          .col-xs-6(ng-if="!archiveToEdit.collection.collectionName")
            button.btn.btn-default.btn-xs(ng-click='addCollection()')
              | {{ 'sidebar.upload.CHOOSECOLLECTION' | translate }}

        //
        // SERIES
        //
        .row.form-group(ng-if="archiveToEdit.collection && archiveToEdit.collection.collectionId == 1")
          .col-xs-3
            label {{ 'sidebar.upload.SERIES' | translate }}
          .col-xs-5(ng-if="archiveToEdit.series.seriesName")
            | {{archiveToEdit.series.seriesName}}
          .col-xs-3(ng-if="archiveToEdit.series.seriesName")
            button.btn.btn-default.btn-xs(ng-click='addSeries()' popover="{{ 'singleAentity.EDITSERIE' | translate }}" popover-trigger="mouseenter")
              i
                img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
          .col-xs-6(ng-if="!archiveToEdit.series.seriesName")
            button.btn.btn-default.btn-xs(ng-click='addSeries()')
              | {{ 'sidebar.upload.CHOOSESERIES' | translate }}

        //
        // VOLUME
        //
        .row.form-group(ng-if="archiveToEdit.collection")
          .col-xs-3
            label {{ 'sidebar.upload.VOLUME' | translate }}
          .col-xs-5(ng-if="archiveToEdit.volume.volumeName")
            | {{archiveToEdit.volume.volumeName}}
          .col-xs-3(ng-if="archiveToEdit.volume.volumeName")
            button.btn.btn-default.btn-xs(ng-click='addVolume()' popover="{{ 'singleAentity.EDITVOLUME' | translate }}" popover-trigger="mouseenter")
              i
                img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
          .col-xs-6(ng-if="!archiveToEdit.volume.volumeName")
            button.btn.btn-default.btn-xs(ng-click='addVolume()')
              | {{ 'sidebar.upload.CHOOSEVOLUME' | translate }}
        //
        // INSERT
        //
        .row.form-group(ng-if="archiveToEdit.volume")
          .col-xs-3
            label {{ 'sidebar.upload.INSERT' | translate }}
          .col-xs-5(ng-if="archiveToEdit.insert.insertName")
            | {{archiveToEdit.insert.insertName}}
          .col-xs-3(ng-if="archiveToEdit.insert.insertName")
            button.btn.btn-default.btn-xs(ng-click='addInsert()' popover="{{ 'singleAentity.EDITINSERT' | translate }}" popover-trigger="mouseenter")
              i
                img.edit-icon-ae(src="img/icons-new/edit-icon-17x17.png")
          .col-xs-6(ng-if="!archiveToEdit.insert.insertName")
            button.btn.btn-default.btn-xs(ng-click='addInsert()')
              | {{ 'sidebar.upload.CHOOSEINSERT' | translate }}
        .row
          .col-xs-5
            .btn-group
              button.btn.btn-success.btn-xs.ladda-button(
              ladda-button="editMetaLoader"
              ng-click="finishEditMeta()"
              data-style="expand-right"
              ng-disabled="!canISave()")
                span.ladda-label
                  | {{ 'general.SAVE' | translate }}
              button.btn.btn-success.btn-xs(ng-click="closeEditMeta()")
                | {{ 'general.CANCEL' | translate }}
        .row(ng-if="debug")
          .col-xs-12
            pre
              | {{niceJson(archiveToEdit)}}


.row(ng-if="loadingImags || fixUploadTracker")
  .col-xs-12
    .rotate-container
      .rotate
