div.search-tooltip-widget
    div.search-tooltip-widget-title
        h3(ng-if="image.collations[0].isParent"  style="color: #8a5b72;font-size: 18px;") Reconstructed Document from:
        h3(ng-if="!image.collations[0].isParent" style="color: #8a5b72;font-size: 18px;") This document was taken from:

    div.search-tooltip-widget-body
        table
            tbody.text-center
                tr(ng-if="image.collations[0].isParent")
                    td(style="color: black; font-size: 14px;")
                        | {{image.collations[0].childCollectionName}}&nbsp;
                        span(ng-if="image.collations[0].childVolumeName")
                            | &nbsp;-&nbsp;
                            | {{image.collations[0].childVolumeName}}
                        span(ng-if="image.collations[0].childInsertName")
                            | &nbsp;-&nbsp;
                            | {{image.collations[0].childInsertName}}
                        span(ng-if="image.collations[0].unsure" style="color: red;")
                            | &nbsp;-&nbsp;
                            span.cursor-pointer.text-underline(ng-if="image.collations[0].description" ng-click="showUnsureDesc(image.collations[0])") Unsure
                            span(ng-if="!image.collations[0].description") Unsure

                tr(ng-if="!image.collations[0].isParent")
                    td(style="color: black; font-size: 14px;")
                        | {{image.collations[0].parentCollectionName}}&nbsp;
                        span(ng-if="image.collations[0].parentVolumeName")
                            | &nbsp;-&nbsp;
                            | {{image.collations[0].parentVolumeName}}
                        span(ng-if="image.collations[0].parentInsertName")
                            | &nbsp;-&nbsp;
                            | {{image.collations[0].parentInsertName}}
                        span(ng-if="image.collations[0].unsure" style="color: red;")
                            | &nbsp;-&nbsp;
                            span.cursor-pointer.text-underline(ng-if="image.collations[0].description" ng-click="showUnsureDesc(image.collations[0])") Unsure
                            span(ng-if="!image.collations[0].description") Unsure
                tr
                    td
                        button(ng-if="image.collations[0].isParent"  ng-click="goToFromPopup(image, 'doc')").btn.btn-default.btn-xs GO TO DOCUMENT
                        button(ng-if="!image.collations[0].isParent" ng-click="goToFromPopup(image, 'bal')").btn.btn-default.btn-xs GO TO ORIGINAL POSITION
