.row
  .col-xs-12
    .search-results
      h4(ng-if="!results.length")
        | No results
      table.table.table-hover.table-striped(ng-if="results.length")
        thead(style='white-space: nowrap; cursor: pointer')
          tr
            th(ng-click="requestOrderedData('aeName')")
              | Name &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('aeName')")
            th(ng-click="requestOrderedData('aeDescription')")
              | Description &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('aeDescription')")
            th(ng-click="requestOrderedData('repository')")
              | Repository &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('repository')")
            th(ng-click="requestOrderedData('collection')")
              | Collection &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('collection')")
            th(ng-click="requestOrderedData('volume')")
              | Volume &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('volume')")
            th(ng-click="requestOrderedData('insertN')")
              | Insert &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('insertN')")
            th(ng-click="requestOrderedData('filePrivacy')")
              | Privacy &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('filePrivacy')")
        tbody
          tr.repeated-item(ng-repeat="result in results" ng-click="rowAction(result)")
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'singleAentity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                | {{result.aeName}}
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'singleAentity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                | {{result.aeDescription}}
            td
              | {{result.repository.repositoryName}}
            td
              | {{result.collection.collectionName}}
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'singleAentity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                | {{result.volume.volumeName}}
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'singleAentity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                | {{result.insert.insertName}}
            td.isCentered
              span.isPrivate(ng-if="result.filePrivacy == 1")
                | Private
              span.isPrivate(ng-if="result.filePrivacy == 2")
                img.set-icon(src="img/icons-new/shared-icon.png")
                | Private but shared with me
      .loading(ng-if="updateData" style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;")
      .row.col-xs-12(style='height: 50px')
        pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")
      .row.col-xs-12(style='height: 15px')
        hr

style(type='text/css').
    .isPrivate {color: red;
                text-decoration: underline;}
    .isCentered {text-align: center;}

    .chevron-show {  color: #8a5b72 !important;  }

    .glyphicon-chevron-down {color: #DDDCDD;}

    .glyphicon-chevron-up {
      color: #DDDCDD;
    }

    .pagination-sm {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

