div(ng-controller="addVolumeSearchController")
  .modal-header
    h3.modal-title(ng-show="(!addNew && collectionId) && !volCreated") {{ 'sidebar.addVolume.TITLE' | translate }}
    h3.modal-title(ng-show="(addNew || !collectionId) && !volCreated") {{ 'sidebar.addVolume.ADDTITLE' | translate }}
    h3.modal-title(ng-show="volCreated") {{ 'sidebar.addVolume.CREATED' | translate }}
  .modal-body
    //
    // SEARCH
    //
    .search-form(ng-show="!addNew && collectionId")
      form.form-horizontal
        .row.form-group
          .col-xs-3.col-xs-offset-1
            label.control-label {{ 'sidebar.upload.VOLUME' | translate }}
          .col-xs-6
            .input-group
              input.form-control(
              type="text"
              placeholder="{{ 'sidebar.addVolume.INSTRUCT' | translate }}"
              ng-model="newVolume.volumeName"
              ng-class="{inputLoading: volLoading}"
              ng-change="getVolume(newVolume.volumeName)")
        .row
          .col-xs-12

            .row(ng-show='!volLoading && showTable && (volNotFound || !possibleVolume.length)')
              .col-xs-10.col-xs-offset-2
                i.glyphicon.glyphicon-remove
                span(ng-if="volNotFound && possibleVolume.length && newVolume.volumeName" ng-bind-html="missingVolumeText(newVolume.volumeName)")
                span(ng-if="!fromSearch && !possibleVolume.length && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")  {{ 'sidebar.addVolume.NOTFOUND' | translate }}
                span(ng-if="!fromSearch && !possibleVolume.length && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])") {{ 'sidebar.addVolume.NOTFOUNDFS' | translate }}
                span(ng-if="fromSearch  && !possibleVolume.length && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")  {{ 'sidebar.addVolume.NOTFOUND' | translate }}
                span(ng-if="fromSearch  && !possibleVolume.length && !secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])") {{ 'sidebar.addVolume.NOTFOUNDFS' | translate }}

            table.table.table-hover(ng-if="showTable && possibleVolume.length")
              thead
                tr
                  th
                    | {{ 'sidebar.addVolume.VOLUMENO' | translate }}
              tbody
                tr(
                ng-repeat="volume in possibleVolume"
                ng-click="saveVolume(volume)")
                  th
                    | {{volume.volumeName}}
    //
    // ADD
    //
    .search-form(ng-show="addNew || !collectionId")
      form.form-horizontal(name="volumeForm")
          .row
            .col-md-12(ng-if="volCreated")
              .form-group
                label.control-label.col-md-6
                  | {{ 'sidebar.addVolume.DESCRMETA' | translate }}
            .col-xs-6(ng-if="!volCreated")
              .form-group
                label.control-label.col-sm-5
                  | {{ 'sidebar.addVolume.NAME' | translate }}
                  span.required-error(ng-if="volumeForm.volumeName.$error.required && !volCreated")
                    br
                    | {{ 'general.REQUIRED' | translate }}   
                .col-sm-7
                  input.form-control(type="text" ng-model="newVolume.volumeName" name="volumeName" required ng-class="{'has-error':volumeForm.volumeName.$error.required}")

    .search-form
      form.form-horizontal
        .form-group
          .col-sm-8.col-sm-offset-4.btn-group
            button.btn.btn-default.btn-xs(
            ng-click='switchNew()'
            ng-if="!addNew && collectionId && volNotFound && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
              | {{ 'sidebar.addVolume.ADDNEW' | translate }}
            //button.btn.btn-default.btn-xs(
              ng-click='switchNew()'
              ng-if="addNew && collectionId")
                | {{ 'sidebar.addVolume.CHOSEOLD' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-disabled="volumeForm.$invalid || clicked"
            ng-click="addNewVolume(newVolume)"
            ng-if="(!fromSearch || switched) && !volCreated && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
              | {{ 'general.SAVE' | translate }}
            button.btn.btn-default.btn-xs(ng-if="!volCreated" ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-disabled="volumeForm.$invalid"
            ng-click="addNewVolume(newVolume)"
            ng-if="volCreated")
              | {{ 'general.OK' | translate }}
            button.btn.btn-default.btn-xs(ng-if="volCreated" ng-click="no(newVolume)")
              | {{ 'general.NO' | translate }}
            
