fieldset.form-group
  .col-xs-12
    input.form-control(type='text', ng-model='tempName' ng-change="getPeople(tempName)" placeholder="Insert the name first 3 letters to search" ng-class="{loading:loading}")      
  .col-xs-12
    .btn-group
      button.btn.btn-default.btn-check(ng-init="unsure=false" ng-model="unsure" btn-checkbox ng-click="setUnsure(unsure)" ng-if="role")
        span.glyphicon.mr-5(ng-class="{'glyphicon-check': unsure, 'glyphicon-unchecked': !unsure}")
        | {{ 'deMeta.UNSURE' | translate }}
      button.btn.btn.btn-default.btn-check(ng-click="cancel()") {{ 'people.BTNCANCEL' | translate }}
      button.btn.btn-default.btn-check(ng-disabled ="!selected" ng-click="savePerson()") {{ 'people.BTNSAVE' | translate }}
    
fieldset.form-group(ng-if="searchTableOpen" click-outside="closeTable()")
  .col-xs-12.table-results(ng-if="!loading")
    table.table.table-hover
      thead.table-header
        td
          | {{ 'deMeta.NAME' | translate }}
        td
          | {{ 'deMeta.BYEAR' | translate }}
        td
          | {{ 'deMeta.DYEAR' | translate }}
        td
          | {{ 'deMeta.GENDER' | translate }}
        td
          | {{ 'deMeta.ACTSTART' | translate }}
        td
          | {{ 'deMeta.ACTEND' | translate }}
      tbody
        tr(ng-repeat="person in possiblePeople | filter:{ gender: 'F' }" ng-click="selectPerson(person)" ng-if="sex=='M'")
          td
            | {{person.mapNameLf}}
          td
            | {{person.bornYear}}
          td
            | {{person.deathYear}}
          td
            | {{person.gender}}
          td
            | {{person.activeStart}}
          td
            | {{person.activeEnd}}
        tr(ng-repeat="person in possiblePeople | filter:{ gender: 'M' }" ng-click="selectPerson(person)" ng-if="sex=='F'")
          td
            | {{person.mapNameLf}}
          td
            | {{person.bornYear}}
          td
            | {{person.deathYear}}
          td
            | {{person.gender}}
          td
            | {{person.activeStart}}
          td
            | {{person.activeEnd}}
        tr(ng-repeat="person in possiblePeople" ng-click="selectPerson(person)" ng-if="!sex")
          td
            | {{person.mapNameLf}}
          td
            | {{person.bornYear}}
          td
            | {{person.deathYear}}
          td
            | {{person.gender}}
          td
            | {{person.activeStart}}
          td
            | {{person.activeEnd}}              
        tr(ng-if="searchTableOpen && !possiblePeople.length")
          td(colspan="12")
            | {{ 'people.NOPEOPLE' | translate }} - {{possiblePeople.length}}
        tr(ng-if="searchTableOpen && !filtered.length")
          td(colspan="12")
            button.btn.btn-success.btn-xs.btn-add-new(ng-click="addANewPerson()")
              | {{ 'people.ADDPERSON' | translate }} {{field.name}}
