.doc-ae-info-cont
  .infos
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Volume title: 
          .col-xs-8
            span.fields
              | {{documents.volumeTitle}}