.doc-transcription
  .single-transcription
    .row
      .col-xs-12
        .label.inner-title {{ 'editDE.TRANS' | translate }}
          | &nbsp;
          span.glyphicon.glyphicon-question-sign(ng-if="feCategory == 'News'" popover="{{ 'editDE.TRANSHELP' | translate }}" popover-trigger="mouseenter" popover-placement="right")
    .row.relative(ng-repeat="trans in transcriptions" id="tr_{{ trans.uploadedFileId }}_{{ trans.docTranscriptionId }}")
      .col-xs-12.text-uppercase.strong-folio(ng-if="trans.uploadedFileId")
        strong.folioNum(ng-click="editTranscription(trans, $event)") {{trans.folioNumber ? trans.folioNumber : 'Not Numbered'}} {{trans.rectoverso}}
        div.folioHoverMsg(ng-if="matchedUploadedId != trans.uploadedFileId") Edit folio {{ trans.folioNumber }} transcription
      .col-xs-12.text-uppercase.strong-folio(ng-if="!trans.uploadedFileId")
        strong(ng-click="changeMV(trans)") {{ 'editDE.NOFOLIOTRANS' | translate}}
        div.folioHoverMsg(ng-if="matchedUploadedId != trans.uploadedFileId") Edit folio {{ trans.folioNumber }} transcription
      .col-xs-10
        .transcriptions
          span.glyphicon.glyphicon-question-sign(ng-if="feCategory == 'News' && trans.editingTranscription" popover="{{ 'editDE.TRANSEDITHELP' | translate }}" popover-trigger="mouseenter" popover-placement="right")
          span.fields(ng-if="!trans.editingTranscription && trans.transcription" style="font-weight: 100; white-space: pre-wrap;") {{ trans.transcription | replaceTagsTrans }}
          span.fields(ng-if="!trans.editingTranscription && !trans.transcription" style="color: grey; font-weight: 100")
            em {{ 'No transcription' }}
          textarea.inner-content(ng-show="trans.editingTranscription" ng-model="trans.transcription" placeholder="Enter Transcription")
          //- select.form-control(ng-if="trans.editingTranscription" ng-model="trans.uploadFileId" ng-change="focus(trans.uploadFileId)")
          //-   option(ng-repeat="x in images" value="{{x.uploadFileId}}")
          //-     | {{x.uploadFileId}}
        hr
      .col-xs-2.absolute-right(ng-show="trans.uploadedFileId")
        button.btn.btn-xs.btn-xxs.btn-success(ng-if="trans.uploadedFileId == -1" ng-click="editTranscriptionBIA(trans, $event)" ng-show="!trans.editingTranscription" )
          | {{ 'general.EDIT' | translate }}
        button.btn.btn-xs.btn-xxs.btn-success(ng-if="trans.uploadedFileId != -1" ng-click="editTranscription(trans, $event)" ng-show="!trans.editingTranscription" )
          | {{ 'general.EDIT' | translate }}
        button.btn.btn-xs.btn-xxs.btn-success(ng-click="saveTranscription(trans)" ng-show="trans.editingTranscription" )
          | {{ 'general.SAVE' | translate }}
        button.btn.btn-xs.btn-xxs.btn-success(ng-click="closeTranscription(trans)" ng-show="trans.editingTranscription" )
          | {{ 'general.CLOSE' | translate }}
    //- .row
    //-   .col-xs-12
    //-     button.btn.btn-xs.btn-xxs.btn-success(ng-click="addTranscription()" )
    //-       | {{ 'editDE.ADDTRA' | translate }}

style(type="text/css").
  textarea.inner-content { resize: vertical; }
  .relative { position: relative; }
  strong { margin: 5px 0; color: #000; }
  strong:hover { cursor: pointer; color: #cc6666; }
  .folioHoverMsg { 
    visibility: hidden;
    width: 25px;
    height: 15px;
    overflow: hidden;
    position: absolute;
  }
  strong.folioNum:hover + .folioHoverMsg {     
    visibility: visible;
    overflow: auto;
    width: auto;
    text-align: center;
    position: absolute;
    left: 50px;
    top: 20px;
    padding: 3px 5px;
    border: 1px solid red;
    background: lightgrey;
    color: #000;
    height: auto;
    z-index: 1;
    text-transform: initial
  }