div(ng-controller="personDocController")
  .modal-header
    h3.modal-title(ng-if="options.docIds.length!=0") {{ 'personDoc.TITLE' | translate }}
    h3.modal-title(ng-if="options.docIds.length==0") {{ 'personDoc.TITLEOK' | translate }}
  .modal-body
    div
      .row
        .col-xs-12
          | {{ 'personDoc.BODY' | translate }}
        br
      .row
        .col-xs-12
         hr
      .row(ng-repeat="doc in options.docIds")
        .col-xs-12
          span.pointer.sureAdd(ng-click="openDoc(doc)")
            | Document {{doc}}
          hr
      .row
        .col-xs-12
          .bottom-buttons
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{'general.CANCEL' | translate}}
    