.doc-ae-info-cont
  .infos(ng-if="!edit")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Collection: 
          .col-xs-6
            span.fields
              | {{documents.collectionName}}
          .absolute-right(style="display: flex; justify-content: flex-end; margin-top: 5px; margin-right: 20px;")
            button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchEdit()" ng-show="!edit" )
              | {{ 'general.EDIT' | translate }}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label(ng-if="['MDP', 'MM', 'GM', 'GMD', 'GMA', 'SRP', 'MAP', 'SFF', 'CDA'].includes(documents.collectionAbbr)")
              | Volume: 
            .label(ng-if="['PSRP(T)', 'PSRP(CS)', 'PTSRP', 'PSRP', 'PTSRG', 'PSFF'].includes(documents.collectionAbbr)")
              | Bobina: 
          .col-xs-8
            span.fields
              | {{documents.volumeNo}}
    .row(ng-show="['MDP', 'PSRP(T)', 'PSRP(CS)', 'PTSRP'].includes(documents.collectionAbbr)")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Carteggio:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_CARTEGGIO' | translate }}" popover-trigger="mouseenter")  
          .col-xs-8
            span.fields
              | {{documents.sezione}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Start Date: 
          .col-xs-8
            span.fields
              | {{documents.startYear}} {{ dates(documents.startMonth) }} {{documents.startDay}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | End Date: 
          .col-xs-8
            span.fields
              | {{documents.endYear}} {{ dates(documents.endMonth) }} {{documents.endDay}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Date Notes:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_DATE_NOTES' | translate }}" popover-trigger="mouseenter")  
          .col-xs-8
            span.fields
              | {{documents.dateNotes}}
    .row(ng-show="['MM', 'SRP', 'SFF'].includes(documents.collectionAbbr)")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Volume Title: 
          .col-xs-8
            span.fields
              | {{documents.volumeTitle}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label(ng-if="['MDP', 'MM', 'GM', 'GMD', 'GMA', 'SRP', 'MAP', 'PSFF', 'CDA'].includes(documents.collectionAbbr)")
              | Volume Context/Description:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_CONTEXT' | translate }}" popover-trigger="mouseenter") 
            .label(ng-if="['PSRP(T)', 'PSRP(CS)', 'PTSRP', 'PSRP', 'PTSRG', 'PSFF'].includes(documents.collectionAbbr)")
              | Context:
          .col-xs-8
            span.fields
              | {{documents.volumeContext}}
    
  //- Edit
  form.infos(ng-if="edit" name="volBasicData")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Collection: 
          .col-xs-6
            span.fields
              | {{documents.collectionName}}
          .col-xs-2.absolute-right(ng-show="!edit")
            button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchEdit()" ng-show="!edit" )
              | {{ 'general.EDIT' | translate }}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label(ng-if="['MDP', 'MM', 'GM', 'GMD', 'GMA', 'SRP', 'MAP', 'SFF', 'CDA'].includes(documents.collectionAbbr)")
              | Volume:
            .label(ng-if="['PSRP(T)', 'PSRP(CS)', 'PTSRP', 'PSRP', 'PTSRG', 'PSFF'].includes(documents.collectionAbbr)")
              | Bobina:
          .col-xs-8
            span.fields
              | {{documents.volumeNo}}
    .row(ng-show="['PSRP(T)', 'PSRP(CS)', 'PTSRP', 'MDP'].includes(documents.collectionAbbr)")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Carteggio:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_CARTEGGIO' | translate }}" popover-trigger="mouseenter")  
          .col-xs-8
            input.form-control(type="text" ng-model="documents.sezione" ng-model-options='{ debounce: 300 }' ng-class="{loading:loading}" placeholder="{{ 'modal.INSTRUCT1' | translate }}" ng-change="getCarteggioByName(documents.sezione)")
            .row
              .col-xs-12.col-md-12
                fieldset.form-group(ng-if="showTable" click-outside="closeTable()")
                  .col-xs-12.table-results
                    table.table.table-hover(ng-if="showTable && series.length")
                      tbody
                          tr(
                            ng-repeat="serie in series"
                            ng-click="selectSerie(serie.seriesName, serie.seriesSubtitle)")
                              th(ng-if="serie.seriesSubtitle != 'null'")
                                | {{serie.seriesName}}/{{serie.seriesSubtitle}}
                              th(ng-if="serie.seriesSubtitle == 'null'")
                                | {{serie.seriesName}}
                      .row(ng-show='showTable && !series.length')
                        .col-xs-10.col-xs-offset-2
                          i.glyphicon.glyphicon-remove
                          span {{ 'general.NOTFOUND' | translate }}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Start Year: 
            input.form-control.inline-block(type="number" min="1" ng-maxlength="4" ng-model="documents.startYear")
          .col-xs-4
            .label
              | Start Month:
            select.form-control.inline-block(ng-if="edit" style="width: 100px;" ng-options="month.id as month.name for month in months" ng-model="documents.startMonth" )
          .col-xs-4
            .label
              | Start Day: 
            input.form-control.inline-block(type="number" min="1" max="31" ng-maxlength="2" ng-model="documents.startDay")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | End Year: 
            input.form-control(type="number" min="1" ng-maxlength="4" ng-model="documents.endYear")
          .col-xs-4
            .label
              | End Month:
            select.form-control(ng-if="edit" style="width: 100px;" ng-options="month.id as month.name for month in months" ng-model="documents.endMonth" )
          .col-xs-4
            .label
              | End Day: 
            input.form-control(type="number" min="1" max="31" ng-maxlength="2" ng-model="documents.endDay")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Date Notes:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_DATE_NOTES' | translate }}" popover-trigger="mouseenter")  
          .col-xs-8
            textarea.form-control(name="notesTextArea" ng-model="documents.dateNotes")
    .row(ng-show="['MM', 'SRP', 'SFF'].includes(documents.collectionAbbr)")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Volume Title:
          .col-xs-8
            textarea.form-control(type="text" ng-model="documents.volumeTitle")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label(ng-hide="['PSRP', 'PTSRG', 'PSFF', 'PTSRP', 'HCY'].includes(documents.collectionAbbr)")
              | Volume Context/Description:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_CONTEXT' | translate }}" popover-trigger="mouseenter") 
            .label(ng-show="['PSRP', 'PTSRG', 'PSFF', 'PTSRP'].includes(documents.collectionAbbr)")
              | Context:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_CONTEXT' | translate }}" popover-trigger="mouseenter")
          .col-xs-8
            textarea.form-control(type="text" ng-model="documents.volumeContext")
    .col-xs-2.absolute-right(ng-show="edit")
      button.btn.btn-xs.btn-xxs.btn-success(ng-click="save()" ng-show="edit" ng-disabled="volBasicData.$invalid")
        | {{ 'general.SAVE' | translate }}