.public-profile
  .row
    .col-sm-7
      .row
        .col-xs-4.col-sm-3
          //- img.personal(ng-if="user.photoPath" ng-src="{{user.photoPath}}" style="width: 100%;")
          img.personal(ng-src="{{user.photoPath}}" style="width: 100%;")
        .col-xs-8.col-sm-9
          .user-name {{user.firstName}} {{user.lastName}} ({{user.account}})
          .user-project {{user.organization}}
          br
          .user-groups User Groups in MIA: {{user.userGroups[0]}}
          .user-interests-title(ng-if='user.interests') Research interests
          .user-interests(ng-if='user.interests') {{user.interests}}
          .user-social 
            .social-name
              a(ng-if="user.academiaEduLink" ng-href="{{user.academiaEduLink}}", target='_blank') Academia.edu
            .social-btns
              //button.btn.btn-success Follow
              a.btn.btn-success(ui-sref="mia.mailbox({recipient: user.account})") Send a message 
      .row(ng-if="nodiscoveries == false")
        .col-xs-12.col-sm-12
          h3(style="font-family: 'Raleway', helvetica, arial, sans-serif; color: #8a5b72; font-weight: 500;") Recent Publications
        .col-xs-8.col-sm-9
          div(ng-repeat="d in discoveries" style="font-weight: bold;")
            .col-xs-4.col-sm-4(style="margin-top: 15px;")
              div.mycontainer(ng-click="showSpotlightReview(d)")
                img(ng-src="{{d.imagePath}}")
                div.peer(ng-if="addMessage(d)")
                  .message(ng-if="d.status == 'Rejected'") Rejected please delete
                  .message(ng-if="d.status != 'Rejected'") Waiting for peer review
                div.overlay Document

      .row(ng-if="userStatistics != null && userStatistics != undefined")
        .col-xs-12.col-sm-6
          .row.no-margin-left
            .block-title MIA's Statistics
          .row.no-margin-left
            .statistic-info Joined on: {{ joinDate.getDate()}}
              | {{ joinDateMonth }}
              | {{ joinDate.getFullYear()}}
            .statistic-info Last visit on: {{ lastUpdateDate.getDate()}}
              | {{ lastUpdateDateMonth }}
              | {{ lastUpdateDate.getFullYear()}}
            hr.statistics-separator
            //- Uploads
            div(ng-if="userStatistics.uploadsCount > 0")
              .statistic-info Uploads:
                a(ng-click="getUserUploads()") {{ userStatistics.uploadsCount }}
            div(ng-if="userStatistics.uploadsCount == 0")
              .statistic-info Uploads: {{ userStatistics.uploadsCount }}
            //- Documents
            div(ng-if="userStatistics.documentsCount > 0")
              .statistic-info Documents: 
                a(ng-click="getUserDocuments()") {{ userStatistics.documentsCount }}
            div(ng-if="userStatistics.documentsCount == 0")
              .statistic-info Documents: {{ userStatistics.documentsCount }}
            //- Biographical
            div(ng-if="userStatistics.biographicalRecordsCount > 0")
              .statistic-info Biographical records:
                a(ng-click="getUserBiographicalRecords()") {{ userStatistics.biographicalRecordsCount }}
            div(ng-if="userStatistics.biographicalRecordsCount == 0")
              .statistic-info Biographical records: {{ userStatistics.biographicalRecordsCount }}
            //- Geographical
            div(ng-if="userStatistics.geographicalRecordsCount > 0")
              .statistic-info Geographical records: 
                a(ng-click="getUserGeographicalRecords()") {{ userStatistics.geographicalRecordsCount }}
            div(ng-if="userStatistics.geographicalRecordsCount == 0")
              .statistic-info Geographical records: {{ userStatistics.geographicalRecordsCount }}
            //- Comments
            .statistic-info Comments: {{ userStatistics.commentsCount }}
      //  .col-xs-12.flex-row
      //    div(style="border-top: 1px solid #d3ded9;width: 100%;")
      //    .col-xs-12.col-sm-6
      //      .row
      //        .block-title MIA's Network
      //      .row.case-studies(style="height: calc(100% - 50px);")
      //        .col-xs-12.pl-0.col-links
      //          .links-block
      //            .links-title Projects
      //            .study-link
      //              a(href="javascript:void(0);")  Link to the study
      //            .study-link
      //              a(href="javascript:void(0);")  Link to the study
      //            .study-link
      //              a(href="javascript:void(0);")  Link to the study
      //            .study-link
      //              a(href="javascript:void(0);")  Link to the study
      //            .study-link
      //              a(href="javascript:void(0);")  Link to the study
      //
          
    
    //- .col-sm-5
    //-   .row
    //-     .col-xs-12
    //-       .block-title Recent Images
    //-   .row.mt-15
    //-     .col-xs-12
    //-       .row
    //-         .col-xs-6
    //-           img.personal(ng-src="img/manuscripts/image1-thumb.jpeg" style="width: 100%;")
    //-         .col-xs-6
    //-           img.personal(ng-src="img/manuscripts/image1-thumb.jpeg" style="width: 100%;")
    //-       .row
    //-         .col-xs-12
    //-           p.mt-5 Description Description Description Description Description
    //-   .row.mt-15
    //-     .col-xs-12
    //-       .row
    //-         .col-xs-6
    //-           img.personal(ng-src="img/manuscripts/image1-thumb.jpeg" style="width: 100%;")
    //-         .col-xs-6
    //-           img.personal(ng-src="img/manuscripts/image1-thumb.jpeg" style="width: 100%;")
    //-       .row
    //-         .col-xs-12
    //-           p.mt-5 Description Description Description Description Description
      
style(type='text/css').
  .mycontainer {border: 1px solid black; position: relative; width: 180px; height: 250px; cursor: pointer;}
  .mycontainer img {width: 100%;height: 100%}
  .overlay {position: absolute; bottom: 0px; background-color: rgba(0, 0, 0, 0.6); min-height: 30px; color: white; padding: 10px; transition: all 0.2s; width: 100%; text-align: center}
  .mycontainer:hover .overlay {background-color: rgba(0, 0, 0, 0.8);min-height: 80px;}
  .peer {position: absolute; top: 20%; width: 100%;}
  .peer .message {margin: 0 auto; width: 70%; padding: 10px; border: 2px solid red; background-color: rgba(255, 255, 255, 0.6); color: red; text-align: center;}
  .no-margin-left { margin-left: 0 }