div
  .form-group
    .col-xs-12
      label.search-label(for="archive") Place name
      fieldset.form-group
        .col-xs-4
          input.form-control(type='text', placeholder="search here..." ng-model='tempPlaceName' ng-change="getPlaces(tempPlaceName)" ng-class="{loading:loading}")
      fieldset.form-group(ng-if="searchPlaceTableOpen" click-outside="closeTable()")
        .col-xs-8.table-results(style="z-index: 200")
          table.table.table-hover
            thead.table-header
              td
                | {{ 'deMeta.NAME' | translate }}
              td
                | {{ 'deMeta.PLTYPE' | translate }}
              td
                | {{'deMeta.PREFLAG' | translate}}
            tbody
              tr(ng-repeat="location in possiblePlaces | filter:tempPlaceName as filtered" ng-click="openPlace(location)")
                td
                  | {{location.placeName}}
                td
                  | {{location.plType}}
                td
                  | {{location.prefFlag}}
              tr(ng-if="!filtered.length")
                td(colspan="6")
                  | {{ 'places.NOPLACE' | translate }}
                  br
                  button.btn.btn-default(ng-click="addNewPlace()")
                    |{{'addPlace.TITLE' | translate}}