.activity
  .act-desc
    div(ng-if="status === 'ok' && !aes" class="text-center")
      | {{ 'news.NO_ACTIVITIES' | translate }}
    div(ng-if="aes")
      div.repeated-item(ng-repeat="aeNews in aes")
        div.news-block.recent-news
          a(href="index.html#/mia/archival-entity/{{aeNews.id}}")
            div
              | IMAGES
              span(ng-if="aeNews.title") - 
              | {{aeNews.title}}
              span(ng-if="aeNews.collection") - 
              | {{aeNews.collection}}
              span(ng-if="aeNews.volume") - 
              | {{aeNews.volume}}
              span(ng-if="aeNews.insert") - 
              | {{aeNews.insert}}
            div(ng-if="aeNews.action == 'CREATED'")
              | mapAEid# {{aeNews.id}} - Created By: {{aeNews.createdBy }} on: {{aeNews.activityDate}}
            div(ng-if="aeNews.action == 'MODIFIED'")
              | mapAEid# {{aeNews.id}} - Modified By: {{aeNews.modifiedBy }} - {{aeNews.activityDate}}
            div(ng-if="aeNews.action == 'DELETED'")
              | mapAEid# {{aeNews.id}} - Deleted By: {{aeNews.modifiedBy }} - {{aeNews.activityDate}}
            div
              div.img-block(ng-if="aeNews.action != 'DELETED'" ng-repeat="imgPath in aeNews.thumbPaths | limitTo : 7")
                img.act-thumb(ng-src="{{imgPath}}" alt="")