div(ng-controller="addRepoController")
  .modal-header
    h3.modal-title(ng-show="!addNew") {{ 'sidebar.addRepo.TITLE' | translate }}
    h3.modal-title(ng-show="addNew") {{ 'sidebar.addRepo.ADDTITLE' | translate }}
  .modal-body
    .search-form(ng-show="!addNew")
      form.form-horizontal
        //
        // REPOSITORY SEARCH
        //
        .row.form-group
          .col-xs-3.col-xs-offset-1
            label.control-label {{ 'sidebar.upload.ARCHIVE' | translate }}
          .col-xs-6
            .input-group
              input.form-control(
              type="text"
              placeholder="{{ 'sidebar.addRepo.INSTRUCT' | translate }}"
              ng-model="queryString"
              ng-change="getRepository(queryString)")
        .row
          .col-xs-12

            table.table.table-hover(
            ng-if="showTable && possibleRepo.length")
              thead
                tr
                  th
                    | #
                  th
                    | {{ 'sidebar.addRepo.NAME' | translate }}
                  th
                    | {{ 'sidebar.addRepo.CITY' | translate }}
                  th
                    | {{ 'sidebar.addRepo.COUNTRY' | translate }}
                  th
                    | {{ 'sidebar.addRepo.ABBR' | translate }}
              tbody
                tr.repeated-item(
                ng-repeat="repo in possibleRepo"
                ng-click="saveRepo(repo)")
                  th
                    | {{repo.repositoryId}}
                  th
                    | {{repo.repositoryName}}
                  th
                    | {{repo.repositoryCity}}
                  th
                    | {{repo.repositoryCountry}}
                  th
                    | {{repo.repositoryAbbreviation}}
            .row(ng-show='showTable && !possibleRepo.length')
              .col-xs-10.col-xs-offset-2
                i.glyphicon.glyphicon-remove
                |  {{ 'sidebar.addRepo.NOTFOUND' | translate }}
    .search-form(ng-show="addNew")
      form.form-horizontal(name="repoForm")
          .row
            .col-xs-6
              .form-group
                label.control-label.col-xs-5
                  | {{ 'sidebar.addRepo.NAME' | translate }}
                  span.required-error(ng-if="repoForm.repoName.$error.required")
                    br
                    | {{ 'general.REQUIRED' | translate }}
                .col-xs-7
                  input.form-control(type="text" name="repoName" required ng-model="newRepo.repositoryName" ng-class="{'has-error':repoForm.repoName.$error.required}")
              .form-group
                label.control-label.col-xs-5
                  | {{ 'sidebar.addRepo.LOCATION' | translate }}
                  span.required-error(ng-if="repoForm.repoPlace.$error.required")
                    br
                    | {{ 'general.REQUIRED' | translate }}
                .col-xs-7
                  input.form-control(
                  type="text"
                  name="repoPlace"
                  ng-autocomplete
                  required
                  ng-model="newRepo.gCode"
                  options="autoCompOptions"
                  details="details"
                  ng-class="{'has-error':repoForm.repoPlace.$error.required}")
              .form-group
                label.control-label.col-xs-5
                  | {{ 'sidebar.addRepo.ABBR' | translate }}
                  span.required-error(ng-if="repoForm.repoAbbr.$error.required")
                    br
                    | {{ 'general.REQUIRED' | translate }}
                .col-xs-7
                  input.form-control(type="text" name="repoAbbr" required ng-model="newRepo.repositoryAbbreviation" ng-class="{'has-error':repoForm.repoAbbr.$error.required}")
            .col-xs-6
              .form-group
                label.control-label.col-xs-5
                  | {{ 'sidebar.addRepo.DESCRIPTION' | translate }}
                .col-xs-7
                  textarea.form-control(ng-model="newRepo.repositoryDescription" rows="3")
    .search-form(ng-if='wrongName')
      .row
        .col-xs-12
          i.glyphicon.glyphicon-remove
          |  {{ 'sidebar.addRepo.WRONGNAME' | translate }}
    .search-form(ng-if='wrongAbbreviation')
      .row
        .col-xs-12
          i.glyphicon.glyphicon-remove
          |  {{ 'sidebar.addRepo.WRONGABBR' | translate }}
    .search-form
      form.form-horizontal
        .row
          .col-xs-8.col-xs-offset-4.btn-group
            button.btn.btn-default.btn-xs(
            ng-click='switchNew()'
            ng-if="!addNew")
              | {{ 'sidebar.addRepo.ADDNEW' | translate }}
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            button.btn.btn-primary.btn-xs(
            ng-click="saveRepo(newRepo)"
            ng-disabled="repoForm.$invalid")
              | {{ 'general.SAVE' | translate }}
  .row(ng-if="debug")
    .col-xs-12
      pre
        | {{niceJson(possibleRepo)}}
