div(ng-controller="delImgController")
  .modal-header
    h3.modal-title {{ 'singleAentity.DELIMGS' | translate }}
  .modal-body
    .content-right-panel
      | Click on the document to open and delete it
      .row
          .col-xs-12
            table.table.table-hover
              thead
                tr
                  th
                    | #
                  th
                    | {{ 'selectDe.TIPOLOGY' | translate }}
                  th
                    | {{ 'selectDe.DOCTITLE' | translate }}
                  th
                    | {{ 'selectDe.DOCDATE' | translate }}
              tbody
                tr.clickable(
                ng-repeat="docEntity in documentsToDel"
                ng-click="open(docEntity.documentId)")
                  th
                    | {{docEntity.documentId}}
                  th
                    | {{docEntity.typology}}
                  th
                    | {{docEntity.deTitle}}
                  th
                    span(ng-if="docEntity.date.docModernYear")
                      | {{docEntity.date.docModernYear}}
                    span(ng-if="!docEntity.date.docModernYear")
                      | {{docEntity.date.docYear}}                      
                    |  - {{docEntity.date.docMonth}} - {{docEntity.date.docDay}}
  .modal-footer
    button.btn.btn-xs.btn-primary(ng-click='cancel()')
      | Close