div(ng-controller="diffVersImageController")
  .modal-header
    h3.modal-title Different versions of the same image
  .modal-body
    .row.diff-versions.custom-scroll
      .col-xs-12(ng-if="!image.otherVersions.length")
        |  No versions.
      .col-xs-4.image#browse-arch-loc(ng-if="image.otherVersions.length" ng-repeat="version in image.otherVersions")
        //img(ng-src="{{version.filePath}}")
        .relative.diff
          img.manuscript-thumb(ng-src="{{version.filePath}}" ng-class="{viewing: version.uploadFileId == selectedImageId}")

          .edit-button.vertical-btns
            .vertical-btn.btn-group.pull-right(dropdown)
              button#btn-append-to-single-button.mti-5.btn.btn-xs.btn-default(type='button' title="Edit" dropdown-toggle)
                i.fa.fa-pencil
              ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='btn-append-to-single-button' ng-style="(($index + 1) % 3 === 1) && {'right':'auto'}")
                //li
                //  a.info(ng-click="goToSingle(version)")
                //    i(class="fa fa-info-circle" style="font-size: 16px; float: left; margin-top: 1px; margin-right: 5px; padding-left: 0; color: #a9a7a5;")
                //    | Open its Images
                li
                  a.info(ng-click="openInViewer(version)")
                    img.dropdown-icon(src="img/icons-new/show-image-icon-14x14.png" style="width: 14px;")
                    | {{'singleAentity.SHOWMAN' | translate}}
                li
                  a.info(ng-click="openInViewer(version); editMetadata(version)")
                    img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png" style="width: 14px;")
                    | {{'singleAentity.EDITMANMETA' | translate}}
                li
                  a.info(ng-click="goToSingle(version)")
                    i.glyphicon.glyphicon-book.ae-icon
                    | Go to the Images

          .folio-number-abs
            div(ng-if="version.folios[0].noNumb!==undefined || version.folios[1].noNumb!==undefined")
              span(ng-if="version.folios[0].noNumb")
                | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
              span(ng-if="version.folios[0].folioNumber")
                | {{version.folios[0].folioNumber}}&nbsp;
              span(ng-if="version.folios[0].folioNumber  && version.folios[0].rectoverso!=''")
                | {{version.folios[0].rectoverso}}
              span(ng-if="version.folios[1].noNumb")
                | / {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
              span(ng-if="version.folios[1].folioNumber")
                | / {{version.folios[1].folioNumber}}
              span(ng-if="version.folios[1].folioNumber  && version.folios[1].rectoverso!=''")
                | {{version.folios[1].rectoverso}}
            div(ng-if="version.folios[0].noNumb==undefined && version.folios[1].noNumb==undefined")
              span {{ 'docEntity.TOBENUMBERED' | translate }}
    .row
      .col-xs-7.col-xs-offset-5.btn-group
        button.btn.btn-default.btn-xs(ng-click="cancel()") {{ 'general.CANCEL' | translate }}
