.mailbox
  tabset.active
    tab(heading="Inbox" active="tabs[0].active" disable="true" ng-click="changeTab(0)")
      span.loading.text-center(style="display: block; width: 100px; margin: 0 auto; padding: 1px 10px 1px 0;" ng-if="!inboxMessages.length && noInboxMessages == false")
      div.text-center.no-messages(ng-if="noInboxMessages == true")
        | {{ 'messaging.NOMESG' | translate }}
      table.table.table-hover.table-striped(ng-if="inboxMessages.length")
        thead
          tr
            th.text-center(style="width: 10%")
              input.middle(type="checkbox" id="selectAllInbox" ng-click="selectAllInboxMessages()" ng-model="isAllInboxSelected")
              label.text-uppercase.middle(for="selectAllInbox") select all
            th(style="width: 45%")
              | {{ 'messaging.FROM' | translate }}
            th
              | {{ 'messaging.MESSAGE' | translate }}
        tbody
          tr.repeated-item(ng-repeat="inboxMsg in inboxMessages")
            td.text-center
              input(type="checkbox" ng-change="inboxMsgSelected()" name="inboxCheckbox" ng-model="inboxMsg.selected")
            td(ng-click="selectMessage(inboxMsg)")
              span(ng-if="inboxMsg.readDate.length && inboxMsg.readDate != null") {{ inboxMsg.from }}
              span.unreadMsg(ng-if="inboxMsg.readDate == null") {{ inboxMsg.from }}
            td(ng-click="selectMessage(inboxMsg)")
              span(ng-if="inboxMsg.readDate.length" ng-bind-html="inboxMsg.messageSubject")
              span.unreadMsg(ng-if="inboxMsg.readDate == null" ng-bind-html="inboxMsg.messageSubject")
          //- tr.noHoverRow(ng-if="!totalInboxMsgCount.length")
          //-   td.text-center.noMsgText(colspan="3")
          //-     | There are no incoming messages!
          tr.noHoverRow
            td(colspan="3")
              button.btn.btn-default.text-uppercase(ng-click="deleteSelectedInboxMessages()" data-name="delInboxSelMsg")
                | {{ 'messaging.DELETE' | translate }}
              //- button.btn.btn-default.text-uppercase(ng-click="setSelectedInboxMessagesRead()" data-name="markInboxMsgAsRead")
              //-   | mark as read
      pagination(ng-if="inboxMessages.length" ng-cloak max-size="5" class="pagination-sm" boundary-links="true" total-items="totalInboxMsgCount" ng-model="currentPages.currentPageInbox" ng-change="inboxPageChanged()")
    tab(heading="Outbox" active="tabs[1].active" disable="true" ng-click="changeTab(1)")
      span.loading.text-center(style="display: block; width: 100px; margin: 0 auto; padding: 1px 10px 1px 0;" ng-if="!outboxMessages.length && noOutboxMessages == false")
        | {{ 'messaging.LOADING' | translate }}
      div.text-center.no-messages(ng-if="noOutboxMessages == true")
        | {{ 'messaging.NOMESG' | translate }}
      table.table.table-hover.table-striped(ng-if="outboxMessages.length")
        thead
          tr
            th.text-center(style="width: 10%")
              input.middle(type="checkbox" id="selectAllOutbox" ng-click="selectAllOutboxMessages()" ng-model="isAllOutboxSelected")
              label.text-uppercase.middle(for="selectAllOutbox") select all
            th(style="width: 45%")
              | {{ 'messaging.SENTTO' | translate }}
            th
              | {{ 'messaging.MESSAGE' | translate }}
        tbody
          tr.repeated-item(ng-repeat="outboxMsg in outboxMessages")
            td.text-center
              input(type="checkbox" ng-change="outboxMsgSelected()" name="outboxCheckbox" ng-model="outboxMsg.selected")
            td(ng-click="selectMessage(outboxMsg)")
              span(ng-if="outboxMsg.readDate.length && outboxMsg.readDate != null") {{ outboxMsg.to }}
              span.unreadMsg(ng-if="outboxMsg.readDate == null") {{ outboxMsg.to }}
            td(ng-click="selectMessage(outboxMsg)")
              span(ng-if="outboxMsg.readDate.length" ng-bind-html="outboxMsg.messageSubject")
              span.unreadMsg(ng-if="outboxMsg.readDate == null" ng-bind-html="outboxMsg.messageSubject")
          //- tr.noHoverRow(ng-if="!totalInboxMsgCount.length")
          //-   td.text-center.noMsgText(colspan="3")
          //-     | There are no outgoing messages!
          tr.noHoverRow
            td(colspan="3")
              button.btn.btn-default.text-uppercase(ng-click="deleteSelectedOutboxMessages()" data-name="delOutboxSelMsg")
                | {{ 'messaging.DELETE' | translate }}
              //- button.btn.btn-default.text-uppercase(ng-click="setSelectedOutboxMessagesRead()" data-name="markOutboxMsgAsRead")
              //-   | mark as read
      pagination(ng-if="outboxMessages.length" ng-cloak max-size="5" class="pagination-sm" boundary-links="true" total-items="totalOutboxMsgCount" ng-model="currentPages.currentPageOutbox" ng-change="outboxPageChanged()")
    tab(heading="Compose" active="tabs[2].active" disable="true" ng-click="changeTab(2)")
      table.composeTable
        tbody
          tr
            td.text-right
              | {{ 'messaging.TO' | translate }}:
            td
              input.trix-input(type="text" ng-model="messageBody.recipient" ng-class="{loading:loading}" ng-change="getUserAccount(messageBody.recipient)")
              div.accountsList.table-results.top-move-table(ng-if="userAccounts.length && !accountSelected")
                  table.table.table-hover
                      thead.table-header
                          tr
                              th {{ 'messaging.NAME' | translate }}
                              th {{ 'messaging.LASTNAME' | translate }}
                              th {{ 'messaging.ACCOUNT' | translate }}
                      tbody
                          tr.placeRow(ng-repeat="acc in userAccounts" ng-click="addAccount(acc)")
                              td {{ acc.firstName }}
                              td {{ acc.lastName }}
                              td {{ acc.account }}
          tr
            td(style="position: relative; top: 5px").text-right
              | {{ 'messaging.SUBJECT' | translate }}
            td
              input.trix-input(type="text" ng-model="messageBody.subject" style="margin-top: 10px")
      trix-editor.composeTabMargin(angular-trix ng-model="messageBody.msgText" ng-model-options="{ updateOn: 'blur' }" trix-change="trixChange(e, editor);")
      button.btn.btn-primary.btn-center.btn-left.composeTabMargin(ng-click="sendMessage()" ng-disabled="!accountSelected")
        | {{ 'messaging.SENDBTN' | translate }}
      button.btn.btn-primary.btn-center.composeTabMargin(ng-click="closeComposeMessage(0)")
        | {{ 'messaging.CANCELBTN' | translate }}
    tab(ng-repeat="msgTab in msgTabs track by $index" active="msgTab.active")
      tab-heading
        | {{ msgTab.messageSubject | limitTo: 18 }}...
        span.btn.mailboxCloseBtn(ng-click="closeThisMsg($event, msgTab)")
          | x
      table.composeTable
        tbody
          tr
            td.label-top
              | {{ 'messaging.FROM' | translate }}:
            td.label-top
              | {{ msgTab.from.length != undefined ? msgTab.from : msgTab.to }}
          tr
            td.label-top
              | {{ 'messaging.SUBJECT' | translate }}
            td(ng-bind-html="msgTab.messageSubject")
          tr
            td.label-top
              | {{ 'messaging.MESSAGE' | translate }}:
            td
              | {{ msgTab.sentDate | date }}
              div(ng-bind-html="trustHtmlMessage(msgTab.messageText)")
      button.btn.btn-primary.composeTabMargin(ng-click="replyMessage(msgTab)")
        | {{ 'messaging.RPLBTN' | translate }}
      button.btn.btn-default.composeTabMargin(ng-click="closeMessage(msgTab)")
        | {{ 'messaging.CLSBTN' | translate }}
      button.btn.btn-default.composeTabMargin(ng-click="deleteMessage(msgTab)")
        | {{ 'messaging.DELETEBTN' | translate }}
    tab(heading="X" title="Close all messages" style="float: right" ng-show="msgTabs.length" ng-click="closeAllMessages()")

style(type='text/css').
    .red {color: darkred;}
    .accountsList {max-height: 200px; overflow: auto;}
    .top-move-table {position: relative; top: 15px;}
    .block {display: block;}
    .label-top {vertical-align: top}