div(ng-controller="requestAccessController")
  .modal-header
    h3 {{ 'privateDocs.modal.TITLE' | translate }}
  .modal-body
    //
    // SEARCH
    //
    form.form-horizontal
      .row.form-group
        .col-xs-3.col-xs-offset-1
          label.control-label {{ 'privateDocs.modal.LABEL' | translate }}
        .col-xs-6
          .input-group
            textarea.form-control(
            type="text"
            placeholder="{{ 'privateDocs.modal.PLACEHOLDER' | translate }}"
            ng-model="message"
            rows="10")
    form.form-horizontal
      .form-group
        .col-sm-8.col-sm-offset-4.btn-group
          button.btn.btn-primary.btn-xs(
          ng-disabled="!message"
          ng-click="completeAndSendMessage()")
            | {{ 'messaging.SENDBTN' | translate }}
          button.btn.btn-default.btn-xs(ng-click="cancel()")
            | {{ 'general.CANCEL' | translate }}
            
