//.comments-block{max-width:1170px; margin:auto;}
.comments-block {
  img {
    max-width: 100%;
  }
  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    //float: left;
    overflow: hidden;
    //width: 40%;
    border-right: 1px solid #c4c4c4;
    padding-left: 0;
    padding-right: 0;
  }
  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }
  .top_spac {
    margin: 20px 0 0;
  }

  //.recent_heading {float: left; width:40%;}
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    //padding:
  }
  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
  }

  .recent_heading h4 {
    color: #8a5b72;
    font-size: 21px;
    margin: auto;
    a {
      font-family: 'Roboto', helvetica, arial, sans-serif;
    }
  }
  .srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
  }
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
  }

  .chat_ib h5 {
    font-size: 14px;
    color: #464646;
    margin: 0 0 8px 0;
  }
  .chat_ib h5 a {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    text-decoration: underline;
    font-weight: 500;
  }
  .chat_ib h5 span {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 13px;
    float: right;
  }
  .chat_ib p {
    font-size: 14px;
    color: #646464;
    margin: auto
  }
  .chat_img {
    float: left;
    width: 11%;
  }
  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people {
    overflow: hidden;
    clear: both;
  }
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px;
  }
  .inbox_chat {
    height: 576px;
    overflow-y: scroll;
  }

  .active_chat {
    background: #e0e0e0 none repeat scroll 0 0 !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .chat_people {
      opacity: 1 !important;
    }
  }

  .comments-count {
    position: absolute;
    bottom: 2px;
    right: 20px;
    color: #8a5b72;
  }

  .incoming_msg {
    margin: 20px 0;
    &:first-child {
      margin-top: 0px;
    }
  }

  .child_comments {
    overflow: hidden;
  }

  .incoming_child_msg {
    float: right;
    width: 92%;
  }

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .text_comment {
    background: #e0e0e0 none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    padding: 5px 10px 5px 12px;
    width: 100%;

    .user_name {
      margin-bottom: 5px;
      width: 100%;
      display: table;

      .name {
        display: table-cell;
        width: 98%;
      }

      .comment-actions {
        display: table-cell;
        a.info {
          display: inline-block;
          text-decoration: none;
          //padding: 2px;
          padding: 2px 5px;
          margin-top: 1px;
          width: 100%;
          //border-bottom: 1px solid #47323c;
          &:hover {
            box-shadow: 0 0 5px #000000;
          }
        }
      }

      a.user-full-name {
        text-decoration: underline;
      }
    }
    p {
      margin: 0;
    }
  }

  .time-and-actions {
    .time_date {
      margin: 8px 0 0;
      display: inline-block;
      float: left;
    }
    .reply-delete {
      margin: 8px 0 0;
      display: inline-block;
      float: right;
      a:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .full_width_msg {
    width: 100%;
  }
  .received_withd_msg {
    width: 57%;
  }
  .mesgs {
    //float: left;
    padding: 30px 15px 0 25px;
    //width: 60%;
  }

  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }
  .sent_msg {
    float: right;
    width: 46%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }

  .type_msg .basic-search textarea {
    min-height: 48px;
    max-height: 48px;
  }

  .type_msg .basic-search button {
    margin-bottom: 0;
  }

  .autocomplete-users {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 60px;
    padding-left: 0;
    margin-bottom: 0;
    .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .list-group-item.active {
      a:hover {
        color: #47323c;
      }
    }
  }

  .ui-mention-container {
    position: relative;
    [ui-mention] {
      //min-height: 100px;
      background: none;
      position: relative;
      z-index: 2;
      //box-sizing: content-box; // Prevent scrollbar for autogrow
    }
    .ui-mention-highlight {
      white-space: pre-wrap;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 61px;
      background: white;
      color: rgba(0,0,0,0);
      z-index: 1;
      span {
        //border-radius: 2px;
        //background-color: lightblue;
        //border: 1px solid blue;
        //padding: 0 2px;
        //margin: -1px -3px;
      }
    }
    .dropdown {
      position: absolute;
      //top: 100%;
      left: 0;
      bottom: 40px;
    }
  }

  .edit-comment .ui-mention-highlight {
    right: 113px;
  }


  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  //.messaging { padding: 0 0 50px 0;}
  .msg_history {
    height: 467px;
    overflow-y: auto;
  }

  .only-messages {
    height: 546px;
  }

  .main-comment {
    background: #d3ded9;
  }

  .deleted-comment {
    .chat_people,
    .incoming_msg_img,
    .text_comment .user_name .name,
    .text_comment p,
    .time-and-actions .time_date span.time-date {
      opacity: 0.5;
    }
  }

  span.action-history {
    float: none;
    margin-left: 5px;
    font-weight: normal;
  }

  .action-edited {
    color: #adadad;
  }

  .action-deleted {
    color: red;
  }

  .action-report {
    color: red;
    margin-left: 5px;
    cursor: pointer;
    &:hover {
      color: #cc6666;
    }
  }

  .trash-icon-comments {
    color: #646464;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: text-top;
  }

  //.no-threads-message {
  //  display: flex;
  //  justify-content: center;
  //  flex-direction: column;
  //  text-align: center;
  //  height: 550px;
  //}

  .no-threads-message, .no-comments-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 576px;
  }

  .mention {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    &:hover {
      color: #00b2ec;
    }
  }

  .replied-to-user {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .comment-error {
    position: absolute;
    left: 0;
  }

  .form-control-custom {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    resize: vertical;
    margin-bottom: 0;
    border-color: #d4d3d2;
    color: #8a5b72;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 12px;
    height: 24px;
    line-height: 1.5;
    background-color: #ffffff;
    background-image: none;
    //border: 1px solid #73837d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
      border: 2px solid #73837d;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  .highlight-comment-inf {
    background: #fdfdb5 !important;
  }

  .highlight-comment {
    -webkit-animation: highlight-replied 5s 1; /* Safari 4.0 - 8.0 */
    animation: highlight-replied 5s 1;
  }

  @keyframes highlight-replied {
    from {
      background: #fdfdb5;
    }
    to {
      background: #ebebeb;
    }
  }

  @media (max-width: 991px) {
    .inbox_people {
      border-right: none;
      border-bottom: 1px solid #c4c4c4;
    }

    .inbox_chat {
      height: 300px;
    }

    .msg_history {
      height: 400px;
    }

    .no-threads-message, .no-comments-message {
      height: 300px;
    }
  }
}

.new-question {

  textarea {
    min-height: 82px;
    background: #222222 !important;
  }

  .autocomplete-users {
    //position: absolute;
    //bottom: 48px;
    //left: 0;
    //right: 60px;
    padding-left: 0;
    margin-bottom: 0;
    .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .list-group-item.active {
      a:hover {
        color: #47323c;
      }
    }
  }

  .ui-mention-container {
    position: relative;
    [ui-mention] {
      //min-height: 100px;
      background: none;
      position: relative;
      z-index: 2;
      //box-sizing: content-box; // Prevent scrollbar for autogrow
    }
    .ui-mention-highlight {
      white-space: pre-wrap;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      right: 15px;
      background: rgba(0,0,0,0);
      color: rgba(0,0,0,0);
      z-index: 0;
      span {
        //border-radius: 2px;
        //background-color: lightblue;
        //border: 1px solid blue;
        //padding: 0 2px;
        //margin: -1px -3px;
      }
    }
    .dropdown {
      position: absolute;
      //top: 100%;
      left: 0;
      bottom: 40px;
    }
  }

}