.col-xs-12.comments-block#comments
    //.messaging
    .row.inbox_msg
        .col-md-4.col-sm-12.inbox_people
            .headind_srch
                .recent_heading
                    h4(style="color: #8a5b72;") COMMENTS
                        a.btn.btn-success.pull-right.mb-0(ng-click="addNewQuestion()") Add A New Comment
                        //a.btn.btn-success.pull-right(ng-if="!createNewQuestion" ng-click="addNewQuestion()") Add A New Comment
                        //a.btn.btn-success.pull-right(ng-if="createNewQuestion && comments.length" ng-click="cancelNewQuestion()") Cancel

            .inbox_chat
                .no-threads-message(ng-if="!comments.length") No comments
                .chat_list.cursor-pointer.relative(ng-repeat="comment in comments" ng-if="comments.length" ng-click="setCurrentQuestion(comment)" ng-class="{active_chat: comment.id == activeQuestion.id, 'deleted-comment': comment.logicalDelete}")
                    .chat_people
                        .chat_img
                            img.cursor-pointer(ng-click="goToUserProfile(comment.username)" ng-src='{{comment.photo}}')
                        .chat_ib
                            h5
                                a(ng-click="goToUserProfile(comment.username)") {{fullName(comment)}}
                                span.chat_date {{comment.createdAt}}
                            p
                                span(ng-bind-html="comment.text | limitTo: 50 | mentionReplace:comment.mentions")
                                | {{comment.text.length < 50 ? '' : ' ...'}}
                                //| {{comment.text | limitTo: 50}}{{comment.text.length < 50 ? '' : ' ...'}}
                                span.action-history.action-deleted(ng-if="comment.logicalDelete && (comment.username == me.account || secAuthorize(['ADMINISTRATORS', 'ONSITE_FELLOWS', 'COMMUNITY_COORDINATORS']))") (deleted)
                    .comments-count
                        | {{comment.childrenCount}} {{comment.childrenCount == 1 ? 'reply' : 'replies'}}

        //.col-md-8.col-sm-12.mesgs(ng-if="activeQuestion && !createNewQuestion")
        .col-md-8.col-sm-12.pl-0.pr-0(ng-if="activeQuestion")
            //.msg_history(scroll-to-bottom="childrenComments")
            .headind_srch
                .recent_heading
                    h4(style="color: #8a5b72;") DISCUSSION
            .mesgs
                .msg_history(ng-class="{'only-messages': activeQuestion.logicalDelete}")

                    // Question (parent comment)
                    .incoming_msg(ng-class="{'deleted-comment': activeQuestion.logicalDelete}")
                        .incoming_msg_img
                            img.cursor-pointer(ng-click="goToUserProfile(activeQuestion.username)" ng-src='{{activeQuestion.photo}}', alt='{{activeQuestion.username}}')
                        .received_msg
                            .full_width_msg
                                .text_comment.main-comment(ng-attr-id="child-comment-{{activeQuestion.id}}" ng-class="{'deleted-comment': activeQuestion.logicalDelete}")
                                    .user_name
                                        .name
                                            a.user-full-name(ng-click="goToUserProfile(activeQuestion.username)") {{fullName(activeQuestion)}}

                                        .comment-actions(ng-if="canModify(activeQuestion)" dropdown)
                                            a#comment-actions-button(type='button' title="Comment actions" dropdown-toggle)
                                                i.glyphicon.glyphicon-option-horizontal
                                            ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='comment-actions-button', style="min-width: 80px;right: 0;left: auto;top: 16px;")
                                                li(ng-if="!activeQuestion.logicalDelete && (activeQuestion.username == me.account || secAuthorize(['ADMINISTRATORS']))")
                                                    a.info(ng-click="editSomeComment(activeQuestion)")
                                                        img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
                                                        | Edit
                                                li(ng-if="!activeQuestion.logicalDelete")
                                                    a.info(ng-click="deleteQuestion()")
                                                        img.dropdown-icon(src="img/icons-new/dropdown-delete-icon-14x14.png")
                                                        | Delete
                                                li(ng-if="activeQuestion.logicalDelete && activeQuestion.canUndelete")
                                                    a.info(ng-click="undeleteQuestion()")
                                                        img.dropdown-icon(src="img/icons-new/dropdown-public-icon-14x14.png")
                                                        | Undelete
                                    p
                                        //i.glyphicon.glyphicon-trash.trash-icon-comments(ng-if="activeQuestion.logicalDelete")
                                        span(ng-bind-html="activeQuestion.text | mentionReplace:activeQuestion.mentions")
                                        //| {{activeQuestion.text}}
                                        span.action-history.action-edited(ng-if="activeQuestion.modifiedAt && !activeQuestion.logicalDelete") (edited)
                                        span.action-history.action-deleted(ng-if="activeQuestion.logicalDelete && (activeQuestion.username == me.account || secAuthorize(['ADMINISTRATORS', 'ONSITE_FELLOWS', 'COMMUNITY_COORDINATORS']))") (deleted)
                                .time-and-actions
                                    .time_date
                                        span.time-date {{activeQuestion.createdAt}}
                                        span.action-report(ng-if="activeQuestion.canReport" ng-click="reportComment(activeQuestion, 'question')") Report

                    // Question answers (child comments)
                    .incoming_msg.child_comments(ng-repeat="childComment in childrenComments")
                        .incoming_child_msg(ng-class="{'deleted-comment': childComment.logicalDelete}")
                            .incoming_msg_img
                                img.cursor-pointer(ng-click="goToUserProfile(childComment.username)" ng-src='{{childComment.photo}}', alt='{{childComment.userName}}')
                            .received_msg
                                .full_width_msg
                                    .text_comment(ng-attr-id="child-comment-{{childComment.id}}")
                                        .user_name
                                            .name
                                                a.user-full-name(ng-click="goToUserProfile(childComment.username)") {{fullName(childComment)}}
                                                span.action-history.action-edited(ng-if="childComment.repliedTo")
                                                    | replied to&nbsp;
                                                    span.replied-to-user(
                                                        ng-if="!childComment.repliedTo.logicalDelete || childComment.repliedTo.logicalDelete && secAuthorize(['ADMINISTRATORS', 'ONSITE_FELLOWS', 'COMMUNITY_COORDINATORS'])"
                                                        ng-click="goToReplyComment(childComment.repliedTo)")
                                                        | {{fullName(childComment.repliedTo)}}
                                                    span(ng-if="childComment.repliedTo.logicalDelete && !secAuthorize(['ADMINISTRATORS', 'ONSITE_FELLOWS', 'COMMUNITY_COORDINATORS'])") deleted comment


                                            .comment-actions(ng-if="canModify(childComment)" dropdown)
                                                a#ch-comment-actions-button(type='button' title="Comment actions" dropdown-toggle)
                                                    i.glyphicon.glyphicon-option-horizontal

                                                ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='cch-comment-actions-button', style="min-width: 80px;right: 0;left: auto;top: 16px;")
                                                    li(ng-if="!childComment.logicalDelete && !activeQuestion.logicalDelete && (childComment.username == me.account || secAuthorize(['ADMINISTRATORS']))")
                                                        a.info(ng-click="editSomeComment(childComment)")
                                                            img.dropdown-icon(src="img/icons-new/dropdown-edit-icon-14x14.png")
                                                            | Edit
                                                    li(ng-if="!childComment.logicalDelete")
                                                        a.info(ng-click="deleteChildComment(childComment)")
                                                            img.dropdown-icon(src="img/icons-new/dropdown-delete-icon-14x14.png")
                                                            | Delete
                                                    li(ng-if="childComment.logicalDelete && childComment.canUndelete")
                                                        a.info(ng-click="undeleteChildComment(childComment)")
                                                            img.dropdown-icon(src="img/icons-new/dropdown-public-icon-14x14.png")
                                                            | Undelete

                                        p
                                            //span.replied-to-user(ng-if="childComment.repliedTo" ng-click="goToReplyComment(childComment.repliedTo)") {{fullName(childComment.repliedTo)}}
                                            //span(ng-if="childComment.repliedTo") ,&nbsp;
                                            span(ng-bind-html="childComment.text | mentionReplace:childComment.mentions")
                                                //| {{childComment.text}}
                                            span.action-history.action-edited(ng-if="childComment.modifiedAt && !childComment.logicalDelete") (edited)
                                            span.action-history.action-deleted(ng-if="childComment.logicalDelete && (childComment.username == me.account || secAuthorize(['ADMINISTRATORS', 'ONSITE_FELLOWS', 'COMMUNITY_COORDINATORS']))") (deleted)
                                    .time-and-actions
                                        .time_date
                                            span.time-date {{childComment.createdAt}}
                                            span.action-report(ng-if="childComment.canReport" ng-click="reportComment(childComment, 'child')") Report
                                        .reply-delete(ng-if="!childComment.logicalDelete && !activeQuestion.logicalDelete")
                                            a(ng-if="childComment.username != me.account" ng-click="replyChildComment(childComment)") Reply
                                            //a(ng-if="childComment.username == me.account" ng-click="deleteChildComment(childComment)") Delete

                .type_msg(ng-if="!activeQuestion.logicalDelete")
                    form.basic-search(name="chCommentForm" novalidate)
                        .form-group(style="margin: 15px 0;")
                            .input-group.ui-mention-container(ng-class="{'edit-comment': editComment}")
                                //textarea.form-control.comment-input(ng-if="!editComment" ng-model="commentMessage.text" name="commentText" rows="2" placeholder="Type a comment" required ng-maxlength="2000" ng-change="checkCommentInput()" ng-click="getCursorPos($event)" ng-keyup="getCursorPos($event)" enter-submit="sendChildComment()" ng-style="editComment && {'background': '#fdfdb5'}")
                                textarea.form-control.comment-input(
                                    ng-model="commentMessage.text"
                                    name="commentText"
                                    rows="2"
                                    placeholder="Type a comment"
                                    required
                                    ng-maxlength="2000"
                                    ng-change="checkCommentInput()"
                                    enter-submit="submitCommForm($mention.mentions)"
                                    ng-style="editComment && {'background': '#fdfdb5'}"
                                    ui-mention=''
                                    mention-example=''
                                )
                                .ui-mention-highlight
                                ul.autocomplete-users(ng-if='$mention.choices.length')
                                    li.list-group-item.cursor-pointer(
                                        ng-repeat='choice in $mention.choices'
                                        ng-click='$mention.select(choice)'
                                        ng-class='{active: $mention.activeChoice == choice}'
                                        ng-mouseover='$mention.activeChoice = choice'
                                    )
                                        a {{::choice.firstName}} {{::choice.lastName}} ({{::choice.account}})
                                button.btn.input-group-addon.small-addon.no-outline(ng-if="!editComment" ng-click="sendChildComment($mention.mentions)" type="submit" ng-disabled="chCommentForm.$invalid") Reply
                                button.btn.input-group-addon.small-addon.no-outline(ng-if="editComment"  ng-click="saveChanges($mention.mentions)" type="submit" ng-disabled="chCommentForm.$invalid") Save
                                button.btn.input-group-addon.small-addon.no-outline(ng-if="editComment"  ng-click="cancelEdit()") Cancel
                            .required-error.comment-error(ng-if="chCommentForm.commentText.$error.maxlength")
                                | Max. 2000 characters
                            .required-error.comment-error(ng-if="errorMsg")
                                | {{errorMsg}}

        .col-md-8.col-sm-12.pl-0.pr-0(ng-if="!activeQuestion")
            .headind_srch
                .recent_heading
                    h4(style="color: #8a5b72;") DISCUSSION
            .no-comments-message No discussion

