div(ng-controller="addPersonController")
  .modal-header(ng-show="personData.gender != 'X'") 
    h3.modal-title {{ 'addPerson.TITLE' | translate }}
  .modal-body
    div(ng-show="!addingPerson && !personCreated")
      .row
        .col-xs-12
          span.alertAdd {{'modal.ALERT' | translate}}
          br
      .row 
        .col-xs-12
          span.sureAdd {{'modal.SURE' | translate}}
          br
      .row
        .col-xs-12
          .btn-group.bottom-buttons
            button.btn.btn-xs.btn-warning(ng-click="confirm()")
              | {{'general.YES' | translate}}
            button.btn.btn-xs.btn-primary(ng-click="cancel()")
              | {{'general.CANCEL' | translate}}
    div(ng-show="personCreated")
      .row
        .col-xs-6.col-xs-offset-3
          h4 {{ 'addPerson.NEWBIOCREATED' | translate }}
          br
          .btn-group
            button.btn.btn-xs.btn-primary(ng-click='cancel()' ng-if="newlink")
              | {{ 'addPerson.OKANDCLOSE' | translate }} 
            button.btn.btn-xs.btn-default(ng-click='goToPerson()' ng-if="newlink" ng-show="id")
              | {{ 'addPerson.GOTOBIO' | translate }}
    div(ng-show="addingPerson && !personCreated")
      .row
        .col-xs-12
          form.form-horizontal(name="personForm")
              .row
                .col-xs-7
                  .form-group
                    label.control-label.col-sm-3
                      | {{ 'addPerson.GENDER' | translate }}
                      | &nbsp;
                      span.glyphicon.glyphicon-question-sign(popover="{{ 'addPerson.GENDERH' | translate }}" popover-trigger="mouseenter")
                      | &nbsp;
                      span.required-error(ng-if="personForm.gender.$error.required")
                        br
                        | {{ 'general.REQUIRED' | translate }}
                    .col-sm-9
                      select.form-control(type="text" name="gender" required ng-model="newPerson.gender" ng-class="{'has-error':personForm.gender.$error.required}")
                        option(value="M") M 
                        option(value="F") F
                        option(value="X") Organization(X)
              //- If Gender is M or F (Normal Biographical Record)
              .row(ng-if="newPerson.gender != 'X'")
                .col-xs-7
                  .form-group
                    label.control-label.col-sm-3
                      | {{ 'addPerson.NAME' | translate }}
                      | &nbsp;
                      span.glyphicon.glyphicon-question-sign(popover="{{ 'addPerson.NAMEH' | translate }}" popover-trigger="mouseenter")
                      | &nbsp;
                      span.required-error(ng-if="personForm.personName.$error.required")
                        br
                        | {{ 'general.REQUIRED' | translate }}
                    .col-sm-9
                      input.form-control(type="text" name="personName" ng-required="!newPerson.lastName.length" ng-model="newPerson.firstName" ng-class="{'has-error':personForm.personName.$error.required}")
                .col-xs-5
                  .form-group
                    label.control-label.col-sm-5
                      | {{ 'addPerson.SUCNUM' | translate }}
                      | &nbsp;
                      span.glyphicon.glyphicon-question-sign(popover="{{ 'addPerson.SUCNUMH' | translate }}" popover-trigger="mouseenter" popover-placement="bottom")
                      | &nbsp;
                    .col-sm-7
                      input.form-control(type="text" name="sucNum" ng-model="newPerson.sucNum")
              .row
                .col-xs-7
                  //- If Gender is X (Organization Record)
                  .form-group(ng-if="newPerson.gender != 'X'")
                    label.control-label.col-sm-3
                      | {{ 'addPerson.FAMNAM' | translate }}
                      | &nbsp;
                      span.glyphicon.glyphicon-question-sign(popover="{{ 'addPerson.FAMNAMH' | translate }}" popover-trigger="mouseenter" popover-placement="bottom")
                      | &nbsp;
                      span.required-error(ng-if="personForm.familyName.$error.required")
                        br
                        | {{ 'general.REQUIRED' | translate }}
                    .col-sm-9
                      input.form-control(type="text" name="familyName" ng-required="!newPerson.firstName.length" ng-model="newPerson.lastName" ng-class="{'has-error':personForm.personName.$error.required}")
                  .form-group(ng-if="newPerson.gender == 'X'")
                    label.control-label.col-sm-3
                      | {{ 'addPerson.ORGNAM' | translate }} 
                      | &nbsp;  
                      span.glyphicon.glyphicon-question-sign(popover="{{ 'addPerson.ORGNAMH' | translate }}" popover-trigger="mouseenter")
                        | &nbsp; 
                        span.required-error(ng-if="personForm.familyName.$error.required")
                          br
                          | {{ 'general.REQUIRED' | translate }}
                    .col-sm-9
                      input.form-control(type="text" name="familyName" required ng-model="newPerson.lastName" ng-class="{'has-error':personForm.personName.$error.required}")                           
                  
                //- If Gender is M or F (Normal Biographical Record)
                .col-xs-5(ng-if="newPerson.gender != 'X'")
                  .form-group
                    label.control-label.col-sm-5
                      | {{ 'addPerson.PREFIX' | translate }}
                      | &nbsp;
                      span.glyphicon.glyphicon-question-sign(popover="{{ 'addPerson.PREFIXH' | translate }}" popover-trigger="mouseenter" popover-placement="bottom")                    
                      | &nbsp;
                    .col-sm-7
                      input.form-control(type="text" name="prefix" ng-model="newPerson.lastPrefix")
              .row
                .col-xs-7
                  .form-group
                    .col-sm-9.col-sm-offset-3.btn-group
                      button.btn.btn-xs.btn-primary(ng-click='addNewPerson()' ng-disabled="personForm.$invalid" ng-if="!newlink")
                        span() {{ 'addPerson.TITLE' | translate }}
                      button.btn.btn-xs.btn-primary(ng-click='goToPerson()' ng-if="newlink" ng-show="id")
                        span() {{ 'addPerson.GO' | translate }}
                      button.btn.btn-xs.btn-default(ng-click='cancel()' ng-if="newlink")
                        | {{ 'general.CLOSE' | translate }}                        
