div
  .form-group
    .col-xs-12
      label.search-label(for="archive") Person name
      fieldset.form-group
        .col-xs-4
          input.form-control(type='text', placeholder="search here..." ng-model='tempName' ng-change="getPeople(tempName)" ng-class="{loading:loading}")
      fieldset.form-group(ng-if="searchTableOpen" click-outside="closeTable()")
        .col-xs-8.table-results(style="z-index: 200")
          table.table.table-hover
            thead.table-header(ng-if="possiblePeople")
              td
                | {{ 'deMeta.NAME' | translate }}
              td
                | {{ 'deMeta.BYEAR' | translate }}
              td
                | {{ 'deMeta.DYEAR' | translate }}
              td
                | {{ 'deMeta.GENDER' | translate }}
              td
                | {{ 'deMeta.ACTSTART' | translate }}
              td
                | {{ 'deMeta.ACTEND' | translate }}
            tbody
              tr(ng-repeat="person in possiblePeople" ng-click="selectPerson(person)")
                td
                  | {{person.mapNameLf}}
                td
                  | {{person.bornYear}}
                td
                  | {{person.deathYear}}
                td
                  | {{person.gender}}
                td
                  | {{person.activeStart}}
                td
                  | {{person.activeEnd}}
              tr(ng-if="!possiblePeople")
                td(colspan="6")
                  | {{ 'people.NOPEOPLE' | translate }}
                  br
                  button.btn.btn-default(ng-click="addNewPeople()")
                    |{{'addPerson.TITLE' | translate}}
                    
