.bio-people-results
  #grid1(ui-grid="{ data: placeDataTable, columnDefs: [{name: 'Field Name',field: 'propertyName'},{name: 'Value',field: 'propertyValue'}]}" gridOptions class="grid" ng-if="false")
  .buttons
    .open-close
      button.btn.btn-default.mr-5(ng-click="switchAllPanels()")
        span(ng-if="allClosed")
          | Open all&nbsp;
          //i.ion-android-arrow-dropdown
          span.glyphicon.glyphicon-chevron-down
        span(ng-if="!allClosed")
          | Close all&nbsp;
          //i.ion-android-arrow-dropdown.flip
          span.glyphicon.glyphicon-chevron-up
      a.btn.btn-default(ng-click="gotoComments()")
        | Comments
  .row.col-xs-12.text-uppercase(ng-if="placeData.logicalDelete == true && !secAuthorize(['ADMINISTRATORS'])" style="color: red")
    | this is a deleted record
  .row(ng-if="placeData.logicalDelete == false || placeData.logicalDelete == true && secAuthorize(['ADMINISTRATORS'])")
    .col-md-6.col-xs-12
      .document-details
        //---------------
        // GENERAL DATA
        //---------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[0].open' ng-if="placeId")
            accordion-heading
              .panel-title-desc
                | {{sections[0].name}} - {{ title }}
              i.glyphicon.pull-right.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
            .content
              .row
                .col-md-7
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title Name
                        //img.pull-right.edit-icon-small(src="img/icons-new/edit-icon-17x17.png" ng-click="switchSummary()")
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[0].edit") {{ placeNameFull }}
                          input.form-control(type="text" ng-model="placeData.placeName" ng-if="sections[0].edit")
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title Place type
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[0].edit") {{ placeType }} 
                          select.form-control(type="text" ng-model="placeData.plType" ng-if="sections[0].edit" ng-options="item.id as item.description for item in placeTypes")
                  .single-field(ng-if="placeData.prefFlag=='V'")
                    .row
                      .col-xs-12
                        label.inner-title.big-label This is a place variant
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content
                            | {{placeData.placeName}} is a Variant name.
                            br
                            button.btn.btn-big.btn-primary(ui-sref="mia.bio-place({id: '{{placeData.principalPlaceId}}'})")
                              | Click here
                            br
                            | to visualize the principal place page
                .col-md-5.right-col
                  place-sys-info-dir(info="placeData")
                  .people-delete-button(ng-if="$stateParams.id")
                    actions-history-dir(record-id="placeData.placeId" record-type="'GEO'")
                    div
                      button.btn.btn-success(ng-if="!placeData.logicalDelete && secAuthorize(['ADMINISTRATORS']) && placeData.prefFlag!='V'" ng-click="deletePlace()" id="focusOffed")
                        | {{ 'places.DELETE' | translate }}
                    div
                      button.btn.btn-success(ng-if="placeData.logicalDelete && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']) && placeData.prefFlag!='V'" ng-click="undeletePlace()")
                        span.text-uppercase(style="color: red;")
                          | undelete
                  .portrait
                    img(ng-src="img/img_place.png")
              .row
                .single-field(ng-if="sections[0].edit")
                  .row
                    .col-xs-12
                      .btn-group.save-buttons
                        button.btn.btn-success(ng-click="saveSummary()") Save
                        button.btn.btn-default(ng-click="cancelSummary()") Cancel
                  
  .row(ng-if="placeData.logicalDelete == false")  
    .col-md-6.col-xs-12
      .document-details
        //------------------
        // PLACE DETAILS
        //------------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[1].open')
            accordion-heading
              .panel-title-desc
                | {{sections[1].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
            .content
              .col-xs-8.noPadding
                .col-xs-12
                  .btn-group
                    button.btn.btn-success(ng-click="switchDetails()" ng-if="!sections[1].edit && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS']) && placeData.prefFlag=='P'") {{ 'places.BTNEDITSECTION' | translate }}
                  //- .single-field
                  //-   .row
                  //-     .col-xs-12
                  //-       label.inner-title Place Id
                  //-   .row
                  //-     .col-xs-12
                  //-       .transcriptions
                  //-         span.inner-content(ng-if="!sections[1].edit") {{placeData.placeId}}
                  //-         span.inner-content(ng-if="sections[1].edit") {{placeData.placeId}}
                .col-xs-12
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title Name
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{placeData.plNameFullPlType}}
                          input.form-control(required type="text" ng-model="placeData.placeName" ng-if="sections[1].edit")
                .col-xs-12
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title Place type
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{placeData.plType}} 
                          select.form-control(required ng-model="placeData.plType" ng-if="sections[1].edit" ng-options="item.description as item.description for item in placeTypes")
                .col-xs-12(style="margin: 10px 0")
                  .single-field
                    .col-xs-4.noPadding
                      label.inner-title Place Parent
                    .col-xs-8.noPadding
                      .transcriptions(style="position: relative")
                        span.inner-content(ng-if="!sections[1].edit") {{placeData.plParent}}
                        single-place-dir(required place="parent" on-place-model="placeData.plParent" on-select="saveParent(params, place)" on-cancel="cancelNewParent(place, 'none')" ng-if="sections[1].edit")
                .col-xs-12
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{ 'places.PLACENOTES' | translate }}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{placeData.placesMemo}}
                          textarea.form-control(type="text" ng-model="placeData.placesMemo" ng-if="sections[1].edit")
                    .row
                      .col-xs-12
                        .single-field
                          .row
                            .col-xs-12
                              .transcriptions
                                br
                                .btn-group
                                  button.btn.btn-success(ng-disabled="!placeData.placeName.length || !placeData.plType.length || !placeData.plParent.length" ng-click="saveSummary()" ng-if="sections[1].edit") {{ 'places.BTNSAVE' | translate }}
                                  button.btn.btn-default(ng-click="cancelDetails()" ng-if="sections[1].edit") {{ 'places.BTNCANCEL' | translate }}
  .row(ng-if="placeData.logicalDelete == false && createPlaceMode == false")
    .col-md-6.col-xs-12
      .document-details
        //------------------
        // NAMES
        //------------------
        accordion.doc-details-accordion(ng-if="placeData.prefFlag=='P'")
          accordion-group(is-open='sections[2].open')
            accordion-heading
              .panel-title-desc
                | {{sections[2].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
            .content
              .row
                .col-xs-12(ng-repeat="name in names")
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title(ng-if="name.prefFlag != 'P'") Variant
                        label.inner-title.text-uppercase(ng-if="name.prefFlag == 'P'" style="font-style: italic; font-weight: bold") Principal name
                        //img.edit-icon-small.pull-right(src="img/icons-new/edit-icon-17x17.png" ng-click="sections[2].edit=!sections[2].edit")
                    .row
                      .col-xs-8
                        .transcriptions
                          span.inner-content(ng-if="!name.edit") {{name.placeName}}
                          input.form-control(type="text" ng-model="name.placeName" ng-if="name.edit")
                          //button(ng-click="switchName(name)") Switch
                      .col-xs-4(ng-show="name.prefFlag != 'P'")
                        .inner-button(ng-if="!name.edit")
                          .btn-group
                            button.btn.btn-default(ng-click="switchEditName($index)" ng-if="secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
                              | {{ 'general.EDIT' | translate}}
                            button.btn.btn-default(ng-click="deleteVariantName($index)" ng-if="secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
                              | {{ 'general.DELETE' | translate}}
                        .inner-button(ng-if="name.edit")
                          .btn-group                              
                            button.btn.btn-default( ng-click="saveVariantName($index)" ng-if="secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
                              | {{ 'general.SAVE' | translate}}
                            button.btn.btn-default(ng-click="cancelEditName($index)" ng-if="secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
                              | {{ 'general.CANCEL' | translate}}
              
              .row(ng-if="placeData.prefFlag=='P'")
                .col-xs-8
                  button.btn.btn-success(ng-click="addVariantName()" ng-disabled="addingNewVariant" ng-if="secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])") Add new name variant

  .row.mt-15.mb-15(ng-if="placeData.logicalDelete == false || placeData.logicalDelete == true && secAuthorize(['ADMINISTRATORS'])")
    .col-xs-12
      comments-dir(record-type="'GEO'" record-id="$stateParams.id" owner="placeData.createdBy")

  //.row  
    .col-md-12.col-xs-12
      .document-details
        //------------------
        // GERARCHIA
        //------------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[3].open')
            accordion-heading
              .panel-title-desc
                | {{sections[3].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[3].open, 'glyphicon-chevron-right': !sections[3].open}")
            .content
              .row
                .col-xs-12.col-md-6(ng-repeat="title in titles")
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{title.roleCatMinor}}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content {{title.titleOcc}}
style(type='text/css').
  .noPadding { padding: 0 }
  single-place-dir { position: absolute; right: -124px; width: 370px; z-index: 1;}
  single-place-dir fieldset.form-group { margin: 0 }
  single-place-dir .col-xs-8 { padding: 0 }
  .bio-people-results .single-field { border-bottom: none }
