form(name="formAL")
  .row
    //- .col-xs-12.col-md-4
    //-   label  Archive/Library:
    .col-xs-12.col-md-8
      span {{selectionAL.repository}}
  .row
    .col-xs-12.col-md-4
      label Collection:
    .col-xs-12.col-md-8
      select.form-control(name="collectionSelect" ng-model="inputCollection.collection" ng-options="collection as collection.collectionName for collection in collections track by collection.collectionId"  ng-change="onCollectionChange(inputCollection)" required)
  //- .row
  //-   .col-xs-12.col-md-4
  //-     label Series:
  //-   .col-xs-12.col-md-8
  //-     select.form-control(name="seriesSelect" ng-model="selectionAL.serie" ng-options="serie as serie.seriesName for serie in series track by serie.seriesId" ng-disabled="selectionAL.collection.collectionId == 0")
  .row
    .col-xs-12.col-md-4
      label Volume:
    .col-xs-12.col-md-8
      //-select.form-control(name="volumesSelect" ng-model="selectionAL.volume" ng-options="volume as volume.volumeName for volume in volumes track by volume.volumeId" ng-disabled="selectionAL.collection.collectionId == 0 ")
      //-input.form-control(type='text', placeholder="search here..." ng-model='tempName' ng-change="getPeople(tempName)" ng-class="{loading:loading}")
      input.form-control(id="valumeInput" type='text', ng-model="tempVolume.value" ng-change="getVolumeFiltered(tempVolume.value)" ng-class="{loading:loadingVolumes}" ng-disabled="selectionAL.collection.collectionId == 0 ")
      fieldset.form-group(ng-if="searchTableOpen1 && volumes.length" click-outside="closeTable()")
          .col-xs-8.table-results
            table.table.table-hover
              thead.table-header(ng-if="volumes.length")
                td
                  | {{ 'deMeta.VOLUMENAME' | translate }}
              tbody
                tr(ng-repeat="volume in volumes" ng-click="selectVolume(volume)")
                  td
                    | {{volume.volumeName}}
  .row
    .col-xs-12.col-md-4
      label Insert:
    .col-xs-12.col-md-8
      //-select.form-control(name="insertSelect" ng-model="selectionAL.insert" ng-options="insert as insert.insertName for insert in inserts track by insert.insertId" ng-disabled="selectionAL.volume.volumeId == 0")
      input.form-control(id="insertInput" type='text', ng-model="tempInsert.value" ng-change="getInsertFiltered(tempInsert.value)" ng-class="{loading:loadingInserts}" ng-disabled="selectionAL.volume.volumeId == 0")
      fieldset.form-group(ng-if="searchTableOpen2" click-outside="closeTable()")
          .col-xs-8.table-results
            table.table.table-hover(ng-if="inserts.length")
              thead.table-header
                td
                  | {{ 'deMeta.INSERTNAME' | translate }}
              tbody
                tr(ng-repeat="insert in inserts" ng-click="selectInsert(insert)")
                  td
                    | {{insert.insertName}}
            .row(ng-show='searchTableOpen2 && !inserts.length')
              .col-xs-10.col-xs-offset-2
                i.glyphicon.glyphicon-remove
                span {{ 'deMeta.INSERTNOTFOUND' | translate }}

  .row
    .col-xs-12
      .btn.btn-success.search-button.pull-right(name="submitAL" ng-click="checkFormAL(formAL.$valid)" ng-disabled="!validArchLocForm()") ADD