form(name="formDate")
    .row
        .col-xs-12
            label select a range:
        .col-xs-12.col-md-4
            select.form-control(name="dateFilterSelect" ng-model="dateA.filter" ng-options="option.value as option.label for option in filterDate" required)
        .col-xs-12.col-md-2
            input.form-control(type="number" min="0" max="{{today.getFullYear()}}" ng-model="dateA.year" placeholder="yyyy" )
        .col-xs-12.col-md-4
            select.form-control(ng-model="dateA.month" ng-options="option.num as option.name for option in months" )
                option( value="" selected disabled hidden) Select a month
        .col-xs-12.col-md-2
            input.form-control(type="number" ng-model="inputDayA" placeholder="dd" ng-change="onChangeDayDateA(inputDayA)")
        .dif(ng-if="dateBIsNeeded()")
            .col-xs-12.col-md-4
                p.text-right to:
            .col-xs-12.col-md-2
                input.form-control(type="number" min="0" max="{{today.getFullYear()}}" ng-model="dateB.year" placeholder="yyyy" )
            .col-xs-12.col-md-4
                select.form-control(ng-model="dateB.month" ng-options="option.num as option.name for option in months" )
                    option( value="" selected disabled hidden) Select a month
            .col-xs-12.col-md-2
                input.form-control(type="number" ng-model="inputDayB" placeholder="dd" ng-change="onChangeDayDateB(inputDayB)")
    .row
        .col-xs-12
           .btn.btn-success.search-button.pull-right(ng-disabled="!dateRangeChecker()" ng-click="checkFormDate()") ADD	