form(name="formDC")
	.row
			.col-xs-12.col-md-4
					label select a Category:
			.col-xs-12.col-md-8
					select.form-control(name="categorySelect" ng-model="inputDocumentCategory.category" ng-options="category as category for category in categoriesNames" ng-change="onCategoryChange(inputDocumentCategory)" required)
	.row
			.col-xs-12.col-md-4
					label select a Typology:
			.col-xs-12.col-md-8
					select.form-control(name="typologySelect" ng-model="inputDocumentCategory.typology" ng-options="typology as typology for typology in typologiesOf[inputDocumentCategory.category]" ng-disabled="inputDocumentCategory.category == '' " ng-change="onCategoryChange(inputDocumentCategory)")
	.row
			.col-xs-12
					.btn.btn-success.search-button.pull-right(ng-click="checkFormDC(formDC.$valid)" ng-disabled="inputDocumentCategory.category == '' ") ADD