form(name="formLanguages")
    .row
        .col-xs-12.col-md-4
            label select a Languages:
        .col-xs-12.col-md-8
            select.form-control(name="languageSelect" ng-model="selectedLanguage.language" ng-options="language.language as language.language for language in languages" placeholder="Select a language" required)
            div(ng-if="languageAlreadySelected()")
                span Language Already Selected 
    .row
        .col-xs-12
            .btn.btn-success.search-button.pull-right(ng-disabled="selectedLanguage.language == '' || languageAlreadySelected()" ng-click="addLanguages(selectedLanguage.language)") ADD