form(name="formOwner")
    .row
        .col-xs-12.col-md-4
                label in:
        .col-xs-12.col-md-8
                select.form-control(name="ownerInSelect" ng-model="selectionOwner.in" ng-options="option.value as option.label for option in ownerIn")
get-user-accounts-dir
.row
    .col-xs-12
        .btn.btn-success.search-button.pull-right(ng-click="updateSearchedOwner()" ng-disabled="selectionOwner.account == '' ") ADD