find-people-dir(singleselect="true" addperson="false")
div.col-md-2.move-add-btn
    button.btn.btn-success(ng-click="checkFormPeople(formPeople.$valid)" ng-disabled="!personIsClicked || !tempPeopleName.length") ADD
    div.duplicatePerson(ng-show="duplicatePersonError")
        | This person has been added two times in a row!
style(type='text/css').
    .move-add-btn {position: relative; top: 15px;}
    .duplicatePerson {color: red; position: relative; bottom: 3px; right: 209px; width: 256px; z-index: 0}