find-place-dir(singleselect="true" addplace="false")
div.col-md-2.move-add-btn
    button.btn.btn-success(ng-click="checkFormPlaces(formPlaces.$valid)" ng-disabled="!placeIsClicked || !tempPlaceName.length") ADD
    div.duplicatePerson(ng-show="duplicatePlaceError")
        | This place has been added two times in a row!
style(type='text/css').
    .move-add-btn {position: relative; top: 15px;}
    .duplicatePerson {color: red; position: relative; bottom: 3px; right: 209px; width: 256px; z-index: 0}