.row
form(name="formTopicAndRelatedPlace")
    .col-xs-12.col-md-2
            label Select a Topic:
    .col-xs-12.col-md-8
            select.form-control(name="topicSelect" ng-model="selectionTopicAndRelatedPlace.relatedtopic" ng-options="topic as topic.topicTitle for topic in topics" placeholder="Select a topic" required)
find-place-dir(singleselect="true")
.row
    .col-xs-12
        .btn.btn-success.search-button.pull-right(ng-disabled="!topicIsPresent()" ng-click="updateSearchedTopicsAndRelatedPlaces()") ADD