form(name="formTS")
	.row
		.col-xs-12.col-md-4
			label Transcriptions:
		.col-xs-12.col-md-8
			textarea.form-control(name="transcriptionTextArea" ng-model="selectionTS.transcription")
	.row
		.col-xs-12.col-md-4
			label Synopsis:
		.col-xs-12.col-md-8
			textarea.form-control(name="synopsisTextArea" ng-model="selectionTS.synopsis")
	.row
		.col-xs-12
			.btn.btn-success.search-button.pull-right(ng-click="updateTS(checkFormTS())" ng-disabled="!checkFormTS()") ADD