div(ng-controller="uploadCVController")
  .modal-header
    h3.modal-title UPLOAD CURRICULUM VITAE
  .modal-body
    .row
      .col-xs-12.col-xs-offset-1(ng-show="success")
        span.success The CV was uploaded successfully!      
    form(name='uploadForm', ng-show="!success")
      .row
        .col-xs-5.col-xs-offset-1
          input.form-control#fileInput(
            type='file',
            ng-model='cvFile',
            name='file',
            accept='.pdf',
            ngf-max-total-size='20MB',
            ngf-fix-orientation="false",
            required='')
        .col-xs-2
          .required(ng-show='uploadForm.file.$error.required')
            | {{ 'general.REQUIRED' | translate }}
          .required(ng-show="uploadForm.file.$error.maxTotalSize")
            | {{ 'sidebar.upload.UPLOADBIG' | translate }}
        .col-xs-2
          button.btn.btn-xs.btn-primary(ng-click='remove()', ng-show='cvFile')
            | {{'sidebar.upload.REMOVE' | translate}}
          br
      .row
        .col-xs-11.col-xs-offset-1
          span.success(ng-show="!cvFile")
            br
            | {{ 'general.REQPDF' | translate }}
      span.progress(ng-show='progress >= 0')
        div(style='width:{{progress}}%', ng-bind="progress + '%'")
      span(ng-show='result') {{'sidebar.upload.SUCCESS' | translate}}
      span.err(ng-show='errorMsg') {{errorMsg}}
      br
      .row
        .col-xs-6.col-xs-offset-1
          .btn-group.bottom-buttons(ng-show="!success")
            button.btn.btn-xs.btn-primary.ladda-button(
              ladda-button="uploadLoader",
              ng-disabled="!uploadForm.$valid",
              ng-click="upload(cvFile)")
              span.ladda-label
                | {{'sidebar.UPLOAD' | translate}}
            button.btn.btn-xs.btn-primary(ng-click="cancel()")
              | {{'general.CANCEL' | translate}}
    .row
      br
      br
      .col-xs-12.col-xs-offset-1(ng-show="success")
        button.btn.btn-xs.btn-primary(ng-click='close()')
          | {{'general.CLOSE' | translate}}
