div
  .ae-select-where(ng-if="archivalSearch.repository")
    label(for="collection") Collection
    button.btn.btn-default.btn-xs.form-control(ng-click='addCollection(searchAeType)' name="collection" ng-if="!archivalSearch.collection")
      | {{ 'sidebar.upload.CHOOSECOLLECTION' | translate }}
    span(ng-if="archivalSearch.collection" ng-click="archivalSearch.collection=undefined")
      br
      | {{archivalSearch.collection.collectionName}}&nbsp;
      span(ng-click="archivalSearch.collection=undefined")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change collection" popover-trigger="mouseenter")
  .ae-select-where(ng-if="archivalSearch.series || archivalSearch.collection") 
    label(for="volume") Volume
    button.btn.btn-default.btn-xs.form-control(ng-click='addVolume(searchAeType)' name="volume" ng-if="!archivalSearch.volume")
      | {{ 'sidebar.upload.CHOOSEVOLUME' | translate }}
    span(ng-if="archivalSearch.volume")
      br
      | {{archivalSearch.volume.volumeName}}&nbsp;
      span(ng-click="archivalSearch.volume=undefined")
        img.edit-icon-sidebar(src="img/icons-new/edit-icon-17x17.png" popover="Change volume" popover-trigger="mouseenter")

