form.form-horizontal
  .row
    .col-xs-12
      //div(ng-if="actionsData.data.length && !currentAction")
      div
        table.table.table-hover.table-new-style
          thead
          tbody
            tr.clickable(ng-repeat="collation in collationTypes" ng-click="selectCollation(collation)")
              th(width="5%") {{$index + 1}}
              th(width="95%") {{collation.name}}

        //.row
        //  .col-xs-12.modal-pagination
        //    pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")

      //.row(ng-show='!actionsData.data.length')
      //  .col-xs-10.col-xs-offset-2
      //    span No actions with this object

