form.form-horizontal
  .row
    .col-xs-12
      //div(ng-if="actionsData.data.length && !currentAction")
      div(ng-if="loading")
        .loading(style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;position: relative;top: 40%;")
      div(ng-if="!loading")
        table.table.table-hover.table-new-style
          thead
          tbody
            tr.clickable(ng-repeat="collection in collections | orderBy : 'collectionName'" ng-click="selectCollection(collection)")
              th {{collection.collectionName}}

        //.row
        //  .col-xs-12.modal-pagination
        //    pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")

      //.row(ng-show='!actionsData.data.length')
      //  .col-xs-10.col-xs-offset-2
      //    span No actions with this object