form.form-horizontal
  .row
    .col-xs-12
      //div(ng-if="loading")
      //  .loading(style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;position: relative;top: 40%;")

      .row.form-group
        .col-xs-6
          .input-group
            input.form-control(
            type="text"
            placeholder="Enter Document Title"
            ng-model="searchCollation.de"
            ng-change="searchDE()"
            ng-class="{inputLoading: loading}")

      div.mt-5(ng-if="showDocTable && attachDocuments.length")
        table.table.table-hover
          thead
            tr
              th #
              th Typology
              th Document Title
              th Document Date
          tbody
            tr.clickable(ng-repeat="document in attachDocuments" ng-click="selectDocument(document)" ng-class="{selected: document.documentId == selectedDocument.documentId}")
              th {{document.documentId}}
              th {{document.typology}}
              th {{document.deTitle | limitTo: 20}} {{document.deTitle.length < 20 ? '' : '...'}}
              th
                span {{document.docYear ? document.docYear : '--'}}
                span &nbsp;/ {{document.docMonth ? document.docMonth : '--'}}
                span &nbsp;/ {{document.docDay ? document.docDay : '--'}}

        .row
          .col-xs-12.modal-pagination
            pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")

      .row(ng-show='showDocTable && !attachDocuments.length')
        .col-xs-10.col-xs-offset-2
          span No documents found

      .row(ng-show='errorMessage')
        .col-xs-10.col-xs-offset-2
          span(style="color: red;") {{errorMessage}}