h3.mt-0
    | Source: Document
    | {{sourceDoc.documentId}}
    | ({{firstImageSD.collectionName}}&nbsp;
    span(ng-if="firstImageSD.volumeName")
        | &nbsp;-&nbsp;
        | {{firstImageSD.volumeName}}
    span(ng-if="firstImageSD.inserName")
        | &nbsp;-&nbsp;
        | {{firstImageSD.inserName}}
    | &nbsp;-&nbsp;
    span {{folioNumberName(firstImageSD)}}
    //span(ng-if="firstImageSD.folios[0].noNumb!==undefined || firstImageSD.folios[1].noNumb!==undefined")
    //    | &nbsp;-&nbsp;
    //    span(ng-if="firstImageSD.folios[0].noNumb")
    //        | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
    //    span(ng-if="firstImageSD.folios[0].folioNumber")
    //        | {{firstImageSD.folios[0].folioNumber}}
    //    span(ng-if="firstImageSD.folios[0].folioNumber && firstImageSD.folios[0].rectoverso  && firstImageSD.folios[0].rectoverso!=''")
    //        | &nbsp;{{firstImageSD.folios[0].rectoverso}}
    //    span(ng-if="firstImageSD.folios[1].noNumb")
    //        | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
    //    span(ng-if="firstImageSD.folios[1].folioNumber")
    //        | &nbsp;/ {{firstImageSD.folios[1].folioNumber}}
    //    span(ng-if="firstImageSD.folios[1].folioNumber && firstImageSD.folios[1].rectoverso  && firstImageSD.folios[1].rectoverso!=''")
    //        | &nbsp;{{firstImageSD.folios[1].rectoverso}}
    //span(ng-if="firstImageSD.folios[0].noNumb==undefined && firstImageSD.folios[1].noNumb==undefined")
    //    span {{ 'docEntity.TOBENUMBERED' | translate }}
    | )

.apps-container.floatleft.draggable-element-container(ng-if="sourceList.length" ui-sortable='draggableOptions' ng-model='sourceList' style="min-height: 175px;height: 175px;border: none;")
    .app.app-source.relative(ng-repeat='image in sourceList')
        img(ng-src="{{image.filePath}}" height="150" width="150")
        .folio-number-abs
            span {{folioNumberName(image)}}
            //div(ng-if="image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined")
            //    span(ng-if="image.folios[0].noNumb")
            //        | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
            //    span(ng-if="image.folios[0].folioNumber")
            //        | {{image.folios[0].folioNumber}}
            //    span(ng-if="image.folios[0].folioNumber && image.folios[0].rectoverso  && image.folios[0].rectoverso!=''")
            //        | &nbsp;{{image.folios[0].rectoverso}}
            //    span(ng-if="image.folios[1].noNumb")
            //        | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
            //    span(ng-if="image.folios[1].folioNumber")
            //        | &nbsp;/ {{image.folios[1].folioNumber}}
            //    span(ng-if="image.folios[1].folioNumber && image.folios[1].rectoverso  && image.folios[1].rectoverso!=''")
            //        | &nbsp;{{image.folios[1].rectoverso}}
            //div(ng-if="image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
            //    span {{ 'docEntity.TOBENUMBERED' | translate }}

h3
    | Destination:
    | {{selectedCollection.collectionName}}&nbsp;
    span(ng-if="selectedVolume")
        | &nbsp;-&nbsp;
        | {{selectedVolume.volumeName}}
    span(ng-if="selectedInsert")
        | &nbsp;-&nbsp;
        | {{selectedInsert.insertName}}
    span(ng-if="totalBacImages")
        | &nbsp;(Total folio count:
        | {{totalBacImages}})

form.form-horizontal
    .row
        .col-xs-12
            .row.form-group.mti-0
                .col-xs-8
                    .input-group
                        input.form-control.bri-0.mr-5(
                            type="text"
                            placeholder="Please enter folio number"
                            ng-model="searchCollation.folio"
                            ng-disabled="canSaveLacuna"
                            ng-class="{inputLoading: loading}")
                        a.btn.btn-default.btn-xs.mr-5(ng-click="searchByFolio()" ng-class="{disabled: !searchCollation.folio.length || canSaveLacuna}") Go to folio
                        a.btn.btn-primary.btn-xs(ng-click="resetSearchByFolio()" ng-class="{disabled: !searchedByFolio && !canSaveLacuna}") Reset
                        span.input-group-addon(style="background: none;border: none;color: white;")
                            input.ml-5(type='checkbox' ng-model="searchCollation.match" ng-disabled="canSaveLacuna")
                            |  Exact match

//.row.mb-10(ng-show='searchedByFolio && bacImages.length')
//    .col-xs-12
//        span Place folio on any position except the first one

div(ng-if="searchBacImages.length")
    h5.mt-0
        span(ng-class="{'highlight-phase': lacunaPhase == 'clickFolio'}") Click on the Folio to expand its nearby pages
    .search-folio-results
        .app-result.app-target.relative(ng-repeat='image in searchBacImages' ng-click="getNearestFolios(image)" ng-class="{'dark-result': selectedSearchImg, 'selected-result': image.uploadFileId == selectedSearchImg.uploadFileId}")
            img(ng-src="{{image.filePath}}" height="150" width="150")
            .folio-number-abs
                span {{folioNumberName(image)}}
                //div(ng-if="image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined")
                //    span(ng-if="image.folios[0].noNumb")
                //        | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                //    span(ng-if="image.folios[0].folioNumber")
                //        | {{image.folios[0].folioNumber}}
                //    span(ng-if="image.folios[0].folioNumber && image.folios[0].rectoverso  && image.folios[0].rectoverso!=''")
                //        | &nbsp;{{image.folios[0].rectoverso}}
                //    span(ng-if="image.folios[1].noNumb")
                //        | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                //    span(ng-if="image.folios[1].folioNumber")
                //        | &nbsp;/ {{image.folios[1].folioNumber}}
                //    span(ng-if="image.folios[1].folioNumber && image.folios[1].rectoverso && image.folios[1].rectoverso!=''")
                //        | &nbsp;{{image.folios[1].rectoverso}}
                //div(ng-if="image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                //    span {{ 'docEntity.TOBENUMBERED' | translate }}

div(ng-if="bacImages.length")
    h5.mt-0
        span(ng-class="{'highlight-phase': lacunaPhase == 'dragAndDrop'}") Drag and drop Folio into correct location
    .mb-10(ng-show='searchedByFolio && bacImages.length') It is not possible to amend the first image
    .apps-container.screen.connected-drop-target-sortable.floatleft(ui-sortable='sortableOptions', ng-model='bacImages')
        .app.app-target.relative(ng-repeat='image in bacImages')
            img(ng-src="{{image.filePath}}" height="150" width="150")
            .folio-number-abs
                span {{folioNumberName(image)}}
                //div(ng-if="image.folios[0].noNumb!==undefined || image.folios[1].noNumb!==undefined")
                //    span(ng-if="image.folios[0].noNumb")
                //        | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                //    span(ng-if="image.folios[0].folioNumber")
                //        | {{image.folios[0].folioNumber}}
                //    span(ng-if="image.folios[0].folioNumber && image.folios[0].rectoverso  && image.folios[0].rectoverso!=''")
                //        | &nbsp;{{image.folios[0].rectoverso}}
                //    span(ng-if="image.folios[1].noNumb")
                //        | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
                //    span(ng-if="image.folios[1].folioNumber")
                //        | &nbsp;/ {{image.folios[1].folioNumber}}
                //    span(ng-if="image.folios[1].folioNumber && image.folios[1].rectoverso  && image.folios[1].rectoverso!=''")
                //        | &nbsp;{{image.folios[1].rectoverso}}
                //div(ng-if="image.folios[0].noNumb==undefined && image.folios[1].noNumb==undefined")
                //    span {{ 'docEntity.TOBENUMBERED' | translate }}

.row.mt-15(ng-if="canSaveLacuna")
    .col-xs-12
        .search-form
            button.btn.btn-default.btn-check(ng-model="unsureData.unsure" btn-checkbox ng-click="determineUnsure()")
                span.glyphicon.mr-5(ng-class="{'glyphicon-check': unsureData.unsure, 'glyphicon-unchecked': !unsureData.unsure}")
                | {{ 'deMeta.UNSURE' | translate }}
            form.form-horizontal(name="lacunaCollationForm" ng-if="unsureData.unsure")
                .form-group.ae-desc
                    label.control-label.col-sm-2(style="text-align: left;")
                        | Description
                        //span.required-error(ng-if="lacunaCollationForm.description.$error.required")
                        //    br
                        //    | {{ 'general.REQUIRED' | translate }}
                    .col-sm-8
                        //textarea.form-control(name="description" required ng-model="desc" ng-class="{'has-error':lacunaCollationForm.description.$error.required}")
                        textarea.form-control(name="description" ng-model="unsureData.description")

.row(ng-show='errorMessage')
    .col-xs-12
        span(style="color: red;") {{errorMessage}}

.row(ng-show='!loading && ((searchedByFolio && !searchedWithMatch && !searchBacImages.length) || (searchedByFolio && searchedWithMatch && !bacImages.length) || (!searchedByFolio && !bacImages.length))')
    .col-xs-12
        span(style="color: red;") This Volume/ Insert contains unnumbered folios. You cannot reconstruct a Volume/ Insert if the pages are not numbered.

//.row(ng-show='searchedByFolio && !searchedWithMatch && !searchBacImages.length')
//    .col-xs-12
//        span Numbered folio is not found. Please check the existing folios to be numbered before creating a collated document.
//
//.row(ng-show='searchedByFolio && searchedWithMatch && !bacImages.length')
//    .col-xs-12
//        span Numbered folio is not found. Please use inexact match search.
