h4 This document cannot be reconstructed. Some images are being used in another reconstruction.

form.form-horizontal
  .row
    .col-xs-12
      div
        table.table.table-hover
          thead
          tbody
            tr.clickable(ng-repeat="collation in sourceCollations" ng-click="goToCollationOrSource(collation)")
              th(width="5%") {{$index + 1}}
              th(width="95%")
                span(ng-if="collation.type == 'ATTACHMENT'") Attachment
                span(ng-if="collation.type == 'LACUNA'") Source document
