form.form-horizontal
  .row.form-group
    .col-xs-3.col-xs-offset-1
      label.control-label {{ 'sidebar.addInsert.INSERTNO' | translate }}
    .col-xs-6
      .input-group
        input.form-control(
        type="text"
        placeholder="{{ 'sidebar.addVolume.INSTRUCT' | translate }}"
        ng-model="newInsert.insertName"
        ng-change="getInsert(newInsert.insertName)"
        ng-class="{inputLoading: loading}")
  .row
    .col-xs-12
      table.table.table-hover(ng-if="showInsTable && possibleInserts.length")
        thead
          tr
            th
              | {{ 'sidebar.addInsert.INSERTNO' | translate }}
        tbody
          tr(
          ng-repeat="insert in possibleInserts"
          ng-click="selectInsert(insert)")
            th
              | {{insert.insertName}}
      .row(ng-show='showInsTable && !possibleInserts.length')
        .col-xs-10.col-xs-offset-2
          i.glyphicon.glyphicon-remove
          span {{ 'sidebar.addInsert.NOTFOUNDUNAUTH' | translate }}
