form.form-horizontal
  .row.form-group
    .col-xs-3.col-xs-offset-1
      label.control-label {{ 'sidebar.addVolume.VOLUMENO' | translate }}
    .col-xs-6
      .input-group
        input.form-control(
        type="text"
        placeholder="{{ 'sidebar.addVolume.INSTRUCT' | translate }}"
        ng-model="newVolume.volumeName"
        ng-change="getVolume(newVolume.volumeName)"
        ng-class="{inputLoading: loading}")
  .row
    .col-xs-12
      table.table.table-hover(ng-if="showVolTable && possibleVolumes.length")
        thead
          tr
            th
              | {{ 'sidebar.addVolume.VOLUMENO' | translate }}
        tbody
          tr(
          ng-repeat="volume in possibleVolumes"
          ng-click="selectVolume(volume)")
            th
              | {{volume.volumeName}}
      .row(ng-show='showVolTable && !possibleVolumes.length')
        .col-xs-10.col-xs-offset-2
          i.glyphicon.glyphicon-remove
          span {{ 'sidebar.addVolume.NOTFOUNDFS' | translate }}
