h4
  | {{ 'welcome.BASIC_CONTROLS' | translate }}
.istructions
  .item
    .icon
      a
        i.text-icon
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-01.png" popover="{{ 'sidebar.UPLOAD' | translate }}" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      | {{ 'welcome.UPLDIGMAN' | translate }}
  .item
    .icon
      a
        i.text-icon
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-02.png" popover="{{ 'sidebar.BROWSE' | translate }}" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      span.text
        |  {{ 'welcome.SHMYPERARCH' | translate }}
  .item
    .icon
      a
        i.text-icon
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-03.png" popover="{{ 'sidebar.DOCENT' | translate }}" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      span.text
        |  {{ 'welcome.SHMYDE' | translate }}
  .item
    .icon
      a
        i.text-icon
          .fa.fa-folder-open-o.fa-3x.navigate-icon.custom-margin(popover="{{ 'sidebar.BROWSE_ALL' | translate }}" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      span.text
        |  {{ 'welcome.BROWSE_ALL' | translate }}
  .item
    .icon
      a
        i.text-icon
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-06.png" popover="Personal Profile" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      span.text
        | {{ 'welcome.EDMYPP' | translate }}
  .item
    .icon
      a
        i.text-icon
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-07.png" popover="Logout" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      span.text
        | {{ 'welcome.LOGOUT' | translate }}
  .item
    .icon
      a(href="manual/miaBasicGuide.pdf" target="_blank")
        i.text-icon
          img.sidebar-icon.upload(src="img/icons-new/manual-icon-png-4.png" popover="Mia Basic Manual" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      span.text
        | {{ 'welcome.MANUAL' | translate }}
  .item(ng-if="isAdmin")
    .icon
      a
        i.text-icon
          img.sidebar-icon.upload(src="img/icons-new/menu-icon-30x30-adm.png" popover="Admin Area" popover-trigger="mouseenter" popover-placement="right")
      img.arrow-icon(src="img/icons-new/green-arrow.png")
    .description
      span.text
        | {{ 'welcome.ADMP' | translate }}
