div
  fieldset.form-group
    .col-xs-8
      input.form-control(type='text', ng-model='tempName' ng-change="getPlaces(tempName)" placeholder="Insert the name first 3 letters to search" ng-class="{loading:loading}")
  fieldset.form-group(ng-if="searchTableOpen" click-outside="closeTable()")
    .col-xs-12.table-results(ng-if="!loading")
      table.table.table-hover
        thead.table-header
          td
            | {{ 'deMeta.NAME' | translate }}
          td
            | {{ 'deMeta.PLTYPE' | translate }}
          td
            | {{ 'deMeta.PREFLAG' | translate }}
        tbody
          tr(ng-repeat="place in possiblePlaces | filter:tempName as filtered" ng-click="selectPlace(place)")
            td
              | {{place.placeName}}
            td
              | {{place.plType}}
            td
              | {{place.prefFlag}}
          tr(ng-if="!filtered.length")
            td(colspan="6")
              | {{ 'places.NOPLACE' | translate }}
      .btn.btn-success.btn-xs.btn-add-new(ng-click="addANewPlace()" ng-if="!filtered.length") {{ 'places.ADDPLACE' | translate }} {{field.name}}
