div(ng-controller="createAddVolumeController")
  .modal-header
    h3.modal-title {{ 'sidebar.addVolume.ADDTITLE' | translate }}
  .modal-body
    //
    // ADD
    //
    .search-form
      form.form-horizontal(name="volumeForm")
        .row
          .col-xs-6
            .form-group
              label.control-label.col-sm-5
                | {{ 'sidebar.addVolume.NAME' | translate }}
                span.required-error(ng-if="volumeForm.volumeName.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}                  
              .col-sm-7
                input.form-control(type="text" ng-model="newVolume.volumeName" ng-change="getVolume(newVolume.volumeName)" name="volumeName" required ng-class="{'has-error':volumeForm.volumeName.$error.required}")
        .row
          .col-xs-12
            table.table.table-hover(ng-if="showTable && possibleVolume.length")
              thead
                tr
                  th
                    | {{ 'sidebar.addVolume.VOLUMENO' | translate }}
              tbody
                tr(
                ng-repeat="volume in possibleVolume")
                  th
                    | {{volume.volumeName}}  

    .search-form
      form.form-horizontal
        .form-group
          .col-sm-8.col-sm-offset-4.btn-group
            button.btn.btn-primary.btn-xs(
            ng-disabled="volumeForm.$invalid || possibleVolume.length"
            ng-click="saveVolume()")
              | {{ 'general.SAVE' | translate }}
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            
