.doc-ae-info-cont
  .infos
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Collection
          .col-xs-8
            span.fields
              | {{info.collectionName}}
    .row(ng-if="info.seriesName")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Series
          .col-xs-8
            span.fields
              | {{info.seriesName}}
    .row(ng-if="info.volumeName")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Volume
          .col-xs-8
            span.fields
              a.ae-desc-links(ng-if="deInfo.volumeId" ui-sref='mia.volumeDescr({volumeId: deInfo.volumeId})')
                | {{info.volumeName}}
    .row(ng-if="info.inserName")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Insert
          .col-xs-8
            span.fields
              a.ae-desc-links(ng-if="deInfo.insertId" ui-sref='mia.insertDescr({insertId: deInfo.insertId})')
                | {{info.inserName}}
    .row(ng-if="currentFolios")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Folio(s)
          .col-xs-8
            span.fields(ng-repeat="folios in currentFolios track by $index") 
              span(ng-if="folios.noNumb") {{ 'Not Numbered'}}
              span(ng-if="folios.folioNumber") {{folios.folioNumber}} 
              span(ng-if="folios.rectoverso") {{folios.rectoverso}}
              span(ng-if="$index < currentFolios.length - 1 && (folios.noNumb || folios.folioNumber || folios.rectoverso)") {{ ',' }}
  .action(ng-if="deInfo.canView")
    br
    .row
      .col-sm-5 &nbsp;
      .col-sm-7(ng-if="info.uploadFileId != -1")
        a(ng-click="goToAe()")
          span.open-all
            i.glyphicon.glyphicon-book  
            | &nbsp;Go to the uploaded images 

