.doc-ae-info{
	flex: 1;
	border-radius: 5px;
	background: @gray-lighter;
  padding: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	.doc-ae-info-cont{
    display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;
  }
	.label{
    color:@gray-dark;
    font-style: italic;
	}
	.fields{
		color:@brand-success;
	}
}