div(ng-controller="imageCsListController")
  .modal-header
    h3.modal-title List of Projects for this image
  .modal-body
    .search-form
      form.form-horizontal
        .row
          .col-xs-12
            div
              table.table.table-hover.table-new-style
                thead
                tbody
                  tr.clickable(ng-repeat="cs in imageCsList", ng-click="openCs(cs)")
                    th(width="5%") {{$index + 1}}
                    th(width="95%") {{cs.title}}

    .text-center.mt-15
      .btn-group
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}
