.doc-ae-info-cont
  .infos
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Collection: 
          .col-xs-8
            span.fields
              | {{documents.collectionName}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label(ng-if="['MDP', 'MM', 'GM', 'GMD', 'GMA', 'SRP', 'MAP', 'SFF', 'CDA', 'HCY'].includes(documents.collectionAbbr)")
              | Volume:
            .label(ng-if="['PSRP(T)', 'PSRP(CS)', 'PTSRP', 'PSFF', 'PSRP', 'PTSRG'].includes(documents.collectionAbbr)")
              | Bobina:
          .col-xs-8
            span.fields
              | {{documents.volumeName}}
    .row(ng-show="['MDP', 'PSRP(T)', 'PSRP(CS)', 'PTSRP'].includes(documents.collectionAbbr)")
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Carteggio:
          .col-xs-8
            span.fields
              | {{documents.sezione}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Dates:
          .col-xs-8
            span.fields(ng-if="documents.endYear!=''")
              | {{documents.startYear}} {{dates(documents.startMonth)}} {{documents.startDay}} to {{documents.endYear}} {{dates(documents.endMonth)}} {{documents.endDay}}
            span.fields(ng-if="documents.endYear==''")
              | {{documents.startYear}} {{dates(documents.startMonth)}} {{documents.startDay}}
            span.fields(ng-if="documents.startYear==''")
              | {{documents.endYear}} {{dates(documents.endMonth)}} {{documents.endDay}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label(ng-if="['MDP', 'MM', 'GM', 'GMD', 'GMA', 'SRP', 'MAP', 'SFF', 'CDA'].includes(documents.collectionAbbr)")
              | Volume Context/Description:
            .label(ng-if="['PSRP(T)', 'PSRP(CS)', 'PTSRP', 'PSFF', 'PSRP', 'PTSRG', 'HCY'].includes(documents.collectionAbbr)")
              | Context:
          .col-xs-8
            span.fields
              | {{documents.volumeContext}}
