div
  fieldset.form-group
    .col-xs-8(ng-if="!topic.editTopic")
      span.fields(ng-repeat="top in allTopics | filter: topicFilter")
        | {{top.topicTitle}} - &nbsp;
        span.doc-summary-place-name
            | {{topic.fePlaceName}}
    .col-xs-8(ng-if="topic.editTopic")
      label
        | Topic
      select.form-control(ng-model='modifyTopic.topicListId', ng-options="singleTopic.topicId as singleTopic.topicTitle for singleTopic in allTopics")
      label
        | Topic Place
      input.form-control(type='text', ng-model='modifyTopic.fePlaceName' ng-change="getPlaces(modifyTopic.fePlaceName)" ng-class="{loading:loading}")
    .col-xs-4
      .btn-group.visible-xs.hidden-sm.hidden-md.visible-lg(ng-if="!topic.editTopic && !isAnotherTopicEdit()")
        button.btn.btn-success.btn-xxs.btn-xs(ng-click="switchEdit()" )
          | {{ 'general.EDIT' | translate }}  
        button.btn.btn-success.btn-xxs.btn-xs(ng-click="deleteTopic()")
          | {{ 'general.DELETE' | translate }}

      .btn-group-vertical.hidden-xs.visible-sm.visible-md.hidden-lg(ng-if="!topic.editTopic && !isAnotherTopicEdit()")
        button.btn.btn-success.btn-xxs.btn-xs(ng-click="switchEdit()" )
          | {{ 'general.EDIT' | translate }}  
        button.btn.btn-success.btn-xxs.btn-xs(ng-click="deleteTopic()")
          | {{ 'general.DELETE' | translate }}
      
      .btn-group.visible-xs.hidden-sm.hidden-md.visible-lg(ng-if="topic.editTopic")
        button.btn.btn-success.btn-xxs.btn-xs.btn-add-new-mb-5(ng-click="cancel()" ng-if="!filtered.length")
          | Cancel
        button.btn.btn-success.btn-xxs.btn-xs.btn-add-new-mb-5(ng-click="saveTopic()" ng-disabled="!modifyTopic.topicListId || !modifyTopic.placeId" ng-if="!filtered.length")
          | {{ 'general.SAVE' | translate }}

      .btn-group-vertical.hidden-xs.visible-sm.visible-md.hidden-lg(ng-if="topic.editTopic")
        button.btn.btn-success.btn-xxs.btn-xs.btn-add-new-mb-5(ng-click="cancel()" ng-if="!filtered.length")
          | Cancel
        button.btn.btn-success.btn-xxs.btn-xs.btn-add-new-mb-5(ng-click="saveTopic()" ng-disabled="!modifyTopic.topicListId || !modifyTopic.placeId" ng-if="!filtered.length")
          | {{ 'general.SAVE' | translate }}

  fieldset.form-group(ng-if="searchTableOpen")
    .col-xs-12.table-results(ng-if="!loading")
      table.table.table-hover
        thead.table-header
          td
            | {{ 'deMeta.NAME' | translate }}
          td
            | {{ 'deMeta.PLTYPE' | translate }}
          td 
            | {{ 'deMeta.PREFLAG' | translate }}
        tbody
          tr(ng-repeat="place in possiblePlaces | filter:modifyTopic.fePlaceName as filtered" ng-click="selectPlace(place)")
            td
              | {{place.placeName}}
            td
              | {{place.plType}}
            td
              | {{place.prefFlag}}
          tr(ng-if="!filtered.length")
            td(colspan="6")
              | {{ 'places.NOPLACE' | translate }}
          tr(ng-if="!filtered.length")
            td(colspan="6")             
              .btn.btn-success.btn-xs.btn-add-new(ng-click="addANewPlace()" ng-if="!filtered.length") {{ 'places.ADDPLACE' | translate }} {{field.name}}
 
    
