.folio-numbers

  span(ng-if="thumb.folios[0].noNumb")
    | {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
  span(ng-if="thumb.folios[0].folioNumber")
    | {{thumb.folios[0].folioNumber}}
  span(ng-if="thumb.folios[0].folioNumber && thumb.folios[0].rectoverso && thumb.folios[0].rectoverso!=''")
    | &nbsp;{{thumb.folios[0].rectoverso}}
  span(ng-if="thumb.folios[1].noNumb")
    | &nbsp;/ {{ 'docEntity.NOTNUMBFOLIO2' | translate }}
  span(ng-if="thumb.folios[1].folioNumber")
    | &nbsp;/ {{thumb.folios[1].folioNumber}}
  span(ng-if="thumb.folios[1].folioNumber && thumb.folios[1].rectoverso && thumb.folios[1].rectoverso!=''")
    | {{thumb.folios[1].rectoverso}}
  span(ng-if="thumb.folios[0].noNumb==undefined && thumb.folios[1].noNumb==undefined")
    | {{ 'docEntity.TOBENUMBERED' | translate }}
