.activity
  .act-desc
    div(ng-if="status === 'ok' && !people" class="text-center")
      | {{ 'news.NO_ACTIVITIES' | translate }}
    div(ng-if="people")
      div.repeated-item(ng-repeat="peopleNews in people")
        div.news-block
          a(href="index.html#/mia/people/{{peopleNews.id}}")
            div
              | BIOGRAPHICAL RECORD 
              span(ng-if="peopleNews.mapNameLf") - 
              | {{peopleNews.mapNameLf}}
            div(ng-if="peopleNews.action == 'CREATED'")
              | mapPersonid# {{peopleNews.id}} - Created By: {{peopleNews.createdBy }} on: {{peopleNews.activityDate}}
            div(ng-if="peopleNews.action == 'MODIFIED'")
              | mapPersonid# {{peopleNews.id}} - Modified By: {{peopleNews.modifiedBy }} - {{peopleNews.activityDate}}            
            div(ng-if="peopleNews.action == 'DELETED'")
              | mapPersonid# {{peopleNews.id}} - Deleted By: {{peopleNews.modifiedBy }} - {{peopleNews.activityDate}}
            div
              div.img-block(ng-if="peopleNews.action != 'DELETED'") 
                img.act-thumb(ng-src="src/peoplebase/ShowPortraitPerson.do?personId={{peopleNews.id}}" alt="")

    