div(ng-controller="searchCountController" ng-cloak)
  .modal-header
    h3.modal-title {{ 'basicsearch.TITLE' | translate }}
  .modal-body
    | You searched for 
    i.primary {{options.queryString}} 
    | in all categories. We got:
    .row
      .col-xs-4    
      .col-xs-4
        div(ng-if="loadCount" style="height: 227px;")
          .loading(style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;position: relative;top: 40%;")
        table.table.table-hover(ng-if="!loadCount")
          thead.table-header
            td
              | Search type:
            td
              | results:
            tbody
              tr.pointer(ng-click="selectSearch('ae')" ng-class="{'cursor-default': count.archivalEntities == 0}")
                td
                  | Images
                td
                  | {{count.archivalEntities}}
              tr.pointer(ng-click="selectSearch('syn')" ng-class="{'cursor-default': count.synopses == 0}")
                td
                  | Synopses
                td
                  | {{count.synopses}}
              tr.pointer(ng-click="selectSearch('tra')" ng-class="{'cursor-default': count.transcriptions == 0}")
                td
                  | Transcriptions
                td
                  | {{count.transcriptions}}
              tr.pointer(ng-click="selectSearch('peo')" ng-class="{'cursor-default': count.people == 0}")
                td
                  | People
                td
                  | {{count.people}}
              tr.pointer(ng-click="selectSearch('pla')" ng-class="{'cursor-default': count.places == 0}")
                td
                  | Places
                td
                  | {{count.places}}