div(ng-controller="createAddInsertController")
  .modal-header
    h3.modal-title {{ 'sidebar.addInsert.ADDTITLE' | translate }}
  .modal-body
    //
    // ADD
    //
    .search-form
      form.form-horizontal(name="insertForm")
        .row
          .col-xs-6
            .form-group
              label.control-label.col-sm-5
                | {{ 'sidebar.addInsert.NAME' | translate }}
                span.required-error(ng-if="insertForm.insertName.$error.required")
                  br
                  | {{ 'general.REQUIRED' | translate }}                   
              .col-sm-7
                input.form-control(type="text" name="insertName" required ng-change="getInsert(newInsert.insertName)" ng-model="newInsert.insertName" ng-class="{'has-error':insertForm.insertName.$error.required}")
        .row
          .col-xs-12
            table.table.table-hover(ng-if="showTable && possibleInsert.length")
              thead
                tr
                  th
                    | {{ 'sidebar.addInsert.INSERTNO' | translate }}
              tbody
                tr.clickable(
                ng-repeat="insert in possibleInsert")
                  th
                    | {{insert.insertName}}

    .search-form
      form.form-horizontal
        .form-group
          .col-sm-8.col-sm-offset-4.btn-group
            button.btn.btn-primary.btn-xs(
            ng-disabled="insertForm.$invalid || possibleInsert.length"
            ng-click="saveInsert(newInsert)")
              | {{ 'general.SAVE' | translate }}
            button.btn.btn-default.btn-xs(ng-click="cancel()")
              | {{ 'general.CANCEL' | translate }}
            

