//
// Button groups
// --------------------------------------------------

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 0;
  min-width: 0;
  margin-left: -2px;
  border-width: 1px;
  border-color: @gray-lighter;
}
