.button-variant(@color; @background; @border) {
  color: @color;
  background-color: transparent;
  border-color: @color;
  background-image: none;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &[disabled][data-loading],
  .open > .dropdown-toggle& {
    color: #fff;
    background-color: @color;
    border-color: @color;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}