// Gradients

#gradient {

  .horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    //Vuota
  }

  .vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    //Vuota
  }

  .directional(@start-color: #555; @end-color: #333; @deg: 45deg) {
    //Vuota
  }
  .horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    //Vuota
  }
  .vertical-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    //Vuota
  }
  .radial(@inner-color: #555; @outer-color: #333) {
    //Vuota
  }
  .striped(@color: rgba(255,255,255,.15); @angle: 45deg) {
    //Vuota
  }
}