div
  fieldset.form-group
    .col-xs-8
      input.form-control(type='text', ng-model='tempPlace' ng-change="getPlaces(tempPlace)" placeholder="Insert the name first 3 letters to search" ng-class="{loading:loading}")
    .col-xs-4
      //.btn-group.hidden-xs.hidden-sm.hidden-md.visible-lg
      //  button.btn.btn-success.btn-xxs.btn-xs(ng-model="unsurePlace" btn-checkbox )
      //    span.glyphicon.mr-5(ng-class="{'glyphicon-check': unsurePlace, 'glyphicon-unchecked': !unsurePlace}")
      //    | Unsure
      //  button.btn.btn-success.btn-xxs.btn-xs(ng-click="cancel()")
      //    | Cancel
      //  button.btn.btn-success.btn-xxs.btn-xs(ng-click="savePlace()") {{ 'people.BTNSAVE' | translate }}
      .btn-group-vertical
        button.btn.btn-success.btn-xxs.btn-xs(ng-model="unsurePlace" btn-checkbox )
          span.glyphicon.mr-5(ng-class="{'glyphicon-check': unsurePlace, 'glyphicon-unchecked': !unsurePlace}")
          | Unsure
        button.btn.btn-success.btn-xxs.btn-xs(ng-click="cancel()")
          | Cancel
        button.btn.btn-success.btn-xxs.btn-xs(ng-click="savePlace()") {{ 'people.BTNSAVE' | translate }}
  fieldset.form-group(ng-if="searchTableOpen" click-outside="closeTable()")
    .col-xs-12.table-results(ng-if="!loading")
      table.table.table-hover
        thead.table-header
          td
            | {{ 'deMeta.NAME' | translate }}
          td
            | {{ 'deMeta.PLTYPE' | translate }}
          td
            | {{ 'deMeta.PREFLAG' | translate }}
        tbody
          tr(ng-repeat="place in possiblePlaces | filter:tempPlace as filtered" ng-click="selectPlace(place)")
            td
              | {{place.placeName}}
            td
              | {{place.plType}}
            td
              | {{place.prefFlag}}
          tr(ng-if="!filtered.length")
            td(colspan="12")
              | {{ 'places.NOPLACE' | translate }}
           tr(ng-if="!filtered.length")
            td(colspan="12")
              .btn.btn-success.btn-xs.btn-add-new(ng-click="addANewPlace()" ng-if="!filtered.length") {{ 'places.ADDPLACE' | translate }} {{field.name}}

