div
  div(ng-class="{'col-xs-8': role, 'col-xs12': !role}")
    input.form-control(type='text', ng-model='tempName' ng-change="getPlaces(tempName)" placeholder="Insert the name first 3 letters to search" ng-class="{loading:loading}")
  .col-xs-4(ng-if="role")
    button.btn.btn-xs.btn-xxs.btn-success(ng-model="unsure" btn-checkbox ng-click="setUnsure(unsure)")
      span.glyphicon.mr-5(ng-class="{'glyphicon-check': unsure, 'glyphicon-unchecked': !unsure}")
      | Unsure&nbsp;
    button.btn.btn-xs.btn-xxs.btn-success(ng-click="cancel()")
      | Cancel&nbsp;
      i.glyphicon.glyphicon-remove
    button.btn.btn-xs.btn-xxs.btn-success(ng-click="savePlace()")
      | {{ 'general.SAVE' | translate }}&nbsp;
    
  fieldset.form-group(ng-if="searchTableOpen" click-outside="closeTable()")
    .col-xs-12.table-results(ng-if="!loading")
      table.table.table-hover
        thead.table-header
          td
            | {{ 'deMeta.NAME' | translate }}
          td
            | {{ 'deMeta.PLTYPE' | translate }}
          td
            | {{ 'deMeta.PREFLAG' | translate }}
        tbody
          tr(ng-repeat="place in possiblePlaces | filter:tempName as filtered" ng-click="selectPlace(place)")
            td
              | {{place.placeName}}
            td
              | {{place.plType}}
            td
              | {{place.prefFlag}}
          tr(ng-if="!filtered.length")
            td(colspan="6")
              | {{ 'places.NOPLACE' | translate }}
      .btn.btn-success.btn-xs.btn-add-new(ng-click="addANewPlace()" ng-if="!filtered.length") {{ 'places.ADDPLACE' | translate }} {{field.name}}
