.row
form(name="formPeople")
    .col-xs-12.col-md-2
        label Person:
    .col-xs-12.col-md-8.zIndex1
        input.form-control(type="text" ng-model="tempPeopleName" ng-model-options='{ debounce: 300 }' ng-class="{loading:loading}" ng-change="getPeople(tempPeopleName)" placeholder="Type at least 3 char" class="pull-left")
        div.peopleTable.table-results(ng-if="people.length && personIsClicked == false && tempPeopleName.length")
            table.table.table-hover
                thead.table-header
                    tr
                        th.width40 
                            span FullName
                        th
                            span Birth/
                            span.markedRed Active Starts
                        th 
                            span Death/
                            span.markedRed Active Ends
                tbody
                    tr.personRow(ng-class="checkIfThisPersonAreSelcted(person) != -1 ? 'isSelected' : 'notSelected' " ng-repeat="person in people" ng-click="addOrRemovePersonToSelectedPeople(person, singleselect)")
                        td {{person.mapNameLf}} 
                        td 
                            span {{person.bornYear}}
                            span.markedRed {{person.activeStart}}
                        td 
                            span {{person.deathYear}}
                            span.markedRed {{person.activeEnd}}
        div(ng-if="!people && tempPeopleName.length" class="noPeopleFound")
            | {{ 'people.NOPEOPLE' | translate }}
            div(ng-if="usedPeople()")
                br
                button.btn.btn-default(ng-click="addNewPeople()")
                    | {{'addPerson.TITLE' | translate}}        
style(type='text/css').
    .personRow.isSelected, .placeRow.isSelected {background-color: lightblue;}
    .markedRed {color: red !important;}
    .peopleTable, .placesTable {max-height: 200px; overflow: auto;}
    .form-control-input {max-width: 200px; margin-right: 30px;}
    .noPeopleFound { padding: 5px; background: lightgrey; color: #000}
    .width40 { width: 40% }
    .table-results tbody td { padding: 3px 8px !important; }
    .zIndex1 {z-index: 1}