div
  fieldset.form-group
    .col-xs-8
      label
        | Title or Occupation
      input.form-control(ng-model="title.titleOcc" placeholder="Insert here the first 3 digits..." ng-change="getTitles()" ng-class="{loading:loading}")
    .col-xs-4(ng-if="!fromSearch")
      .btn-group
        .btn.btn-default(ng-click="saveTitle()")
          |  {{ 'general.SAVE' | translate }}
        .btn.btn-default(ng-click="cancel()")
          |  {{ 'general.CANCEL' | translate }}   
  fieldset.form-group(ng-if="searchTableOpen")
    .col-xs-12.table-results(ng-if="!loading")
      table.table.table-hover
        thead.table-header
          td
            | Name
          td
            | Category
          td
            | Category
        tbody
          tr(ng-repeat="role in results | filter:title.titleOcc as filtered" ng-click="selectTitle(role)")
            td
              | {{role.titleOcc}}
            td
              | {{role.roleCatMajor}}
            td
              | {{role.roleCatMinor}}
          div(ng-if="!filtered.length")
            .col-xs-12
              | No role or title found
            .col-xs-12
              button.btn.btn-default(ng-click="addANewTitle()") Add new title
       
