form.form-horizontal
  .row
    .col-xs-12
      div
        table.table.table-hover.table-new-style
          thead
          tbody
            tr.clickable(ng-repeat="type in selectionTypes" ng-click="selectRecordType(type)")
              th(width="5%") {{$index + 1}}
              th(width="95%") {{type.name}}
