form.form-horizontal
  .row.form-group
    .col-xs-3.col-xs-offset-1
      label.control-label Person name
    .col-xs-6
      .input-group
        input.form-control(
        type="text"
        placeholder= "Insert the first 3 letters to search"
        ng-model="search.bio"
        ng-change="getPeople()"
        ng-class="{inputLoading: loading}")
  .row
    .col-xs-12
      table.table.table-hover(ng-if="showBioTable && possiblePeoples.length")
        thead
          tr
            th
              | {{ 'deMeta.NAME' | translate }}
            th
              | {{ 'deMeta.BYEAR' | translate }}
            th
              | {{ 'deMeta.DYEAR' | translate }}
            th
              | {{ 'deMeta.GENDER' | translate }}
            th
              | {{ 'deMeta.ACTSTART' | translate }}
            th
              | {{ 'deMeta.ACTEND' | translate }}
        tbody
          tr(ng-repeat="person in possiblePeoples" ng-click="selectBio(person)")
            td
              | {{person.mapNameLf}}
            td
              | {{person.bornYear}}
            td
              | {{person.deathYear}}
            td
              | {{person.gender}}
            td
              | {{person.activeStart}}
            td
              | {{person.activeEnd}}

      .row(ng-show='showBioTable && !possiblePeoples.length')
        .col-xs-10.col-xs-offset-2
          i.glyphicon.glyphicon-remove
          span {{ 'sidebar.addVolume.NOTFOUNDFS' | translate }}
