form.form-horizontal
  .row.form-group
    .col-xs-3.col-xs-offset-1
      label.control-label Place name
    .col-xs-6
      .input-group
        input.form-control(
        type="text"
        placeholder= "Insert the first 3 letters to search"
        ng-model="search.geo"
        ng-change="getPlaces()"
        ng-class="{inputLoading: loading}")
  .row
    .col-xs-12
      table.table.table-hover(ng-if="showGeoTable && possiblePlaces.length")
        thead
          tr
            th
              | {{ 'deMeta.NAME' | translate }}
            th
              | {{ 'deMeta.PLTYPE' | translate }}
            th
              | {{'deMeta.PREFLAG' | translate}}
        tbody
          tr(ng-repeat="location in possiblePlaces" ng-click="selectGeo(location)")
            td
              | {{location.placeName}}
            td
              | {{location.plType}}
            td
              | {{location.prefFlag}}

      .row(ng-show='showGeoTable && !possiblePlaces.length')
        .col-xs-10.col-xs-offset-2
          i.glyphicon.glyphicon-remove
          span {{ 'sidebar.addVolume.NOTFOUNDFS' | translate }}
