.doc-ae-info-cont
  .infos(ng-if="!edit")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Organizational Criteria:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_ORG_CRIT' | translate }}" popover-trigger="mouseenter") 
          .col-xs-8
            span.fields
              | {{documents.organizationalCriteria}}
          .absolute-right(style="display: flex; justify-content: flex-end; margin-top: 5px; margin-right: 20px;")
            button.btn.btn-xs.btn-xxs.btn-success(ng-click="switchEdit()" ng-show="!edit" )
              | {{ 'general.EDIT' | translate }}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Pagination Notes:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_PAG_NOTES' | translate }}" popover-trigger="mouseenter") 
          .col-xs-8
            span.fields
              | {{documents.paginationNotes}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Pagination:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_PAGINATION' | translate }}" popover-trigger="mouseenter") 
          .col-xs-8
            span.fields
              | {{documents.pagination}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Folio Count:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_FOL_COUNT' | translate }}" popover-trigger="mouseenter") 
          .col-xs-8
            span.fields
              | {{documents.folioCount}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Missing Folios:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_MISSINGFOLIOS' | translate }}" popover-trigger="mouseenter") 
          .col-xs-8
            span.fields
              | {{documents.missingFolios}}
  .infos(ng-if="edit")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Organizational Criteria:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_ORG_CRIT' | translate }}" popover-trigger="mouseenter") 
          .col-xs-10
            textarea.form-control(name="notesTextArea" ng-model="documents.organizationalCriteria")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Pagination Notes:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_PAG_NOTES' | translate }}" popover-trigger="mouseenter") 
          .col-xs-10
            textarea.form-control(name="notesTextArea" ng-model="documents.paginationNotes")
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Pagination:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_PAGINATION' | translate }}" popover-trigger="mouseenter") 
          .col-xs-10
            textarea.form-control(name="notesTextArea" ng-model="documents.pagination")
    .row
      .col-xs-12
        .row
          .col-xs-3
            .label
              | Folio Count:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_FOLIO_COUNT' | translate }}" popover-trigger="mouseenter") 
          .col-xs-5
            input.form-control(type="text" ng-model="documents.folioCount")
    .row
      .col-xs-12
        .row
          .col-xs-3
            .label
              | Missing Folios:
              | &nbsp;
              span.glyphicon.glyphicon-question-sign(popover="{{ 'volumeDescr.HELP_MISSING_FOLIOS' | translate }}" popover-trigger="mouseenter") 
          .col-xs-5
            input.form-control(type="text" ng-model="documents.missingFolios")
        .col-xs-2
          button.btn.btn-xs.btn-xxs.btn-success(ng-click="save()" ng-show="edit" )
            | {{ 'general.SAVE' | translate }}
