div
  .form-group
    .col-xs-3
      label(for="searchQuery") Search query
      input.form-control(type="text" ng-model="searchQuery" name="searchQuery" placeholder="insert search here")
    .col-xs-3
      label(for="searchWhere") Define where to search
      select.form-control(name="searchWhere" ng-model="searchWhere")
        option(value="DE_TRANSCRIPTION_AND_SYNOPSIS") Transcription and synopsis
        option(value="DE_TRANSCRIPTION") Transcription
        option(value="DE_SYNOPSIS") Synopsis
    .col-xs-2
      button.btn.btn-success.search-button(ng-click="wordSearchDe(searchQuery, searchWhere, searchType)" ng-disabled="!searchType || !searchQuery || !searchWhere")
        | Search
  .form-group
    .col-xs-12
      label.radio-inline
        input(type='radio', name='optradio' ng-model="searchType" value="all")
        | All documents
      label.radio-inline
        input(type='radio', name='optradio' ng-model="searchType" value="mine")
        | Only my documents
      label.radio-inline
        input(type='radio', name='optradio' ng-model="searchType" value="other")
        | Everyone elses documents
