.row(ng-if="!collation")
  .col-xs-12
    |  Cannot display this Reconstucted Document.

.row(ng-if="collation")
  .col-xs-12
    h3.mt-0
      | mapCollationId #
      span {{collation.id}}
    div(ng-if="me.account == collation.createdBy || secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])")
      span.single-actions.clickable(ng-click="deleteCollation()")
        i.action-list
          img.delete-icon(src="img/icons-new/delete-icon-13x18.png")
        |  Delete Reconstruction
      //button.btn.btn-xs.btn-success Delete Reconstruction

//.row.mod-de-container(ng-if="parentDe && childDe")
.row.mod-de-container
  .col-sm-6.col-xs-12.doc-left-col-cont(ng-if="parentDe && parCurrentImageOrFileId && parViewerAddress && parCurrentFolios")
    //-------------------//
    //       Summary     //
    //-------------------//
    h3 Main Document
    .doc-left-col
      //.box-container
      .doc-ae-info
        .doc-ae-info-cont
          .infos
            .row(ng-if="parentDe.uploadFiles.length")
              .col-xs-12
                .row
                  .col-xs-12
                    .label(style="font-style: normal;font-size: 20px;padding: 2px 5px;font-weight: normal;white-space: normal;display: inline-block;text-align: left;")
                      | {{parentDe.uploadFiles[0].collectionName}}&nbsp;
                      span(ng-if="parentDe.uploadFiles[0].volumeName")
                        | &nbsp;-&nbsp;
                        | {{parentDe.uploadFiles[0].volumeName}}
                      span(ng-if="parentDe.uploadFiles[0].inserName")
                        | &nbsp;-&nbsp;
                        | {{parentDe.uploadFiles[0].inserName}}
            .row.mt-10
              .col-xs-12
                .row
                  .col-xs-4
                    .label
                      | {{'deMeta.MAPDOCID' | translate}}
                  .col-xs-4
                    span.fields
                      | {{parentDe.documentId}}
                  .col-xs-4
                    a(ui-sref="mia.modifyDocEnt({docId: parentDe.documentId})")
                      span.open-all
                        i.fa.fa-file-text-o
                        | &nbsp;Go to the Document
      .doc-ae-info
        .doc-ae-info-cont
          .infos
            .row
              .col-xs-4
                .label
                  | Cat. Type:
              .col-xs-8
                span.fields
                  | {{parentCategory}}
                  span.label-doc-ent
                    | &nbsp; -- &nbsp;
                span.doc-summary-typology
                  | {{parentDe.typology}}
            .row(ng-if="!parentDe.date.docUndated && (parentDe.date.docYear || parentDe.date.docMonth || parentDe.date.docDay)")
              .col-xs-4
                .label
                  | Document Date
              .col-xs-8
                span.fields
                  span {{ parentDe.date.docYear || '--'}} /
                  span(ng-repeat="month in months" ng-if="month.id == parentDe.date.docMonth") {{month.name || '--'}} /
                  span {{parentDe.date.docDay || '--'}}
            .row(ng-repeat="role in parentPeoples" ng-if="role.peoples.length")
              .col-xs-4
                .label
                  | {{role.type}}
              .col-xs-8
                span.fields(ng-repeat="person in role.peoples")
                  | {{person.feData.mapNameLf}}{{$last ? '' : '; '}}

      //-------------------//
      //       Viewer      //
      //-------------------//
      doc-viewer-dir(de="parentDe" current-img-or-file-id="parCurrentImageOrFileId" viewer-addr="parViewerAddress" last-shown-image-indx="parCurrentFolios")


  .col-sm-6.col-xs-12.doc-left-col-cont(ng-if="childDe && chCurrentImageOrFileId && chViewerAddress && chCurrentFolios")
    //-------------------//
    //       Summary     //
    //-------------------//
    h3 Attachment
    .doc-left-col
      //.box-container
      .doc-ae-info
        .doc-ae-info-cont
          .infos
            .row(ng-if="childDe.uploadFiles.length")
              .col-xs-12
                .row
                  .col-xs-12
                    .label(style="font-style: normal;font-size: 20px;padding: 2px 5px;font-weight: normal;white-space: normal;display: inline-block;text-align: left;")
                      | {{childDe.uploadFiles[0].collectionName}}&nbsp;
                      span(ng-if="childDe.uploadFiles[0].volumeName")
                        | &nbsp;-&nbsp;
                        | {{childDe.uploadFiles[0].volumeName}}
                      span(ng-if="childDe.uploadFiles[0].inserName")
                        | &nbsp;-&nbsp;
                        | {{childDe.uploadFiles[0].inserName}}
            .row.mt-10
              .col-xs-12
                .row
                  .col-xs-4
                    .label
                      | {{'deMeta.MAPDOCID' | translate}}
                  .col-xs-4
                    span.fields
                      | {{childDe.documentId}}
                  .col-xs-4
                    a(ui-sref="mia.modifyDocEnt({docId: childDe.documentId})")
                      span.open-all
                        i.fa.fa-file-text-o
                        | &nbsp;Go to the Document
      .doc-ae-info
        .doc-ae-info-cont
          .infos
            .row
              .col-xs-4
                .label
                  | Cat. Type:
              .col-xs-8
                span.fields
                  | {{clildCategory}}
                  span.label-doc-ent
                    | &nbsp; -- &nbsp;
                span.doc-summary-typology
                  | {{childDe.typology}}
            .row(ng-if="!childDe.date.docUndated && (childDe.date.docYear || childDe.date.docMonth || childDe.date.docDay)")
              .col-xs-4
                .label
                  | Document Date
              .col-xs-8
                span.fields
                  span {{ childDe.date.docYear || '--'}} /
                  span(ng-repeat="month in months" ng-if="month.id == childDe.date.docMonth") {{month.name || '--'}} /
                  span {{childDe.date.docDay || '--'}}
            .row(ng-repeat="role in clildPeoples" ng-if="role.peoples.length")
              .col-xs-4
                .label
                  | {{role.type}}
              .col-xs-8
                span.fields(ng-repeat="person in role.peoples")
                  | {{person.feData.mapNameLf}}{{$last ? '' : '; '}}

      //-------------------//
      //       Viewer      //
      //-------------------//
      doc-viewer-dir(de="childDe" current-img-or-file-id="chCurrentImageOrFileId" viewer-addr="chViewerAddress" last-shown-image-indx="chCurrentFolios")

