.bio-people-results{
  margin-top: 10px;
  .single-field{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
.removedPerson {
  position: absolute;
  font-size: 96px;
  text-align: center;
  color: red;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.document-details{
  margin-top: 10px;
}
.edit-icon{
  z-index: 10;
  position: relative;
  top: 20px;
  right: 5px;
}
.select-cont{
  padding-left: 15px;
  padding-right: 5px;
}

.field-title {
  font-size:13px;
}

.field-subtitle {
  font-style:italic; 
  font-size:10px;
}

.field-subsubtitle {
  font-size:9px
}

.field-bold {
  font-weight:bold;
}

.main-role {
  color:#b71c1c;
}
.content{
  .glyphicon-pencil{
    margin-top: 0px;
  }
}
.doc-counter{
  color: @brand-success;
  cursor: pointer;
}

.single-field{
  .save-buttons {
    margin-top: 10px;
  }
}

.edit-icon-small{
  height: 14px;
}
.inner-button{
  i {
    padding: 16px 3px 2px 0px;
    font-size: 16px;
  }
}

.right-col{
  text-align: right;
  .people-delete-button{
    margin-top: 10px;
  }
}

.icon-pull-up{
  margin-top: -14px;
}

.big-label{
  font-size: 1.5rem;
}
.btn-big{
  font-size:1.5rem; 
}
.admin-details{
  font-style: italic;
  .data{
    font-style: normal;
    color: @brand-success;
  }
}

.form-control:disabled {
  background-color: #e2e2e2
}