.bio-people-results
  #grid1(ui-grid="{ data: personDataTable, columnDefs: [{name: 'Field Name',field: 'propertyName'},{name: 'Value',field: 'propertyValue'}]}" gridOptions class="grid" ng-if="false")
  h2.page-title(ng-show="!id") {{'people.CREATE' | translate}}
  .buttons
    .open-close
      button.btn.btn-default.mr-5(ng-click="switchAllPanels()")
        span(ng-if="allClosed")
          | Open all&nbsp;
          //i.ion-android-arrow-dropdown
          span.glyphicon.glyphicon-chevron-down
        span(ng-if="!allClosed")
          | Close all&nbsp;
          //i.ion-android-arrow-dropdown.flip
          span.glyphicon.glyphicon-chevron-up
      a.btn.btn-default(ng-click="gotoComments()")
        | Comments
  .row.col-xs-12.text-uppercase(ng-if="personData.logicalDelete == true && !secAuthorize(['ADMINISTRATORS'])" style="color: red")
    | this is a deleted record
  .row(ng-if="personData.logicalDelete == false || personData.logicalDelete == true && secAuthorize(['ADMINISTRATORS'])")
    .col-md-8.col-xs-12
      .document-details
        //---------------
        // GENERAL DATA
        //---------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[0].open')
            accordion-heading
              .panel-title-desc
                | {{sections[0].name}} - {{personData.mapNameLf}}
                span.text-uppercase(ng-if="personData.logicalDelete == true && secAuthorize(['ADMINISTRATORS'])" style="color: red")
                  | &nbsp; - this is a deleted record
              i.glyphicon.pull-right.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
            .content
              .row
                .col-xs-8
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title(ng-if="personData.gender != 'X'") {{'people.fields.COMPLETENAME' | translate}}
                        label.inner-title(ng-if="personData.gender == 'X'") {{'people.fields.ORGNAME' | translate}}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[0].edit") {{personData.mapNameLf}}
                          input.form-control(type="text" ng-model="personData.mapNameLf" ng-if="sections[0].edit")
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title(ng-if="personData.gender != 'X'") {{'people.fields.BIODATEOFBIRTH' | translate}} 
                        label.inner-title(ng-if="personData.gender == 'X'") {{'people.fields.ORGDATEOFINCEPTION' | translate}} 
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[0].edit") {{personData.bornYear}} 
                          input.form-control(type="text" ng-model="personData.bornYear" ng-if="sections[0].edit")
                  .single-field(ng-if="personData.gender == 'X'")
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.HEADQUARTERS' | translate}}

                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.RELATEDDOCS' | translate}}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="personData.gender == 'X'") {{'people.fields.ORGFOUNDINDOCS' | translate}}  {{totalDocNum}} {{'people.fields.DOCSPART' | translate}}
                          span.inner-content(ng-if="personData.gender != 'X'") {{'people.fields.BIOFOUNDINDOCS' | translate}} 
                            a(ng-click="findDocsRealtedToPerson()").fields.ae-desc-links
                              | {{totalDocNum}}
                            |  {{'people.fields.DOCSPART' | translate}}
                          div
                            span(ng-repeat="type in roleInDoc")
                              | {{$last ? ' and ' : ''}} {{$middle ? ', ' : ''}} 
                              span.doc-counter(ng-click="selectDocs(type)") {{type.count}} {{type.name}}
                              
                          table.table.table-striped(ng-if="showDocDetails")
                            thead
                              tr
                                th
                                  | {{'people.fields.relateddocstable.DOCID' | translate}}
                                th
                                  |  {{'people.fields.relateddocstable.TYPOLOGY' | translate}} 
                                th
                                  |  {{'people.fields.relateddocstable.TITLE' | translate}}
                                th
                                  |  {{'people.fields.relateddocstable.CREATIODATE' | translate}}
                                th
                                  |  {{'people.fields.relateddocstable.ROLEINDOC' | translate}}
                            tbody
                              tr(role="button" ng-repeat="doc in docToShow track by $index" ng-click="openDoc(doc)")
                                td
                                  | {{doc.documentId}}
                                td
                                  | {{doc.typology}}
                                td
                                  | {{doc.deTitle}}
                                td
                                  | {{doc.dateCreated}}
                                td(ng-if="doc.fields[0].fieldName == 'docRefFields'")
                                  | Cited in Document
                                td(ng-if="doc.fields[0].fieldName != 'docRefFields'")
                                  | {{doc.fields[0].fieldName}}
                          //#grid1(ng-if="showDocDetails" ui-grid="{ data: docToShow, rowTemplate: 'modules/directives/row-templates/doc-row.html', columnDefs: [{name: 'Doc id',field: 'documentId'},{name: 'Typology',field: 'typology'},{name: 'Doc Title',field: 'deTitle'},{name: 'Creation Date',field: 'dateCreated'}, {name: 'Person Role',field: 'fields[0].fieldName'}]}" gridOptions class="grid")
                          
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title(ng-if="personData.gender != 'X'") {{'people.fields.BIODATEOFDEATH' | translate}}
                        label.inner-title(ng-if="personData.gender == 'X'") {{'people.fields.ORGDATEOFEND' | translate}} 
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[0].edit") {{personData.deathYear}}
                          input.form-control(type="text" ng-model="personData.deathYear" ng-if="sections[0].edit")
                  .single-field(ng-if="sections[0].edit")
                    .row
                      .col-xs-12
                        .btn-group
                          button.btn.btn-success(ng-click="saveSummary()") {{'people.BTNSAVE' | translate}}
                          button.btn.btn-default(ng-click="switchEditSummary()") {{'people.BTNCANCEL' | translate}}
                .col-xs-2.admin-details
                  .row(ng-if="$stateParams.id && secAuthorize(['ADMINISTRATORS'])")
                    .col-xs-6
                      | {{'people.MAPID' | translate}}         
                    .col-xs-6
                      .data {{personData.peopleId}}
                  .row
                    .col-xs-6
                      | {{'people.CREATEBY' | translate}}         
                    .col-xs-6
                      .data.ae-desc-links.cursor-pointer(ng-click='goToPublicProfile(personData.createdBy)') {{personData.createdBy}} 
                  .row
                    .col-xs-12
                      | {{'people.DATECRE' | translate}}         
                  .row
                    .col-xs-12
                      .data {{personData.dateCreated}} 
                  .row
                    .col-xs-12
                      .people-delete-button
                        actions-history-dir(record-id="personData.peopleId" record-type="'BIO'")
                        button.btn.btn-success(ng-if="personData.logicalDelete == false && personData.gender == 'X' && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click="realDelete()") 
                          | {{ 'people.ORGDELETE' | translate }} 
                        button.btn.btn-success(ng-if="personData.logicalDelete == false && personData.gender != 'X' && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click="realDelete()")
                          | {{ 'people.DELETE' | translate }}
                        button.btn.btn-success(ng-if="personData.logicalDelete == true && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click="realUndelete()")
                          span.text-uppercase(style="color: red;")
                            | undelete  
                .col-xs-2
                  .portrait
                    a(ng-if='personData.portraitImageName')
                      img(ng-src='{{personPortraitDetails.portraitPath}}', height='145', title="{{personPortraitDetails.portraitAuthor}} - {{personPortraitDetails.portraitSubject}}")
                    a(ng-if='!personData.portraitImageName')
                      img(ng-src='img/personPortrait.jpeg') 
                  div
                    button.btn.btn-success(ng-if="!editingPortrait && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click="uploadPortrait()" style="margin: 10px 0; display: block;")
                      | {{'personalprofile.UPP' | translate}}
                    button.btn.btn-success(ng-if="!editingPortrait && secAuthorize(['ADMINISTRATORS','ONSITE_FELLOWS'])" ng-click="editPortrait()")
                      | {{ 'people.MODPORT' | translate }}
                    div(ng-if="editingPortrait")
                      .form-group
                        label {{ 'people.PORTAUTH' | translate }}
                        input.form-control(ng-model="portraitAuthor" type="text")
                      .form-group
                        label {{ 'people.PORTSUB' | translate }}
                        input.form-control(ng-model="portraitSubject" type="text")
                      .form-group
                        .btn-group
                          button.btn.btn-success(ng-click="savePortrait(portraitAuthor, portraitSubject)")
                            | {{ 'general.SAVE' | translate }}
                          button.btn.btn-success(ng-click="editPortrait()")
                            | {{ 'general.CANCEL' | translate }}
  .row(ng-if="personData.logicalDelete == false")
    .col-md-8.col-xs-12
      .document-details
        //------------------
        // PERSONAL DETAILS
        //------------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[1].open')
            accordion-heading
              .panel-title-desc
                | {{sections[1].name}} - {{personData.mapNameLf}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
            .content(ng-if="personData.gender != 'X'")
              .row
                 .col-xs-12
                    .btn-group
                      button.btn.btn-success(ng-click="switchEditPersonal()" ng-if="!sections[1].edit") {{ 'people.BTNEDITSECTION' | translate }}
                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title.bold
                          strong
                            u {{'people.fields.FIRSTNAME' | translate}}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.firstName}}
                          input.form-control(type="text" ng-model="personData.firstName" ng-if="sections[1].edit")

                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title.bold {{ 'people.fields.SUCCNUMB' | translate }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.SUCCNUMBHELP' | translate }}" popover-trigger="mouseenter")                        
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.sucNum}}
                          input.form-control(type="text" ng-model="personData.sucNum" ng-if="sections[1].edit" maxlength="6")

                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title.bold {{ 'people.fields.PATRONIMICPREFIX' | translate }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.PATRONIMICPREFIXHELP' | translate }}" popover-trigger="mouseenter")                        
                    .row
                      .col-xs-4
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.middlePrefix}}
                          input.form-control(type="text" ng-model="personData.middlePrefix" ng-if="sections[1].edit")                          

                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title.bold {{ 'people.fields.PATRONIMIC' | translate }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.PATRONIMICHELP' | translate }}" popover-trigger="mouseenter")                        
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.middleName}}
                          input.form-control(type="text" ng-model="personData.middleName" ng-if="sections[1].edit")

                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title.bold {{ 'people.fields.LASTNAMEPREFIX' | translate }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.LASTNAMEPREFIXHELP' | translate }}" popover-trigger="mouseenter")                        
                    .row
                      .col-xs-4
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.lastPrefix}}
                          input.form-control(type="text" ng-model="personData.lastPrefix" ng-if="sections[1].edit")

                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title 
                          strong 
                            u {{'people.fields.LASTNAME' | translate}}
                              | &nbsp;
                              span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.LASTNAMEHELP' | translate }}" popover-trigger="mouseenter")                            
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.lastName}}
                          input.form-control(type="text" ng-model="personData.lastName" ng-if="sections[1].edit")

                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title.bold {{ 'people.fields.APPELLATIVEPREFIX' | translate }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.APPELLATIVEPREFIXHELP' | translate }}" popover-trigger="mouseenter")                        
                    .row
                      .col-xs-4
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.postLastPrefix}}
                          input.form-control(type="text" ng-model="personData.postLastPrefix" ng-if="sections[1].edit")  

                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title.bold {{ 'people.fields.APPELLATIVE' | translate }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.APPELLATIVEHELP' | translate }}" popover-trigger="mouseenter")                        
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.postLast}}
                          input.form-control(type="text" ng-model="personData.postLast" ng-if="sections[1].edit")                            

                .col-xs-12
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.GENDER' | translate}}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.GENDERHELP' | translate }}" popover-trigger="mouseenter")
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.gender}}
                          select.form-control(type="text" ng-model="personData.gender" ng-if="sections[1].edit")
                            option(value="M") {{'people.fields.GENOPTIONM' | translate}}
                            option(value="F") {{'people.fields.GENOPTIONF' | translate}}
                            option(value="X") {{'people.fields.GENOPTIONX' | translate}}

                .col-xs-12
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title(style="font-size: 1.5em") {{ 'Birth' }}:

                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(style="width: 30px;") {{ 'Year' }}:
                        span.inner-content(ng-if="!sections[1].edit") {{personData.bornYear}}
                        input.form-control.inline-block(
                          ng-change="validateDates('bornYear')"
                          popover='{{errors.validateErrorMessage}}' popover-is-open="errors.birthDateInvalid" popover-trigger="none"
                          ng-disabled="personData.activeStart != '' && personData.activeStart != null" style="width: 50px;" type="text" ng-model="personData.bornYear" ng-if="sections[1].edit")
                .col-xs-12.col-md-4
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(style="width: 40px;") {{ 'Month' }}:
                        span.inner-content(ng-if="!sections[1].edit") {{dates(personData.bornMonth)}}
                        select.form-control.inline-block(ng-disabled="personData.activeStart != '' && personData.activeStart != null" ng-if="sections[1].edit" style="width: 200px;" ng-options="month.id as month.name for month in months" ng-selected="0" ng-model="personData.bornMonth" )
                    
                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(style="width: 30px;") {{ 'Day' }}:
                        span.inner-content(ng-if="!sections[1].edit") {{personData.bornDay}}
                        input.form-control.inline-block(
                          ng-change="validateDates('bornDay')"
                          popover='{{errors.validateErrorMessage}}' popover-is-open="errors.birthDayInvalid" popover-trigger="none"
                          ng-disabled="personData.activeStart != '' && personData.activeStart != null" style="width: 50px;" type="text" ng-model="personData.bornDay" ng-if="sections[1].edit")
                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(ng-if="sections[1].edit" style="width: 55px; ") {{ 'B.C.?' }}
                        label.inner-title.inline-block(ng-if="!sections[1].edit && personData.bornDateBc" style="width: 55px; font-weight: bold; text-decoration: underline;") {{ 'B.C.' }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'Select if date of birth is prior to the Christian Era' }}" popover-trigger="mouseenter")                        
                        input(ng-if="sections[1].edit" type="checkbox" ng-model="personData.bornDateBc")
                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(ng-if="sections[1].edit || personData.bornApprox" style="width: 50px; font-weight: bold; color: green;") {{ 'Approx.' }}
                        input(ng-if="sections[1].edit" type="checkbox" ng-model="personData.bornApprox")  
                .col-xs-12.col-md-4
                    .row    
                      .col-xs-12            
                          
                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.BIOBIRTHPLACE' | translate}}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{bornPlace.feData.placeName}}&nbsp;
                          mod-place-dir(place="bornPlace" role="" on-select="saveBornPlace(params, bornPlace)" on-change="onChangeBornPlace(placeName)" on-cancel="cancelNewPlace(place, role)" ng-if="sections[1].edit")
                
                .col-xs-12.col-md-2
                  .row
                    .col-xs-12
                      label.inner-title &nbsp;
                  .row
                    .col-xs-12
                      label.inner-title.inline-block(ng-if="sections[1].edit" style="width: 70px;") {{ 'Unsure?' }}
                      label.inner-title.inline-block(ng-if="!sections[1].edit && personData.bornPlaceUnsure" style="width: 70px; width: 50px; font-weight: bold; color: red;") {{ 'Unsure' }}
                        | &nbsp;
                        span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'Unsure?' }}" popover-trigger="mouseenter")                        
                      input(ng-if="sections[1].edit" type="checkbox" ng-model="personData.bornPlaceUnsure") 
                .col-xs-12.col-md-4
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.ACTIVESTART' | translate}}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.ACTIVESTARTHELP' | translate }}" popover-trigger="mouseenter")
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.activeStart}} 
                          input.form-control(ng-change="validateDates('activeStart')"
                            popover='{{errors.validateErrorMessage}}' popover-is-open="errors.activeStartInvalid" popover-trigger="none"
                            ng-disabled="personData.bornYear != '' && personData.bornYear != null"
                            type="text" ng-model="personData.activeStart" ng-if="sections[1].edit")

                .col-xs-12
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title(style="font-size: 1.5em") {{ 'Death' }}:

                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(style="width: 30px;") {{ 'Year' }}:
                        span.inner-content(ng-if="!sections[1].edit") {{personData.deathYear}}
                        input.form-control.inline-block(
                          ng-change="validateDates('deathYear')"
                          popover='{{errors.validateErrorMessage}}' popover-is-open="errors.deathDateInvalid" popover-trigger="none"
                          ng-disabled="personData.activeEnd != '' && personData.activeEnd != null" style="width: 50px;" type="text" ng-model="personData.deathYear" ng-if="sections[1].edit")
                .col-xs-12.col-md-4
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(style="width: 40px;") {{ 'Month' }}:
                        span.inner-content(ng-if="!sections[1].edit") {{dates(personData.deathMonth)}}
                        select.form-control.inline-block(ng-disabled="personData.activeEnd != '' && personData.activeEnd != null" ng-if="sections[1].edit" style="width: 200px;" ng-options="month.id as month.name for month in months" ng-model="personData.deathMonth" )
                    
                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(style="width: 30px;") {{ 'Day' }}:
                        span.inner-content(ng-if="!sections[1].edit") {{personData.deathDay}}
                        input.form-control.inline-block(
                          ng-change="validateDates('deathDay')"
                          popover='{{errors.validateErrorMessage}}' popover-is-open="errors.deathDayInvalid" popover-trigger="none"
                          ng-disabled="personData.activeEnd != '' && personData.activeEnd != null" style="width: 50px;" type="text" ng-model="personData.deathDay" ng-if="sections[1].edit")
                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(ng-if="sections[1].edit" style="width: 55px;") {{ 'B.C.?' }}
                        label.inner-title.inline-block(ng-if="!sections[1].edit && personData.deathDateBc" style="width: 55px; font-weight: bold; text-decoration: underline;") {{ 'B.C.' }}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'Select if date of birth is prior to the Christian Era' }}" popover-trigger="mouseenter")                        
                        input(ng-if="sections[1].edit" type="checkbox" ng-model="personData.deathDateBc")
                .col-xs-12.col-md-2
                    .row
                      .col-xs-12
                        label.inner-title.inline-block(ng-if="sections[1].edit || personData.deathApprox" style="width: 50px; font-weight: bold; color: green;") {{ 'Approx.' }}
                        input(ng-if="sections[1].edit" type="checkbox" ng-model="personData.deathApprox")
                .col-xs-12.col-md-4
                    .row    
                      .col-xs-12                                                    

                .col-xs-12.col-md-6          
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.BIODEATHPLACE' | translate}}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{deathPlace.feData.placeName}}
                          mod-place-dir(place="deathPlace" role="" on-select="saveDeathPlace(params, deathPlace)" on-change="onChangeDeathPlace(placeName)" on-cancel="cancelNewPlace(place, role)" ng-if="sections[1].edit")
                
                .col-xs-12.col-md-2
                  .row
                    .col-xs-12
                      label.inner-title &nbsp;
                  .row
                    .col-xs-12
                      label.inner-title.inline-block(ng-if="sections[1].edit" style="width: 70px;") {{ 'Unsure?' }}
                      label.inner-title.inline-block(ng-if="!sections[1].edit && personData.deathPlaceUnsure" style="width: 70px; font-weight: bold; color: red;") {{ 'Unsure' }}
                        | &nbsp;
                        span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'Unsure?' }}" popover-trigger="mouseenter")                        
                      input(ng-if="sections[1].edit" type="checkbox" ng-model="personData.deathPlaceUnsure")                 
                .col-xs-12.col-md-4          
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.ACTIVEEND' | translate}}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.ACTIVEENDHELP' | translate }}" popover-trigger="mouseenter")
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.activeEnd}}
                          input.form-control(ng-change="validateDates('activeEnd')"
                            popover='{{errors.validateErrorMessage}}' popover-is-open="errors.activeEndInvalid" popover-trigger="none"
                            ng-disabled="personData.deathYear != '' && personData.deathYear != null" type="text" ng-model="personData.activeEnd" ng-if="sections[1].edit")
                .col-xs-12          
                  .single-field(ng-if="sections[1].edit")
                    .row
                      .col-xs-12
                        .btn-group
                          button.btn.btn-success(ng-disabled="errors.birthDateInvalid || errors.deathDateInvalid || errors.activeStartInvalid || errors.activeEndInvalid"
                          ng-click="savePersonal()") {{'people.BTNSAVE' | translate}}
                          button.btn.btn-default(ng-click="switchEditPersonal()") {{'people.BTNCANCEL' | translate}}

            .content(ng-if="personData.gender == 'X'")
              .row
                 .col-xs-12
                    .btn-group
                      button.btn.btn-success(ng-click="switchEditPersonal()" ng-if="!sections[1].edit") {{ 'people.BTNEDITSECTION' | translate }}
                .col-xs-12.col-md-6
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.ORGNAME' | translate}}
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.lastName}}
                          input.form-control(type="text" ng-model="personData.lastName" ng-if="sections[1].edit")
                .col-xs-12
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.GENDER' | translate}}
                          | &nbsp;
                          span.glyphicon.glyphicon-question-sign(ng-if="sections[1].edit" popover="{{ 'people.fields.GENDERHELP' | translate }}" popover-trigger="mouseenter")
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.gender}}
                          select.form-control(type="text" ng-model="personData.gender" ng-if="sections[1].edit")
                            option(value="M") {{'people.fields.GENOPTIONM' | translate}}
                            option(value="F") {{'people.fields.GENOPTIONF' | translate}}
                            option(value="X") {{'people.fields.GENOPTIONX' | translate}}
                          
                .col-xs-12.col-md-3
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.ORGDATEOFINCEPTION' | translate}} (year):
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.bornYear}}
                          input.form-control.inline-block(style="width: 90%" type="text" ng-model="personData.bornYear" ng-if="sections[1].edit")                        

                .col-xs-12.col-md-2
                  .row
                    .col-xs-12
                      label.inner-title &nbsp;                
                  .row
                    .col-xs-12
                      label.inner-title.inline-block(style="width: 50px;") {{ 'Approx.' }}
                      input(type="checkbox" ng-model="personData.bornApprox" ng-true-value="1" ng-false-value="0")
                          
                .col-xs-12.col-md-3
                  .single-field
                    .row
                      .col-xs-12
                        label.inner-title {{'people.fields.ORGDATEOFEND' | translate}} (year):
                    .row
                      .col-xs-12
                        .transcriptions
                          span.inner-content(ng-if="!sections[1].edit") {{personData.deathYear}}
                          input.form-control.inline-block(style="width: 90%" type="text" ng-model="personData.deathYear" ng-if="sections[1].edit")                         

                .col-xs-12.col-md-2
                  .row
                    .col-xs-12
                      label.inner-title &nbsp;                
                  .row
                    .col-xs-12
                      label.inner-title.inline-block(style="width: 50px;") {{ 'Approx.' }}
                      input(type="checkbox" ng-model="personData.deathApprox" ng-true-value="1" ng-false-value="0")

                .col-xs-12          
                  .single-field(ng-if="sections[1].edit")
                    .row
                      .col-xs-12
                        .btn-group
                          button.btn.btn-success(ng-click="savePersonal()") {{'people.BTNSAVE' | translate}}
                          button.btn.btn-default(ng-click="switchEditPersonal()") {{'people.BTNCANCEL' | translate}}
  .row(ng-if="personData.logicalDelete == false")  
    .col-md-8.col-xs-12
      .document-details
        //------------------
        // NAMES
        //------------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[2].open')
            accordion-heading
              .panel-title-desc
                | {{sections[2].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
            .content
              .row
                .col-xs-12.col-md6(ng-repeat="name in names")
                  .single-field
                    .row(ng-if="!name.edit") 
                      .col-sm-4
                        label.inner-title {{name.nameType}}:
                      .col-sm-4
                        .transcriptions
                          span.inner-content {{name.altName}}
                      .col-sm-4(ng-if="!namesEditing")
                        .btn-group 
                          button.btn.btn-success(ng-click="editNames(name)") {{'general.EDIT' | translate}}
                          button.btn.btn-success(ng-click="deleteName(name)") {{ 'general.DELETE' | translate }}
                    .row(ng-if="name.edit")
                      .col-xs-8
                        .transcriptions
                          label.inner-title Name Type: 
                          select.form-control(ng-options="nameType as nameType for nameType in nameTypes" ng-model="name.nameType" required)
                        .transcriptions
                          label.inner-title(ng-if="name.edit") Name Variant: 
                          input.form-control(type="text" ng-model="name.altName" ng-if="name.edit" required)                        
                      .col-xs-4
                        .btn-group
                          button.btn.btn-default(ng-click="saveName(name)")
                            | {{ 'general.SAVE' | translate }}
                          button.btn.btn-default(ng-click="cancelEditName(name)" ng-if="name.altNameId")
                            | {{ 'general.CANCEL' | translate }}
                          button.btn.btn-default(ng-click="cancelEditNewName(name)" ng-if="!name.altNameId")
                            | {{ 'general.CANCEL' | translate }}                      
              .row(ng-if="!newNameVariant")
                .col-xs-12
                  .btn-group
                    .btn.btn-success(ng-click="addNewName()") {{'people.BTNADDNEWNAME' | translate}}
  .row(ng-if="personData.gender == 'X' && personData.logicalDelete == false")
    .col-md-8.col-xs-12
      .document-details
        //------------------
        // HEADQUARTERS
        //------------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[3].open')
            accordion-heading
              .panel-title-desc
                | {{sections[3].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[3].open, 'glyphicon-chevron-right': !sections[3].open}")
            .content
              .row(ng-repeat="headquarter in headquarters")
                .col-xs-6
                  | {{headquarter.feData.placeName}}
                .col-xs-3
                  | {{headquarter.year}}
                .col-xs-3
                  .btn.btn-default(ng-click="deleteHeadquarter(headquarter.headquarterId)")
                    | Delete
              .row(ng-if="!addingHeadquarter && !sections[3].edit")
                .col-xs-12
                    .btn-group
                      button.btn.btn-success(ng-click="addHeadquarter()")
                        | {{'people.BTNADDHEADQUARTER' | translate}}
              .row(ng-if="addingHeadquarter")
                .col-xs-6
                  .label
                    | Place
                  mod-place-dir(place="newHeadquarter" on-select="selectHeadquarter(params, newHeadquarter)" on-cancel="cancelAddHeadquarter()")
                .col-xs-3                      
                  .label
                    | Year
                  input.form-control(ng-model="newHeadYear")  
                .col-xs-3
                  .btn-group
                    button.btn.btn-success(ng-click="saveHeadquarter(newHeadYear)")
                      | {{'general.SAVE' | translate}}
                    button.btn.btn-success(ng-click="cancelAddHeadquarter()")
                      | {{'general.CANCEL' | translate}}                                                             
  .row(ng-if="personData.logicalDelete == false")
    .col-md-8.col-xs-12
      .document-details
        //------------------
        // TITLES
        //------------------
        accordion.doc-details-accordion
          accordion-group(is-open='sections[4].open')
            accordion-heading
              .panel-title-desc
                | {{sections[4].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[4].open, 'glyphicon-chevron-right': !sections[4].open}")
            .content
              .row
                .col-xs-12(ng-repeat="title in titles")
                  .single-field
                    .row
                      .col-xs-4
                        span.field-title(ng-if="!title.editing") {{title.titleOcc}} &nbsp;
                        br
                        span.field-subtitle {{title.roleCatMinor}}
                      .col-xs-4(ng-if="!title.editing && title.preferredRole") 
                        span.main-role Main Role
                      .col-xs-4(ng-if="!title.editing && !title.preferredRole")
                      .col-xs-4(ng-if="!title.editing")
                        .btn-group
                          button.btn.btn-default(ng-click="editTitle(title)") {{'people.BTNEDIT' | translate}}
                          button.btn.btn-default(ng-click="deleteTitle(title)") {{'people.BTNDELETE' | translate}}
                    .row
                      .col-xs-12(ng-if="!title.editing")
                        .transcriptions
                          br
                          label.inner-content(ng-if="title.poLink.startDay || title.poLink.startMonth || title.poLink.startYear") From
                          span.font-bold {{title.poLink.startDay}} {{title.poLink.startMonth}} {{title.poLink.startYear}} &nbsp; 
                          label.inner-content.field-subsubtitle(ng-show="title.poLink.startApprox == '1'") - Date is Approximate &nbsp;
                          label.inner-content.field-subsubtitle(ng-show="title.poLink.startUnsure == '1'") - Date is Unsure &nbsp;
                          br
                          label.inner-content.field-subsubtitle(ng-if="title.poLink.endDay || title.poLink.endMonth || title.poLink.endYear") To 
                          span.font-bold {{title.poLink.endDay}} {{title.poLink.endMonth}} {{title.poLink.endYear}} &nbsp; 
                          label.inner-content.field-subsubtitle(ng-show="title.poLink.endApprox == '1'") - Date is Approximate &nbsp;
                          label.inner-content.field-subsubtitle(ng-show="title.poLink.endUnsure == '1'") - Date is Unsure &nbsp;
                    .row
                      .col-xs-12(ng-if="title.editing")
                        .transcriptions
                          titles-dir(title="titleToEdit" on-select="saveTitle(params, title)" on-cancel="cancelTitle(title)")
                    .row
                      .col-xs-3(ng-if="title.editing") Preferred Role
                      .col-xs-3(ng-if="title.editing")
                        input(type="checkbox" ng-model="title.preferredRole" ng-true-value="1" ng-false-value="0")
                    .row(ng-if="title.editing")
                      .col-xs-3
                        label {{ 'people.SYEAR' | translate }}
                        input.form-control(type='number' ng-model='title.poLink.startYear' ng-value='(title.poLink.startYear > 1850 ? title.poLink.startYear = null : title.poLink.startYear)')
                      .col-xs-3
                        label {{ 'people.SMNTH' | translate }}
                        select.form-control(ng-options="month.name as month.name for month in months" ng-model="title.poLink.startMonth" )
                      .col-xs-3
                        label {{ 'people.SDAY' | translate }}
                        input.form-control(type='number' ng-model='title.poLink.startDay' ng-value='(title.poLink.startDay > 31 ? title.poLink.startDay = null : title.poLink.startDay)')
                      .col-xs-1
                        label {{ 'people.UNSURE' | translate }}
                        input(type="checkbox" ng-model="title.poLink.startUnsure" ng-true-value="1" ng-false-value="0")
                      .col-xs-1
                        label {{ 'people.APPR' | translate }}
                        input(type="checkbox" ng-model="title.poLink.startApprox" ng-true-value="1" ng-false-value="0")                            
                    .row(ng-if="title.editing")
                      .col-xs-3
                        label {{ 'people.EYEAR' | translate }}
                        input.form-control(type='number', ng-model='title.poLink.endYear' ng-value='(title.poLink.endYear > 1850 ? title.poLink.endYear = null : title.poLink.endYear)')
                      .col-xs-3
                        label {{ 'people.EMNTH' | translate }}
                        select.form-control(ng-options="month.name as month.name for month in months" ng-model="title.poLink.endMonth" )
                      .col-xs-3
                        label {{ 'people.EDAY' | translate }}
                        input.form-control(type='number', ng-model='title.poLink.endDay' ng-value='(title.poLink.endDay > 31 ? title.poLink.endDay = null : title.poLink.endDay)')
                      .col-xs-1
                        label {{ 'people.UNSURE' | translate }}
                        input(type="checkbox" ng-model="title.poLink.endUnsure" ng-true-value="1" ng-false-value="0")
                      .col-xs-1
                        label {{ 'people.APPR' | translate }}
                        input(type="checkbox" ng-model="title.poLink.endApprox" ng-true-value="1" ng-false-value="0")
              .row
                .col-xs-12(ng-if="!titleToEdit.editing")
                  .btn.btn-success(ng-click="addTitle()" ng-disabled="!id") Add Title
  .row(ng-if="personData.logicalDelete == false")
    .col-md-8.col-xs-12
      .document-details
        //------------------
        // PARENTS
        //------------------
        accordion.doc-details-accordion(ng-if="personData.gender != 'X'")
          accordion-group(is-open='sections[5].open')
            accordion-heading
              .panel-title-desc
                | {{sections[5].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[5].open, 'glyphicon-chevron-right': !sections[5].open}")
            .content
              .row
                .col-xs-12(ng-repeat="parent in parents")
                  .single-field
                    .row(ng-if="!parent.editing")
                      .col-xs-8
                        label.inner-title {{parent.role}}
                      .col-xs-4
                        .btn-group
                          button.btn.btn-default(ng-click="editParent(parent)")
                            | Edit
                          button.btn.btn-default(ng-click="deleteParent(parent)")
                            | Delete
                    .row(ng-if="parent.editing") 
                      .col-xs-8
                        label.inner-title(ng-if="parent.role") {{parent.role}}
                        .select-cont(ng-if="!parent.role")
                          select.form-control(ng-options="item.genre as item.label for item in genders | filter:item.active='false'" ng-model="parent.gender" ng-change="editGender(parentToEdit)") {{parent.role}}
                      .col-xs-12
                        .transcriptions
                          mod-parent-dir(person="parentToEdit" id="personId" role="" on-select="saveParent(params, parent)" on-cancel="cancelPerson(parent)")
                    .row(ng-if="!parent.editing")
                      .col-xs-12
                        .transcriptions
                          //- span.inner-content {{parent.name}}
                          a.span.red-link(ng-href="/Mia/index.html#/mia/people/{{parent.parentId}}" target="_self" ng-if="!parent.editing" style="cursor:pointer;")  {{parent.name}}
              .row
                .col-xs-12(ng-if="!existingFather && !existingMother")
                  .btn.btn-success(ng-if="hideAddBtnIfEdditing(parents)" ng-click="addParent()" ng-disabled="!id") Add parent
                .col-xs-12(ng-if="!existingFather && existingMother")
                  .btn.btn-success(ng-if="hideAddBtnIfEdditing(parents)" ng-click="addFather()" ng-disabled="!id") Add Father
                .col-xs-12(ng-if="existingFather && !existingMother")
                  .btn.btn-success(ng-if="hideAddBtnIfEdditing(parents)" ng-click="addMother()" ng-disabled="!id") Add Mother
  .row(ng-if="personData.logicalDelete == false")
    .col-md-8.col-xs-12
      .document-details
        //------------------
        // Children
        //------------------
        accordion.doc-details-accordion(ng-if="personData.gender != 'X'")
          accordion-group(is-open='sections[6].open')
            accordion-heading
              .panel-title-desc
                | {{sections[6].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[6].open, 'glyphicon-chevron-right': !sections[6].open}")
            .content
              .row
                .col-xs-12(ng-repeat="child in children")
                  .single-field
                    .row(ng-if="!child.editing")
                      .col-xs-8
                        a.span.inner-content(ng-href="/Mia/index.html#/mia/people/{{child.id}}" target="_self") {{child.name}}
                      .col-xs-4
                        .btn-group
                          button.btn.btn-default(ng-click="editChild(child)") {{'people.BTNEDIT' | translate}}
                          button.btn.btn-default(ng-click="deleteChild(child)") {{'people.BTNDELETE' | translate}}
                    .row(ng-if="child.editing")
                      .col-xs-12
                        .transcriptions
                          mod-people-dir(person="childToEdit" id="personId" role="" on-select="saveChild(params, child)" on-cancel="cancelPerson(child)")
              .row(ng-if="!child.editing")
                .col-xs-12
                  .btn.btn-success(ng-if="hideAddBtnIfEdditing(children)" ng-click="addChild()" ng-disabled="!id") Add child

  .row(ng-if="personData.logicalDelete == false")
    .col-md-8.col-xs-12
      .document-details
        //------------------
        // Spouses
        //------------------
        accordion.doc-details-accordion(ng-if="personData.gender != 'X'")
          accordion-group(is-open='sections[7].open')
            accordion-heading
              .panel-title-desc
                | {{sections[7].name}}
              i.pull-right.glyphicon.icon-pull-up(ng-class="{'glyphicon-chevron-down': sections[7].open, 'glyphicon-chevron-right': !sections[7].open}")
            .content
              .row
                .col-xs-12(ng-repeat="spouse in spouses")
                  //- i.glyphicon.glyphicon-pencil.pull-right(ng-click="editSpouse(spouse)")
                  .single-field
                    .row(ng-if="!spouse.editing")
                      .col-xs-8
                        label.inner-title {{spouse.type}}
                      .col-xs-4
                        .btn-group
                          button.btn.btn-default(ng-click="editSpouse(spouse)")
                            | Edit
                          button.btn.btn-default(ng-click="deleteSpouse(spouse)")
                            | Delete                  
                    .row(ng-if="spouse.editing") 
                      .col-xs-8
                        .select-cont
                          select.form-control(ng-model = "spouse.spouseType")
                            option(ng-repeat="item in spousesJson | filter:item.active='false'" value="{{item.value}}") {{ item.label }}

                      .col-xs-12
                        .transcriptions
                          mod-people-dir(person="spouseToEdit" role="" on-select="saveSpouse(params, spouse)" on-cancel="cancelPerson(spouse)" sex="personData.gender")
                    .row(ng-if="!spouse.editing") 
                      .col-xs-12(ng-if="!spouse.editing")
                        .transcriptions
                          a.span.inner-content(ng-href="/Mia/index.html#/mia/people/{{spouse.personId}}" target="_self") {{spouse.name}}
              .row
                .col-xs-12
                  .btn.btn-success(ng-if="hideAddBtnIfEdditing(spouses)" ng-click="addSpouse()") Add Spouse

  .row.mt-15.mb-15(ng-if="personData.logicalDelete == false || personData.logicalDelete == true && secAuthorize(['ADMINISTRATORS'])")
    .col-xs-12
      comments-dir(record-type="'BIO'" record-id="$stateParams.id" owner="personData.createdBy")

style(type='text/css').
  .inline-block { display: inline-block }
