.last-record(ng-if="previewItem.entityType == 'DE' && previewItem.entity")
  .last-record-image(ng-if="previewItem.entity.uploadFiles")
      img(ng-src="{{previewItem.entity.uploadFiles[0].filePath}}")
  .last-record-info
      .single-field(ng-if="previewItem.entity.deTitle")
          .row
              .col-xs-12
                  label.inner-title Title
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.deTitle}}
      .single-field(ng-if="previewItem.entity.category")
          .row
              .col-xs-12
                  label.inner-title Category
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.category}}
      .single-field(ng-if="previewItem.entity.typology")
          .row
              .col-xs-12
                  label.inner-title Typology
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.typology}}
      .single-field(ng-if="previewItem.entity.producers")
          .row
              .col-xs-12
                  label.inner-title Producer
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.producers[0].mapNameLf}}
      .single-field(ng-if="previewItem.entity.transcriptions")
          .row
              .col-xs-12
                  label.inner-title Transcription
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.transcriptions[0].transcription}}
      .single-field(ng-if="previewItem.entity.date.docYear != 0 && previewItem.entity.date.docMonth != 0 && previewItem.entity.date.docDay != 0")
          .row
              .col-xs-12
                  label.inner-title Date
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.date.docYear}} - {{previewItem.entity.date.docMonth}} - {{previewItem.entity.date.docDay}}
      .single-field(ng-if="previewItem.entity.owner")
          .row
              .col-xs-12
                  label.inner-title Owner
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.owner}}


.last-record(ng-if="previewItem.entityType == 'BIO' && previewItem.entity")
  .last-record-image
      img(ng-src="src/peoplebase/ShowPortraitPerson.do?personId={{previewItem.entity.peopleId}}")
  .last-record-info
      .single-field(ng-if="previewItem.entity.mapNameLf")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.COMPLETENAME' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.mapNameLf}}
      .single-field(ng-if="previewItem.entity.bornYear")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFBIRTH' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.bornYear}}
      .single-field(ng-if="previewItem.entity.deathYear")
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.BIODATEOFDEATH' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.deathYear}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title {{'people.fields.RELATEDDOCS' | translate}}
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{'people.fields.BIOFOUNDINDOCS' | translate}} {{peopleCountDoc}} {{'people.fields.DOCSPART' | translate}}
      .single-field
          .row
              .col-xs-12
                  label.inner-title Preferred Role
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{peoplePreferredRole}}
      .single-field(ng-if="previewItem.entity.createdBy")
          .row
              .col-xs-12
                  label.inner-title Created by
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.createdBy}}


.last-record(ng-if="previewItem.entityType == 'GEO' && previewItem.entity")
  .last-record-image
      img(ng-src="img/img_place.png")
  .last-record-info
      .single-field(ng-if="previewItem.entity.placeNameFull")
          .row
              .col-xs-12
                  label.inner-title Name
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.placeNameFull}}
      .single-field(ng-if="previewItem.entity.plType")
          .row
              .col-xs-12
                  label.inner-title Type
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.plType}}
      .single-field(ng-if="previewItem.entity.placesMemo")
          .row
              .col-xs-12
                  label.inner-title Place notes
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.placesMemo}}
      .single-field(ng-if="previewItem.entity.createdBy")
          .row
              .col-xs-12
                  label.inner-title Created by
          .row
              .col-xs-12
                  .transcriptions
                      span.inner-content {{previewItem.entity.createdBy}}
