div(ng-controller="modCollationListController")
  .modal-header
    h3.modal-title Document Reconstruction
  .modal-body

    div(ng-if="image.collations.length")
      table.table.table-hover
        thead
        tbody
          tr.clickable(ng-repeat="col in image.collations" ng-click="goCollation(col)")
            th(width="5%") {{$index + 1}}

            th(ng-if="!col.isParent" width="95%")
              | {{col.parentDocumentTitle}}
              | &nbsp;({{col.parentCollectionName}}&nbsp;
              span(ng-if="col.parentVolumeName")
                | &nbsp;-&nbsp;
                | {{col.parentVolumeName}}
              span(ng-if="col.parentInsertName")
                | &nbsp;-&nbsp;
                | {{col.parentInsertName}}
              | )

            th(ng-if="col.isParent"  width="95%")
              | {{col.childDocumentTitle}}
              | &nbsp;({{col.childCollectionName}}&nbsp;
              span(ng-if="col.childVolumeName")
                | &nbsp;-&nbsp;
                | {{col.childVolumeName}}
              span(ng-if="col.childInsertName")
                | &nbsp;-&nbsp;
                | {{col.childInsertName}}
              | )

    .row
      .col-xs-7.col-xs-offset-5.btn-group
        button.btn.btn-default.btn-xs(ng-click="cancel()") {{ 'general.CANCEL' | translate }}
