.row
  .col-xs-12
    .search-results
      h4(ng-if="!results.results.length")
        | No results
      table.table.table-hover.table-striped(ng-if="results.results.length")
        thead(ng-style="pointerIsAdvansedSearch()" style='white-space: nowrap; cursor: pointer')
          tr
            th(ng-click="requestOrderedData('deTitle')")
              | Title &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('deTitle')")
            th(ng-click="requestOrderedData('docYear')")
              | Date (Y-M-D) &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('docYear')")
            th(ng-click="requestOrderedData('category')")
              | Category &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('category')")
            th(ng-click="requestOrderedData('typology')")
              | Typology &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('typology')")
            th(ng-click="requestOrderedData('producers')")
              | Producer &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('producers')")
            th(ng-click="requestOrderedData('placeOfOrigin')")
              | Place &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('placeOfOrigin')")
            th(ng-click="requestOrderedData(searchType == 'DE_TRANSCRIPTION' ? 'transcription' : 'generalNotesSynopsis')")
              | {{searchType == 'DE_TRANSCRIPTION' ? 'Transcription' : 'Synopsis' }} &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered(searchType == 'DE_TRANSCRIPTION' ? 'transcription' : 'generalNotesSynopsis')")
            th(ng-click="requestOrderedData('archivalLocation')")
              | Archival Location &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('archivalLocation')")
            th(ng-click="requestOrderedData('privacy')")
              | Privacy &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('privacy')")
        tbody
          tr.repeated-item(ng-repeat="result in results.results"
                           ng-click="rowAction(result)"
                           popover-template="dynamicPopover.templateUrl"
                           popover-placement="{{$index == 0 || $index == 1 ? 'bottom' : 'top'}}"
                           popover-trigger="{{ (searchType == 'DE_TRANSCRIPTION' ? setTranscription(result) : setSynopsis(result)) ? 'mouseenter' : 'none' }}")
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'docEntity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                | {{result.deTitle}}
            td
              span(ng-if = "!result.date.docUndated && !result.date.docModernYear && result.date.docYear")
                | {{result.date.docYear}} - {{result.date.docMonth}} - {{result.date.docDay}}
              span(ng-if = "!result.date.docUndated && result.date.docModernYear")
                | {{result.date.docModernYear}} - {{result.date.docMonth}} - {{result.date.docDay}}
            td
              | {{result.category}}
            td
              | {{result.typology}}
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'docEntity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                | {{result.producers[0].mapNameLf}}
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'docEntity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                | {{result.placeOfOrigin[0].placeName}}
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'docEntity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                //| {{(setTranscription(result) | limitTo: 120) + (setTranscription(result).length > 120 ? '...' : '')}}
                | {{searchType == 'DE_TRANSCRIPTION' ? ((setTranscription(result) | limitTo: 120) + (setTranscription(result).length > 120 ? '...' : '')) : (((setSynopsis(result) || '') | limitTo: 120) + (result.generalNoteSynopsis.length > 120 ? '...' : ''))}}
            td
              span.isPrivate(ng-if="isRowPrivate(result)")
                | {{ 'docEntity.PRIVATE' | translate }}
              span(ng-if="!isRowPrivate(result)")
                span(ng-if="result.collection")
                  | {{ result.collection.collectionAbbreviation }} 
                span(ng-if="result.volume")
                  | - {{ result.volume.volumeNo }} 
                span(ng-if="result.insert")
                  | - {{ result.insert.insertNo }} 
                span(ng-if="result.uploadFiles && result.uploadFiles.length > 0 && result.uploadFiles[0].folios && result.uploadFiles[0].folios.length > 0")
                  span(ng-if="result.uploadFiles[0].folios[0].folioNumber")
                    | - f. {{ result.uploadFiles[0].folios[0].folioNumber }}{{ result.uploadFiles[0].folios[0].rectoverso.substr(0, 1) }}
                  span(ng-if="!result.uploadFiles[0].folios[0].folioNumber")
                    | - nn
            td.isCentered
              span.isPrivate(ng-if="result.privacy == 1")
                | Private
              span.isPrivate(ng-if="result.privacy == 2")
                img.set-icon(src="img/icons-new/shared-icon.png")
                | Private but shared with me
      .row.col-xs-12(style='height: 50px')
        pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")
      .row.col-xs-12(style='height: 15px')
        hr


style(type='text/css').
    .isPrivate {color: red;
                text-decoration: underline;}
    .isCentered {text-align: center;}

    .chevron-show {  color: #8a5b72 !important;  }

    .glyphicon-chevron-down {color: #DDDCDD;}

    .glyphicon-chevron-up {
      color: #DDDCDD;
    }

    .pagination-sm {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
