div(ng-controller="addDescController")
  .modal-header
    h3.modal-title Add Images Description
  .row
    .col-xs-12
      .search-form
        form.form-horizontal(name="descForm")
          .form-group.ae-desc
            label.control-label.col-sm-4
              | Description
              span.required-error(ng-if="descForm.description.$error.required")
                br
                | {{ 'general.REQUIRED' | translate }}
              span.required-error(ng-if="descForm.description.$error.maxlength")
                br
                | Max. 100 characters
            .col-sm-4
              textarea.form-control(name="description" required ng-maxlength="100" ng-model="desc" ng-class="{'has-error':descForm.description.$error.required}")
          .form-group
            .col-sm-4
            .col-sm-4
              .btn-group
                button.btn.btn-default.btn-xs(ng-click="cancel()")
                  | {{ 'general.CANCEL' | translate }}
                button.btn.btn-primary.btn-xs(
                ng-disabled="descForm.$invalid"
                ng-click="select(desc)")
                  | {{ 'general.SAVE' | translate }}
