.doc-sys-info-cont
  .infos
    .row
      .col-xs-4
        .label
          | {{'deMeta.MAPDOCID' | translate}}
      .col-xs-8
        span.fields
          | {{info.documentId}}
    .row
      .col-xs-4
        .label
          | Owner
      .col-xs-8
        span.ae-desc-links.cursor-pointer(ng-click='goToPublicProfile(info.owner)') {{info.owner}}
    .row
      .col-xs-4
        .label
          | Created
      .col-xs-8
        span.fields
          | {{info.dateCreated}}
    .row(ng-if="!errorDeleting && info.flgLogicalDelete")
      .col-xs-12
        h4.ml-5
          | This is a deleted document!
  .action
    br
    .row
      .col-xs-12(ng-if="spotlightPub == 'false'")
        a.btn.btn-success(ng-click="createSpotlight()" ng-disabled="!isSpotlightEnabled()" popover="{{disabledMessage}}" popover-trigger="mouseenter" popover-placement="top")
          | Submit for publication
      .col-xs-12
        div.mr-5(style="display: inline-block;" ng-if="spotlightPub == 'false'")
          actions-history-dir(record-id="info.documentId" record-type="'DE'")
        //- div.mr-5(style="display: inline-block;" dropdown ng-if="spotlightPub == 'false' && info.canDeleteAndChangePrivacy && info.privacy != 2 && info.owner == info.uploadFiles[0].uploadInfoOwner")
        div.mr-5(style="display: inline-block;" dropdown ng-if="spotlightPub == 'false' && info.canDeleteAndChangePrivacy && info.privacy != 2")
          a#btn-privacy.btn.btn-success(type='button' ng-disabled="!isPrivacyEnabled()" popover="{{disabledPrivacyMessage}}" popover-trigger="mouseenter" popover-placement="top", dropdown-toggle) 
            span.glyphicon.glyphicon-chevron-down
            |  {{ 'singleAentity.SETPRIVACY' | translate }}
          ul.dropdown-menu(dropdown-menu='', role='menu', aria-labelledby='btn-privacy')
            li(role='menuitem')
              a(ng-click="setDocumentToPrivate()") {{ 'singleAentity.PRIVATE' | translate }}
            li(role='menuitem')
              a(ng-click="setDocumentToPublic()") {{ 'singleAentity.PUBLIC' | translate }}
            li(role='menuitem' ng-if="info.privacy == 1")
              a(ng-click="openModalShareWithUsers()") {{ 'singleAentity.SHAREUSER' | translate }}

        a.btn.btn-success(ng-click="deleteDe()" ng-if="spotlightPub == 'false' && !errorDeleting && !info.flgLogicalDelete && info.canDeleteAndChangePrivacy && currentUser == info.owner") 
          span.glyphicon.glyphicon-trash
          | &nbsp;Delete
          //span.open-all
          //  i.glyphicon.glyphicon-trash
          //  | &nbsp;Delete
        a.btn.btn-success(ng-click="unDeleteDe()" ng-if="spotlightPub == 'false' && !errorDeleting && info.flgLogicalDelete")
          span.glyphicon.glyphicon-trash
          | &nbsp;Undelete
          //span.open-all
          //  i.glyphicon.glyphicon-trash
          //  | &nbsp;Undelete 

        //span(ng-if="errorDeleting")
        //  |  {{errorMess}}