div(ng-controller="addFolderCsController")
  .modal-header
    h3.modal-title(ng-if="!folder") Add a new Folder
    h3.modal-title(ng-if="folder") Edit Folder
  .modal-body
    .search-form
      form.form-horizontal(name="folderCsForm")
          .row
            .col-xs-12
              .form-group
                .col-sm-12
                  input.form-control(type="text" ng-model="newFolderCs.name" name="name" placeholder="Type a folder name" required ng-maxlength="100" ng-class="{'has-error': folderCsForm.name.$error.required}")
                  //.required-error(ng-if="folderCsForm.name.$error.required")
                  //  | required
                  .required-error(ng-if="folderCsForm.name.$error.maxlength")
                    | Max. 100 characters

    .text-center.mt-15
      .btn-group
        button.btn.btn-primary.btn-xs(ng-disabled="folderCsForm.$invalid" ng-click="saveFolder()")
          | {{ 'general.SAVE' | translate }}
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}
