div(ng-controller="documentEntityController" ng-hide='hideDeModal')
  .modal-header
    h3.modal-title {{ 'docEntity.TITLE' | translate }}
  .modal-body
    .row
      //////////////////////
      // Images in Upload
      //////////////////////
      .col-xs-12.de-internal-section
        .section-title
          h3 {{ 'docEntity.AESECTION' | translate }}
        .section-body
          .row.thumbs-row.thumbs-block(ng-if="!getArchiveTracker")
            .col-xs-2.de-image(ng-repeat="image in selectedAe.thumbsFiles" ng-drag="image.canView" ng-drag-data="image" )
              img(ng-src="{{image.filePath}}" ng-class="{selected:image.selected}" ng-if="image.canView")
              img(ng-src="img/privateImage.png" ng-if="!image.canView" )
              folio-numb-dir(thumb="image"  ng-if="image.canView")

          .row.thumbs-row.thumbs-block(ng-if="getArchiveTracker")
            .loading(style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;position: relative;top: 40%;")

          //- .row
          //-   .col-xs-12
          //-     .text-center.section-title-help-message
          //-       | {{ 'docEntity.TOUCHSCREENMSG' | translate }}
          .row
            .col-xs-12.modal-pagination.text-center.hidden-xs.visible-sm.visible-md.visible-lg
              pagination(ng-cloak max-size="5" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")
            .col-xs-12.modal-pagination.text-center.visible-xs.hidden-sm.hidden-md.hidden-lg
              pagination(ng-cloak max-size="3" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")

    .row
      //////////////////////
      // Images put in DE
      //////////////////////
      .col-xs-12.de-internal-section
        .section-title
          h3 {{ 'docEntity.DESECTION' | translate}}
        .section-body(ng-if="cantDelete")
          h4 You can't delete last image
          button.btn.btn-warning(ng-click="rehab()")
            | Ok
        .section-body(ng-if="!cantDelete")
          //.row.drop-area-de(ng-drop="true" ng-drop-success="prepareToAdd($data)")
          .row.drop-area-de(ng-drop="true" ng-drop-success="prepareToAdd($data)" ng-class="{dropareafull: documentEntity.uploadFiles.length>1}")
            .de-image-column(ng-repeat="image in documentEntity.uploadFiles")
              .view.view-first.de-image
                img(ng-src="{{image.filePath}}" ng-if="image.canView")
                img(ng-src="img/privateImage.png" ng-if="!image.canView")
                folio-numb-dir(thumb="image" ng-if="image.canView")
                .mask(ng-if="image.canView")
                  h2
                    | &nbsp;
                  span.delete-button
                    .btn-group.pull-right
                      button.btn.btn-xs.btn-primary(ng-click="editFolio(image)")
                        i.ion-edit.medium-icons
                      button.btn.btn-xs.btn-primary(ng-click="deleteImageFromDe(image)")
                        i.ion-trash-b.medium-icons
                  
    .row
      .col-xs-12
        .btn-group
          button.btn.btn-primary.btn-xs(ng-click="next()" ng-if="!options.documentEntityId")
            | {{ 'deMeta.CREATEDE' | translate }}
          button.btn.btn-primary.btn-xs(ng-click="next()" ng-if="options.documentEntityId")
            | {{ 'general.SAVECHANGES' | translate }}
          button.btn.btn-default.btn-xs(ng-click="cancel()")
            | {{ 'general.CANCEL' | translate }}
  .row(ng-if="debug")
    pre
      | {{niceJson(documentEntity)}}

