.row(ng-if="info.placeId")
  .col-xs-5
    .label mapPlaceId#:
  .col-xs-7
    .fields {{info.placeId}}
.row(ng-if="info.createdBy")
  .col-xs-5
    .label Created by:
  .col-xs-7
    .fields.ae-desc-links.cursor-pointer(ng-click='goToPublicProfile(info.createdBy)') {{info.createdBy}}
.row(ng-if="info.dateCreated")
  .col-xs-5
    .label Date of creation:
  .col-xs-7
    .fields {{info.dateCreated}}

style(type="text/css").
  .label {font-size: 100%}