.doc-sys-info{
  flex: 1;
  border-radius: 5px;
  background: @gray-lighter;
  margin-bottom: 5px;
  padding: 5px;
  .doc-sys-info-cont{
    display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;
  }
  .label{
    color:@gray-dark;
    font-style: italic;
  }
  .fields{
    color:@brand-success;
  }
}