.row(ng-controller="search-de-controller" ng-init="init()")
  .col-xs-12.col-sm-6
    div.text-center(ng-if="!isNewsFeedSearch")
      p.text-center {{ 'advancedSearchDE.CREATE_SEARCH' | translate }}
    div.text-center(ng-if="isNewsFeedSearch")
      p.text-center {{ 'newsfeed.CREATE_FILTER' | translate }}
    accordion(close-others="true" class="full-with-child")
      accordion-group(is-open="sections[0].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.ARCHIVAL_LOCATION' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
        include partial/archival-location.jade
      accordion-group(is-open="sections[1].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.DOCUMENT_CATEGORY' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
        include partial/document-category.jade
      accordion-group(is-open="sections[2].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.TRANSCRIPTIONS_AND_OR_SYNOPSIS' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
        include partial/transcription-and-synopses.jade
      accordion-group(is-open="sections[3].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.PEOPLE_AND_PLACES' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[3].open, 'glyphicon-chevron-right': !sections[3].open}")
        include partial/people.jade
        include partial/places.jade
      accordion-group(is-open="sections[4].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.TOPICS' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[4].open, 'glyphicon-chevron-right': !sections[4].open}")
        include partial/topics-and-related-places.jade
      accordion-group(is-open="sections[5].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.DATE_RANGE' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[5].open, 'glyphicon-chevron-right': !sections[5].open}")
        include partial/date-range.jade
      accordion-group(is-open="sections[6].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.LANGUAGES' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[6].open, 'glyphicon-chevron-right': !sections[6].open}")
        include partial/languages.jade
      accordion-group(is-open="sections[7].open")
        accordion-heading 
          div.custom-head {{ 'advancedSearchDE.OWNER' | translate }}
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[7].open, 'glyphicon-chevron-right': !sections[7].open}")
        include partial/owner.jade
  .col-xs-12.col-sm-6.text-center
    p.text-center {{ 'advancedSearchDE.ACTUAL_SEARCH' | translate }}
    div(ng-if="archivalLocation.isActiveFilter")
      hr
      p
        strong.warning Archival Location  
        span
        a
          span(ng-click="removeAL()") (remove)
      p
        strong Repository:   
        span {{repository.repositoryName}}
      p
        strong Collection:   
        span {{archivalLocation.collection}}
      //- p
      //-   strong Series:   
      //-   span {{archivalLocation.series}}
      p
        strong Volume:   
        span {{archivalLocation.volume}}
      p
          strong Insert:  
          span {{archivalLocation.insert}}

    div(ng-if="documentCategory.isActiveFilter")
      hr
      p
        strong.warning Document Category 
        span
        a
            span(ng-click="removeDocumentCategory()") (remove)
      p
        strong Category: 
        span {{documentCategory.category}}
      p
        strong Typology: 
        span {{documentCategory.typology}}

    div(ng-if="searchedTranscriptions.isActiveFilter")
      hr
      p
        strong.warning Transcription: 
        span {{ searchedTranscriptions.transcription + " "}}  
        a
            span(ng-click="removeT()") (remove) 

    div(ng-if="searchedSynopsis.isActiveFilter")
      hr
      p
        strong.warning Synopsis:  
        span {{searchedSynopsis.synopsis + " "}}
        a
          span(ng-click="removeS()") (remove)
    
    div(ng-if="searchedPeople.isActiveFilter")
      hr
      p
        strong.warning People: 
        a(href="#" ng-click="removeSearchedPeople($event)") (remove all)
        br
        div(ng-repeat="person in searchedPeople.people")
          span {{person.mapNameLf }}
          a(href="#" ng-click="removeSearchedPerson($index, $event)") (remove)
          br
          

    div(ng-if="searchedPlaces.isActiveFilter")
      hr
      p
        strong.warning Places: 
        a(href="#" ng-click="removeSearchedPlaces($event)") (remove all)
        br
        div(ng-repeat="place in searchedPlaces.places") 
          span {{ place.placeName }}
          a(href="#" ng-click="removeSearchedPlace($index, $event)") (remove)
          br
          span.gray-dark(ng-if="place.principalName") variant of: {{place.principalName}}
          br
    
    div(ng-if="topicsAndRelatedPlaces.isActiveFilter")
      div(ng-repeat="topicandplace in topicsAndPlaces track by $index")
        hr
        p
          strong.warning Topic and related Place 
          span
          a
            span(ng-click="removeTopicAndPlace($index)") (remove)
          p
          strong Topic:   
          span {{topicandplace.relatedtopic.topicTitle}}
          p(ng-if="topicandplace.relatedplace.placeName")
          //strong(ng-show="topicandplace.relatedplace.placeName") Related Place:
          span {{topicandplace.relatedplace.placeName}}
          br
          span.gray-dark(ng-if="topicandplace.relatedplace.principalName") variant of: {{topicandplace.relatedplace.principalName}}

    div(ng-if="searchedDates.isActiveFilter")
      hr
      p
        strong.warning Date {{searchedDates.dateFilterType}}:
        span
        a
          span(ng-click="removeDate()") (remove)
        p
          span {{ 'deMeta.YEAR' | translate }}:{{searchedDates.dateYear}}
          br
          span {{ 'deMeta.MONTH' | translate }}:{{searchedDates.dateMonth}}
          br
          span {{ 'deMeta.DAY' | translate }}:{{searchedDates.dateDay}}
        p(ng-if="showDateB()")
          strong.warning To:
          br
          span  {{ 'deMeta.YEAR' | translate }}:{{searchedDates.dateBYear}}
          br
          span {{ 'deMeta.MONTH' | translate }}:{{searchedDates.dateBMonth}}
          br
          span {{ 'deMeta.DAY' | translate }}:{{searchedDates.dateBDay}}

    div(ng-if="searchedLanguages.isActiveFilter")
      hr
      p
        strong.warnig
          | Languages
        a(href='#')
          span(ng-click="removeAllLanguages()") (remove)
        p
          div(ng-repeat="language in searchedLanguages.languages")
            span {{ language }}
              a
                span(ng-click="removeSearchedLanguage($index)") (remove)

    div(ng-if="searchedOwner.isActiveFilter")
      hr
      p
        strong.warning
          | Owner   
        a
          span(ng-click="removeOwner()") (remove)
      p
        strong(ng-show="searchedOwner.editType") {{searchedOwner.editType}}:   
        span {{searchedOwner.account}}
    hr

    div.loading(style="width: 50px;height: 50px;margin: 0 auto;background-size: 50px;" ng-show="loadingProcess")
    div.text-center(ng-if="!loadingProcess && !isNewsFeedSearch && existsFilter()")
      span.btn.btn-succes.search-button.getResults(ng-click="getResults()") Record Found: {{countResult}}
    div.text-center(ng-if="isNewsFeedSearch && existsFilter()")
      span.btn.btn-succes.search-button.getResults(ng-click="saveNewsfeedItem()") Save Filter

style(type='text/css').
  .getResults:hover { background: #fff }
