.row
  .col-xs-12
    .search-results
      h4(ng-if="!results.results.length")
        | No results
      table.table.table-hover.table-striped(ng-if="results.results.length")
        thead(style='white-space: nowrap; cursor: pointer')
          tr
            th(ng-click="requestOrderedData('MAPNameLF')")
              | Name &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('MAPNameLF')")
            th(ng-click="requestOrderedData('BYEAR')")
              | Birth year &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('BYEAR')")
            th(ng-click="requestOrderedData('DYEAR')")
              | Death year &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('DYEAR')")
            th(ng-click="requestOrderedData('GENDER')")
              | Gender &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('GENDER')")
            th(ng-click="requestOrderedData('ACTIVESTART')")
              | Start activity &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('ACTIVESTART')")
            th(ng-click="requestOrderedData('ACTIVEEND')")
              | End activity &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('ACTIVEEND')")
        tbody
          tr.repeated-item(ng-repeat="result in results.results" ng-click="personRowClick(result)")
            td
              | {{result.mapNameLf}}
            td
              | {{result.bornYear}}
            td
              | {{result.deathYear}}
            td
              | {{result.gender}}
            td
              | {{result.activeStart}}
            td
              | {{result.activeEnd}}
      .loading(ng-if="updateData" style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;")
      .row.col-xs-12(style='height: 50px')
        pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")
      .row.col-xs-12(style='height: 15px')
        hr

style(type='text/css').
  .chevron-show {  color: #8a5b72 !important;  }

  .glyphicon-chevron-down {color: #DDDCDD;}

  .glyphicon-chevron-up {
    color: #DDDCDD;
  }

  .pagination-sm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }