.row
  .col-xs-12
    .search-results
      h4(ng-if="!results.length")
        | No results
      table.table.table-hover.table-striped(ng-if="results.length")
        thead(style='white-space: nowrap; cursor: pointer')
          tr
            th(ng-click="requestOrderedData('PLACENAMEFULL')")
              | Name &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('PLACENAMEFULL')")
            th(ng-click="requestOrderedData('PLTYPE')")
              | Place type &nbsp;
              span.glyphicon(ng-class="showChevronIsOrdered('PLTYPE')")
        tbody
          tr.repeated-item(ng-repeat="result in results" ng-click="selectPlace(result)")
            td
              | {{result.placeName}}
            td
              | {{result.plType}}
      .loading(ng-if="updateData" style="width: 35px;height: 35px;margin: 0 auto;background-size: 35px;background-color: transparent;")
      .row.col-xs-12(style='height: 50px')
        pagination(ng-cloak max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.perPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChange()")
      .row.col-xs-12(style='height: 15px')
        hr

style(type='text/css').
  .chevron-show {  color: #8a5b72 !important;  }

  .glyphicon-chevron-down {color: #DDDCDD;}

  .glyphicon-chevron-up {
    color: #DDDCDD;
  }

  .pagination-sm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }