div(ng-controller="preventLossChangesController" ng-cloak)
  .modal-header
    h3.modal-title Your changes are not saved. Do you want to leave the page?
  .modal-body

    .search-form
      form.form-horizontal
        .row
          .col-xs-12
            div
              table.table.table-hover
                thead
                  tr
                    th Unsaved changes:
                tbody
                  tr.cursor-default(ng-repeat="item in isBeingEdit" )
                    th {{'preventLossChanges.' + item | translate }}

    .text-center
      .btn-group
        button.btn.btn-default.btn-xs(ng-click="ignoreChanges()" )
          | Yes
        button.btn.btn-default.btn-xs(ng-click="backToEdit()")
          | Back to edit
