div(ng-controller="addToCsController" ng-cloak)
  .modal-header
    h3.modal-title(ng-if="csStep == 'selectCs'") Select the Project you want to add this record to:
    h3.modal-title(ng-if="csStep == 'selectCsFolder'") Select the Project Folder you want to add this record to:
  .modal-body
    div(ng-if="csLoading")
      .loading.custom-spinner

    div(ng-if="!csLoading")
      .row(ng-if="csStep == 'selectCs'")
        .col-xs-8(ng-if="myCaseStudies.length")
          .cs-item(ng-repeat="cs in myCaseStudies" ng-click="selectCs(cs)")
            .cs-name {{cs.title}}
        .col-xs-12(ng-if="!myCaseStudies.length")
          h5 You do not have any Projects

      .row(ng-if="selectedCs && csStep == 'selectCsFolder'")
        .col-xs-8(ng-if="selectedCs.folders.length")
          .cs-item(ng-repeat="folder in selectedCs.folders" ng-click="selectCsFolder(folder)" ng-class="{'selected-cs-folder': folder.id == selectedFolder.id}")
            .cs-name {{folder.title}}
        .col-xs-12(ng-if="!selectedCs.folders.length")
          h5 You do not have folders in the selected Project

      .row(ng-show='errorMessage')
        .col-xs-12
          span(style="color: red;") {{errorMessage}}

    .text-center.mt-15
      .btn-group
        button.btn.btn-primary.btn-xs(ng-click="addToCsFolder()" ng-if="csStep == 'selectCsFolder' && selectedFolder")
          | Save
        button.btn.btn-default.btn-xs(ng-click="backToPrevStep()" ng-if="csStep == 'selectCsFolder'")
          | Back
        button.btn.btn-default.btn-xs(ng-click="cancel()")
          | {{ 'general.CANCEL' | translate }}