@import "misc.less";
@import "partials/_welcome.less";
@import "partials/_sidebar.less";
@import "partials/_right-sidebar.less";
@import "partials/_admin.less";
@import "partials/_personalprofile.less";
@import "partials/_public-profile.less";
@import "partials/_header.less";
@import "partials/_archive.less";
@import "partials/_modal.less";
@import "partials/_mod-de.less";
@import "partials/_search.less";
@import "partials/_table-results.less";
@import "partials/_news-dir.less";
@import "partials/_mailbox.less";
@import "partials/_global.less";
@import "partials/modals/index.less";
@import "partials/_vol-ins-descr.less";
@import "../../modules/directives/doc-ae-info/doc-ae-info.less";
@import "../../modules/directives/doc-sys-info/doc-sys-info.less";
@import "../../modules/directives/modal-templates/modal-add-collation/_add_collation.less";
@import "../../modules/directives/modal-templates/modal-edit-metadata/edit_metadata.less";
@import "../../modules/views/modify-doc-entities/doc-ent.less";
@import "../../modules/views/single-upload/_single-upload.less";
@import "../../modules/views/browse-archive-loc/_browse-archive-loc.less";
@import "../../modules/views/biographical/_biopeople.less";
@import "../../modules/directives/comments/_comments.less";


/***********************************************************************************
  GENERIC
***********************************************************************************/
a {
  cursor: pointer;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
@media (max-width: 767px) {
  #wrapper {
    overflow-x: hidden;
  }
}
body, html {
  min-height: 100%;
  margin-top: 0;
  font-weight: @font-weigth-medium;
  color: @brand-info;
}

iframe{
  border: 1px solid @brand-success;
  border-radius: 5px;
}

i{
  color: @brand-success;
  font-size: 16px;
}

i.small-icons{
  font-size: 14px;
}
i.huge-icons{
  font-size: 40px;
  color:#fff;
}
i.medium-icons{
  font-size: 16px;
  color:#fff;
}

.angucomplete-selected-row{
  background-color: #fff;
  color:@brand-success;
}

.clickable{
  cursor:pointer;
}

.std-margin-top{
  margin-top: 20px;
}

.form-group{
  margin: 10px;
}

/***********************************************************************************
  MAIN
***********************************************************************************/

@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 168px;
  }
  .sidebar-collapsed {
    .main {
      padding-left: 80px;
    }
  }
}

@media (max-width: 767px) {
  .main {
    margin-top: 0;
    display: block;
    padding: 0 15px;
  }
}


/***********************************************************************************
  DRAG&DROP
***********************************************************************************/

[ng-drag].drag-over {
  border: solid 1px @brand-success;
}

[ng-drop].drag-enter {
  border: 1px solid @gray-light;
  background: @gray-lighter;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    inset 2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         inset 2px 2px 6px 0px rgba(50, 50, 50, 0.31);
}

.rotation-area {
  margin: 5px;
  padding: 10px;
  background: @gray-lighterer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;

  .rotation-action {
    margin-bottom: 10px;

    button {
      color: #318440;
      font-weight: bold;
      box-shadow: none;
      background-color: #d3ded9;
      border: 2px solid #318440;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
}

.drag-and-drop-area {
  margin: 5px;
  padding:10px;
  background: @gray-lighterer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
}

.drag-and-drop-area .reorder-title {
  font-family: @font-family-sans-serif;
  font-size: @font-size-base;
  color: @gray-light;
}

.tabactive{
  background-color: @brand-primary;
  color: #fff;
  i {
    color:#fff;
    font-size: @font-size-small;
  }
}


/***********************************************************************************
  LOADING
***********************************************************************************/
.rotate {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 6px solid @gray-lighter;
  border-right-color: @brand-primary;
  border-radius: 50%;
  position: relative;
  top: 25px;
  margin: auto;
  -webkit-animation: infiniteLoop 1.4s infinite linear;
  animation: infiniteLoop 1.4s infinite linear;
}
.rotate-container{
  width: 100%;
  text-align: center;
}

/*   Busy Area   */
#busy-div{
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  min-height: 768px;
  z-index:500000;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 100%;
  padding-top: 250px;
  .uploading-title{
    color:#fff;
    text-align: center;
    font-size:24px;
  }
  .uploading-text{
    color: #fff;
    text-align: center;
    font-size:18px;
  }
}

/*   Utils    */

.flip{
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */
}
.text-center{
  text-align: center;
}

.dropdown-menu {
  background: @gray-07;
  min-width: 185px;
  img {
    width: 14px;
    height: auto;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
  }
  i.ae-icon {
    width: 14px;
    color: #9F9D9B;
    margin-top: 1px;
    padding-left: 0px !important;
  }
}

.mask .dropdown-menu {
  font-size: @font-size-small;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  margin: 0;
  margin-top: -32px;
}

.dropdown-menu > li > a.info {
  border-bottom: 1px solid @gray-07;
  padding: 4px 0 4px 8px;
}

.dropdown-menu > li > a.info:hover {
  box-shadow: none;
  background-color: transparent;
  color: @gray-darker;
  font-weight: @font-weigth-bold;
  }
.right-header{
  #login-info{
    padding:5px;
    padding-left: 10px;
    padding-right: 15px;
    background-color: @brand-success;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-weight: normal;
    color:#fff;
    font-size: 1rem;
    text-align: right;
    float: right;
    margin-top: -47px;
    margin-right: -40px;
  }
  .basic-search{
    margin-right: -39px;    
  }
}


i.glyphicon {
  cursor: pointer;
}

.red-link{
  color: @brand-success;
}

.red-link:hover{
  color: @brand-primary;
}

.pointer{
  cursor: pointer;
}

.primary-italic{
  color: @brand-primary;
  font-style: italic;
}
.primary{
  color: @brand-primary;
}
.success{
  color: @brand-success;
}
.warning{
  color: @brand-warning;

}
.gray-darker{
  color:@gray-darker;
}

.gray-dark{
  color:@gray-dark;
}

.gray{
  color:@gray;
}

.gray-light{
  color:@gray-light;
}

.gray-lighter{
  color:@gray-lighter;
}

.gray-lighterer{
  color:@gray-lighterer;
}

.eye-btn{
  margin-left: 38px;
  margin-top: -29px;
  width: 42px;
}


/***********************************************************************************
  TODO TO BE DELETED
***********************************************************************************/
.document-list{
  
}
.single-doc-result{
  cursor: pointer;
}

/***********************************************************************************
  DOCUMENT ENTITY
***********************************************************************************/

.section-title {
  h3 {
  text-align: center;
  color:#fff;
  }
}

.section-title-help-message {
  font-size: 15px;
  color:#cc6666;
}

.de-internal-section {
  min-height: 250px;
}

.thumbs-row{
  margin-bottom: 10px;
}

.drop-area {
  margin: 5px;
  padding:10px;
  border: solid 2px @brand-primary;
  min-height: 250px;
  border: solid 2px @brand-primary;
  background-image: url("../img/drag-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.drop-area-de {
  margin: 5px;
  padding:10px;
  border: solid 2px @brand-primary;
  border: solid 2px @brand-primary;
  background-color: #fff;
  background-image: url("../img/drag-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;

  .de-image-column {
    flex: 16%;
    max-width: 16%;
    padding: 4px;
  }
}

.dropareafull {
  background:none;
  background-color: #fff;
}

.edit-folio-data {
  background-color: #fff;
}

.micro-thumb {
  margin-top: 20px;
  img {
    width:100%;
  }
}

.date-accaccordion{
  .panel{
    background-color: @gray-light;
    label{
      color:@gray-lighter;
    }
  }
  .panel-group{
    .panel-heading {
      background-color: @gray;
      .panel-title > a{
        color:@gray-lighter;
      }
    }
    .panel-body {
      color:@gray-lighter;
    }
  }
}

.panel-group .col-xs-10 {
  width: 70%;
}

.panel-group .col-xs-2 {
  width: 30%;
}



.doc-left-col-cont{
  min-height: 600px;
  .doc-left-col{
    margin-top:10px;
    .document-scroller{
      img{
        width:100%;
        margin-top: 10px;
      }
      i{
        font-size: @font-size-h1;
        line-height: 71px;
      }
    }
  }
}

.onviewer{
  border: 2px solid @gray-dark;
}
.table-results-loading{
  min-height: 70px;
  text-align: center;
}
.table-results{
  max-height: 250px;
  overflow-y: scroll;
  width: 96.4%;
  margin-left: 15px;
  background-color: #e1e1e1;
  margin-top: -15px;
  border: 1px solid #fff;
  color:@gray-dark;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  .table-header {
    font-weight: bold;
    z-index:10;
    color: @gray-dark;
    border-bottom: 2px solid @brand-primary;
  }
  .table > thead > tr > td, .table > tbody > tr > td {
    padding: 3px;
  }
  .table-hover > tbody > tr:hover{
    color:#fff;
    cursor: pointer;
  }
}

.table-hover > tbody > tr:hover{
  color:#fff;
  cursor: pointer;
}

.table-hover > tbody > tr.selected{
  color:#fff;
  background-color: #cc6666;
  cursor: default;
}

input.has-error{
  border: 3px solid @brand-primary !important;
}

.required-error{
  color:@brand-primary;
  font-size: @font-size-small;
}

.document-preview{
  .document-scroller{
    img{
      width:100%;
      margin-top: 10px;
    }
    i{
      font-size: @font-size-h1;
      top: 30px;
      position: relative;
    }
  }
}

.details-box{
  border:1px solid @gray-dark;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-right: 8px;
  margin-bottom: 10px;
  max-height: 400px;
  overflow: auto;
  h5{
    border-bottom: 1px solid @brand-primary;
  }
  .label-field{
    font-size: @font-size-base;
    font-weight: @font-weigth-bold;
    color:@gray-dark;
  }
  .edit-doc-ent{
    margin-top: -35px;
    cursor: pointer;
  }
  .producer, .recipient{
    margin-bottom: 5px;
    border-bottom: 1px solid @brand-primary;
  }
}
.clear{
  clear:both;
}

.dir-container{
  width:100%;
}

.btn-add-new{
  color:@gray-dark;
  margin-bottom: 15px;
}

.date-year, .date-month, .date-day{
  float: left;
  padding: 3px;
  width:25%;
}
.date-month{
  width:50%;
}
.date-modern{
  padding: 3px;
  width:25%;
}
/***********************************************************************************
  MODIFY DOCUMENT ENTITY
***********************************************************************************/
.label{
  color:@gray-dark;
  font-style: italic;
}
.fields{
  color:@brand-success;
}
.summary{
  width:100%;
  border-radius: 5px;
  background: @gray-lighterer;
  color: @gray-dark;
  margin-bottom: 10px;
  padding: 10px;
  .fields{
    font-size: @font-size-base;
  }
}

.label-doc-ent{
  color:@gray-dark;
  font-weight: @font-weigth-light;
  font-size: 85%;
  color: @gray;
  font-style: italic;
}

.document-header {
  .buttons{
    float: right;
  }
  .doc-title {
    font-size: @font-size-h3;
    font-weight: @font-weigth-light;
  }
  .open-close {
    float:left;
  }
  .fullscreen {
    float:left;
    margin-left: 10px;
  }
  .synopsis {
    float:left;
    font-size: 14px;
    .synopsis-input{
      width:350px;
      .save-button{
        padding-left: 10px;
      }
    }
    .edit-syn{
      color: @gray-dark;
      font-size: 10px;
    }
  }
}

.document-details{
  .panel-title-desc {
    width:95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @gray-dark;
    font-weight: @font-weigth-bold;
    font-family: @font-family-sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    .content-preview {
      font-weight: @font-weigth-light;
      color: @gray-light;
      text-transform: none;
    }
    i{
      float:none;
    }
  }
  i{
    text-align: center;
    color:white;
    font-size: 12px;
  }
  i.acc-icon{
    float:right;
    margin-top: -15px;
    margin-right: -8px;
    color:@brand-primary;
  }
  .doc-details-accordion{
    .inner-title{
      width:100%;
      button{
        float: right;
      }
    }
    textarea.inner-content{
      width:100%;
      min-height: 130px;
      color:@gray-darker;
    }
    .panel{
      background-color: @gray-lighterer;
      border: 0;
      label{
        color:@gray-dark;
      }
    }
    .panel-group{
      .panel-heading{
        background-color: @gray-lighterer;
        .panel-title > a{
          color:@gray-dark;
        }
      }
      .panel-body {
        color:@gray-dark;
        .small-edit-button{
          float:right;
        }
      }
    }
  }
}

i.acc-red-icon{
  color:@brand-primary;
}

.panel-group .panel {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: @font-family-sans-serif;
}

.panel-group {
  margin-bottom: 5px;
  margin-top: -10px;
}

.panel-title {
  color: @gray-dark;
  font-size: 12px;
  i{
    font-size: 12px;
  }
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid white;
}

hr {
    border-top: 1px solid @gray-30;
}

.open-all:hover{
  background-color: @brand-primary;
  border-radius: 3px;
  color: white;
  i {
    color:white;
  }
}
// .fullscreen-link{
//   width: 100%;
//   text-align: center;
//   position: relative;
//   top: 33px;
//   left: 100px;
//   color: @gray-30;
//   border: 1px solid @gray-30;
//   padding: 3px;
//   border-radius: 4px;
//   i {
//     color: @brand-primary;
//     margin-right: 5px;
//     position: relative;
//     top: 2px;
//   }
// }

.fullscreen-link{
  float: right;
  position: relative;
  right: 7px;
  top: 42px;
  color: rgb(246, 243, 240);
  border: 2px solid @gray-30;
  background: #4d4e4d;
  padding: 3px;
  border-radius: 6px;
  i {
    color: @brand-primary;
    margin-right: 4px;
    position: relative;
    top: 2px;
  }
}


.box-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-image-btn{
  width: 100%;
  text-align: center;
  margin-top:10px;
}

.btn-xxs{
  padding-left: 5px;
  padding-right: 5px;
  i {
    color:@brand-success;
  }
}

i.glyphicon.glyphicon-question-sign {
  top: 5px;
}

.alertify-logs {
  display: none
}

.title-with-input {
  line-height: 36px;
  input {
    line-height: normal;
    width: 500px;
  }
  i {
    margin-left: 5px;
    font-size: 26px;
    color: inherit;
    cursor: pointer;
  }
}

.accordion-full-with-click a.accordion-toggle {
  display: inline-block;
  width: 100%;
  outline: none;
}

.highlightedWord {
  color: #bc2a4d;
}

.highlightedText {
  background: #f3bfcc;
  color: #bc2a4d;
}

.table-new-style {
  tbody tr:first-child th {
    border-top: none;
  }
}

#editor {
  background: white;
}
