.row(ng-controller="search-pe-controller" ng-init="init()")
  .col-xs-12.col-sm-6
    p.text-center {{ 'advancedSearchDE.CREATE_SEARCH' | translate }}
    accordion(close-others="true" class="full-with-child")
      accordion-group(is-open="sections[0].open")
        accordion-heading 
          div.custom-head Name Parts
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[0].open, 'glyphicon-chevron-right': !sections[0].open}")
        include partial/world-search.jade
      accordion-group(is-open="sections[1].open")
        accordion-heading 
          div.custom-head Title/Occupation
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[1].open, 'glyphicon-chevron-right': !sections[1].open}")
        include partial/title-occupation.jade
      accordion-group(is-open="sections[2].open")
        accordion-heading 
          div.custom-head  Biographical Details
            i.acc-red-icon.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': sections[2].open, 'glyphicon-chevron-right': !sections[2].open}")
        include partial/person-detail-and-visual-statistics.jade
  
  .col-xs-12.col-sm-6
    .col-xs-12.col-sm-12.text-center
      p.text-center {{ 'advancedSearchDE.ACTUAL_SEARCH' | translate }}
      div(ng-if="searchArray[0].isActiveFilter")
        hr
        p
          strong.warning Name part 
          span
          a
            span(ng-click="removePresentWordParts()") (remove)
          p
          strong Word:   
          span {{searchArray[0].searchString}}
          br
          span.gray-dark(ng-if="searchArray[0].nameType == 'ALL_NAME_TYPES'") in: All
          span.gray-dark(ng-if="searchArray[0].nameType == 'APPELLATIVE'") in: Appellative
          span.gray-dark(ng-if="searchArray[0].nameType == 'FAMILY'") in: Family
          span.gray-dark(ng-if="searchArray[0].nameType == 'GIVEN'") in: Given
          span.gray-dark(ng-if="searchArray[0].nameType == 'MAIDEN'") in: Maiden
          span.gray-dark(ng-if="searchArray[0].nameType == 'MARRIED'") in: Married
          span.gray-dark(ng-if="searchArray[0].nameType == 'PATRONYMIC'") in: Patronymic
          
    .col-xs-12.col-sm-12.text-center
      div(ng-if="searchArray[1].isActiveFilter")
        div(ng-repeat="role in searchArray[1].roles track by $index")
          hr
          p
            strong.warning Role category:
            span {{ role.roleCatMajor }} - {{ role.roleCatMinor }}
            a
              span(ng-click="removePresentRoleTitleOccupation($index)") (remove)
            p  
    .col-xs-12.col-sm-12.text-center
      div(ng-if="searchArray[2].isActiveFilter")
        div(ng-repeat="role in searchArray[2].roles track by $index")
          hr
          p
            strong.warning Occupation Word: 
            span {{ role.roleCatMinor }}
            a
              span(ng-click="removePresentWordTitleOccupation($index)") (remove)
            p  
    .col-xs-12.col-sm-12.text-center
      div(ng-if="searchArray[3].isActiveFilter")
        hr
        p
          strong.warning Occupation: 
          span {{searchArray[3].roles[0].roleCatMinor}}
          a
            span(ng-click="removePresentMatchTitleOccupation()") (remove)
          p  
    .col-xs-12.col-sm-12.text-center
      div(ng-if="searchArray[5].isActiveFilter")
        hr
        p
          strong.warning(ng-if="searchArray[5].searchType == 'birthAndDeathPlace'") Birth/Death Place: 
          strong.warning(ng-if="searchArray[5].searchType == 'birthPlace'") Birth Place: 
          strong.warning(ng-if="searchArray[5].searchType == 'deathPlace'") Death Place: 
          span(ng-if="searchArray[5].searchType == 'birthPlace'") {{searchArray[5].birthPlaceName}}
          span(ng-if="searchArray[5].searchType == 'deathPlace'") {{ searchArray[5].deathPlaceName }}
          span(ng-if="searchArray[5].searchType == 'birthAndDeathPlace'") {{searchArray[5].birthPlaceName}}
          a
            span(ng-if="searchArray[5].searchType == 'deathPlace'" ng-click="removePresentDeathBirthPlaceSection()") (remove)
            span(ng-if="searchArray[5].searchType == 'birthPlace'" ng-click="removePresentDeathBirthPlaceSection()") (remove)
            span(ng-if="searchArray[5].searchType == 'birthAndDeathPlace'" ng-click="removePresentDeathBirthPlaceSection()") (remove)
          p
    .col-xs-12.col-sm-12.text-center
      div(ng-if="searchArray[4].isActiveFilter")
        hr
        p(ng-if="searchArray[4].headquarter")
          strong.warning Gender: 
          span {{searchArray[4].gender}}
          br
          strong.warning Headquarters: 
          span {{searchArray[4].headquarterName}}
          a
            span(ng-click="removePresentGenderPersonVitalStatistic()") (remove)
          p
        p(ng-if="!searchArray[4].headquarter")
          strong.warning Gender: 
          span {{searchArray[4].gender}}
          a
            span(ng-click="removePresentGenderPersonVitalStatistic()") (remove)
          p  
    .col-xs-12.col-sm-12.text-center
      div(ng-if="searchArray[6].isActiveFilter")
          hr
          p
            strong.warning(ng-if="searchArray[6].searchType == 'bornAfter'") Born After
            strong.warning(ng-if="searchArray[6].searchType == 'deadBy'") Dead By
            strong.warning(ng-if="searchArray[6].searchType == 'livedBetween'") Lived between
            strong.warning(ng-if="searchArray[6].searchType == 'bornDiedOn'") Born/Died on
            span
            a
              span(ng-click="removePresentVitalStatisticSearch()") (remove)
            p
              span year:{{searchArray[6].year}}
              br
              span month:{{searchArray[6].month}}
              br
              span day{{searchArray[6].day}}
            p(ng-if="searchArray[6].searchType == 'livedBetween'")
              strong.warning And:
              br
              span year:{{searchArray[6].andYear}}
              br
              span month:{{searchArray[6].andMonth}}
              br
              span day:{{searchArray[6].andDay}}

      div.loading(style="width: 50px;height: 50px;margin: 0 auto;background-size: 50px;" ng-show="loadingProcess")
      div.text-center(ng-if="thereAreResults() && !loadingProcess")
        span.btn.btn-succes.search-button.getResults(ng-click="getResults()") Record Found: {{countResult}}

style(type='text/css').
  .getResults:hover { background: #fff }
