@font-face {
  font-family: "piconsthin";
  src: url("../fonts/picons-thin.eot");
  src: url("../fonts/picons-thin.eot?#iefix") format("embedded-opentype"),
       url("../fonts/picons-thin.woff") format("woff"),
       url("../fonts/picons-thin.ttf") format("truetype"),
       url("../fonts/picons-thin.svg#iconvault") format("svg");
  font-weight: bold;
  font-style: normal;
}

.icon-writing-pen-calligraphy-feather-signing:before,
.icon-mail-envelope-email-postcard:before,
.icon-check-ok-done-success:before,
.icon-shield-anti-virus-security-password-secure:before,
.icon-printer:before,
.icon-government-institution-building:before,
.icon-write-pen-handwriting-signing:before,
.icon-alert-attention-error:before,
.icon-vector-drawing-pdf-illustrator-resizable:before,
.icon-file-document-settings-preferences:before,
.icon-list-bullets-check-box-select-choice-survey:before,
.icon-photo-image-crop:before,
.icon-file-document-import:before,
.icon-arrow-right-navigate-next:before,
.icon-photo-image-album:before,
.icon-paper-document-file:before,
.icon-phone-book-number-contact-profiles:before,
.icon-settings-gear-preferences:before,
.icon-smiley-sad:before,
.icon-sales-sale-discount-price-off:before,
.icon-phone-telephone-call-on-hold-busy:before,
.icon-eye-dropper-color-picker:before,
.icon-application-window-alert-notification-error:before,
.icon-scissors-cut-paper-shears:before,
.icon-user-personal-id-profile:before,
.icon-music-playing-cassette-tape:before,
.icon-world-globe-internation-region-language-earth:before,
.icon-ringer-sounds-volume-alarm:before,
.icon-upload-cloud-files-drive:before,
.icon-couch-sofa-relax:before,
.icon-computer-desktop-screen-security-locked-password:before,
.icon-resize-window-screen-full:before,
.icon-window-layout-side-menus-columns:before,
.icon-round-right-arrow-next:before,
.icon-light-flashlight-torch:before,
.icon-briefcase-suitcase-luggage-baggage:before,
.icon-plane-flight-airplane:before,
.icon-remote-control-ir:before,
.icon-location-map-navigate-path:before,
.icon-star-favorite-add:before,
.icon-file-document-font:before,
.icon-photo-image-wall:before,
.icon-tag-sales-price-shop:before,
.icon-delivery-van-truck-shipping:before,
.icon-clipboard-inventory-box-archive:before,
.icon-movie-video-record:before,
.icon-lock-security-password-secure:before,
.icon-call-support-phone-help:before,
.icon-file-document-image-photo:before,
.icon-write-pencil-new-edit:before,
.icon-sun-brigthness-summer-hot:before,
.icon-calendar-date:before,
.icon-bubble-cloud-chat-message:before,
.icon-fire-estinguisher-burning:before,
.icon-wristwatch-time-clock:before,
.icon-diamond-stone-jewel-jewelry:before,
.icon-thunderbolt-connector-fast:before,
.icon-file-document-doc-word:before,
.icon-traffic-light-transport:before,
.icon-broken-heart-favorite-dislike:before,
.icon-movie-video-play:before,
.icon-foot-steps-dance:before,
.icon-plane-paper-send:before,
.icon-full-screen-window-maximize:before,
.icon-shopping-price-tag-bag-sale:before,
.icon-abacus-math-numbers-study-learning:before,
.icon-arrows-direction-right:before,
.icon-user-profile-avatar-female-woman:before,
.icon-information:before,
.icon-location-map-navigate:before,
.icon-cone-job-traffic-transport-work:before,
.icon-movie-cinema-ticket:before,
.icon-user-profile-male:before,
.icon-bubble-comment-chat-message:before,
.icon-analytics-bar-chart-diagram-presentation-sales:before,
.icon-movember-moustache-male:before,
.icon-hotel-do-not-disturb-tag:before,
.icon-file-document-search-find:before,
.icon-fail-dangerous-error-unavailable:before,
.icon-map-folder:before,
.icon-sign-path-directions-navigation:before,
.icon-rotate-sync-clockwise-recycle:before,
.icon-education-study-school-learning-smart:before,
.icon-full-battery-charged-power:before,
.icon-cash-money-coins:before,
.icon-hierarchy-diagram-structure:before,
.icon-book-shelf-wall:before,
.icon-analytics-bar-chart-diagram:before,
.icon-unlocked-security-password-unsecure:before,
.icon-free:before,
.icon-paper-document-script:before,
.icon-coffee-tea-hot-drink:before,
.icon-map-folder-settings-preferences:before,
.icon-paint-brush-tool-color:before,
.icon-file-document-law-paragraph-license-contract:before,
.icon-money-price-euro-cash-coins:before,
.icon-photo-image-album-table:before,
.icon-users-group-couple-family:before,
.icon-cloud-files-error:before,
.icon-delivery-box-shipping:before,
.icon-t-shirt-clothes:before,
.icon-drink-wine-vine-glass:before,
.icon-user-bubble-chat-new:before,
.icon-power-switch-plug-socket-electricity-euro:before,
.icon-medal-achievement-star-award:before,
.icon-paper-document-file-word-copy-archive:before,
.icon-bill-money-price-dollars:before,
.icon-movie-video-play:before,
.icon-stopwatch-time:before,
.icon-movie-video-presentation-play:before,
.icon-weather-winter-snow-flake:before,
.icon-cloud-weather-cloudy:before,
.icon-minus-remove:before,
.icon-box-shipping-package-delivery:before,
.icon-transport-vehicle-van-delivery-truck:before,
.icon-wireless-wifi-signal-hotspot:before,
.icon-arrows-split:before,
.icon-mobile-phone-telephone-call-contact:before,
.icon-briefcase-suitcase-code-secure:before,
.icon-checkbox-checked-yes-success:before,
.icon-zoom-in-magnify-plus:before,
.icon-keyboard-attach:before,
.icon-ruler-dimensions-length-measure:before,
.icon-zoom-find-search-magnifying-glass:before,
.icon-computer-desktop-screen:before,
.icon-playing-cards-ace-poker-heart-spades-game:before,
.icon-minus-down-low:before,
.icon-map-folder-full-documents:before,
.icon-photo-image-album-polaroid:before,
.icon-user-create-add-new:before,
.icon-cash-register-money-payment:before,
.icon-iphone-mobile-chat-message-sms:before,
.icon-upload-open-export:before,
.icon-layers:before,
.icon-servers-backup-network-cloud-storage:before,
.icon-audio-microphone-recording-studio:before,
.icon-comment-message-reply-answer:before,
.icon-map-folder-images-photos:before,
.icon-thinking-brain-head-mind:before,
.icon-music-note-playing:before,
.icon-ringer-sounds-volume-speakers-loud:before,
.icon-music-note-playing-ipod:before,
.icon-checkbox-x-checked-no:before,
.icon-transport-ship-sea:before,
.icon-usb-adapter-cable-iphone-apple-connector:before,
.icon-bright-bulb-idea-lamp-light:before,
.icon-list-bullets-radio-button-select-choice:before,
.icon-application-window-settings-configuration:before,
.icon-user-security-password:before,
.icon-mobile-phone-payment-nfc:before,
.icon-lock-security-access-password:before,
.icon-browse-list-bullets-check-survey:before,
.icon-file-document-writing:before,
.icon-book-reading-read-manual:before,
.icon-ringer-sounds-volume-alarm-mute:before,
.icon-color-wheel-cmyk-rgb:before,
.icon-low-battery-charge-power:before,
.icon-usb-adapter-cable-charging-plug:before,
.icon-settings-eq-control-panel-preferences:before,
.icon-movie-video-record-hd:before,
.icon-battery-charging-power:before,
.icon-arrow-rotate-right-clockwise:before,
.icon-bank-institution-pantheon-building:before,
.icon-music-video-play-youtube:before,
.icon-recycle-bin-delete-garbage:before,
.icon-file-document-attachment-paperclip:before,
.icon-camera-ip-security-surveillance:before,
.icon-shopping-cart-store-basket-purchase:before,
.icon-phone-book-number-contact:before,
.icon-call-support-phone-help-assistance:before,
.icon-rotate-sync:before,
.icon-transport-train-rail-line-metro:before,
.icon-phone-book-number-contact:before,
.icon-file-document-export:before,
.icon-drink-cocktail-disco-going-out-shake:before,
.icon-computer-desktop-screen-users:before,
.icon-location-pin-map:before,
.icon-winner-achievement-medal-first:before,
.icon-magnet-magnetic:before,
.icon-pulse-heart-beat-hospital:before,
.icon-shopping-cart-store-basket-purchase-full:before,
.icon-radio-listening-station:before,
.icon-compose-write-pencil-new:before,
.icon-closed-shop-store:before,
.icon-download-cloud-files-drive:before,
.icon-iphone-mobile-call:before,
.icon-map-folder-cloud-backup:before,
.icon-winner-achievement-cup-prize-award:before,
.icon-briefcase-suitcase-documents-business:before,
.icon-eating-burger-hamburger-fast-food:before,
.icon-plus-add:before,
.icon-power-switch-plug-socket-electricity-euro:before,
.icon-user-profile-female-woman:before,
.icon-heart-favorite-like-add:before,
.icon-browse-list-grid-view:before,
.icon-tree-forest-nature:before,
.icon-search-find-documents-map:before,
.icon-recycle-bin-bio-garbage-eco:before,
.icon-usb-adapter-connector:before,
.icon-shopping-cart-store-basket-purchase:before,
.icon-shelf-archive:before,
.icon-alarm-clock-snooze:before,
.icon-flag:before,
.icon-back-revert-undo:before,
.icon-weather-temperature-hot-cold-celsius-thermometer:before,
.icon-arrow-shooting-target-bullseye-archery:before,
.icon-dish-cooking-eating-restaurant-food:before,
.icon-power-on-switch-turn:before,
.icon-paper-shredder:before,
.icon-plant-nature-leaf-flower:before,
.icon-calculator:before,
.icon-url-address-web-www-page-internet:before,
.icon-browse-favorites-top-rated:before,
.icon-drink-glass-soda-sparkling-coke:before,
.icon-bubble-comment-chat-message-add-compose:before,
.icon-file-document-cv-curriculum-vitae-profile-id:before,
.icon-computer-laptop-statistics-analytics:before,
.icon-analytics-bar-chart-diagram-presentation:before,
.icon-music-note-playing-ipod:before,
.icon-computer-laptop-download-internet:before,
.icon-wallet-money-card-full:before,
.icon-open-shop-store:before,
.icon-user-profile-male-boy:before,
.icon-hospital-ill-medicine-injection-doctor:before,
.icon-weather-rain-water-umbrela:before,
.icon-rocket-space:before,
.icon-calendar-date:before,
.icon-user-profile-avatar-female:before,
.icon-wall-clock-time:before,
.icon-box-shipping-package:before,
.icon-fail-alert-error-unavailable:before,
.icon-ipad-tablet-touch-screen:before,
.icon-arrows-resize-split:before,
.icon-analytics-line-chart-diagram:before,
.icon-tree-forest-picnic-rest:before,
.icon-shape-new-badge:before,
.icon-analytics-bar-chart-diagram-presentation:before,
.icon-book-contact-profile-user:before,
.icon-attachment-paper-clip:before,
.icon-file-document-zip-rar-compressed:before,
.icon-keyboard-cable:before,
.icon-touch-id-fingerprint-security-access:before,
.icon-computer-desktop-screen-settings-preferences:before,
.icon-wallet-money-empty:before,
.icon-store-shop-shopping-market:before,
.icon-milk-tetra-pack:before,
.icon-file-document-cv-curriculum-vitae-profile-id:before,
.icon-music-playing-dj:before,
.icon-disc-floppy-save:before,
.icon-file-document-import-download:before,
.icon-airplay-screen-streaming-sharing:before,
.icon-file-document-code-binary:before,
.icon-living-light-table:before,
.icon-shopping-cart-store-basket-purchase:before,
.icon-clipboard-inventory-box-export-open:before,
.icon-comment-chat-message:before,
.icon-cloud-files-upload-backup:before,
.icon-filter-funnel:before,
.icon-download-import:before,
.icon-favorite-message-like:before,
.icon-new-year-decoration-tree-ball-christmas:before,
.icon-star-favorite:before,
.icon-analytics-bar-chart-diagram-growth:before,
.icon-analytics-bar-chart-diagram-crisis-down:before,
.icon-paper-document-article-text-image:before,
.icon-arrows-curves:before,
.icon-surprise-gift-wrap-box:before,
.icon-fire-burning:before,
.icon-keyboard-wireless:before,
.icon-user-delete-remove:before,
.icon-movie-video-play-cinema:before,
.icon-smiley-happy:before,
.icon-clipboard-inventory-box-import-download:before,
.icon-user-profile-male-business-man:before,
.icon-switch-on-off:before,
.icon-phone-telephone-call-contact:before,
.icon-fail-dangerous-error-dont-touch:before,
.icon-house-home-building:before,
.icon-hospital-ill-aid-bandage-health-fix:before,
.icon-law-justice-verdict-judge-court-hammer:before,
.icon-transport-vehicle-car-traffic:before,
.icon-playing-drums-music-beat:before,
.icon-move-navigate-window-screen-full:before,
.icon-settings-tools-pipe:before,
.icon-browse-list-bullets:before,
.icon-application-window-message-box:before,
.icon-call-keyboard-dial-numbers:before,
.icon-money-price-us-dollars-cash-coins:before,
.icon-plus-up-high:before,
.icon-cpu-processor-64-bit-intel-chip:before,
.icon-arrows-bidirectional:before,
.icon-drawing-pen-pencil-ruler:before,
.icon-fork-knife-spoon-eating-restaurant-food:before,
.icon-file-document-lock-security-password:before,
.icon-firewall-security-network:before,
.icon-fuel-gas-station-petrol:before,
.icon-mail-envelope-email-sent:before,
.icon-house-home:before,
.icon-dashboard-full-fuel-gauge:before,
.icon-phone-telephone-call-wire:before,
.icon-car-steering-wheel:before,
.icon-book-shelf-archive:before,
.icon-wireless-wifi-signal-hotspot:before,
.icon-support-help-rescue:before,
.icon-phone-telephone-call-ringing:before,
.icon-world-globe-internation-region-language-earth:before,
.icon-building-industry-factory:before,
.icon-map-folder-locked-password-security:before,
.icon-mouse-wireless:before,
.icon-law-justice-lawyer-judge-court-attorney:before,
.icon-to-do-clipboard-survey-petition:before,
.icon-dashboard-low-empty-fuel-gauge:before,
.icon-settings-tools-configuration-service-preferences:before,
.icon-half-full-battery-charge-power:before,
.icon-arrows-repeat:before,
.icon-music-playing-cloud-stream:before,
.icon-relay-holiday-tourist-beach-sea-sunbathing:before,
.icon-movie-director-cut-scene-take:before,
.icon-user-profile-avatar:before,
.icon-webcam-camera-ip-security-surveillance:before,
.icon-arrow-rotate-left-counter-clockwise:before,
.icon-flower-nature-plant:before,
.icon-browse-list-bullets-thumbs:before,
.icon-phone-telephone-call-contact:before,
.icon-user-tag:before,
.icon-wall-clock-time:before,
.icon-file-document-export-upload:before,
.icon-map-folder:before,
.icon-calendar-date:before,
.icon-coffee-hot-drink-cup-to-go:before,
.icon-map-folder-history-schedule:before,
.icon-database-drives-raid-db-storage-nas-network:before,
.icon-database-drives-raid-db-storage-nas-network:before,
.icon-round-left-arrow-previous:before,
.icon-x-remove-delete-close-exit:before,
.icon-music-playing-album-songs:before,
.icon-hierarchy-diagram-structure:before,
.icon-audio-microphone-recording-studio:before,
.icon-wireless-wifi-signal-hotspot-router-modem-switch:before,
.icon-medal-achievement-star-award:before,
.icon-laboratory-lab-experiment-research:before,
.icon-settings-gear-preferences:before,
.icon-newspaper-reading-news:before,
.icon-cash-money-coins-piggy-bank-savings:before,
.icon-house-home-building-flat-skyscraper:before,
.icon-analytics-line-chart-diagram-presentation:before,
.icon-photo-image-wall-unavailable-missing:before,
.icon-file-document-video-recording:before,
.icon-sim-nano-micro-card:before,
.icon-stop-fail-dangerous-error-dont-touch:before,
.icon-cloud-sync-files-restore:before,
.icon-ringer-sounds-volume-speakers-mute:before,
.icon-zoom-out-magnify-minus:before,
.icon-gamepad-playstation-xbox-game-playing:before,
.icon-thinking-brain-head-mind:before,
.icon-money-us-dollars-cash-coins:before,
.icon-file-document-cloud-dropbox-backup:before,
.icon-recycle-bin-delete-garbage-full:before,
.icon-mouse-wire:before,
.icon-nuclear-atom-bomb-dangerous:before,
.icon-iphone-mobile-chat-message-sms:before,
.icon-computer-laptop-www-internet-web:before,
.icon-cash-money-coins-bills:before,
.icon-servers-network-connection-internet-sitemap:before,
.icon-business-tie:before,
.icon-switch-on-off:before,
.icon-star-favorite:before,
.icon-notebook:before,
.icon-sheriff-star-badge-police-law-enforcement:before,
.icon-tree-forest:before,
.icon-credit-card:before,
.icon-new-badge:before,
.icon-download-computer-files:before,
.icon-logout-exit-door:before,
.icon-database-drives-raid-db-storage:before,
.icon-calendar-date:before,
.icon-television-tv:before,
.icon-bowling-game-playing-ball:before,
.icon-box-shipping-package-delivery:before,
.icon-bright-bulb-idea-lamp-light:before,
.icon-anchor-marine-maritime:before,
.icon-bright-bulb-idea-lamp-light:before,
.icon-money-us-dollars-euro-cash-currency-exchange:before,
.icon-mail-envelope-email-open:before,
.icon-location-pin-map:before,
.icon-bomb:before,
.icon-question-support-help:before,
.icon-alert-error-unavailable:before,
.icon-window-layout-side-menu:before,
.icon-arrow-left-navigate-previous:before,
.icon-iphone-smart-phone-mobile:before,
.icon-photo-image-camera-take-shot:before,
.icon-shopping-cart-store-basket-purchase:before,
.icon-store-shop-shopping:before,
.icon-notebook-to-do:before,
.icon-tag-sales-price-shop-discount:before,
.icon-iphone-mobile-ringing:before,
.icon-battery-charge-power:before,
.icon-weather-temperature-hot-cold-celsius-thermometer:before,
.icon-window-layout-grid-boxes:before,
.icon-photo-image-camera:before,
.icon-download-computer-files:before,
.icon-ringer-sounds-volume-speakers:before,
.icon-file-document-cv-curriculum-vitae:before,
.icon-window-layout-side-article-columns:before,
.icon-user-personal-id-profile:before,
.icon-location-pin-map:before,
.icon-file-document-writing-script:before,
.icon-puzzle-plug-in-plugin-compatible-module-component:before,
.icon-file-document-pdf-adobe-acrobat:before,
.icon-delete-backspace-remove:before,
.icon-smiley-neutral:before,
.icon-open-nonstop-24-7-shop-store:before,
.icon-lock-rotate:before,
.icon-shopping-price-bag:before,
.icon-computer-laptop-user:before,
.icon-key-lock-security-password-secure:before,
.icon-queen-chess-game-playing-crown:before,
.icon-dangerous-scull-poison-death:before,
.icon-documents-box-archive:before,
.icon-tweet-message-twitter:before,
.icon-write-pencil-new-edit:before,
.icon-safe-security-secure-access:before,
.icon-drop-down-box-select-choice:before,
.icon-bear-animal-foot-steps:before,
.icon-arrows-shuffle-crossing:before,
.icon-application-window-alert-error:before,
.icon-computer-desktop-screen:before,
.icon-photo-image-album:before,
.icon-music-note-playing-album:before,
.icon-map-folder-archive-documents:before,
.icon-dashboard-fuel-gauge:before,
.icon-zoom-find-search-magnifying-glass:before,
.icon-bicycle-cycling:before,
.icon-paint-brush-drawing-color:before,
.icon-photo-image-camera-take-shot:before,
.icon-location-compass-map:before,
.icon-book-reading-read-bookmark:before,
.icon-like-thumbs-up-vote:before,
.icon-user-profile-avatar-male:before,
.icon-clipboard-inventory-box:before,
.icon-comment-quote-reply:before,
.icon-users-group:before,
.icon-leaf-nature-bio-plant-green-organic:before,
.icon-bug:before,
.icon-bubble-chat-message:before,
.icon-file-document-table:before,
.icon-heart-favorite-like:before,
.icon-candle-fire-burning:before,
.icon-glasses-reading:before,
.icon-transport-vehicle-bus-coach:before,
.icon-atomic-nuclear-atom-molecular:before,
.icon-half-battery-charge-power:before,
.icon-application-window-shell-code-comand-prompt:before,
.icon-dislike-thumbs-down-vote:before,
.icon-pencil-ruler-drawing:before,
.icon-ringer-sounds-volume-speakers:before,
.icon-maple-leaf:before,
.icon-file-document-to-do:before,
.icon-needle-pin-safety:before,
.icon-database-shared-map-storage-nas-network:before,
.icon-disc-cd-dvd-drive:before,
.icon-link-chain-url:before,
.icon-music-note-playing:before,
.icon-weather-rain-water-drop:before,
.icon-book-reading-read-manual:before,
.icon-paper-document-file-error-unavailable-delete:before,
.icon-pin-bookmark:before,
.icon-photo-image-camera-import-copy:before,
.icon-audio-loud-speaker-announcement:before,
.icon-sign-path-directions-navigation:before,
.icon-weather-moon-night-stars-sleep-screensaver-stand-by:before,
.icon-map-folder-import-upload:before,
.icon-settings-tools-configuration-service-preferences:before,
.icon-transport-street-road-traffic:before,
.icon-computer-desktop-screen-cloud-terminal:before,
.icon-hammer-tools-work-job:before,
.icon-bookmark:before,
.icon-cloud-weather-rain-storm:before,
.icon-open-box-shipping-package-delivery:before,
.icon-bubble-comment-chat-message-like:before,
.icon-basketball-volleyball-footbal-playing-ball-court:before,
.icon-phone-book-number-contact:before,
.icon-briefcase-suitcase-documents:before,
.icon-visability-view-watch-eye:before,
.icon-settings-eq-control-panel-preferences:before,
.icon-analytics-pie-chart-diagram:before,
.icon-calculator:before,
.icon-bubble-comment-chat-message:before,
.icon-bubble-comment-chat-message-writing:before,
.icon-application-window-cursor:before,
.icon-audio-speaker-playing-music-sound:before,
.icon-download-computer-files-drive:before,
.icon-paper-document-file-word:before,
.icon-database-drives-raid-db-storage-nas-backup:before,
.icon-alert-attention-error:before,
.icon-book-writing-reading-read-manual:before,
.icon-time-clock-watch:before,
.icon-rotate-counter-clockwise-arrow:before,
.icon-bicycle-chain:before {
  font-family: "piconsthin";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-writing-pen-calligraphy-feather-signing:before { content: "\f100"; }
.icon-mail-envelope-email-postcard:before { content: "\f101"; }
.icon-check-ok-done-success:before { content: "\f102"; }
.icon-shield-anti-virus-security-password-secure:before { content: "\f103"; }
.icon-printer:before { content: "\f104"; }
.icon-government-institution-building:before { content: "\f105"; }
.icon-write-pen-handwriting-signing:before { content: "\f106"; }
.icon-alert-attention-error:before { content: "\f107"; }
.icon-vector-drawing-pdf-illustrator-resizable:before { content: "\f108"; }
.icon-file-document-settings-preferences:before { content: "\f109"; }
.icon-list-bullets-check-box-select-choice-survey:before { content: "\f10a"; }
.icon-photo-image-crop:before { content: "\f10b"; }
.icon-file-document-import:before { content: "\f10c"; }
.icon-arrow-right-navigate-next:before { content: "\f10d"; }
.icon-photo-image-album:before { content: "\f10e"; }
.icon-paper-document-file:before { content: "\f10f"; }
.icon-phone-book-number-contact-profiles:before { content: "\f110"; }
.icon-settings-gear-preferences:before { content: "\f111"; }
.icon-smiley-sad:before { content: "\f112"; }
.icon-sales-sale-discount-price-off:before { content: "\f113"; }
.icon-phone-telephone-call-on-hold-busy:before { content: "\f114"; }
.icon-eye-dropper-color-picker:before { content: "\f115"; }
.icon-application-window-alert-notification-error:before { content: "\f116"; }
.icon-scissors-cut-paper-shears:before { content: "\f117"; }
.icon-user-personal-id-profile:before { content: "\f118"; }
.icon-music-playing-cassette-tape:before { content: "\f119"; }
.icon-world-globe-internation-region-language-earth:before { content: "\f11a"; }
.icon-ringer-sounds-volume-alarm:before { content: "\f11b"; }
.icon-upload-cloud-files-drive:before { content: "\f11c"; }
.icon-couch-sofa-relax:before { content: "\f11d"; }
.icon-computer-desktop-screen-security-locked-password:before { content: "\f11e"; }
.icon-resize-window-screen-full:before { content: "\f11f"; }
.icon-window-layout-side-menus-columns:before { content: "\f120"; }
.icon-round-right-arrow-next:before { content: "\f121"; }
.icon-light-flashlight-torch:before { content: "\f122"; }
.icon-briefcase-suitcase-luggage-baggage:before { content: "\f123"; }
.icon-plane-flight-airplane:before { content: "\f124"; }
.icon-remote-control-ir:before { content: "\f125"; }
.icon-location-map-navigate-path:before { content: "\f126"; }
.icon-star-favorite-add:before { content: "\f127"; }
.icon-file-document-font:before { content: "\f128"; }
.icon-photo-image-wall:before { content: "\f129"; }
.icon-tag-sales-price-shop:before { content: "\f12a"; }
.icon-delivery-van-truck-shipping:before { content: "\f12b"; }
.icon-clipboard-inventory-box-archive:before { content: "\f12c"; }
.icon-movie-video-record:before { content: "\f12d"; }
.icon-lock-security-password-secure:before { content: "\f12e"; }
.icon-call-support-phone-help:before { content: "\f12f"; }
.icon-file-document-image-photo:before { content: "\f130"; }
.icon-write-pencil-new-edit:before { content: "\f131"; }
.icon-sun-brigthness-summer-hot:before { content: "\f132"; }
.icon-calendar-date:before { content: "\f133"; }
.icon-bubble-cloud-chat-message:before { content: "\f134"; }
.icon-fire-estinguisher-burning:before { content: "\f135"; }
.icon-wristwatch-time-clock:before { content: "\f136"; }
.icon-diamond-stone-jewel-jewelry:before { content: "\f137"; }
.icon-thunderbolt-connector-fast:before { content: "\f138"; }
.icon-file-document-doc-word:before { content: "\f139"; }
.icon-traffic-light-transport:before { content: "\f13a"; }
.icon-broken-heart-favorite-dislike:before { content: "\f13b"; }
.icon-movie-video-play:before { content: "\f13c"; }
.icon-foot-steps-dance:before { content: "\f13d"; }
.icon-plane-paper-send:before { content: "\f13e"; }
.icon-full-screen-window-maximize:before { content: "\f13f"; }
.icon-shopping-price-tag-bag-sale:before { content: "\f140"; }
.icon-abacus-math-numbers-study-learning:before { content: "\f141"; }
.icon-arrows-direction-right:before { content: "\f142"; }
.icon-user-profile-avatar-female-woman:before { content: "\f143"; }
.icon-information:before { content: "\f144"; }
.icon-location-map-navigate:before { content: "\f145"; }
.icon-cone-job-traffic-transport-work:before { content: "\f146"; }
.icon-movie-cinema-ticket:before { content: "\f147"; }
.icon-user-profile-male:before { content: "\f148"; }
.icon-bubble-comment-chat-message:before { content: "\f149"; }
.icon-analytics-bar-chart-diagram-presentation-sales:before { content: "\f14a"; }
.icon-movember-moustache-male:before { content: "\f14b"; }
.icon-hotel-do-not-disturb-tag:before { content: "\f14c"; }
.icon-file-document-search-find:before { content: "\f14d"; }
.icon-fail-dangerous-error-unavailable:before { content: "\f14e"; }
.icon-map-folder:before { content: "\f14f"; }
.icon-sign-path-directions-navigation:before { content: "\f150"; }
.icon-rotate-sync-clockwise-recycle:before { content: "\f151"; }
.icon-education-study-school-learning-smart:before { content: "\f152"; }
.icon-full-battery-charged-power:before { content: "\f153"; }
.icon-cash-money-coins:before { content: "\f154"; }
.icon-hierarchy-diagram-structure:before { content: "\f155"; }
.icon-book-shelf-wall:before { content: "\f156"; }
.icon-analytics-bar-chart-diagram:before { content: "\f157"; }
.icon-unlocked-security-password-unsecure:before { content: "\f158"; }
.icon-free:before { content: "\f159"; }
.icon-paper-document-script:before { content: "\f15a"; }
.icon-coffee-tea-hot-drink:before { content: "\f15b"; }
.icon-map-folder-settings-preferences:before { content: "\f15c"; }
.icon-paint-brush-tool-color:before { content: "\f15d"; }
.icon-file-document-law-paragraph-license-contract:before { content: "\f15e"; }
.icon-money-price-euro-cash-coins:before { content: "\f15f"; }
.icon-photo-image-album-table:before { content: "\f160"; }
.icon-users-group-couple-family:before { content: "\f161"; }
.icon-cloud-files-error:before { content: "\f162"; }
.icon-delivery-box-shipping:before { content: "\f163"; }
.icon-t-shirt-clothes:before { content: "\f164"; }
.icon-drink-wine-vine-glass:before { content: "\f165"; }
.icon-user-bubble-chat-new:before { content: "\f166"; }
.icon-power-switch-plug-socket-electricity-euro:before { content: "\f167"; }
.icon-medal-achievement-star-award:before { content: "\f168"; }
.icon-paper-document-file-word-copy-archive:before { content: "\f169"; }
.icon-bill-money-price-dollars:before { content: "\f16a"; }
.icon-movie-video-play:before { content: "\f16b"; }
.icon-stopwatch-time:before { content: "\f16c"; }
.icon-movie-video-presentation-play:before { content: "\f16d"; }
.icon-weather-winter-snow-flake:before { content: "\f16e"; }
.icon-cloud-weather-cloudy:before { content: "\f16f"; }
.icon-minus-remove:before { content: "\f170"; }
.icon-box-shipping-package-delivery:before { content: "\f171"; }
.icon-transport-vehicle-van-delivery-truck:before { content: "\f172"; }
.icon-wireless-wifi-signal-hotspot:before { content: "\f173"; }
.icon-arrows-split:before { content: "\f174"; }
.icon-mobile-phone-telephone-call-contact:before { content: "\f175"; }
.icon-briefcase-suitcase-code-secure:before { content: "\f176"; }
.icon-checkbox-checked-yes-success:before { content: "\f177"; }
.icon-zoom-in-magnify-plus:before { content: "\f178"; }
.icon-keyboard-attach:before { content: "\f179"; }
.icon-ruler-dimensions-length-measure:before { content: "\f17a"; }
.icon-zoom-find-search-magnifying-glass:before { content: "\f17b"; }
.icon-computer-desktop-screen:before { content: "\f17c"; }
.icon-playing-cards-ace-poker-heart-spades-game:before { content: "\f17d"; }
.icon-minus-down-low:before { content: "\f17e"; }
.icon-map-folder-full-documents:before { content: "\f17f"; }
.icon-photo-image-album-polaroid:before { content: "\f180"; }
.icon-user-create-add-new:before { content: "\f181"; }
.icon-cash-register-money-payment:before { content: "\f182"; }
.icon-iphone-mobile-chat-message-sms:before { content: "\f183"; }
.icon-upload-open-export:before { content: "\f184"; }
.icon-layers:before { content: "\f185"; }
.icon-servers-backup-network-cloud-storage:before { content: "\f186"; }
.icon-audio-microphone-recording-studio:before { content: "\f187"; }
.icon-comment-message-reply-answer:before { content: "\f188"; }
.icon-map-folder-images-photos:before { content: "\f189"; }
.icon-thinking-brain-head-mind:before { content: "\f18a"; }
.icon-music-note-playing:before { content: "\f18b"; }
.icon-ringer-sounds-volume-speakers-loud:before { content: "\f18c"; }
.icon-music-note-playing-ipod:before { content: "\f18d"; }
.icon-checkbox-x-checked-no:before { content: "\f18e"; }
.icon-transport-ship-sea:before { content: "\f18f"; }
.icon-usb-adapter-cable-iphone-apple-connector:before { content: "\f190"; }
.icon-bright-bulb-idea-lamp-light:before { content: "\f191"; }
.icon-list-bullets-radio-button-select-choice:before { content: "\f192"; }
.icon-application-window-settings-configuration:before { content: "\f193"; }
.icon-user-security-password:before { content: "\f194"; }
.icon-mobile-phone-payment-nfc:before { content: "\f195"; }
.icon-lock-security-access-password:before { content: "\f196"; }
.icon-browse-list-bullets-check-survey:before { content: "\f197"; }
.icon-file-document-writing:before { content: "\f198"; }
.icon-book-reading-read-manual:before { content: "\f199"; }
.icon-ringer-sounds-volume-alarm-mute:before { content: "\f19a"; }
.icon-color-wheel-cmyk-rgb:before { content: "\f19b"; }
.icon-low-battery-charge-power:before { content: "\f19c"; }
.icon-usb-adapter-cable-charging-plug:before { content: "\f19d"; }
.icon-settings-eq-control-panel-preferences:before { content: "\f19e"; }
.icon-movie-video-record-hd:before { content: "\f19f"; }
.icon-battery-charging-power:before { content: "\f1a0"; }
.icon-arrow-rotate-right-clockwise:before { content: "\f1a1"; }
.icon-bank-institution-pantheon-building:before { content: "\f1a2"; }
.icon-music-video-play-youtube:before { content: "\f1a3"; }
.icon-recycle-bin-delete-garbage:before { content: "\f1a4"; }
.icon-file-document-attachment-paperclip:before { content: "\f1a5"; }
.icon-camera-ip-security-surveillance:before { content: "\f1a6"; }
.icon-shopping-cart-store-basket-purchase:before { content: "\f1a7"; }
.icon-phone-book-number-contact:before { content: "\f1a8"; }
.icon-call-support-phone-help-assistance:before { content: "\f1a9"; }
.icon-rotate-sync:before { content: "\f1aa"; }
.icon-transport-train-rail-line-metro:before { content: "\f1ab"; }
.icon-phone-book-number-contact:before { content: "\f1ac"; }
.icon-file-document-export:before { content: "\f1ad"; }
.icon-drink-cocktail-disco-going-out-shake:before { content: "\f1ae"; }
.icon-computer-desktop-screen-users:before { content: "\f1af"; }
.icon-location-pin-map:before { content: "\f1b0"; }
.icon-winner-achievement-medal-first:before { content: "\f1b1"; }
.icon-magnet-magnetic:before { content: "\f1b2"; }
.icon-pulse-heart-beat-hospital:before { content: "\f1b3"; }
.icon-shopping-cart-store-basket-purchase-full:before { content: "\f1b4"; }
.icon-radio-listening-station:before { content: "\f1b5"; }
.icon-compose-write-pencil-new:before { content: "\f1b6"; }
.icon-closed-shop-store:before { content: "\f1b7"; }
.icon-download-cloud-files-drive:before { content: "\f1b8"; }
.icon-iphone-mobile-call:before { content: "\f1b9"; }
.icon-map-folder-cloud-backup:before { content: "\f1ba"; }
.icon-winner-achievement-cup-prize-award:before { content: "\f1bb"; }
.icon-briefcase-suitcase-documents-business:before { content: "\f1bc"; }
.icon-eating-burger-hamburger-fast-food:before { content: "\f1bd"; }
.icon-plus-add:before { content: "\f1be"; }
.icon-power-switch-plug-socket-electricity-euro:before { content: "\f1bf"; }
.icon-user-profile-female-woman:before { content: "\f1c0"; }
.icon-heart-favorite-like-add:before { content: "\f1c1"; }
.icon-browse-list-grid-view:before { content: "\f1c2"; }
.icon-tree-forest-nature:before { content: "\f1c3"; }
.icon-search-find-documents-map:before { content: "\f1c4"; }
.icon-recycle-bin-bio-garbage-eco:before { content: "\f1c5"; }
.icon-usb-adapter-connector:before { content: "\f1c6"; }
.icon-shopping-cart-store-basket-purchase:before { content: "\f1c7"; }
.icon-shelf-archive:before { content: "\f1c8"; }
.icon-alarm-clock-snooze:before { content: "\f1c9"; }
.icon-flag:before { content: "\f1ca"; }
.icon-back-revert-undo:before { content: "\f1cb"; }
.icon-weather-temperature-hot-cold-celsius-thermometer:before { content: "\f1cc"; }
.icon-arrow-shooting-target-bullseye-archery:before { content: "\f1cd"; }
.icon-dish-cooking-eating-restaurant-food:before { content: "\f1ce"; }
.icon-power-on-switch-turn:before { content: "\f1cf"; }
.icon-paper-shredder:before { content: "\f1d0"; }
.icon-plant-nature-leaf-flower:before { content: "\f1d1"; }
.icon-calculator:before { content: "\f1d2"; }
.icon-url-address-web-www-page-internet:before { content: "\f1d3"; }
.icon-browse-favorites-top-rated:before { content: "\f1d4"; }
.icon-drink-glass-soda-sparkling-coke:before { content: "\f1d5"; }
.icon-bubble-comment-chat-message-add-compose:before { content: "\f1d6"; }
.icon-file-document-cv-curriculum-vitae-profile-id:before { content: "\f1d7"; }
.icon-computer-laptop-statistics-analytics:before { content: "\f1d8"; }
.icon-analytics-bar-chart-diagram-presentation:before { content: "\f1d9"; }
.icon-music-note-playing-ipod:before { content: "\f1da"; }
.icon-computer-laptop-download-internet:before { content: "\f1db"; }
.icon-wallet-money-card-full:before { content: "\f1dc"; }
.icon-open-shop-store:before { content: "\f1dd"; }
.icon-user-profile-male-boy:before { content: "\f1de"; }
.icon-hospital-ill-medicine-injection-doctor:before { content: "\f1df"; }
.icon-weather-rain-water-umbrela:before { content: "\f1e0"; }
.icon-rocket-space:before { content: "\f1e1"; }
.icon-calendar-date:before { content: "\f1e2"; }
.icon-user-profile-avatar-female:before { content: "\f1e3"; }
.icon-wall-clock-time:before { content: "\f1e4"; }
.icon-box-shipping-package:before { content: "\f1e5"; }
.icon-fail-alert-error-unavailable:before { content: "\f1e6"; }
.icon-ipad-tablet-touch-screen:before { content: "\f1e7"; }
.icon-arrows-resize-split:before { content: "\f1e8"; }
.icon-analytics-line-chart-diagram:before { content: "\f1e9"; }
.icon-tree-forest-picnic-rest:before { content: "\f1ea"; }
.icon-shape-new-badge:before { content: "\f1eb"; }
.icon-analytics-bar-chart-diagram-presentation:before { content: "\f1ec"; }
.icon-book-contact-profile-user:before { content: "\f1ed"; }
.icon-attachment-paper-clip:before { content: "\f1ee"; }
.icon-file-document-zip-rar-compressed:before { content: "\f1ef"; }
.icon-keyboard-cable:before { content: "\f1f0"; }
.icon-touch-id-fingerprint-security-access:before { content: "\f1f1"; }
.icon-computer-desktop-screen-settings-preferences:before { content: "\f1f2"; }
.icon-wallet-money-empty:before { content: "\f1f3"; }
.icon-store-shop-shopping-market:before { content: "\f1f4"; }
.icon-milk-tetra-pack:before { content: "\f1f5"; }
.icon-file-document-cv-curriculum-vitae-profile-id:before { content: "\f1f6"; }
.icon-music-playing-dj:before { content: "\f1f7"; }
.icon-disc-floppy-save:before { content: "\f1f8"; }
.icon-file-document-import-download:before { content: "\f1f9"; }
.icon-airplay-screen-streaming-sharing:before { content: "\f1fa"; }
.icon-file-document-code-binary:before { content: "\f1fb"; }
.icon-living-light-table:before { content: "\f1fc"; }
.icon-shopping-cart-store-basket-purchase:before { content: "\f1fd"; }
.icon-clipboard-inventory-box-export-open:before { content: "\f1fe"; }
.icon-comment-chat-message:before { content: "\f1ff"; }
.icon-cloud-files-upload-backup:before { content: "\f200"; }
.icon-filter-funnel:before { content: "\f201"; }
.icon-download-import:before { content: "\f202"; }
.icon-favorite-message-like:before { content: "\f203"; }
.icon-new-year-decoration-tree-ball-christmas:before { content: "\f204"; }
.icon-star-favorite:before { content: "\f205"; }
.icon-analytics-bar-chart-diagram-growth:before { content: "\f206"; }
.icon-analytics-bar-chart-diagram-crisis-down:before { content: "\f207"; }
.icon-paper-document-article-text-image:before { content: "\f208"; }
.icon-arrows-curves:before { content: "\f209"; }
.icon-surprise-gift-wrap-box:before { content: "\f20a"; }
.icon-fire-burning:before { content: "\f20b"; }
.icon-keyboard-wireless:before { content: "\f20c"; }
.icon-user-delete-remove:before { content: "\f20d"; }
.icon-movie-video-play-cinema:before { content: "\f20e"; }
.icon-smiley-happy:before { content: "\f20f"; }
.icon-clipboard-inventory-box-import-download:before { content: "\f210"; }
.icon-user-profile-male-business-man:before { content: "\f211"; }
.icon-switch-on-off:before { content: "\f212"; }
.icon-phone-telephone-call-contact:before { content: "\f213"; }
.icon-fail-dangerous-error-dont-touch:before { content: "\f214"; }
.icon-house-home-building:before { content: "\f215"; }
.icon-hospital-ill-aid-bandage-health-fix:before { content: "\f216"; }
.icon-law-justice-verdict-judge-court-hammer:before { content: "\f217"; }
.icon-transport-vehicle-car-traffic:before { content: "\f218"; }
.icon-playing-drums-music-beat:before { content: "\f219"; }
.icon-move-navigate-window-screen-full:before { content: "\f21a"; }
.icon-settings-tools-pipe:before { content: "\f21b"; }
.icon-browse-list-bullets:before { content: "\f21c"; }
.icon-application-window-message-box:before { content: "\f21d"; }
.icon-call-keyboard-dial-numbers:before { content: "\f21e"; }
.icon-money-price-us-dollars-cash-coins:before { content: "\f21f"; }
.icon-plus-up-high:before { content: "\f220"; }
.icon-cpu-processor-64-bit-intel-chip:before { content: "\f221"; }
.icon-arrows-bidirectional:before { content: "\f222"; }
.icon-drawing-pen-pencil-ruler:before { content: "\f223"; }
.icon-fork-knife-spoon-eating-restaurant-food:before { content: "\f224"; }
.icon-file-document-lock-security-password:before { content: "\f225"; }
.icon-firewall-security-network:before { content: "\f226"; }
.icon-fuel-gas-station-petrol:before { content: "\f227"; }
.icon-mail-envelope-email-sent:before { content: "\f228"; }
.icon-house-home:before { content: "\f229"; }
.icon-dashboard-full-fuel-gauge:before { content: "\f22a"; }
.icon-phone-telephone-call-wire:before { content: "\f22b"; }
.icon-car-steering-wheel:before { content: "\f22c"; }
.icon-book-shelf-archive:before { content: "\f22d"; }
.icon-wireless-wifi-signal-hotspot:before { content: "\f22e"; }
.icon-support-help-rescue:before { content: "\f22f"; }
.icon-phone-telephone-call-ringing:before { content: "\f230"; }
.icon-world-globe-internation-region-language-earth:before { content: "\f231"; }
.icon-building-industry-factory:before { content: "\f232"; }
.icon-map-folder-locked-password-security:before { content: "\f233"; }
.icon-mouse-wireless:before { content: "\f234"; }
.icon-law-justice-lawyer-judge-court-attorney:before { content: "\f235"; }
.icon-to-do-clipboard-survey-petition:before { content: "\f236"; }
.icon-dashboard-low-empty-fuel-gauge:before { content: "\f237"; }
.icon-settings-tools-configuration-service-preferences:before { content: "\f238"; }
.icon-half-full-battery-charge-power:before { content: "\f239"; }
.icon-arrows-repeat:before { content: "\f23a"; }
.icon-music-playing-cloud-stream:before { content: "\f23b"; }
.icon-relay-holiday-tourist-beach-sea-sunbathing:before { content: "\f23c"; }
.icon-movie-director-cut-scene-take:before { content: "\f23d"; }
.icon-user-profile-avatar:before { content: "\f23e"; }
.icon-webcam-camera-ip-security-surveillance:before { content: "\f23f"; }
.icon-arrow-rotate-left-counter-clockwise:before { content: "\f240"; }
.icon-flower-nature-plant:before { content: "\f241"; }
.icon-browse-list-bullets-thumbs:before { content: "\f242"; }
.icon-phone-telephone-call-contact:before { content: "\f243"; }
.icon-user-tag:before { content: "\f244"; }
.icon-wall-clock-time:before { content: "\f245"; }
.icon-file-document-export-upload:before { content: "\f246"; }
.icon-map-folder:before { content: "\f247"; }
.icon-calendar-date:before { content: "\f248"; }
.icon-coffee-hot-drink-cup-to-go:before { content: "\f249"; }
.icon-map-folder-history-schedule:before { content: "\f24a"; }
.icon-database-drives-raid-db-storage-nas-network:before { content: "\f24b"; }
.icon-database-drives-raid-db-storage-nas-network:before { content: "\f24c"; }
.icon-round-left-arrow-previous:before { content: "\f24d"; }
.icon-x-remove-delete-close-exit:before { content: "\f24e"; }
.icon-music-playing-album-songs:before { content: "\f24f"; }
.icon-hierarchy-diagram-structure:before { content: "\f250"; }
.icon-audio-microphone-recording-studio:before { content: "\f251"; }
.icon-wireless-wifi-signal-hotspot-router-modem-switch:before { content: "\f252"; }
.icon-medal-achievement-star-award:before { content: "\f253"; }
.icon-laboratory-lab-experiment-research:before { content: "\f254"; }
.icon-settings-gear-preferences:before { content: "\f255"; }
.icon-newspaper-reading-news:before { content: "\f256"; }
.icon-cash-money-coins-piggy-bank-savings:before { content: "\f257"; }
.icon-house-home-building-flat-skyscraper:before { content: "\f258"; }
.icon-analytics-line-chart-diagram-presentation:before { content: "\f259"; }
.icon-photo-image-wall-unavailable-missing:before { content: "\f25a"; }
.icon-file-document-video-recording:before { content: "\f25b"; }
.icon-sim-nano-micro-card:before { content: "\f25c"; }
.icon-stop-fail-dangerous-error-dont-touch:before { content: "\f25d"; }
.icon-cloud-sync-files-restore:before { content: "\f25e"; }
.icon-ringer-sounds-volume-speakers-mute:before { content: "\f25f"; }
.icon-zoom-out-magnify-minus:before { content: "\f260"; }
.icon-gamepad-playstation-xbox-game-playing:before { content: "\f261"; }
.icon-thinking-brain-head-mind:before { content: "\f262"; }
.icon-money-us-dollars-cash-coins:before { content: "\f263"; }
.icon-file-document-cloud-dropbox-backup:before { content: "\f264"; }
.icon-recycle-bin-delete-garbage-full:before { content: "\f265"; }
.icon-mouse-wire:before { content: "\f266"; }
.icon-nuclear-atom-bomb-dangerous:before { content: "\f267"; }
.icon-iphone-mobile-chat-message-sms:before { content: "\f268"; }
.icon-computer-laptop-www-internet-web:before { content: "\f269"; }
.icon-cash-money-coins-bills:before { content: "\f26a"; }
.icon-servers-network-connection-internet-sitemap:before { content: "\f26b"; }
.icon-business-tie:before { content: "\f26c"; }
.icon-switch-on-off:before { content: "\f26d"; }
.icon-star-favorite:before { content: "\f26e"; }
.icon-notebook:before { content: "\f26f"; }
.icon-sheriff-star-badge-police-law-enforcement:before { content: "\f270"; }
.icon-tree-forest:before { content: "\f271"; }
.icon-credit-card:before { content: "\f272"; }
.icon-new-badge:before { content: "\f273"; }
.icon-download-computer-files:before { content: "\f274"; }
.icon-logout-exit-door:before { content: "\f275"; }
.icon-database-drives-raid-db-storage:before { content: "\f276"; }
.icon-calendar-date:before { content: "\f277"; }
.icon-television-tv:before { content: "\f278"; }
.icon-bowling-game-playing-ball:before { content: "\f279"; }
.icon-box-shipping-package-delivery:before { content: "\f27a"; }
.icon-bright-bulb-idea-lamp-light:before { content: "\f27b"; }
.icon-anchor-marine-maritime:before { content: "\f27c"; }
.icon-bright-bulb-idea-lamp-light:before { content: "\f27d"; }
.icon-money-us-dollars-euro-cash-currency-exchange:before { content: "\f27e"; }
.icon-mail-envelope-email-open:before { content: "\f27f"; }
.icon-location-pin-map:before { content: "\f280"; }
.icon-bomb:before { content: "\f281"; }
.icon-question-support-help:before { content: "\f282"; }
.icon-alert-error-unavailable:before { content: "\f283"; }
.icon-window-layout-side-menu:before { content: "\f284"; }
.icon-arrow-left-navigate-previous:before { content: "\f285"; }
.icon-iphone-smart-phone-mobile:before { content: "\f286"; }
.icon-photo-image-camera-take-shot:before { content: "\f287"; }
.icon-shopping-cart-store-basket-purchase:before { content: "\f288"; }
.icon-store-shop-shopping:before { content: "\f289"; }
.icon-notebook-to-do:before { content: "\f28a"; }
.icon-tag-sales-price-shop-discount:before { content: "\f28b"; }
.icon-iphone-mobile-ringing:before { content: "\f28c"; }
.icon-battery-charge-power:before { content: "\f28d"; }
.icon-weather-temperature-hot-cold-celsius-thermometer:before { content: "\f28e"; }
.icon-window-layout-grid-boxes:before { content: "\f28f"; }
.icon-photo-image-camera:before { content: "\f290"; }
.icon-download-computer-files:before { content: "\f291"; }
.icon-ringer-sounds-volume-speakers:before { content: "\f292"; }
.icon-file-document-cv-curriculum-vitae:before { content: "\f293"; }
.icon-window-layout-side-article-columns:before { content: "\f294"; }
.icon-user-personal-id-profile:before { content: "\f295"; }
.icon-location-pin-map:before { content: "\f296"; }
.icon-file-document-writing-script:before { content: "\f297"; }
.icon-puzzle-plug-in-plugin-compatible-module-component:before { content: "\f298"; }
.icon-file-document-pdf-adobe-acrobat:before { content: "\f299"; }
.icon-delete-backspace-remove:before { content: "\f29a"; }
.icon-smiley-neutral:before { content: "\f29b"; }
.icon-open-nonstop-24-7-shop-store:before { content: "\f29c"; }
.icon-lock-rotate:before { content: "\f29d"; }
.icon-shopping-price-bag:before { content: "\f29e"; }
.icon-computer-laptop-user:before { content: "\f29f"; }
.icon-key-lock-security-password-secure:before { content: "\f2a0"; }
.icon-queen-chess-game-playing-crown:before { content: "\f2a1"; }
.icon-dangerous-scull-poison-death:before { content: "\f2a2"; }
.icon-documents-box-archive:before { content: "\f2a3"; }
.icon-tweet-message-twitter:before { content: "\f2a4"; }
.icon-write-pencil-new-edit:before { content: "\f2a5"; }
.icon-safe-security-secure-access:before { content: "\f2a6"; }
.icon-drop-down-box-select-choice:before { content: "\f2a7"; }
.icon-bear-animal-foot-steps:before { content: "\f2a8"; }
.icon-arrows-shuffle-crossing:before { content: "\f2a9"; }
.icon-application-window-alert-error:before { content: "\f2aa"; }
.icon-computer-desktop-screen:before { content: "\f2ab"; }
.icon-photo-image-album:before { content: "\f2ac"; }
.icon-music-note-playing-album:before { content: "\f2ad"; }
.icon-map-folder-archive-documents:before { content: "\f2ae"; }
.icon-dashboard-fuel-gauge:before { content: "\f2af"; }
.icon-zoom-find-search-magnifying-glass:before { content: "\f2b0"; }
.icon-bicycle-cycling:before { content: "\f2b1"; }
.icon-paint-brush-drawing-color:before { content: "\f2b2"; }
.icon-photo-image-camera-take-shot:before { content: "\f2b3"; }
.icon-location-compass-map:before { content: "\f2b4"; }
.icon-book-reading-read-bookmark:before { content: "\f2b5"; }
.icon-like-thumbs-up-vote:before { content: "\f2b6"; }
.icon-user-profile-avatar-male:before { content: "\f2b7"; }
.icon-clipboard-inventory-box:before { content: "\f2b8"; }
.icon-comment-quote-reply:before { content: "\f2b9"; }
.icon-users-group:before { content: "\f2ba"; }
.icon-leaf-nature-bio-plant-green-organic:before { content: "\f2bb"; }
.icon-bug:before { content: "\f2bc"; }
.icon-bubble-chat-message:before { content: "\f2bd"; }
.icon-file-document-table:before { content: "\f2be"; }
.icon-heart-favorite-like:before { content: "\f2bf"; }
.icon-candle-fire-burning:before { content: "\f2c0"; }
.icon-glasses-reading:before { content: "\f2c1"; }
.icon-transport-vehicle-bus-coach:before { content: "\f2c2"; }
.icon-atomic-nuclear-atom-molecular:before { content: "\f2c3"; }
.icon-half-battery-charge-power:before { content: "\f2c4"; }
.icon-application-window-shell-code-comand-prompt:before { content: "\f2c5"; }
.icon-dislike-thumbs-down-vote:before { content: "\f2c6"; }
.icon-pencil-ruler-drawing:before { content: "\f2c7"; }
.icon-ringer-sounds-volume-speakers:before { content: "\f2c8"; }
.icon-maple-leaf:before { content: "\f2c9"; }
.icon-file-document-to-do:before { content: "\f2ca"; }
.icon-needle-pin-safety:before { content: "\f2cb"; }
.icon-database-shared-map-storage-nas-network:before { content: "\f2cc"; }
.icon-disc-cd-dvd-drive:before { content: "\f2cd"; }
.icon-link-chain-url:before { content: "\f2ce"; }
.icon-music-note-playing:before { content: "\f2cf"; }
.icon-weather-rain-water-drop:before { content: "\f2d0"; }
.icon-book-reading-read-manual:before { content: "\f2d1"; }
.icon-paper-document-file-error-unavailable-delete:before { content: "\f2d2"; }
.icon-pin-bookmark:before { content: "\f2d3"; }
.icon-photo-image-camera-import-copy:before { content: "\f2d4"; }
.icon-audio-loud-speaker-announcement:before { content: "\f2d5"; }
.icon-sign-path-directions-navigation:before { content: "\f2d6"; }
.icon-weather-moon-night-stars-sleep-screensaver-stand-by:before { content: "\f2d7"; }
.icon-map-folder-import-upload:before { content: "\f2d8"; }
.icon-settings-tools-configuration-service-preferences:before { content: "\f2d9"; }
.icon-transport-street-road-traffic:before { content: "\f2da"; }
.icon-computer-desktop-screen-cloud-terminal:before { content: "\f2db"; }
.icon-hammer-tools-work-job:before { content: "\f2dc"; }
.icon-bookmark:before { content: "\f2dd"; }
.icon-cloud-weather-rain-storm:before { content: "\f2de"; }
.icon-open-box-shipping-package-delivery:before { content: "\f2df"; }
.icon-bubble-comment-chat-message-like:before { content: "\f2e0"; }
.icon-basketball-volleyball-footbal-playing-ball-court:before { content: "\f2e1"; }
.icon-phone-book-number-contact:before { content: "\f2e2"; }
.icon-briefcase-suitcase-documents:before { content: "\f2e3"; }
.icon-visability-view-watch-eye:before { content: "\f2e4"; }
.icon-settings-eq-control-panel-preferences:before { content: "\f2e5"; }
.icon-analytics-pie-chart-diagram:before { content: "\f2e6"; }
.icon-calculator:before { content: "\f2e7"; }
.icon-bubble-comment-chat-message:before { content: "\f2e8"; }
.icon-bubble-comment-chat-message-writing:before { content: "\f2e9"; }
.icon-application-window-cursor:before { content: "\f2ea"; }
.icon-audio-speaker-playing-music-sound:before { content: "\f2eb"; }
.icon-download-computer-files-drive:before { content: "\f2ec"; }
.icon-paper-document-file-word:before { content: "\f2ed"; }
.icon-database-drives-raid-db-storage-nas-backup:before { content: "\f2ee"; }
.icon-alert-attention-error:before { content: "\f2ef"; }
.icon-book-writing-reading-read-manual:before { content: "\f2f0"; }
.icon-time-clock-watch:before { content: "\f2f1"; }
.icon-rotate-counter-clockwise-arrow:before { content: "\f2f2"; }
.icon-bicycle-chain:before { content: "\f2f3"; }
