div(ng-controller="shareWithUsersController")
  .modal-header
    h3.modal-title {{ 'modal.SHAREWITHUSERS' | translate }}
  .modal-body
    //
    // SEARCH
    //
    .search-form
      form.form-horizontal
        .row.form-group
          .col-xs-3.col-xs-offset-1
            label.control-label {{ 'modal.USER' | translate }}:
          .col-xs-6
            .input-group
              input.form-control(type="text" ng-model="tempOwnerName" ng-model-options='{ debounce: 300 }' ng-class="{loading:loading}" placeholder="{{ 'modal.INSTRUCT1' | translate }}" ng-change="getUserByName(tempOwnerName)")
            .row
              .col-xs-12.col-md-8
                fieldset.form-group(ng-if="showTable" click-outside="closeTable()")
                    .col-xs-8.table-results
                      table.table.table-hover(ng-if="showTable && users.length")
                        thead
                          tr
                            th
                              | {{ 'modal.NAME' | translate }}
                            th
                              | {{ 'modal.LASTNAME' | translate }}
                            th
                              | {{ 'modal.ACCOUNT' | translate }}
                        tbody
                          tr(
                          ng-repeat="user in users"
                          ng-click="addUser(user)")
                            th
                              | {{user.firstName}}
                            th
                              | {{user.lastName}}
                            th
                              | {{user.account}}
                      .row(ng-show='showTable && !users.length')
                        .col-xs-10.col-xs-offset-2
                          i.glyphicon.glyphicon-remove
                          span {{ 'modal.NOTFOUND' | translate }}
        .row
          .col-xs-12
            table.table.table-hover(ng-if="listSelectedUser.length")
              thead
                tr
                  th
                    | #
                  th
                    | {{ 'modal.NAME' | translate }}:
                  th
                    | 
              tbody
                tr(
                  ng-repeat="user in listSelectedUser track by $index"
                  ng-click="saveVolume(user)")
                  th
                    | {{$index + 1}}
                  th
                    | {{user.firstName}}&nbsp;{{user.lastName}}
                    span(ng-if="caseStudy && caseStudy.createdBy == user.account")
                      | &nbsp;(owner)
                  th.remove
                    a(ng-click="removeUser($index)" ng-if="!(caseStudy && caseStudy.createdBy == user.account)")
                      span.open-all
                        img.dropdown-icon(src="img/icons-new/dropdown-delete-icon-14x14.png") 
        .row
          .col-xs-5.col-xs-offset-4
            .btn-group
              button.btn.btn-default.btn-xs(ng-click="cancel()")
                | {{ 'modal.CANCEL' | translate }}
              button.btn.btn-primary.btn-xs(
              ng-click="saveSharedUsers()")
                | {{ 'modal.SAVE' | translate }}

style(type='text/css').
    .remove {text-align: right}