/*
** Sovrascrittura regole bottoni
*/
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
  &,
  &:active,
  &.active {
    &:focus {
      outline: 0;
    }
  }
  &:active,
  &.active {
    .box-shadow(none);
  }
  font-weight: 600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 12px;
  font-size: 10px;
}

.btn-check{
  padding: 2px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
  border: 2px solid;

}

.btn-default {
  font-weight: 600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 12px;
  font-size: 10px;
}

.document-header .btn-default {
  background: transparent;
  border: none;
  padding: 5px 5px;
  color: @brand-success;
}

.document-header .btn-default:active .document-header .btn-default:active i {
  color: @brand-success;
}

// Success appears as green
.btn-success {
  .button-variant(@brand-success; @btn-success-bg; @btn-success-border);
}
.btn-success:focus{
  margin-top: 0px !important;
}
.btn-primary:hover {
  background: @brand-primary;
}

.btn-primary:active {
  background-color: @brand-primary;
  border-color: @brand-primary;
  color: white;
}

// Info appears as blue-green
.btn-info {
  .button-variant(@brand-info; @btn-info-bg; @btn-info-border);
}
// Warning appears as orange
.btn-warning {
  .button-variant(@brand-warning; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  .button-variant(@brand-danger; @btn-danger-bg; @btn-danger-border);
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(12px; 50px; 18px; 27px; 32px);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid;
  padding: 5px 20px; 
}
.panel-group .btn-sm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: @gray-60;
  border: 2px solid @gray-60;
  padding: 2px 15px;
  font-size: @font-size-small;
  color: @gray-07;
  font-weight: @font-weigth-light;
}

.panel-group .btn-sm:hover {
  background-color: @brand-primary;
  border-color: @brand-primary;
  color: white;
}

.panel-group .btn-sm:active {
  background-color: @brand-success;
  border-color: @brand-success;
  color: white;
}

.panel-group .btn-group > .btn:last-child:not(:first-child) {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid @gray;
}

.btn-xs,
.btn-group-xs > .btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid;
  padding: 2px 15px;
  font-size: 10px;
}


.btn-xs {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid;
  padding: 2px 15px;
  font-size: @font-size-small;
}

.btn-xs.active {
  background: @gray-light;
}

.search-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid @brand-success;
  font-weight: @font-weigth-medium;
  font-size: @font-size-small;
}

.btn-success[disabled] {
  color: @brand-success;
  border-color: #cc6666;
}

.btn-success[disabled]:hover {
  color: @brand-success;
}

.btn-primary[disabled]:hover {
  color: @brand-primary;
}

.btn-default:disabled {
  border-color: #cc6666;
}

.second-coloumn .col-xs-3 .btn {
  border: transparent;
  background: transparent;
}

.panel-content .input-group-btn .btn:hover {
  background: transparent;
}


