label {
  color: @gray-light;
  font-weight: 400;
}
.form-control {
  border-color: @gray-30;
  color: @gray-dark;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  height: 24px;
  &:focus {
    border-color: @brand-success;
    outline: 0;
  }
}

.modal-content .form-control {
  border-color: @gray-60;
  color: @gray-07;
  background: #222222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  &:focus {
    outline: 0;
  }
}

.form-control {
  box-shadow: none;
}



.content-right-panel .form-control {
  background: @gray-07;
  border: 1px solid @gray-07;
  box-shadow: none;
}
textarea.form-control {
  resize: vertical;
}

.has-error {
  .form-control, .select {
    border-color: @brand-primary;
  }
}

.form-control:focus {
  border: 2px solid @gray-light;
}

.has-error, .has-success, .has-warning {
  .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: @gray-light;
  }
}
/* Elimino gli spinner per gli elementi di tipo numero */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Fine */
@media (max-width: 767px){
  .widget-body{
    .form-horizontal .form-group{
      margin-left: 0;
      margin-right: 0;
    }
    .form-horizontal .radio{
      margin-left: 10px;
    }
  }
  .btn-inform {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
  .form-horizontal {
    .radio-inline, .checkbox-inline{
      display: block;
      margin-left: 0;
      border: 2px solid @gray-dark;
    }
    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
      margin-left: 0;
    }
  }
  .form-control-static.text-right {
    text-align: left;
  }
}

input.ng-invalid.ng-touched{
  border-color: @brand-primary;
}
.required{
  margin-left: -25px;
  margin-top: 6px;
  color: @brand-primary;
  font-style: italic;
}

.form-control.btn-default {
  border-color: @gray-dark; 
}

.document-details .doc-details-accordion textarea.inner-content {
  border: 1px solid @gray-30;
}

.document-details .doc-details-accordion textarea.inner-content:focus {
  border: 2px solid @gray;
}