.modal-content {
	border-radius: 4px;
	background-color: @gray-darker;
	color: @gray-lighter;
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	.modal-header, .modal-footer {
		border-color: @gray-lighter;
	}
	.btn {
		&.btn-default {
			color: @gray-lighter;
			border-color: @gray-lighter;
			&:hover {
				background-color: @gray-lighter;
				color: @gray-dark;
			}
		}
	}
  .form-horizontal{
    .control-label {
      color: @gray-lighter;
    }
  }
	.modal-body {
		min-height: 100px;
	}
}