.progress {
  background-color: @gray-light;
  border-radius: 0;
  .box-shadow(none);

  .progress-bar {
    background-color: @brand-success;
    .box-shadow(none);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }

}