//
// Buttons
// --------------------------------------------------

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: none;
  @shadow: none;
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
  box-shadow: @shadow;

  // Reset the shadow
  &:active,
  &.active {
    -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
    box-shadow: @shadow;
  }
}

.btn-styles(@btn-color: #555) {
  //Vuota
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
}

.navbar-inverse {
  background-color: @gray-darker;
  border-color: @gray-darker;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover {
  color: #d3ded9 !important;
}
