@import url(https://fonts.googleapis.com/css?family=Roboto:200,400,500,700|Crimson+Text:400,300|Raleway:400);
// Grays
@gray-darker: #47323C;
@gray-dark: #8A5B72;
@gray: #8D8987;
@gray-light: #73837d;
@gray-lighter: #D3DED9;
@gray-lighterer:#D3DED9;
// Gray shades
@gray-60:#A9A7A5;
@gray-30:#D4D3D2;
@gray-07:#F5F5F4;


// Brand Colors
@brand-primary: #cc6666;
@brand-success: #47323C;
@brand-warning: #87AD9E;
@brand-danger: #d9534f;
@brand-info: #706C69;
@brand-selected: #CF5D68;

// Greens
@green-success: #23ad3c;

// Scaffolding
@body-bg: #fff;
@text-color: @gray-dark;
@link-color: @brand-success;
@link-hover-color: @brand-primary;
@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;
@padding-large-vertical: 10px;
@padding-large-horizontal: 16px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;
@border-radius-base: 6px;
@border-radius-large: 8px;
@border-radius-small: 4px;
@line-height-large: 1.33;
@line-height-small: 1.5;
@component-active-bg: @brand-primary;


// Typography
@font-family-sans-serif: 'Roboto', helvetica, arial, sans-serif;
@font-family-serif: 'Crimson Text', times, serif;
@font-family-monospace: Monaco, monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 12px;
@font-size-large: 16px;
@font-size-small: 10px;
@font-size-medium: 14px;
@font-size-h1: 36px;
@font-size-h2: 26px;
@font-size-h3: 20px;
@font-size-h4: 18px;
@font-size-h5: 14px;
@font-size-h6: 12px;
@line-height-base: 1.5;
@line-height-computed: floor(@font-size-base * @line-height-base);
@headings-font-family: 'Raleway', helvetica, arial, sans-serif;
@headings-font-weight: 400;
@headings-line-height: 1.3;
@headings-color: @gray-darker;
@font-weigth-light: 200;
@font-weigth-medium: 500;
@font-weigth-bold: 700;

// Buttons
@btn-font-weight: 400;
@btn-default-color: #606060;
@btn-default-bg: transparent;
@btn-default-border: #606060;
@btn-primary-color: @brand-primary;
@btn-primary-bg: transparent;
@btn-primary-border: @brand-primary;
@btn-success-color: @brand-primary;
@btn-success-bg: transparent;
@btn-success-border: @brand-primary;
@btn-warning-color: @brand-warning;
@btn-warning-bg: transparent;
@btn-warning-border: @brand-warning;
@btn-danger-color: @brand-danger;
@btn-danger-bg: transparent;
@btn-danger-border: @brand-danger;
@btn-info-color: @brand-info;
@btn-info-bg: transparent;
@btn-info-border: @brand-info;
@btn-link-disabled-color: @gray-light;


// Dropdowns
@dropdown-bg: #fff;
@dropdown-border: rgba(0,0,0,.15);
@dropdown-divider-bg: @gray-light;
@dropdown-link-active-color: #fff;
@dropdown-link-active-bg: @component-active-bg;
@dropdown-link-color: @gray-dark;
@dropdown-link-hover-color: #fff;
@dropdown-link-hover-bg: @dropdown-link-active-bg;
@dropdown-link-disabled-color: @gray-light;
@dropdown-header-color: @gray-light;
@dropdown-caret-color: #000;


// Forms
@input-bg: #fff;
@input-bg-disabled: #fafafa;
@input-color: #606060;
@input-border: @gray-light;
@input-border-radius: 0;
@input-color-placeholder: @gray-light;
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (floor(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);
@legend-color: @gray-dark;
@legend-border-color: #d0d0d0;
@input-group-addon-bg: @gray-lighter;
@input-group-addon-border-color: @input-border;


// Table
@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;
@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;
@table-bg: transparent;
@table-bg-accent: #fafafa;
@table-bg-hover: @brand-primary;
@table-bg-active: @brand-primary;
@table-border-color: #d0d0d0;


// Navs Tabs
@nav-link-padding: 10px 15px;
@nav-link-hover-bg: @gray-lighter;
@nav-disabled-link-color: @gray-light;
@nav-disabled-link-hover-color: @gray-light;
@nav-tabs-border-color: #ddd;
@nav-tabs-link-hover-border-color: @gray-lighter;
@nav-tabs-active-link-hover-bg: @body-bg;
@nav-tabs-active-link-hover-color: @gray;
@nav-tabs-active-link-hover-border-color: #ddd;
@nav-tabs-justified-link-border-color: #ddd;
@nav-tabs-justified-active-link-border-color: @body-bg;
@nav-pills-border-radius: @border-radius-base;
@nav-pills-active-link-hover-bg: @component-active-bg;
@nav-pills-active-link-hover-color: #fff;

// Jumbotron
@jumbotron-padding: 30px;
@jumbotron-color: inherit;
@jumbotron-bg: @gray-lighter;
@jumbotron-font-size: ceil((@font-size-base * 1.5));


// Pagination
@pagination-bg: #fff;
@pagination-border: #ddd;
@pagination-hover-bg: @gray-lighter;
@pagination-hover-color: @link-hover-color;
@pagination-hover-border: #ddd;
@pagination-active-bg: @brand-primary;
@pagination-active-color: #fff;
@pagination-active-border: @brand-primary;
@pagination-disabled-color: @gray-light;
@pagination-disabled-bg: #fff;
@pagination-disabled-border: #ddd;
@pager-bg: @pagination-bg;
@pager-border: @pagination-border;
@pager-border-radius: 15px;
@pager-hover-bg: @pagination-hover-bg;
@pager-active-bg: @pagination-active-bg;
@pager-active-color: @pagination-active-color;
@pager-bg: @pagination-bg;
@pager-disabled-color: @gray-light;


// Form States
@state-warning-text: @brand-warning;
@state-warning-bg: #fff;
@state-warning-border: @brand-warning;
@state-danger-text: @brand-primary;
@state-danger-bg: #fff;
@state-danger-border: @brand-primary;
@state-success-text: @brand-success;
@state-success-bg: #fff;
@state-success-border: @brand-success;
@state-info-text: @brand-info;
@state-info-bg: #fff;
@state-info-border: @brand-info;


// ToolTip
@tooltip-max-width: 300px;
@tooltip-color: #fff;
@tooltip-bg: #000;
@tooltip-arrow-width: 5px;
@tooltip-arrow-color: @tooltip-bg;
@tooltip-opacity: .9;


// Popover
@popover-bg: #fff;
@popover-max-width: 400px;
@popover-border-color: rgba(0,0,0,.2);
@popover-fallback-border-color: #ccc;
@popover-title-bg: darken(@popover-bg, 3%);
@popover-arrow-width: 10px;
@popover-arrow-color: #fff;
@popover-arrow-outer-width: (@popover-arrow-width + 1);
@popover-arrow-outer-color: rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color: #999;


// List Group
@list-group-bg: #fff;
@list-group-border: #ddd;
@list-group-border-radius: @border-radius-base;
@list-group-hover-bg: #f5f5f5;
@list-group-active-color: #fff;
@list-group-active-bg: @component-active-bg;
@list-group-active-border: @list-group-active-bg;
@list-group-active-text-color: lighten(@list-group-active-bg, 40%);
@list-group-link-color: #555;
@list-group-link-heading-color: #333;

//Alert
@alert-border-radius: 6px;

//Navbar
@navbar-inverse-brand-color: @gray-darker;
@navbar-height: 54px;

// Sprites
@icon-font-path: '../fonts/';
@icon-font-name: glyphicons-halflings-regular;
@panel-default-text: @gray-darker;
