.container
    .col-sm-8
        input.form-control(type='text', placeholder="please put here mapDocId# ...", ng-model='mapdocid')
    .col-sm-4
        button.btn.btn-default(ng-click="mapDocIdSearch()") search