.doc-ae-info-cont
  .infos
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | #mapVolumeId: 
          .col-xs-8
            span.fields
              | {{documents.volumeId}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Created By: 
          .col-xs-8
            span.fields.ae-desc-links.cursor-pointer(ng-click='goToPublicProfile(documents.createdBy)') {{documents.createdBy}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Creation Date: 
          .col-xs-8
            span.fields
              | {{documents.dateCreated}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Last Update By: 
          .col-xs-8
            span.fields.ae-desc-links.cursor-pointer(ng-click='goToPublicProfile(documents.lastUpdateBy)') {{documents.lastUpdateBy}}
    .row
      .col-xs-12
        .row
          .col-xs-4
            .label
              | Last Update Date: 
          .col-xs-8
            span.fields
              | {{documents.dateLastUpdate}}
